/**
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any Css/Less files within this directory, lib/assets/javascripts, vendor/assets/javascripts,
 * can be referenced here using a relative path.
 *
 * It's not advisable to add code directly here, but if you do, it'll appear in whatever order it
 * gets included (e.g. say you have require_tree . then the code will appear after all the directories
 * but before any files alphabetically greater than 'application.css'
 *
 *= require_self
 */

@import 'reset';
@import 'variables';
@import 'fonts';

/********************
**  BROWSER RESETS **
********************/

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: $text-color;
}
body {
  background: #f4f4f4;
  font-family: $body-font-family;
  font-size: 1.6rem; 
}
*, *:before, *:after {
  box-sizing: inherit;
}

p, div {
  line-height: $line-height;
}

a { 
  color: $thisislightblue;
}
a,
a:hover {
  outline: none;
  text-decoration: none;
}
a:hover {
  color: $thisislightorange;
}
a[href$=".pdf"]::after {
  content: ' (pdf)';
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    background: none;
    margin: 0;
    padding: 0;
  }
}

h1, h2, h3,
h4, h5, h6 {
  color: $thisisdarkblue;
  font-family: $header-font-family;
  
  a {
    color: $thisislightblue; 
  }
}
h1 {
  font-size: $title-font-size;
}
h2 {
  font-size: $header-font-size;
}
h3 {
  font-size: 2rem;
}

img {
  height: 100%;
}

/*********************
** UNDO DEFAULT.CSS **
*********************/
body > .container {
  overflow-x: visible;
}

/********************
**      FRAME      **
********************/
.container {
  width: 90vw;
  max-width: 1200px;
  
  display: block;
  margin: 0 auto;
}

/********************
**  COMMON ITEMS   **
********************/

// CARDS AND CONTAINERS
.card {
  background: white;
  
  @extend .padded;
  box-shadow: $box-shadow;
  
  margin: $content-division 0;
  overflow: hidden;
}

// COLORS, EMPHASIS, AND FUNCTION 
.muted {
  color: $muted-text-color;
}
.disabled {
  color: #ccc;
  background: -webkit-repeating-linear-gradient(145deg, white, white 10px, #f4f4f4 10px, #f4f4f4 20px);
  background: repeating-linear-gradient(-55deg, white, white 10px, #f4f4f4 10px, #f4f4f4 20px); 
}
.padded {
  padding: $content-division;
}
.protected {
  padding: $content-protection;
}
.unpadded {
  padding: 0;
}

// HERO ELEMENTS
// (e.g. the Campus Partners page)
.hero {
  width: 100%;
  text-align: center;
  
  margin-left: auto;
  margin-right: auto;
  display: block;
  
  overflow: hidden;
  margin-top: 3rem;
  
  max-height: 22rem;
  min-height: 160px;
  
  position: relative;
  
  
  img {
    width: 100%;
    
    position: relative;
    
    z-index: 1;
  }
  .hero-content {
    position: absolute;
    top: 0;
    
    width: 100%;
    height: 100%;
   
    .overlay {
      position: relative;
      top: 0;

      width: 100%;
      height: 100%;

      opacity: 0.7;
      background-color: $charcoal;
      
      background: linear-gradient(to bottom, rgba(51,51,51,0) 0%, rgba(51,51,51,0.52) 38%, rgba(51,51,51,1) 100%);

      z-index: 2;
    }
    
    h2 {
      color: white; 
      z-index: 3;
      
      position: absolute;
      bottom: 5%;
      right: 0;
      left: 0;
      text-align: center;
      font-size: 4rem;
      padding: 0 2rem;
    }
    
    .hero-content::nth-of-class(2n) h2 {
      right: auto;
      left: 0; 
    }
  }
}

// BUTTONS
// (usually .flat-btns)
.buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

// WATERMARK ICONS
// Class for containers with watermarks
.watermarked {
  position: relative;
}
// Watermarks themselves
.watermark::before {
  position: absolute;
  z-index: 1;
  top: -2rem;
  right: -2rem;
  
  opacity: .1;
  
  font-size: 13rem;
}

// FLEX ELEMENTS
.flex {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-between;
  height: 100%;
}
.flex-item,
.flex-half,
.flex-third,
.flex-two-thirds {
  flex-basis: 100%;
  width: 100%;
}
@media (min-width: $small-screen-width) {
  .flex-half {
    flex-basis: 50%;
    width: 50%;
  }
}
@media (min-width: $medium-screen-width) {
  .flex {
    flex-wrap: nowrap; 
  }
  .flex-third {
    flex-basis: 30%;
    width: 30%;
  }
  .flex-two-thirds {
    flex-basis: 63%;
    width: 63%;
  }
}

// BANNERS
.banner {
  width: 100%;
}
@media (min-width: $medium-screen-width) {
  height: 400px;
  overflow: hidden;
}

// TRL LOGIN
.login {
  @extend .padded;
  @extend .flex-half;
  
  justify-content: center;
  align-self: center;
  position: relative;
  -ms-flex-negative: 1;
  
  h2, p {
    text-align: center; 
  }
  p {
    font-size: 16px; 
  }
}
.login-container {
  display: block;
  margin: auto;
  width: 100%;
}
// Ensure the watermark doesn't
// overlap anything.
.login .watermark::before {
  font-size: 20rem;
  top: -3rem;
  right: -6rem;
}
.login-container .buttons {
  z-index: 2;
}
.login + * {
  z-index: 2;
}
@media (min-width: $small-screen-width) {
  .login {
    height: auto;
  }
}

.trl {
  position: relative;
  z-index: 1;
}
.trl::before {
  content: 'TRL';
}
@media (min-width: $tiny-screen-width) {
  .trl::before {
    content: 'Tiger Recruiting Link'; 
  }
}
@media (min-width: $medium-screen-width) {
  .trl::before {
    content: 'TRL'; 
  }
}
@media (min-width: $moderate-screen-width) {
  .trl::before {
    content: 'Tiger Recruiting Link';
  }
}

// CALENDARS
.calendar ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

// EVENTS
.event {
  min-height: 14rem;
  max-height: 14rem;
  margin: 0.4rem 0;
  width: 100%;
  flex-basis: 100%;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  display: inline-flex;
}
.event-date,
.event-details {
  vertical-align: top;
}
.event-date {
  color: $thisisburntorange;
  text-align: right;
  width: 18%;
}
.event-date-day {
  font-size: $title-font-size;
  margin-top: -1.8rem;
}
.event-details {
  color: $thisisdarkgray;
  font-size: $body-font-size;
  display: inline-block;
  padding-left: $content-protection;
}
.event-details-name {
  color: $thisisdarkblue;
  font-size: 2rem;
}
@media (min-width: $medium-screen-width) {
  .event { 
    flex-basis: 45%;
    width: 45%;
  }
}

// FLAT BUTTONS
.flat-btn {
  flex-basis: 100%;
  width: 100%;

  height: auto;

  margin: 1rem 0;
  padding: 2rem 0; 

  text-align: center;
  vertical-align: middle;

  display: inline-block;

  background: $thisislightblue;
  color: white;
  font-family: $header-font-family;
  font-size: $button-font-size;

  border: none;
  box-shadow: $box-shadow;


  &:hover {
    background: $thisisiceblue;
    color: $charcoal;
  } 
}
.flat-btn--white {
  background: white;
  color: $thisislightblue;
  &:hover {
    background: $thisisiceblue;
  }
}
.flat-btn--half {
  flex-basis: 45%;
  width: 45%;
}
@media (min-width: $tiny-screen-width) {
  .flat-btn {
    padding: 2.3rem 0;
  }
}
@media (min-width: $small-screen-width) {
  .flat-btn {
    padding: 2.1rem 0; 
  }
}
@media (min-width: $moderate-screen-width) {
  .flat-btn {
    font-size: $button-font-size * 1.2;
    padding: 1.6rem 0;   
  }
}
@media (min-width: $social-shrink-width) {
  .flat-btn {
    padding: 1.2rem 0;
  }
}

/*****************/
/* MOBILE TRICKS */
/*****************/
.hover {
  -webkit-user-select: none;
  -webkit-touch-callout: none;  
}


/*******************/
/* HEADER & FOOTER */
/*******************/
@import 'header';
@import 'footer';

