@import 'variables';

footer {
  width: 100%;
  min-height: 50vh;
  background-color: $thisislightblue;
  
  margin-top: 3rem;
  
  color: $box-shadow;
  position: relative;
  
  &:before {
    content: ' ';
    background-color: $thisisdarkblue;
    height: 3rem;
    width: 100%;
    position: absolute;
    top: 0;
  }
  h6 {
    font-size: 3rem;
    font-family: $header-font-family;
    color: white;
    
    padding-bottom: 0.5rem;
  }
  section {
    width: 33%;
    flex-basis: 33%;
    
    color: inherit;
  }
  address {
    display: flex;
    color: inherit;
    flex-wrap: wrap;
    
    .beforecon {
      display: inline-flex;
      width: 100%;
      flex-basis: 100%;
      flex-wrap: nowrap;
      
      &:before {
        width: 15%;
        flex-basis: 15%;
        max-height: 1rem;
        
        font-family: $icon-font-family;
        font-size: 2.5rem;

        padding-right: 3rem;

        color: inherit;
        display: inline-block;
      }
      & > a {
        width: 80%;
        flex-basis: 80%;
        color: inherit;
        
        &:hover, &:active, &:focus {
          color: $thisislightorange; 
        }
      }
    }
    .address:before {
      content: '\f041';
    }
    .phone:before {
      content: '\f095'; 
      
      padding-right: 3.2rem;
    }
    .email:before {
      content: '\f0e0';
    }
  }
  ul {
    width: 100%; 
  }
  ul li a {
    color: inherit; 
    
    font-family: $body-font-family;
    font-size: 2rem;
  }
  
  
  .footer-wrap {
    max-width: 1200px;
    margin: 0 auto;
    background: none;
    background-color: inherit;
    color: inherit;

    padding: 10rem 5rem;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    .copyright {
      width: 100%;
      flex-basis: 100%;
      display: block;
      
      margin-top: 10rem;
      
      font-family: $body-font-family;
      font-size: 2rem;
      a {
        color: inherit; 
      }
    }
  }
}
