<<<<<<< HEAD
/* *************************************************** **
**                      HEADER                         **
**  (container for all navs, title link, auburn logo)  **
** *************************************************** **/
=======
@import 'variables';

/*****************/
/* NAV OVERRIDES */
/*****************/

@media (min-width: $small-screen-size) {
  #student-employment ul {
    margin-left: -100%;
  }
}

>>>>>>> master
header {
  background-color: $thisisdarkblue;
}

/* ************************************************ **
**                    TITLE BAR                     **
** (contains auburn logo, Career Center title link) **
*************************************************** **/
.title {
  @extend .container;
  @extend .flex;
  
  h1 a {
    color: white;
    &:hover {
      color: $thisislightorange; 
    }
  }
}
.logo-ribbon {
  display: block;
  @include hex(82px, white);
  
  background-image: url('../images/AU-emblem.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: $moderate-screen-width) {
  .logo-ribbon {
    @include hex(120px, white); 
  }
}

/* Generally true in all site non-mobile navs: they're horizontal */
nav ul li {
  display: inline-block;
  font-family: $header-font-family;
  font-size: $nav-font-size;
  text-align: center;
  list-style: none !important;
}
nav ul {
  @extend .container;
}
nav a {
  color: white;
  &:hover {
    @extend a:hover;
  } 
}

/* **************************************************************** **
**                             MAIN NAV                             **
** (contains navigation elements for Career Center pages, submenus) **
** **************************************************************** **/
.nav-controller {
  position: absolute;
  top: 2rem;
  right: 0;
  
  cursor: pointer;
  
  &::before {
    display: block;
  
    @extend .icon;
    @extend .icon-navicon::before;
    font-size: 2rem;
  
    padding: 2rem;
    box-shadow: $box-shadow;
    
    background-color: $thisislightblue;
    color: white;
  }
  
  &:hover::before {
    background-color: white;
    color: $thisislightblue;
  }
}
nav.main {
  display: none;
  
  margin-bottom: 6px;
    
  background-color: $thisislightblue;
  
  ul {
    @extend .container;
    
    display: flex;
    flex-wrap: nowrap;
  }
  li {
    min-width: 16%;
    flex: 1;
    
    background-color: $thisislightblue;
    cursor: pointer;
    
    &:hover {
      background-color: white; 
    }
  }
  a {
    display: inline-block;
    width: 100%;
    padding: ($content-protection / 2) 0;
  }
  a:hover, li:hover a {
    color: $thisislightblue; 
  }
  
  // submenus
  ul li {
    position: relative; 
  }
  ul li ul {
    display: none;
    
    background-color: white;
    color: $thisislightblue;
    
<<<<<<< HEAD
    box-shadow: $box-shadow;
=======
    li {
      width: 100%;
      height: 100%;
      text-align: center;
      padding: 1.3rem 1rem;
      
      position: relative;
      cursor: pointer;
      
      background: $thisislightblue;
      color: white;
      
      -ms-flex-negative: 1;
      
      a {
        display: block;
        width: 100%;
        height: 100%;
        color: white;  
      }
      
      &.nav-home {
        background: $thisisdarkblue;
        color: white;
        
        a {
          color: white;
        }
      }
      
      &:hover,
      &.hover--active {
        background: white;
        color: $thisislightblue;
        
        a {
          color: $thisislightblue; 
        }
      }
      
      &:hover > ul,
      &.hover--active > ul {
        left: 0; 
        width: 600%;
        list-style:none;
      
        
        li {
          color: $thisislightblue;
          background: white;
          a {
            color: $thisislightblue; 
          }
          &:hover { 
            color: $thisislightblue;
            a {
              color: $thisislightorange;
            }
          }
        }
      }
      
      &:hover:last-of-type > ul,
      &.hover--active:last-of-type > ul {
        left: -500%; 
      }

      
      &:hover a:first-child:nth-last-child(2):before,
      &.hover--active a:first-child:nth-last-child(2):before {
        content: ""; 
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 12px solid transparent;
        position: absolute;

        left: 45%;
        top: 6rem;

        flex-basis: 0%;
        width: 0%;
        height: 0; 
        z-index: 100000000;
      }
    }
>>>>>>> master
  }
  ul li ul li { 
    font-size: $nav-font-size * 0.7;
    background-color: white;
    color: $thisislightblue;
    
    a:hover, &:hover a {
      color: $thisislightorange;
    }
  }
  ul li:hover ul {
    position: absolute;
    
    display: flex;
    list-style: none;
  }
  .about-us ul {
    margin-left: -500%; 
  }
}

// if we've clicked the nav-controller button,
// we should be at a mobile-ready resolution.
// these are the styles that should be applied
// when the user clicks it and requests the menu.
nav.main--mobile {
  display: block;
  ul {
    width: 100%;
    max-width: none;
    
    flex-wrap: wrap;
  }
  li {
    flex-basis: 100%; 
  }
}
<<<<<<< HEAD

@media (min-width: $small-screen-width) {
  nav.main {
    display: block; 
=======
@media (min-width: $small-screen-size) {
  .preheader {
    width: 90vw !important;
    height: 13rem;  
    h1 { 
      font-size: 5rem;
      padding-top: 2rem; 
      right: 15px;
    }
  }
  nav.header { 
    .nav-controller {
      display: none; 
    }
    .nav-wrapper,
    .nav-wrapper.mobile-nav--active {
      display: block;
      left: 0;
      ul {
        display: flex;
        width: 90vw;
        padding-left: 15px;
        padding-right: 15px;
        li ul {
          -ms-flex: 0 1 auto;
          padding: 0; 
        }
      }
    }
    
    ul ul {
      margin-top: 1.3rem; 
    }
    
>>>>>>> master
  }
  nav.main--mobile {
    ul {
      width: 90vw;
      max-width: 1200px;
      
      flex-wrap: nowrap;
    }
    li {
      flex: 1; 
    }
  }
  .nav-controller::before {
    display: none; 
  }
}
@media (min-width: $medium-screen-width) {
  nav.main ul li ul li {
    font-size: $nav-font-size; 
  }
}

/* ********************************************************** **
**                        AUBURN NAV                          **
** (contains navigation elements present on all Auburn pages) **
** ********************************************************** **/
nav.auburn { 
  ul {
    display: flex;
    justify-content: flex-end;
    padding: 3px 0;
  }
  li {
    padding: 0 ($content-protection / 4); 
    font-size: $post-nav-font-size;
    font-family: $body-font-family;
  }
  input {
    -webkit-appearance: none;
    border: none;
    margin: 0; padding: 0;
    margin-top: -3px;
    background-color: transparent;
    color: white;
    vertical-align: middle;
    line-height: $line-height;
  }
}