/* Colors */
$border-color: #d7d7d7;
$bg-gray: #f4f4f4;
$charcoal: #333;
$box-shadow-color: #ccc;
$thisisdarkblue: #03244d;
$thisislightblue: #496e9c;
$thisisiceblue: #e4eeff;
$thisisburntorange: #dd550c;
$thisislightorange: #f68026;
$thisisdarkgray: #747474;

/* Typefaces */
$header-font-family: "Norwester", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-family: "Source Sans Pro", serif;
$icon-font-family: icomoon;

$border: 1px solid $border-color;
$box-shadow: 6px 6px 0 $box-shadow-color;

$tiny-screen-width: 480px;
$small-screen-width: 768px;
$medium-screen-width: 992px;
$moderate-screen-width: 1105px;
$social-shrink-width: 1440px;

@mixin hex($width, $color) {
  $height: $width * (78/104);
  
  
  /* A good standard is 104w x 120h. */
  /* We want wider than that, though */
  background-color: $color;
  
  width: $width;
  height: ceil($height / 2);
  
  position: relative;
  
  &:before {
    content: "";
    width: 0; height: 0;
    border-bottom: ($height / 4) solid $color;
    border-left: ($width / 2) solid transparent;
    border-right: ($width / 2) solid transparent;
    position: absolute;
    top: (-1 * $height / 4);
  }
  &:after {
    content: "";
    width: 0; height: 0;
    border-top: ($height / 4) solid $color;
    border-left: ($width / 2) solid transparent;
    border-right: ($width / 2) solid transparent;
    position: absolute;
    bottom: (-1 * $height / 4);
  }
}
@mixin arrow($direction, $height, $color) {
  content: ' ';
  height: 0; width: 0;
  
  display: block;
  margin: 0 auto;
  
  position: absolute;
  z-index: 2;
  
  @if $direction == left {
    border-bottom: $height solid transparent;
    border-top:    $height solid transparent;
    border-left:   0;
    border-right:  $height solid $color;
    bottom: auto;
    right: auto;
    left: -$height;
    top: calc(50% - #{$height});
  } @else if $direction == up {
    border-bottom: $height solid $color;
    border-top:    0;
    border-left:   $height solid transparent;
    border-right:  $height solid transparent;
    bottom: auto;
    right: auto;
    top: -$height;
    left: calc(50% - #{$height});
  } @else if $direction == right {
    border-bottom: $height solid transparent;
    border-top:    $height solid transparent;
    border-left:   $height solid $color;
    border-right:  0;
    bottom: auto;
    left: auto;
    right: -$height;
    top: calc(50% - #{$height});
  } @else if $direction == down {
    border-bottom: 0;
    border-top:    $height solid $color;
    border-left:   $height solid transparent;
    border-right:  $height solid transparent;
    top: auto;
    right: auto;
    bottom: -$height;
    left: calc(50% - #{$height});
  } 
}