@import 'partials/variables';

iframe {
  border: none;
  width: 100%;
  min-height: 60rem;
  margin-bottom: -1rem;
}

.services li {
  font-family: $header-font-family;
  font-size: $nav-font-size;
  padding-bottom: $content-separation;
}