@import 'app';
@import 'housing';

.auoth-banner {
  background: no-repeat url('../images/auoth-banner.png');
  background-size: cover;
  background-position: center center;
  max-height: 239px;
}
@media (min-width: $tiny-screen-size) {
  .auoth-banner {
    min-height: 140px; 
  }
}
@media (min-width: $medium-screen-size) {
  .auoth-banner {
    min-height: 220px; 
  }
}
@media (min-width: $moderate-screen-size) {
  .auoth-banner {
    min-height: 239px;
  }
}

.intern-info {
  flex-wrap: wrap;
}
.intern-region {
  flex-basis: 100%;
}
@media (min-width: $small-screen-size) {
  .intern-info {
    flex-wrap: nowrap;
  }
  .intern-region {
    flex-basis: 40%; 
  }
}

h2 {
  font-size: 5rem;
  text-align: center;
}
.auoth-tagline {
  padding-bottom: 3rem;
}
.auoth-content {
  text-align: center;
  h3 {
    font-family: $header-font-family;
    font-size: 3.5rem;
    padding-bottom: 3rem;
  }
  h3, p, blockquote {
    width: 100%;
    margin: 0 auto;
  }
  p {
    text-align: left; 
  }
  blockquote > p { 
    text-align: right;
    width: 100%;
    padding-top: 1rem;
  }
  blockquote + p {
    padding-top: 3rem; 
  }
}
@media (min-width: $small-screen-size) {
  .auoth-content {
     h3, p, blockquote {
       width: 50%;
     }
  }
}

.attributes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  padding-top: 5rem;
  
  li {
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 3rem;
  }
  li::before {
    display: block;
    content: 'f';
    font-family: $icon-font-family;
    font-size: 3.7rem;
    
    background-color: $box-shadow;
    color: white;
    width: 6rem; height: 6rem;
    border-radius: 6rem;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  li:hover::before {
    background-color: $thisislightblue; 
  }
  .tie::before {
    @extend .icon-tie:before; 
  }
  .law::before {
    @extend .icon-law:before;
  }
  .briefcase::before {
    @extend .icon-briefcase:before; 
  }
  .office::before {
    @extend .icon-office:before; 
    padding-left: 2px;
  }
  .star-full::before {
    @extend .icon-star-full:before; 
    padding-left: 1px;
    padding-bottom: 3px;
  }
  .group::before {
    @extend .icon-group:before; 
  }
  .audiotrack::before {
    @extend .icon-audiotrack:before;
  }
  .baseball::before {
    @extend .icon-baseball:before; 
  }
  .compass::before {
    @extend .icon-compass:before;
    padding-left: 6px;
  }
  .graduation-cap::before {
    @extend .icon-graduation-cap:before; 
  }
}
@media (min-width: $tiny-screen-size) {
  .attributes {
    flex-wrap: nowrap;
    li {
      flex-basis: 30%; 
      padding-bottom: 0;
    }
  }
}

.contact-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact {
  flex-basis: 100%;
  .contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  img {
    flex-basis: 25%;
    width: 25%;
    
    border-radius: 50%;
    box-sizing: padding-box;
  }
  .contact-info {
    flex-basis: 65%;
    width: 65%;
  }
  h3 {
    font-family: $header-font-family;
    font-size: 2rem;
    
    padding-top: 1rem;
    padding-bottom: 1rem;
    .muted {
      display: block;
      color: $box-shadow;
    }
  }
  .address, .phone, .email, .name {
    position: relative;
    
    font-family: $header-font-family;
    font-size: 2rem;
    
    margin: 0;
    padding-bottom: 0;
    
    a {
      display: inline-block; 
      word-wrap: break-word;
      margin-left: 3.6rem;
      position: absolute;
    }
    .muted {
      font-size: 0.8em;
      color: $box-shadow;
      padding-top: 0;
      margin-top: 0;
      display: block;
    }
  }
  .phone, .email {
    margin-top: 1rem;
  }
  .email {
    margin-top: -1rem;
  }
  
  .address:before, .phone:before, .email:before {
    @extend [class^="icon-"], [class*=" icon-"];
  
    display: inline-block;

    font-size: 4rem;  
    color: $box-shadow;
    width: 2rem;
  }
  .address:before {
    @extend .icon-map-marker;
  }
  .phone:before {
    @extend .icon-phone; 
  }
  .email:before {
    @extend .icon-comments-o; 
  }
  .name {
    color: $box-shadow; 
  }
}
.contact + .flat-btn {
  flex-basis: 100%;
  height: auto;
  margin-top: -1rem;
}
@media (min-width: $medium-screen-size) {
  .contact-content {
    flex-wrap: nowrap;
  }
  .contact, .contact + .flat-btn {
    flex-basis: 45%; 
    margin-bottom: 0;
  }
}

.faq-header {
  padding-top: 3.5rem;
  text-align: center;
}
.faq {
  counter-reset: questionNumber;
  text-align: left;
}
.faq .panel.panel-default {
  border-radius: 0; 
  border: 1px solid $box-shadow;
  margin-top: 2rem;
  box-shadow: 6px 6px 0 $box-shadow;
  .panel-body {
    background: white;
    border: none;
    padding: 3rem;
    p {
      padding: 1.5rem 0;
      max-width: 600px;
    }
    &:not(.collapsed) {
      border-top: 1px solid $box-shadow; 
    }
  }
  .panel-heading {
    background: white; 
    color: $thisisdarkblue;
    padding: 0;
    border-bottom: none;
    border-radius: 0;
  }
  .panel-heading:hover {
    background: $thisisdarkblue;
    color: white;
  }
}
.faq .faq-question {
  font-family: $body-font-family;
  font-size: 1.7rem;
  position: relative;
  line-height: 1.618;
  height: 100%;
  a {
    padding: 1.5rem 3rem; 
    display: block;
  }
  a::before {
    font-family: $header-font-family;
    counter-increment: questionNumber;
    content: counter(questionNumber) " ";
    font-size: 2rem;
    padding-right: 3rem;
  }
  a::after {
    @extend .icon-chevron-down:before; 
    font-family: $icon-font-family;
    position: absolute;
    right: 3rem;
  }
  a:hover {
    color: white; 
  }
}