@import 'app';

.campus-content {
  text-align: center;
  h2 {
    font-size: 5rem; 
  }
}
.partner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
  .partner-contact {
    flex-basis: 100%;
    width: 100%;
    align-content: space-around;
    margin-bottom: 3rem;
  }
  .partner-info {
    flex-basis: 100%;
    width: 100%;
  }
  
  .address, .phone, .email {
    font-family: $header-font-family;
    font-size: 2rem;
    
    margin-left: auto;
    margin-right: auto;
    
    a {
      margin-left: 6.6rem;
      display: inline-block; 
      word-wrap: break-word;
    }
    .muted {
      font-size: 0.8em;
      color: $box-shadow;
      padding-top: 0;
      margin-top: 0;
      display: block;
    }
  }

  .address, .phone, .email {
    position: relative;
    a {
      position: absolute;
      top: 2.5rem;
    }
  }
  
  .phone, .email {
    margin-top: 1rem;
    a {
      margin-left: 5.1rem;
      top: 1.5rem;
    }
  }
  .email {
    margin-top: -1rem;
    a {
      top: 2rem;
      margin-left: 3.6rem;
    }
  }
  
  .address:before, .phone:before, .email:before {
    @extend [class^="icon-"], [class*=" icon-"];
  
    display: inline;
    margin: 0 auto;

    font-size: 8rem;  
    color: $box-shadow;
  }
  .address:before {
    @extend .icon-map-marker;
  }
  .phone:before {
    @extend .icon-phone; 
  }
  .email:before {
    @extend .icon-comments-o; 
  }
}
.ginn {
  margin-top: -7rem;
}

/* *************** 
    MEDIA QUERIES
   *************** */
@media (min-width: $tiny-screen-size) {
  .partner-content {
    .address, .phone, .email {
      font-size: 3rem;
    }
  }
}
@media (min-width: $small-screen-size) {
  .partner-content {
    .partner-contact {
      flex-basis: 60%;
      width: 60%;
      margin-bottom: 0;
    }
    .partner-info {
      flex-basis: 40%;
      width: 40%;
    }
    .address, .phone, .email {
      width: 100%;
      min-width: 40rem;
    }
  }
  .ginn {
    margin-top: -17rem; 
  }
}
@media (min-width: $moderate-screen-size) {
  .partner-content {
    .partner-contact {
      flex-basis: 40%;
      width: 40%;
    }
    .partner-info {
      flex-basis: 50%;
      width: 50%;
    }
  }
  .coa {
    margin-top: -20rem;
  }
}