@import 'app';

.campus-content {
  text-align: center;
  h2 {
    font-size: 4rem; 
  }
}
.partner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
  .partner-contact {
    flex-basis: 100%;
    width: 100%;
    align-content: space-around;
    margin-bottom: 3rem;
  }
  .partner-info {
    flex-basis: 100%;
    width: 100%;
  }
  
  .address, .phone, .email {
    font-family: $header-font-family;
    font-size: 2rem;
    
    margin: 0;
    
    a {
      margin-left: 3.6rem;
      display: inline-block; 
      word-wrap: break-word;
    }
    .muted {
      font-size: 0.8em;
      color: $box-shadow;
      padding-top: 0;
      margin-top: 0;
      display: block;
    }
  }

  .address, .phone, .email {
    position: relative;
    a {
      position: absolute;
    }
  }
  
  .phone, .email {
    margin-top: 1rem;
    a {
      margin-left: 3.6rem;
    }
  }
  .email {
    margin-top: -1rem;
    a {
      margin-left: 3.6rem;
    }
  }
  
  .address:before, .phone:before, .email:before {
    @extend [class^="icon-"], [class*=" icon-"];
  
    display: inline-block;

    font-size: 4rem;  
    color: $box-shadow;
    width: 2rem;
  }
  .address:before {
    @extend .icon-map-marker;
  }
  .phone:before {
    @extend .icon-phone; 
  }
  .email:before {
    @extend .icon-comments-o; 
  }
}
.ginn {
  margin-top: -7rem;
}
.harbert {
  width: auto;
  min-height: 220px;
}

/* *************** 
    MEDIA QUERIES
   *************** */
@media (min-width: $tiny-screen-width) {
  .partner-content {
    .address, .phone, .email {
      font-size: 3rem;
    }
  }
}
@media (min-width: $small-screen-width) {
  .partner-content {
    .partner-contact {
      flex-basis: 60%;
      width: 60%;
      margin-bottom: 0;
    }
    .partner-info {
      flex-basis: 40%;
      width: 40%;
    }
    .address, .phone, .email {
      width: 100%;
      min-width: 40rem;
    }
  }
  .ginn {
    margin-top: -17rem; 
  }
  .harbert {
    height: auto; 
    width: 100%;
  }
}
@media (min-width: $moderate-screen-width) {
  .campus-content h2 {
    font-size: 5rem; 
  }
  .partner-content {
    .address:before, .phone:before, .email:before {
      font-size: 8rem;
      width: 6rem;
    }
    .address, .phone, .email {
      margin-left: 6.6rem; 
    }
    .address a {
      top: 2.5rem; 
    }
    .phone a {
      top: 1.5rem; 
    }
    .email a {
      top: 2rem; 
    }
    .partner-contact {
      flex-basis: 40%;
      width: 40%;
    }
    .partner-info {
      flex-basis: 50%;
      width: 50%;
    }
  }
  .coa {
    margin-top: -20rem;
  }
}