@import 'partials/variables';

// SPECIFIC LOCATION IMAGE OVERRIDES
.coa {
  margin-top: -10rem;
}

// TWEAKS
.department-contacts {
  flex-wrap: wrap;
  align-items: flex-start;
}
.details {
  > div,
  > .info > p {
    padding-bottom: $content-protection; 
  }
}