@import 'app';

/**********/
/* MIXINS */
/**********/
@mixin color-alternator () {
  &:nth-of-type(2n - 1) {
    background: $thisislightblue;
    color: white;
  }
  &:nth-of-type(2n) {
    background: $thisisdarkblue;
    color: white;
  }
  &:nth-child(3n) {   
    background: $bg-gray;
    color: $thisisdarkblue; 
  }
}
@mixin checkerboard() {
  & {
    background: $thisislightblue;
    color: white;
  }
  &:nth-of-type(2n) {
    background: $thisisdarkblue;
    color: white;
  }
  @media (min-width: $medium-screen-size) {
    &,
    &:nth-of-type(2n) {
      background: $thisislightblue;
      color: white;
    }
    &:nth-of-type(4n),
    &:nth-of-type(4n - 3) {
      background: $thisisdarkblue;
      color: white;
    }
  }
}
.employer-events-title, .employer-events-wrapper > p {
  padding: 5rem;
  text-align: center;
}
.employer-events-wrapper > p {
  padding-top: 0;
}
.employer-events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-top: 0;
  .employer-event {
    flex-basis: 100%;
    max-width: 100%;
    padding: 3rem;
    @include checkerboard;
    transition: background-color 0.3s, color 0.1s;
    .employer-event-link {
      color: inherit;
    }
    h3 {
      display: block;
      text-align: center;
      width: 100%;
      font-family: $header-font-family;
      color: inherit;
      font-size: 3rem;
    }
    &:not(:hover) {
      
    }
    &:hover {
      background-color: $thisislightorange;
      color: white;
    }
    &.employer-event--big.employer-event--big-even {
      //order: -1; // what should this be?
    }
    .employer-event-details {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      padding-top: 1.5rem;
    }
    .employer-event-when,
    .employer-event-cost {
      flex-basis: 50%;
    }
    .employer-event-cost {
      text-align: right;
      font-size: 2.5rem;
      font-family: $header-font-family;
    }
  }
  .employer-event.employer-event--blurb {
    background-color: white;
    color: $thisisdarkblue;
    font-family: $header-font-family;
    font-size: 3rem;
    padding: 3rem 5rem;
    text-align: center;
  }
}
@media (min-width: $medium-screen-size) {
  .employer-events .employer-event {
    flex-basis: 50%; 
    max-width: 50%;
  }
  .employer-events .employer-event--big {
    flex-basis: 100%;
    height: 200%;
  }
}
