@import 'event-pages';

// OVERRIDES
.content > .row {
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  -ms-flex: 1 0 auto;
}
.content > .row.row--no-padding {
  padding-bottom: 0;
}
.muted {
  color: $box-shadow;
}
.hero .img {
  display: none;
}
.hero .img-replace {
  h1, h2 {
    font-family: $header-font-family;
    font-size: 6rem;
    color: $thisisdarkblue;
  }
  h2 {
    font-size: 4rem;
    color: $thisislightblue;
    padding-bottom: 3rem;
  }
}

// SPECIFICS
.brief, .actions {
  flex-basis: 100%;
  padding: 0;
}
.brief {
  flex-basis: 100%;
  padding-top: 1rem;
  .blurb {
    width: 80%; 
  }
  p, div {
    padding-bottom: 3rem; 
  }
  div:last-of-type {
    padding-bottom: 1rem; 
  }
}
.actions {
  display: flex;
  flex-wrap: wrap;
  .flat-btn, .eligibility {
    flex-basis: 100%; 
  }
}

.price:before, .price {
  font-family: $header-font-family;
  font-size: 3rem;
}
.price:before {
  color: $charcoal;
  content: 'Price';
  padding-right: 1rem;
}
.price {
  color: $box-shadow;
}

.contact {
  .contact-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  img {
    flex-basis: 60%;
    width: 60%;
    
    margin: 0 auto;
    
    border-radius: 50%;
    box-sizing: padding-box;
  }
  .contact-info {
    flex-basis: 100%;
    width: 100%;
  }
  h3 {
    font-family: $header-font-family;
    font-size: 3rem;
    
    padding-bottom: 0rem;
  }
  .address, .phone, .email, .name {
    position: relative;
    
    font-family: $header-font-family;
    font-size: 2rem;
    
    margin: 0;
    padding-bottom: 0;
    
    a {
      display: inline-block; 
      word-wrap: break-word;
      margin-left: 3.6rem;
      position: absolute;
    }
    .muted {
      font-size: 0.8em;
      color: $box-shadow;
      padding-top: 0;
      margin-top: 0;
      display: block;
    }
  }
  .email {
    margin-top: -1rem;
  }
  
  .address:before, .phone:before, .email:before {
    @extend [class^="icon-"], [class*=" icon-"];
  
    display: inline-block;

    font-size: 4rem;  
    color: $box-shadow;
    width: 2rem;
  }
  .address:before {
    @extend .icon-map-marker;
  }
  .phone:before {
    @extend .icon-phone; 
    position: relative;
    top: 6px;
  }
  .email:before {
    @extend .icon-comments-o; 
  }
  .name {
    padding-top: 3rem;
    color: $box-shadow; 
  }
}
@media (min-width: $moderate-screen-size) {
  .contact {
    .contact-details {
      flex-wrap: nowrap;
    }
    img {
      flex-basis: 25%;
      width: 25%;
    }
    .contact-info {
      flex-basis: 65%;
      width: 65%;
    }
    .name {
      padding-top: 0; 
    }
  }
}

.tipsheet {
  @extend .content;
  padding: 0;
  margin-top: 1rem;
  border: 1px solid $box-shadow;
  color: #999;
  .tipsheet-wrapper {
    padding: 5rem;
    padding-bottom: 3rem;
  }
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    li {
      color: $charcoal;
      
      width: 45%;
      flex-basis: 45%;
    }
  }
  .flat-btn {
    margin-bottom: 0; 
  }
}

.content > .attributes > .attribute .popover {
  min-width: 300px;
  width: 300px;
}
.flat-btn--info .popover {
  min-width: 200px;
}
@media (min-width: $medium-screen-size) {
  .content > .attributes > .attribute .popover {
    min-width: 400px;
    width: 400px;
  }
  .flat-btn--info .popover {
    min-width: 250px; 
  }
}

.content > .attributes > .attribute > a.icon:hover {
  cursor: pointer;
  position: relative;
}

.icon-comment-o:before {
  position: relative;
  top: 3px;
}
.icon-star-full:before {
  position: relative;
  left: 1px;
}
.icon-spoon-knife:before {
  position: relative;
  top: 5px;
  left: 5px;
}
.icon-automobile:before {
  position: relative;
  top: 1.7rem;
  left: 1.5rem;
}
.icon-circuit-board:before {
  position: relative;
  top: 0.7rem;
}
.icon-coin-dollar:before {
  position: relative;
  top: 0.4rem;
  left: 0.2rem;
}

.checklist-header {
  margin-top: 5rem;
}
.checklist {
  margin-left: 0;
  li {
    list-style: none;
    padding: 1rem 0;
  }
}

.accordion-header {
  font-family: $header-font-family;
  font-size: 2.5rem;
  padding: 3rem 0;
  
  i:before {
    text-align: center;
    display: inline-block;
    padding: 2.6rem;
    padding-right: 0;
    font-size: 4rem;
    @extend .icon;
    @extend .icon-chevron-up;
  }
  &.collapsed {
    i:before {
      text-align: center;
      @extend .icon-chevron-down; 
    }
  }
}
@media (min-width: $tiny-screen-size) {
  .accordion-header { 
    font-size: 3rem; 
  }
}

.content.extra-content.accordion-container {
  padding-top: 0;
  .flat-btn {
    margin-bottom: 0; 
  }
}
.accordion > a {
  display: block;
  text-align: center;
  padding: 0;
  position: relative;
  bottom: 0.5rem;
}
.cancellation-policy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5rem;
}
.cancellation-policy-brief {
  width: 100%;
  flex-basis: 100%;
  p {
    font-family: $header-font-family;
    font-size: 3rem;
  }
  ul {
    font-size: 2rem;
    li {
      padding-bottom: 2rem; 
    }
  }
}
.contacts {
  width: 100%;
  flex-basis: 100%;
  .contact {
    padding-bottom: 5rem;
    img {
      flex-basis: 40%;
      width: 40%;
      margin: 0 auto;
    }
  }
}
@media (min-width: $moderate-screen-size) {
  .cancellation-policy {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .cancellation-policy-brief {
    flex-basis: 40%;
    width: 40%;
    padding-right: 3rem;
  }
  .contacts {
    flex-basis: 55%;
    width: 55%;
    align-items: center;
    .contact img {
      margin: 0;
    }
    .contact .contact-info {
      margin: auto 0;
      padding-left: 3rem; 
    }
  }
}

.parking-information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  & > a {
    display: block;
    width: 100%;
    flex-basis: 100%;
    height: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
  .hotel-parking {
    padding-right: 1rem;
    width: 100%;
    flex-basis: 100%;
    counter-reset: instruction;
    .parking-instruction {
      padding: 3rem; 
    }
    .parking-instruction h2:before {
      content: counter(instruction) '. ';
      counter-increment: instruction;
    }
    .parking-instruction p {
      padding-right: 5rem;
      line-spacing: 1.618;
    }
  }
}
@media (min-width: $small-screen-size) {
  .parking-information {
    flex-wrap: nowrap;
    a {
      flex-basis: 33%;
      width: 33%;
    }
    .hotel-parking {
      flex-basis: 63%;
      width: 63%;
      .parking-instruction {
        padding: 0;
        padding-bottom: 3rem;
      }
    }
  }
}

.accommodations {
  margin-top: 5rem;
}

.desktop-only.desktop-only {
  display: none;
}


.flat-btn--with-info {
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 100%;
  box-shadow: 6px 6px 0 $box-shadow;
  height: 70px;
  .flat-btn {
    flex-basis: 80%;
    width: 80%;
    max-width: 80%;
    height: 100%;
    margin: 0;
    box-shadow: none;
  }
  .flat-btn--info {
    flex-basis: 20%;
    font-family: $header-font-family;
    font-size: 3rem;
    background-color: white;
    color: $thisislightblue;
    text-align: center;
    padding: 1.2rem;
    height: 100%;
    width: 100%;
    min-width: 20%;
    max-width: 20%;
    cursor: pointer;
  }
}


@media (min-width: $tiny-screen-size) {
  .contact {
    .address, .phone, .email, .name {
      font-size: 3rem;
    }
  }
  .hero {
    .img {
      display: block;
    }
    .img-replace {
      display: none;
    }
  }
}
@media (min-width: $small-screen-size) {
  .contact {
    .address, .phone, .email, .name {
      width: 100%;
    }
  }
  .content > .row {
    flex-wrap: nowrap;
  }
  .actions {
    flex-basis: 40%; 
    flex-direction: row; 
  }
  .brief {
    flex-basis: 50%;
  }
}
@media (min-width: $moderate-screen-size) {
  .contact {
    .address:before, .phone:before, .email:before {
      font-size: 6rem;
      width: 4rem;
    }
    .address a {
      top: 2.5rem; 
    }
    .phone a {
      top: 1.5rem; 
    }
    .email a {
      top: 2rem; 
    }
  }
}
@media (min-width: $medium-screen-size) {
  .desktop-only.desktop-only {
    display: inline-block; 
  }
}