@import 'app';

body.events-page {
  width: 100%;
  flex-basis: 100%;
  
  footer ul {
    display: block;
    max-height: none;
    height: auto;
    flex-flow: row;
  }
  
  ul {
    flex-direction: row; 
  }
  
  .events {
    width: 100%;
    flex-basis: 100%;
    
    min-height: 25rem;
    
    ul {
      max-height: none;
      height: auto;
    }
  }
  .event {
    min-height: 0;
    max-height: none;
    margin: 3rem 0; 
    z-index: 2;
    
    flex-basis: 100%;
    width: 100%;
    
    display: inline-flex;
  }
}

.flex-row {
  flex-direction: row !important;
}

.events.content {
  position: relative; 
}

.events.content:before {
  content: "\f073";
  font-family: $icon-font-family;
  font-size: 16rem;
  color: #85a2c6;
  opacity: 0.1;
  
  position: absolute;
  right: 3rem;
  top: 0;
  
  z-index: 1;
}

.event-details-tip-sheet,
.event-details-registration {
  display: block;
}

@media (min-width: $small-screen-width) {
  body.events-page .event {
    flex-basis: 50%;
    width: 50%; 
  }
  .events {
    flex-basis: 100%;
    width: 100%;
  }
}

.employer-events .event {
  flex-basis: 100%;
  width: 100%;
}