@import 'app';

html, body {
  overflow-x: hidden;
}

header {
  margin-bottom: 6px;
}

.container {
  width: 100% !important;
  max-width: none !important;
  padding: 0;
}

.contained,
.buttons,
.footer-wrap {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

/* Thanks @keithclark! http://keithclark.co.uk/articles/pure-css-parallax-websites/ */
.parallax {
  perspective: 1px;
  height: 100vh;
  margin-right: -3rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax-group {
  position: relative;
  height: 230px;
  transform-style: preserve-3d;
  margin-bottom: 200px;
}
.parallax-layer--base {
  transform: translateZ(0);
}
.parallax-layer--back {
  transform: translateZ(-1px) scale(2);
}
.handshake {
  width: 100%;
  height: auto;
  overflow-y: hidden;
  margin-top: -200px;
  margin-left: -1rem;
  opacity: 0.9;
}

.content.extra-content.contained {
  margin-top: 2rem;
}

h2.header--white {
  color: white;
}

.content > h2 {
  font-family: $header-font-family;
  font-size: 10rem;
  text-align: center;
  padding-top: 3rem;
}
.content {
  margin-bottom: 3rem; 
}
.content--no-card {
  box-shadow: none;
  background: transparent;
}

.zone {
  padding: 3rem 30rem;
  padding-bottom: 5rem;
  width: 100%;
  min-height: 700px;
  h2 {
    color: white; 
    font-size: 10rem;
    text-align: center;
    padding-bottom: 3rem;
  }
}
.zone:nth-of-type(4n),
.zone:nth-of-type(4n + 2) {
  background: white;
  h2,p {
    color: $thisisdarkblue; 
  }
}
.zone:nth-of-type(4n + 1) {
  background: $thisislightblue;
  h2,p {
    color: white; 
  }
}
.zone:nth-of-type(4n + 3) {
  background: $thisislightorange;
  h2,p {
    color: white; 
  }
}
.zone:last-of-type {
  box-shadow: 6px 6px 0 $box-shadow;
}
.zone-blurb {
  margin: 0 auto;
  width: 60%;
  padding-bottom: 5rem;
  font-size: 2.4rem;
  line-height: 3.8832rem;
}
.zone-content {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  .zone-element {
    flex-basis: 40%;
    width: 40%;
    margin: 0;
  }
  .zone-element--fw {
    flex-basis: 100%;
    width: 100%;
  }
}
.card {
  height: 100%;
  img {
    width: 100%; 
  }
  .flat-btn--bottom {
    margin: 0; 
    margin-top: 2rem;
  }
}
.card-text > h2 {
  font-size: 8rem;
  color: $thisisdarkblue;
  padding: 0;
  text-align: left;
}
.card-text--padding {
  padding: 2rem 5rem;
}
.graph {
  background: transparent;
  padding: 1rem;
  height: 24rem;
  canvas {
    width: 150%;
    height: 100%;
  }
  .graph-description {
    padding: 1rem 0;
    font-size: 2rem;
    text-align: center;
  }
}
#internships-chart {
  width: 100%;
  height: auto;
}