@import 'app';

.container {
  width: 100% !important;
  max-width: none !important;
  padding: 0;
}

.contained,
.footer-wrap {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.content > h2 {
  font-family: $header-font-family;
  font-size: 10rem;
  text-align: center;
  padding-top: 3rem;
}
.content {
  margin-bottom: 3rem; 
}
.content--no-card {
  box-shadow: none;
  background: transparent;
}

.zone {
  padding: 3rem 0;
  padding-bottom: 5rem;
  width: 100%;
  min-height: 700px;
  h2 {
    color: white; 
    font-size: 10rem;
    text-align: center;
    padding-bottom: 3rem;
  }
}
.zone:nth-of-type(3n) {
  background: $thisislightorange;
  p {
    color: white; 
  }
}
.zone:nth-of-type(3n + 1) {
  background: white;
  h2 {
    color: $thisisdarkblue; 
  }
}
.zone:nth-of-type(3n + 2) {
  background: $thisislightblue;
  p {
    color: white; 
  }
}
.zone:last-of-type {
  box-shadow: 6px 6px 0 $box-shadow;
}
.zone-blurb {
  margin: 0 auto;
  width: 60%;
  padding-bottom: 10rem;
  font-size: 2rem;
}
.zone-content {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  .zone-element {
    flex-basis: 40%;
    width: 40%;
    margin: 0;
  }
}
.card {
  height: 100%;
  img {
    width: 100%; 
  }
  .flat-btn--bottom {
    margin: 0; 
    margin-top: 2rem;
  }
}
.card-text > h2 {
  font-size: 8rem;
  color: $thisisdarkblue;
  padding: 0;
  text-align: left;
}
.card-text--padding {
  padding: 2rem 5rem;
}
.graph {
  background: transparent;
  padding: 1rem;
  canvas {
    width: 100%;
    height: 100%;
  }
  .graph-description {
    padding: 1rem 0;
    font-size: 2rem;
    text-align: center;
  }
}
#internships-chart {
  width: 100%;
  height: auto;
}