@import 'app';

html {
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

body {
  margin:0;
  padding:0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden; 
  background: $charcoal;
}

header {
  margin-bottom: 6px;
}

.container {
  width: 100% !important;
  max-width: none !important;
  padding: 0;
  margin-bottom: -3rem;
}

.experience-header {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  padding-bottom: 5rem;
  p {
    width: 45%;
    color: white;
    margin: 0 auto;
    opacity: 1;
  }
}

h2 {
  margin: 0;
}

.slide {
  position: relative;
  padding: 0;
  width: 100vw;
  box-sizing: border-box;
  transform-style: inherit;
  overflow: hidden;
  background: 50% 50% / cover;
}
#experience {
  padding: 5vh 0;
}
#internships {
  padding-top: 0;
}
#experience > .experience-header {
  z-index: 2;
  opacity: 1;
}
#experience > .experience-bg,
.slide::before {
  z-index: -1;
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  top: -12vh; right: 0; bottom: 0; left: 0;
  background: 50% 50% / cover;
  background-attachment: fixed;
  transform: none;
}
.slide::before {
  display: none;
}
#experience > .experience-bg {
  background-image: url("../images/experience/experience.jpg");
  background-position-y: 0vh;
  top: 0;
  opacity: 0.7;
}
#coops::before {
  background-image: url("../images/experience/coop.jpg");
}
#leadership::before {
  background-position: -35vw -7.5vh;
  background-image: url("../images/experience/leadership.jpg");
}
#research::before {
  background-image: url("../images/experience/research.jpg");
}
#service::before {
  background-position-y: -10vh;
  background-image: url("../images/experience/service.jpg");
}
#international::before {
  background-position-y: -10vh;
  background-image: url("../images/experience/international.png");
}

.zone {
  padding-bottom: 5rem;
  width: 100%;
  box-shadow: 6px 6px 0 $box-shadow;
  background: white;
}
.zone > h2,
.experience-header > h2 {
  padding-top: 5rem;
  color: white; 
  font-size: 5rem;
  text-align: center;
  padding-bottom: 3rem;
  font-family: $header-font-family;
}
.experience-header > h2 {
  padding-top: 8.7rem;
}
.slide:nth-of-type(4n + 1) .zone,
.slide:nth-of-type(4n + 3) .zone {
  background: white;
  h2,p {
    color: $thisisdarkblue; 
  }
}
.slide:nth-of-type(4n + 2) .zone {
  background: $thisislightblue;
  h2,p {
    color: white; 
  }
}
.slide:nth-of-type(4n) .zone {
  background: $thisislightorange;
  h2,p {
    color: white; 
  }
}
.zone-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3rem; 
  .zone-element {
    flex-basis: 100%;
    width: 100%;
    margin: 0;
  }
}
.zone-blurb {
  margin: 0 auto;
  width: 80%;
  padding-bottom: 5rem;
  line-height: 2;
}
.zone-blurb {
  display: none;
}



/*****************/
/* MEDIA QUERIES */
/*****************/

@media (min-width: $small-screen-width) {
  #experience {
    min-height: 30vh;
  }
  .slide {
    padding-top: 40vh;
  }
  .slide::before {
    display: block; 
  }
  
  #coops::before,
  #leadership::before,
  #research::before,
  #service::before,
  #international::before {
    background-position: 0;
  }
  
  
  .zone-content, .zone-blurb {
    width: 65%; 
    font-size: 2.4rem;
    line-height: 3.8832rem;
  }
  .zone-blurb {
    display: block; 
  }
}
@media (min-width: $moderate-screen-width) {
  .zone-content, .zone-blurb {
    width: 45%; 
  }
  .zone > h2,
  .experience-header > h2 {
    font-size: 10rem;
  }
  .slide::before {
    background-position: 0; 
  }
}

// IOS TARGETTING, SINCE PARALLAX SCROLLING FAILS ON
// IOS DEVICES
// (big thanks to Stephen Gilbert at stephen.io for these queries!)

// iPad, portrait and landscape
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px),
// iPhone 6, portrait and landscape
only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px),
// iPhone 6 Plus, portrait and landscape
only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px),
// iPhone 5 and 5s, portrait and landscape 
only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
  #experience > .experience-bg {
    background-attachment: scroll; 
    background-position: 0;
    transform: translate3d(0, 0, 0);
    overflow-scrolling: touch;
  }
  .slide {
    padding-top: 0; 
  }
  .slide::before {
    display: none;
  }
}