@import 'app';
@import 'sponsors';


/*****************/
/* NAV OVERRIDES */
/*****************/
#student-employment ul {
  margin-left: -100%;
}

/****************/
/*    BASICS    */
/****************/

.content {
  margin-top: 3rem;
}

.login {
  background: none repeat scroll 0% 0% white;
  overflow: visible;
  flex-basis: 45%;
  width: 45%;
  position: relative;
  .login-wrapper {
    z-index: 5;
  }
  .login-blurb {
    font-size: 1.8rem; 
  }
  height: 100%;
}

.student-employment {
  padding: 5rem;
  flex-basis: 45%;
  width: 45%; 
  position: relative;
  .student-employment-wrapper {
    z-index: 5; 
  }
}

.login::before,
.student-employment::before {
  display: block;

  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;

  font-family: $icon-font-family;
  color: #85a2c6;
  font-size: 20rem;
  opacity: .1;
}
.login::before {
  content: '\f14e';
}
.student-employment::before {
  content: '\e603';
  right: 3rem;
}

.buttons {
  
}

.flat-btn {
  font-size: 18px;
  height: auto;
  padding: 1.2rem 0.5rem;
}
.report-hiring {
  position: absolute;
  bottom: 0;
  margin: 0;
  display: block;
}

.events.events {
  overflow: hidden;
  position: relative;
  flex-basis: 45%;
  width: 45%;
  height: 100%;
  h2 a::after {
    font-family: $icon-font-family;
    font-weight: 100;
    content: '\f078';
    position: absolute;
    right: 3rem;
  }
  .first-event-wrapper {
    padding: 1.5rem 5rem 0; 
  }
  .first-event {
    flex-basis: 100%;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1.4rem;
    min-height: 0;
  }
  .flat-btn {
    margin: 0;
    margin-top: 1rem;
    box-shadow: none;
  }
  .flat-btn:link,
  .flat-btn:visited,
  .flat-btn:active {
    color: white; 
  }
  .flat-btn:hover {
    color: $thisisdarkblue; 
  }
  .flat-btn.accordion-header.collapsed {
    box-shadow: 6px 6px 0 $box-shadow;
  }
  ul {
    margin-top: 0;
    position: relative;
    top: 3rem;
    height: 85vh;
    width: 100%;
    li {
      flex-basis: 100%;
      width: 100%; 
      padding: 0 3rem;
    }
  }
}
#more-events::before {
  font-family: $icon-font-family;
  content: '\f077';
  text-align: center;
}
#more-events.collapsed::before {
  content: '\f078';
}

.services {
  flex-basis: 50%;
  width: 50%;
  position: relative;
}
.services-wrapper {
  padding: 5rem;
  padding-bottom: 3rem;
}
.services-header {
  text-align: center;
  padding-bottom: 1rem;
}
.services-content {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
}
.service {  
  padding: 1rem;
  width: 50%;
  flex-basis: 50%;
  font-family: $header-font-family;
  font-size: 1.7rem;
}

.sponsorship-opportunities {
  flex-basis: 45%;
  width: 45%;
  height: 100%;
}

// OVERWRITING BOOTSTRAP

.row::before,
.row::after {
  display: block;
  content: none;
}