@import 'app';
@import 'sponsors';




/****************/
/*    BASICS    */
/****************/

.content {
  margin-top: 3rem;
}

.login {
  background: none repeat scroll 0% 0% white;
  overflow: visible;
  flex-basis: 33%;
  width: 33%;
  position: relative;
  .trl {
    display: block; 
  }
  .login-wrapper {
    z-index: 5;
  }
  .login-blurb {
    font-size: 1.8rem; 
  }
  height: 100%;
}
.login::before {
  display: block;

  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;

  font-family: $icon-font-family;
  content: '\f14e';
  color: #85a2c6;
  font-size: 20rem;
  opacity: .1;
}

.welcome {
  flex-basis: 30%;
  width: 30%;
  position: relative;
  padding: 5rem;
  min-height: 400px;
}
.services {
  flex-basis: 63%;
  width: 63%;
  position: relative;
}
.services-background {
  height: 100%;
  width: 100%;
  background: url('../images/services-banner.png') 100% 100% no-repeat;
  background-position: 0 -1rem;
  position: absolute;
  top: 0; left: 0;
  z-index: 1;
}
.services-overlay {
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  background: $thisisdarkblue;
  opacity: 0.2;
  z-index: 2;
}
.services-wrapper {
  padding: 5rem;
  padding-bottom: 3rem;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 3;
}
.services-header {
  text-align: center;
  padding-bottom: 1rem;
  color: white;
}
.services-content {
  display: flex;
  margin: 0 auto;
  padding-top: 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
}
.services-header,
.services-content {
  z-index: 6;
  position: relative;
}
.service {  
  padding: 1rem;
  width: 50%;
  flex-basis: 50%;
  font-family: $header-font-family;
  font-size: 2rem;
  text-align: left;
  & > a {
    color: $box-shadow;
  }
  & > a:hover {
    color: $thisisiceblue; 
  }
}
.service:nth-of-type(2n) {
  text-align: right;
}

.flat-btn {
  font-size: 18px;
  height: auto;
  padding: 1.2rem 0.5rem;
}
.report-hiring {
  @extend .flat-btn--white;
  position: absolute;
  bottom: 0;
  margin: 0;
  z-index: 3;
  display: block;
}

.upcoming-event {
  flex-basis: 63%;
  width: 63%;
  height: 100%;
  img {
    height: 100%;
    width: 100%;
  }
}
.events.events {
  overflow: hidden;
  position: relative;
  flex-basis: 33%;
  width: 33%;
  height: 100%;
  h2 a::after {
    font-family: $icon-font-family;
    font-weight: 100;
    content: '\f078';
    position: absolute;
    right: 3rem;
  }
  .first-event-wrapper {
    padding: 1.5rem 5rem 0; 
  }
  .first-event {
    flex-basis: 100%;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1.4rem;
    min-height: 0;
  }
  .flat-btn {
    margin: 0;
    margin-top: 1rem;
    box-shadow: none;
  }
  .flat-btn:link,
  .flat-btn:visited,
  .flat-btn:active {
    color: white; 
  }
  .flat-btn:hover {
    color: $thisisdarkblue; 
  }
  .flat-btn.accordion-header.collapsed {
    box-shadow: 6px 6px 0 $box-shadow;
  }
  ul {
    margin-top: 0;
    width: 100%;
    li {
      flex-basis: 100%;
      width: 100%; 
      padding: 0 5rem; 
      padding-bottom: 3rem;
      &:first-of-type {
        padding-top: 3rem; 
      }
      &.event > .event-details {
        width: auto; 
      }
    }
  }
}
#more-events::before {
  font-family: $icon-font-family;
  content: '\f077';
  text-align: center;
}
#more-events.collapsed::before {
  content: '\f078';
}


.contacts {
  width: 63%;
  flex-basis: 63%;
  height: 100%;
  .contacts-container {
    display: flex;
    justify-content: space-between; 
  }
  .contact {
    width: 50%;
    flex-basis: 50%;
  }
}
.contact {  
  .contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  img {
    flex-basis: 25%;
    width: 25%;
    
    border-radius: 50%;
    box-sizing: padding-box;
  }
  .contact-info {
    flex-basis: 65%;
    width: 65%;
  }
  h3 {
    font-family: $header-font-family;
    font-size: 2rem;
    
    padding-top: 1rem;
    padding-bottom: 1rem;
    .muted {
      display: block;
      color: $box-shadow;
    }
  }
  .address, .phone, .email, .name {
    position: relative;
    
    font-family: $header-font-family;
    font-size: 2rem;
    
    margin: 0;
    padding-bottom: 0;
    
    a {
      display: inline-block; 
      word-wrap: break-word;
      margin-left: 3.6rem;
      position: absolute;
    }
    .muted {
      font-size: 0.8em;
      color: $box-shadow;
      padding-top: 0;
      margin-top: 0;
      display: block;
    }
  }
  .phone, .email {
    margin-top: 1rem;
  }
  .email {
    margin-top: -1rem;
  }
  
  .address:before, .phone:before, .email:before {
    @extend [class^="icon-"], [class*=" icon-"];
  
    display: inline-block;

    font-size: 4rem;  
    color: $box-shadow;
    width: 2rem;
  }
  .address:before {
    @extend .icon-map-marker;
  }
  .phone:before {
    @extend .icon-phone; 
  }
  .email:before {
    @extend .icon-comments-o; 
  }
  .name {
    color: $box-shadow; 
  }
}

.sponsorship-opportunities {
  flex-basis: 45%;
  width: 45%;
  height: 100%;
}

// OVERWRITING BOOTSTRAP

.row::before,
.row::after {
  display: block;
  content: none;
}