@import 'partials/variables';

/******************
** APP OVERRIDES **
******************/


.login {
  align-self: stretch;
}
.login-container {
  vertical-align: middle;
}
@media (min-width: $small-screen-width) {
  .flex-half {
    flex-basis: 100%;
    max-width: none;
  }
}
@media (min-width: $medium-screen-width) {
  .flex-half {
    flex-basis: 45%; 
    max-width: 45%;
  }
}
.attributes {
  display: flex;
  flex-wrap: wrap;
  .attribute {
    flex-basis: 100%;
  }
}
@media (min-width: $small-screen-width) {
  .attributes .attribute {
    flex-basis: 50%;
  }
}
@media (min-width: $medium-screen-width) {
  .attributes {
    flex-wrap: nowrap;
    .attribute {
      flex-basis: 25%;
    }
  }
}
/****************************
** EMPLOYER-SIDE SPECIFICS **
****************************/
.recruiting h2,
.recruiting blockquote,
.recruiting p {
  padding-bottom: $content-separation;
}
.services {
  width: 100%;
}