@import 'app';
@import 'social';
@import 'sponsors';

address {
  display: block;
  width: 100%;
}

.card.banner {
  height: 345px;
}

// STYLING THE BOOTSTRAP CAROUSEL WITHOUT BOOTSTRAP
.carousel {
  position: relative;
}
.carousel .item,
.carousel .item a,
.carousel .item img {
  width: 100%;
  height: 100%;
}
.carousel .item:not(.active) {
  display: none;
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  top: auto;
  
  width: 60%;
  margin-left: -30%;
  text-align: center;
  
  li {
    display: inline-block;
    
    width: 14px;
    height: 14px;
    margin: 1px;
    
    background-color: transparent;
    text-indent: -999px;
    border: 3px solid $box-shadow-color;
    border-radius: 14px;
    cursor: pointer;
  }
  li.active {
    background-color: $box-shadow-color; 
  }
}
@media (min-width: $small-screen-width) {
  .carousel-container, .login {
    flex-basis: 100%; 
  }
  .carousel-inner {
    height: 370px; 
  }
}
@media (min-width: $moderate-screen-width) {
  .banner.flex {
    flex-wrap: wrap; 
  }
  .carousel-container, .login {
    flex-basis: 50%; 
  }
}

// ABOUT OUR OFFICE
.about {
  @extend .watermarked;
}
.about-icon {
  display: block;
  flex-basis: 20%;
  width: 20%;
  &::before {
    font-size: 5rem; 
    color: $thisislightblue;
  }
}
a.about-icon:hover::before,
a:hover .about-icon::before {
  color: $thisislightorange;
}
.place, .times, .appointments {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: $content-protection;
}

// ABOUT OUR OFFICE -- hand-fixes
.place {
  padding-top: $content-protection;
}
.times {
  padding-bottom: 0;
  
  .about-icon {
    margin-right: 3.8rem; 
  }
}
.times-content {
  & > div, & > p {
    padding-bottom: $content-protection; 
  }
}
.appointments {
  .about-icon {
    margin-right: 3.2rem; 
  }
}

// CALENDAR
.calendar {
  @extend .watermarked;
}

// TWEETS
.tweets {
  @extend .watermarked;
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 250px;
  }
  li {
    flex-grow: 1; // describes height
    width: 45%;
  }
}
.tweet-date {
  display: block;
  color: $muted-text-color;
  text-decoration: none;
  &:hover {
    color: $muted-text-color;
    text-decoration: underline;
  }
}
.tweet-link {
  color: $charcoal;
}

// BLOG POSTS
.blog {
  @extend .watermarked;
  h3 {
    font-family: $body-font-family;
    font-size: $body-font-size;
  }
}
.blog-post {
  padding-bottom: $content-protection / 2;
}
.blog-link {
    color: $text-color; 
  }