@import 'app';
@import 'sponsors';
@import 'social';

.hours, .calendar, .tweets, .blog {
  position: relative;
}
.place,
.times,
.appointments {
  margin-bottom: 1.6rem;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  height:auto;
  
  @extend .flex;
}

.place-icon,
.times-icon,
.appointments-icon {
  font-size: 4.5rem;
  color: #496e9c;
  width: 18%;
  text-align: center;
  margin-right: 1rem;
  display:inline-block;
}

.place-address {
  font-size: 2rem;
  line-height: 170%;
  position: relative;
  z-index: 1000000;
}

.place-address,
.times-address,
.appointments-address {
  width: 82%;
}

.subtle,
.times-address .subtle {
    color: #747474;
}
.emphasized {
  color: $thisisburntorange;
}

.tweets {
  flex-basis: 100%;
  width: 100%;
}

.tweets ul {
  display: flex;
  flex-flow: column wrap;
}

.tweet {
  width: 100%;
  margin-right: 1%;
}
.tweet-text {
  position: relative;
  z-index: 2000;
  font-size: 2rem;
  line-height: 160%;
  padding-bottom: 20px;
  display: inline-block;
}
.tweet-link, .blog-link {
  color: #333;
}
.tweet-date {
  color: #747474;
  font-size: 1.7rem;
  padding: 0;
  display:block;
}
.tweet-date:hover {
  color: #747474;
  text-decoration: underline;
}

.blog-post {
  padding-bottom: 2rem;
}
.post-title {
  font-family: $body-font-family;
}
.post-details {
  color: #747474;
  font-size: 1.7rem;
}
.blog-readmore {
  padding-top: 1rem;
}

// BOOTSTRAP CAROUSEL
.carousel {
  flex-basis: 100%;
  width: 100%;
  overflow: hidden;
  img {
    height: 100%;
  }
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  min-height: 40rem;
  max-height: 40rem;
}
.carousel-inner > .item:not(.active) img {
  display: none;
}
#cc-carousel.carousel > .carousel-indicators {
  bottom: 10px;
  left: 50%;
  text-align: center;
  top:auto;
}
.carousel {
  height: auto;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: auto;
}
.carousel-control.left,
.carousel-control.right {
  background: none;
}

/*
   *************************
   ***** MEDIA QUERIES ***** 
   *************************
*/

@media (min-width: $tiny-screen-width) {
  .place-icon,
  .times-icon,
  .appointments-icon {
    font-size: 6rem;
  }
}

@media (min-width: $small-screen-width) {
  .flat-btn {
    height: auto;
    padding: 1.2rem 0;
    font-size: 1.8rem;
  }
  .carousel {
    height: auto;
  }
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: auto;
  }
}

@media (min-width: $medium-screen-width) {
  .tweets,
  .events {
    width: 66%;
    flex-basis: 66%;
  }
  .tweets {
    max-height: 55rem;
  }
  .calendar ul {
    max-height: 45rem; 
  }
  .flat-btn {
    height: auto;
    padding: 1.2rem 0.5rem; 
    font-size: 1.8rem;
  }
  .home-content {
    flex-wrap: nowrap;
  }
  .login, .carousel-container {
    width: 50%;
    flex-basis: 50%;
  }
}

@media (min-width: $moderate-screen-width) {
  .tweets ul {
    height: 40rem;
    max-height: 45rem;
  }
  .tweet {
    width: 50%; 
  }
    
  .calendar ul {
    height: 45rem;
    max-height: 45rem;
  }
  .event {
    width: 50%;
    min-height: 14rem;
    max-height: 14rem;
  }
  
  .flat-btn {
    height: auto; 
    padding: 1.2rem 0;
    font-size: 2rem;
  }
}


@media (min-width: $social-shrink-width) {
  .banner {
    min-height: 36rem;
  }
}

