@import 'partials/variables';

address {
  display: block;
  width: 100%;
}

// STYLING THE BOOTSTRAP CAROUSEL WITHOUT BOOTSTRAP
.carousel {
  position: relative;
  display: none;
}
.carousel .item,
.carousel .item a,
.carousel .item img {
  width: 100%;
  height: 100%;
}
.carousel img {
  margin: 0 auto;
}
.carousel .item:not(.active) {
  display: none;
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  top: auto;
  
  width: 60%;
  margin-left: -30%;
  text-align: center;
  
  li {
    display: inline-block;
    
    width: 14px;
    height: 14px;
    margin: 1px;
    
    background-color: transparent;
    text-indent: -999px;
    border: 3px solid $box-shadow-color;
    border-radius: 14px;
    cursor: pointer;
  }
  li.active {
    background-color: $box-shadow-color; 
  }
}
@media (min-width: $small-screen-width) {
  .carousel-container, .login {
    flex-basis: 100%; 
  }
  .carousel-inner {
    height: 370px; 
  }
}
@media (min-width: $medium-screen-width) {
  .carousel {
    display: block; 
  }
}
@media (min-width: $moderate-screen-width) {
  .banner.flex {
    flex-wrap: wrap; 
  }
  .carousel-container, .login {
    flex-basis: 50%; 
  }
}

// FIXING SPACING OF HEADERS ON SMALL SCREEN WIDTHS
.card[role=main] > .flex > div > h2 {
  padding-top: $content-protection;
}
@media (min-width: $moderate-screen-width) {
  .card[role=main] > .flex > div > h2 {
    padding-top: inherit;
  }
}

// ABOUT OUR OFFICE
.about {

}
.about-icon {
  display: block;
  flex-basis: 20%;
  width: 20%;
  &::before {
    font-size: 5rem; 
    color: $thisislightblue;
  }
}
a.about-icon:hover::before,
a:hover .about-icon::before {
  color: $thisislightorange;
}
.place, .times, .appointments {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: $content-protection;
}

// ABOUT OUR OFFICE -- hand-fixes
.place {
  padding-top: $content-protection;
}
.times {
  padding-bottom: 0;
  
  .about-icon {
    margin-right: 3.8rem; 
  }
}
.times-content {
  & > div, & > p {
    padding-bottom: $content-protection; 
  }
}
.appointments {
  .about-icon {
    margin-right: 3.2rem; 
  }
}

// TWEETS
.tweets {
  ul {
    max-width: 500px;
  }
}
.tweet {
  padding-bottom: $content-separation;
}
.tweet-date {
  display: block;
  color: $muted-text-color;
  text-decoration: none;
  &:hover {
    color: $muted-text-color;
    text-decoration: underline;
  }
}
.tweet-link {
  color: $charcoal;
}
@media (min-width: $medium-screen-width) {
  .tweets {
    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      max-width: none;
      min-height: 380px;
      height: 380px;
      max-height: 380px;
    }
  }
  .tweet {
    width: 44%;
    flex-basis: 50%;
  }
}


// BLOG POSTS
.blog {
  h3 {
    font-family: $body-font-family;
    font-size: $body-font-size;
  }
}
.blog-post {
  padding-bottom: $content-separation;
}
.blog-link {
  color: $text-color; 
}