@import 'app';

$thisislighterblue: #698ebc;

h1, h2, h3 {
  font-family: $header-font-family;
}
h1 {
  font-size: 10rem;
  padding-top: 2rem;
}
h2 {
  font-size: 6rem;
}
h3 {
  font-size: 2.7rem;
  float: clear;
  color: $thisislightblue;
  &:hover { 
    color: $thisislighterblue; 
  }
}

.faq-header {
  padding-bottom: 3rem;
}
.faq-answer {
  line-height: 1.618;
}
.faq-question-contents {
  margin-bottom: 3rem;
}
.faq-question-contents.in {
  
}
.faq-answer--with-sidelist {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}
.faq-sidelist-container {
  display: inline-block;
  width: 40%;
  margin-left: 5rem;
  h3 {
    color: $thisisdarkblue;
    &:hover {
      color: $thisisdarkblue; 
    }
  }
  ul li {
    padding-bottom: 2rem; 
    @extend .muted;
    font-family: $header-font-family;
    font-size: 2.2rem;
  }
}

// Thanks @callmenick! http://callmenick.com/post/css-toggle-switch-examples
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
input.cmn-toggle-yes-no + label {
  padding: 2px;
  width: 24rem;
  height: 8rem;
}
input.cmn-toggle-yes-no + label:before,
input.cmn-toggle-yes-no + label:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-family: $header-font-family;
  font-size: 4rem;
  text-align: center;
  line-height: 60px;
  box-shadow: 6px 6px 0 $box-shadow;
}
input.cmn-toggle-yes-no + label:before {
  background-color: white;
  color: $thisislightblue;
  content: attr(data-off);
  transition: transform 0.5s;
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no + label:after {
  background-color: $thisislightblue;
  color: white;
  content: attr(data-on);
  transition: transform 0.5s;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no:checked + label:before {
  transform: rotateY(180deg);
}
input.cmn-toggle-yes-no:checked + label:after {
  transform: rotateY(0);
}