@import 'partials/variables';

.oci {
  justify-content: center;
}
.requirements {
  padding-left: $content-protection;
  li {
    padding-bottom: $content-separation; 
  }
}
.mock .protected {
  padding: $content-protection 0;
}
.card {
  margin: $content-protection 0;
}