@import 'partials/variables';

// BROWSER RESETS
iframe {
  border: none !important;
  width: 100% !important;
  height: 100% !important;
}

// APP STYLE OVERRIDES
.event {
  flex-basis: 100%;
}

// JOBS-SPECIFIC STYLES
.features-card {
  display: none;
}
@media (min-width: $small-screen-width) {
  .features-card {
    display: block;
  }
}
.features {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: $content-protection;
}
.feature {
  flex-basis: 100%;
  margin-bottom: 3rem;
}
@media (min-width: $small-screen-width) {
  .feature {
    flex-basis: 33%; 
  }
}
@media (min-width: $moderate-screen-width) {
  .feature {
    flex-basis: 16%; 
  }
}
.feature-icon {
  background-color: $box-shadow-color;
  height: 10rem;
  width: 10rem;
  margin: 0 auto;
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  &::before {
    color: white;
    font-size: 6rem;
  }
}
.feature-description {
  padding-top: $content-separation;
  text-align: center;
}

.resources {
  justify-content: flex-start;
}
.resource-buttons {
  display: flex;
  flex-wrap: wrap;
}
.resource-button {
  flex-basis: 50%;
  background-color: $bg-gray;
  img {
    width: 100%; 
  }
  &:nth-of-type(1):hover {
    background-color: #036;
  }
  &:nth-of-type(2):hover {
    background-color: #060; 
  }
  &:nth-of-type(3):hover {
    background-color: #db5; 
  }
  &:nth-of-type(4):hover {
    background-color: #a50;
  }
}
.widget {
  padding-top: $content-separation;
  padding-left: $content-protection;
  min-height: 600px;
}
@media (min-width: $medium-screen-width) {
  .widget {
    min-height: 400px; 
  }
}

