@import 'app';

.majors-content {
  text-align: center;
  & > h2 {
    font-size: 5rem;
    padding-top: 2rem;
  }
}

.hero {
  margin: 0;
  img {
    min-height: 220px; 
  }
}

.hero .hero-content h2 {
  font-size: 3.5rem;
}

.colleges {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.college {
  width: 80%;
  margin-top: 3rem;
  box-shadow: 6px 6px 0 $box-shadow;
}

.accordion-header {
  font-size: 3rem;
  padding: 3rem 0;
  
  i:before {
    text-align: center;
    display: block;
    padding: 2.6rem 0;
    font-size: 4rem;
    @extend .icon;
    @extend .icon-chevron-up;
  }
  &.collapsed {
    i:before {
      text-align: center;
      @extend .icon-chevron-down; 
    }
  }
}

.college-content {
  padding: 0;
  & > h2 {
    margin: 0;
    padding: 3rem; 
  }
}

.major {
  display: block;
  
  width: 100%;
  padding: 1.5rem 3rem;
  
  background: $thisislightblue;
  color: white;
  
  &:hover {
    background: $thisisdarkblue;
    color: white;
  }
}

/**********************/
/* COMING SOON STYLES */
/**********************/

.content.coming-soon {
  padding: 0;
  text-align: center;
  & > h2 {
    margin: 0;
    padding: 3rem;
    color: $box-shadow;
    background: repeating-linear-gradient(
      -55deg,
      white,
      white 10px,
      $bg-gray 10px,
      $bg-gray 20px
    );
  }
}

.major.coming-soon {
  color: $box-shadow;
  background: repeating-linear-gradient(
    -55deg,
    white,
    white 10px,
    $bg-gray 10px,
    $bg-gray 20px
  );
}

/***************************/
/* COLLEGE-SPECIFIC STYLES */
/***************************/
.liberal-arts {
  margin-top: -8rem;
}
.agriculture {
  margin-top: -5rem;
}
.education {
  margin-top: -30rem;
}
.human-sciences {
  margin-top: -7rem;
}
.interdepartmental-interdisciplinary {
  margin-top: -5rem;
}

/*****************/
/* MEDIA QUERIES */
/*****************/
@media (min-width: $tiny-screen-size) {
  .hero .hero-content h2 {
    font-size: 4rem;
  }
}

@media (min-width: $small-screen-size) {
  .majors-content > h2 {
    font-size: 8rem; 
  } 
}

@media (min-width: $medium-screen-size) {
  .college {
    width: 40%;
    flex-basis: 40%;
  }
  .liberal-arts {
    margin-top: 0; 
  }
}