@import 'partials/variables';

.buttons {
  padding: 0;
  padding-top: $content-protection;
}

.pathways-content {
  text-align: center;
  padding-top: $content-protection;
  margin: $content-protection 0;
  & > h2 {
    font-size: 5rem;
  }
}

.disabled.flat-btn {
  margin: 0;
  color: $box-shadow-color;
}

.visual img {
  min-height: 250px;
}
.visual img.education {
  height: auto;
  margin-top: -30rem;
}
@media (min-width: $tiny-screen-width + 50) {
  .visual img.education {
     margin-top: -45rem;
  }
}
@media (min-width: $small-screen-width) {
  .visual img.education {
    margin-top: -25rem;
  }
}
@media (min-width: $medium-screen-width) {
  .visual img.education {
    margin-top: -35rem;
  }
}
@media (min-width: $social-shrink-width) {
  .visual img.education {
    margin-top: -50rem;
  }
}