@import 'partials/variables';

.pathways-content {
  text-align: center;
  padding-top: $content-protection;
  margin: $content-protection 0;
  & > h2 {
    font-size: 5rem;
  }
}

.disabled.flat-btn {
  margin: 0;
  color: $box-shadow-color;
}

.education {
  margin-top: -25rem;
}

.visual img {
  min-height: 250px;
}