@import 'staff';

h3 {
  font-family: $header-font-family;
  font-size: 2.2rem;
  margin-bottom: 0;
}

.major {
  padding: 3rem;
  background-color: $thisislightblue;
  height: 166px;
  h3 {
    color: white; 
  }
}

.contact-card .contact-info {
  height: auto;
}

h4 a {
  font-family: $body-font-family;
}

.phone:before {
  @extend .icon-phone;
  font-family: "icomoon";
  padding-right: 1.2rem;
  position: relative;
  top: 3px;
}

.generic-person {
  height: 100%;
  width: 100%;
  background-color: $thisislightorange;
  border: none;
  outline: none;
  &:before {
    color: white;
    font-family: $icon-font-family;
    @extend .icon-user;
    font-size: 10rem;
    position: relative;
    left: calc(50% - 4rem);
    top: calc(50% - 9rem);
  }
}


@media(min-width: $moderate-screen-size) {
  .contact-card {
    margin: 0 3rem;
    margin-bottom: 3rem;
  }
}