@import 'partials/variables';

// unique stuff
h3 {
  font-family: $header-font-family;
  font-size: 2.2rem;
  margin-bottom: 0;
}
.major {
  padding: 3rem;
  background-color: $thisislightblue;
  height: 166px;
  h3 {
    color: white; 
  }
}

// contact-card overrides
.staff-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.contact-card {
  flex-basis: 300px;
  width: 300px;
  min-width: 300px;
  .contact-image {
    width: 300px;
    height: 499px;
  }
}

.contact-card .contact-info {
  height: auto;
}


// contact overrides
.phone, .email {
  font-size: $body-font-size;
}

.generic-person {
  height: 100%;
  width: 100%;
  background-color: $thisislightorange;
  border: none;
  outline: none;
  &:before {
    color: white;
    font-family: $icon-font-family;
    font-size: 10rem;
    position: relative;
    left: calc(50% - 4rem);
    top: calc(50% - 9rem);
  }
}
@media(min-width: $moderate-screen-width) {
  .contact-card {
    margin: 0 3rem;
    margin-bottom: 3rem;
  }
}