@import 'partials/variables';

// BANNER IMAGE CORRECTIONS
.hero {
  height: 246px;
  max-height: 246px;
  img { 
    display: none;
  }
  .img-replace {
    display: block;
    font-size: $title-font-size;
    padding: $content-division;
  }
}
@media (min-width: $moderate-screen-width) {
  .hero {
    img {
      display: block; 
    }
    // don't hide it if there is no img
    img + .img-replace {
      display: none; 
    }
  }
}

// GUIDE STEPS -- basic structure
.step {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding: 0 $content-division;
}

.step-links, .step-blurb {
  width: 100%;
}
.step-links {
  padding-top: $content-protection;
}
.step-blurb {
  h2 {
    font-size: $title-font-size;
    padding-bottom: $content-separation;
  }
  p {
    padding-bottom: $content-separation; 
  }
}
.full-blurb {
  display: none;
}
@media (min-width: $medium-screen-width) {
  .step {
    flex-wrap: nowrap; 
    flex-direction: row;
  }
  .step:nth-of-type(even) {
    flex-direction: row-reverse;
  }
  .step:nth-of-type(odd) {
    .step-blurb {
      padding-left: $content-division; 
    }
  }
  .step-links {
    flex-basis: 35%; 
    width: 35%;
    padding-top: 0;
  }
  .step-blurb {
    flex-basis: 50%; 
    width: 50%;
  }
  .full-blurb {
    display: inline; 
  }
}

// GUIDE STEPS -- link details
.wedges {
  display: flex;
  box-shadow: $box-shadow;
  counter-reset: c;
  
  max-height: 6rem;
  margin-top: 0;
}
.wedge {
  display: inline-block;
  flex-basis: 100%;
  -ms-flex: 1;
  
  counter-increment: c;
  
  max-height: 6rem;
  line-height: 1.42;
  
  cursor: pointer;
  
  // --- NUMBER STUFF ---
  &::before {
    font-family: $header-font-family;
    font-size: $title-font-size;
    
    position: relative;
    left: calc(100% - 4rem);
    bottom: 3px;
    
    content: counter(c); 
  }
  // if it's a 1, but there are more elements
  &:nth-child(1)::before {
    left: calc(100% - 3.2rem);
  }
  // if it's a 1 and it's the only resource
  &:only-child::before {
    left: calc(50% - 1rem);
  }
  
  // --- SELECTED ELEMENT TRIANGLE INDICATOR ---
  &::after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent $thisisdarkblue transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #698db3 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');

    position: relative;
    top: 9px;

    margin-left: auto;
    margin-right: auto;  
    
    // --- HIDING AUTO-PDF ---
    content: ' ' !important;
    
    display: none;
  }
  &:hover::after,
  &.wedge--hovered::after {
    display: flex;

  }
  
  // --- COLOR STUFF ---
  &:nth-child(3n-2) {
    background: $thisisdarkblue;
    color: white;
  }
  &:nth-child(3n-1) {
    background: $bg-gray;
    color: $thisisdarkblue;
  }
  &:nth-child(3n) {
    background: $thisislightblue;
    color: white;
  }
}
.tooltips {
  box-shadow: none;
  border: 6px solid $thisisdarkblue;
  box-sizing: content-box;
  align-items: center;
  
  margin-top: $content-protection;
  max-height: none;
  height: 13rem;
}
.tooltip {
  display: none;
  align-items: center;
  height: 100%;

  h2 {
    text-align: center; 
    width: 100%;
    padding: 0 $content-protection;
  }
  // fix auto-pdf
  &[href$=".pdf"]::after {
    content: none; 
  }
  &[href$=".pdf"] h2::after {
    content: ' (pdf)';
  }
}
.tooltip--show {
  display: flex;
}

// FIXES FOR SPECIALIZED ADVICE PAGE
.big-header {
  font-size: 10rem;
  padding: $content-division;
  align-self: center;
}