@import 'partials/variables';

.resume-banner {
  text-align: center;
  h2 {
    font-size: 6rem; 
    color: $thisislightorange;
  }
  p {
    font-size: 3rem;
    font-family: $header-font-family;
  }
}

.resume-checklist {
  margin-left: 3rem;
  li {
    list-style: disc;
    padding: 1rem 0;
  }
}
