@import 'pathways';

.doc {
  @extend .pathway;
}

.hero--color {
  background: $thisislightblue;
  min-height: 220px;
}
.blurb {
  display: none;
}

@media (min-width: $tiny-screen-size) {
  .graduate-school {
    margin-top: -5rem;
  }
  .general-use {
    margin-top: -12rem;
  }
}

@media (min-width: $small-screen-size) {
  .blurb {
    display: block; 
  }
}