@import 'partials/variables';

.graduate-school {
  margin-top: -5rem;
}
.general-use {
  margin-top: -12rem;
}
.education {
  margin-top: -35rem; 
}
.human-sciences {
  margin-top: -10rem;
}
.interdisciplinary {
  margin-top: -6rem;
}