@import 'partials/variables';

h3 {
  font-size: $header-font-size;
}
.card.banner p {
  font-family: $body-font-family;
}
.login, .point-of-contact {
  height: 100%;
}
.login {
  align-self: flex-start;
}
.quick-guide .card {
  margin: 0;
}
.advice h3, .content--guide .padded {
  text-align: center;
}
ol li {
  list-style: decimal;
}

// how-to-hire guide (on-campus only)
.content--guide {
  overflow: visible;
}
.guide {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 100%;

  padding-top: 3rem;
  
  counter-reset: step;
}
.guide-step {
  flex-basis: 100%;
  width: 100%;
  min-width: 200px;
  
  padding: 5rem;
  
  position: relative;
  counter-increment: step;
  
  & > .icon {
    &::after {
      font-family: $header-font-family;
      content: counter(step);
      position: relative;
      top: 1.8rem;
      left: 3.4rem;
      color: white;
      &:hover {
        color: white; 
      }
    }
  }
  &:first-of-type > .icon::after {
    left: 3.8rem;
  }
  &:nth-of-type(4) > .icon::after {
    left: 3.1rem; 
  }
  
  & > .details {
    padding-top: 3rem;
    text-align: center;
    font-family: $header-font-family;
    font-size: 2rem;
  }
  
  &::after {    
    @include arrow(down, 30px, white);
  }

  &:nth-of-type(2n) {
    background-color: $bg-gray;
    &::after {
      @include arrow(down, 30px, $bg-gray); 
    }
  }
  &:last-of-type::after {
    content: none;
    border: none;
  }
}
@media (min-width: $moderate-screen-width) {
  .guide-step {
    $steps: 6;
    
    flex-basis: 33.33333%;
    width: 33.33333%;
    
    &::after {
      @include arrow(right, 30px, white); 
    }
    &:nth-of-type(2n) {
      background-color: $bg-gray;
      color: inherit;
      &::after {
        @include arrow(right, 30px, $bg-gray); 
      }
    }
    &:nth-of-type(#{$steps / 2})::after {
      @include arrow(down, 30px, white);
    }
    &:nth-of-type(#{$steps})::after {
      @include arrow(left, 30px, $bg-gray); 
    }
    @for $step from ($steps / 2) + 1 through $steps {
      &:nth-of-type(#{$step})::after {
        $color: white;
        @if $step % 2 == 0 {
          $color: $bg-gray; 
        }
        @include arrow(left, 30px, $color);
      }
    }
    $counter: ($steps / 2 + 1);
    @for $step from $steps through ($steps / 2 + 1) {
      &:nth-of-type(#{$step}) {
        order: $counter;
      }
      $counter: $counter + 1;
    }
  }
}
// point-of-contact overrides
.point-of-contact {
  h3 {
    padding-top: 0;
  }
  img {
    display: block;
    width: 50%;
    flex-basis: 50%;
    margin: 0 auto;
    margin-bottom: $content-protection;
  }
  .phone, .email,
  .phone a::before, .email a::before {
    font-size: $button-font-size;
  }
}


.faq {
  counter-reset: faq;
}
// accordion overrides
.accordion {
  overflow: hidden;
  margin-bottom: $content-separation;
  box-shadow: $box-shadow;
}
.accordion-header {
  font-family: $body-font-family;
  font-size: $body-font-size;
  text-align: left;
  border: 1px solid $box-shadow-color;
  z-index: 2;
  position: relative;
  &::before {
    font-family: $header-font-family;
    content: counter(faq);
    counter-increment: faq;
    padding: 0 $content-protection;
  }
  &::after {
    position: absolute;
    right: 3rem;
  }
}
.accordion > a:not(.collapsed),
.accordion > a.collapsed {
  background: white;
  color: $thisisdarkblue;
}
.accordion > a:hover {
  color: white;
  background: $thisisdarkblue;
}
.accordion-entry,
.accordion-entry:hover {
  color: black;
  background: white;
  border: 1px solid $box-shadow-color;
  border-top: none;
  box-shadow: $box-shadow;
  margin-top: -1rem;
  padding: 0 7rem;
  padding-top: $content-separation;
  z-index: 1;
}