@import 'event-pages';

.events,
.blurb {
  flex-basis: 50%;
  width: 50%;
}

.content > h2 {
   margin-bottom: 3rem; 
}

.content > .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.event {
  min-height: 0;
  max-height: none;
  width: auto;
  flex-basis: auto;
  
  margin-bottom: 3rem;
}

.event-details {
  width: auto;
  
  .event-details-name {
    font-family: $header-font-family;
    font-size: 3rem;
    color: $thisislightorange;
    margin: 0;
    margin-bottom: 1rem;
  }
}

.muted {
  color: $box-shadow;
}

.topics {
  margin-top: 3rem;
  border-top: 1px solid $box-shadow;
  padding-top: 2rem;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.topic {
  flex-basis: 100%;
  width: 100%;
  h2 {
    margin: 3rem 0;
  }
  ul {
    li {
      list-style: none; 
      padding: 1rem 0;
    }
  }
}

.your-major .hero {
  width: 100%;
}
.your-major .blurb {
  flex-basis: 100%;
  width: 100%;
}

.content > .attributes {
  flex-wrap: wrap;
  & > .attribute {
    flex-basis: 100%;
    width: 100%;
  }
}

@media (min-width: $small-screen-width) {
  .your-major .blurb {
    flex-basis: 33%;
    width: 33%;
  }
  .topic {
    width: 40%;
    flex-basis: 40%;
    margin-right: 3rem; 
  }
  .content .buttons {
    flex-basis: 40%;
    width: 40%;
  }
  .content > .attributes {
    flex-wrap: nowrap;
    & > .attribute {
      flex-basis: 33%;
      width: 33%;
    }
  }
}