<div class="row footer-wrap hidden-print">
  <footer>
    <section>
      <ul>
        <li><a href="http://www.auburn.edu/academicsupport">Academic Support Services</a></li>
        <li><a href="http://www.auburn.edu/fye">First Year Experience</a></li>
        <li><a href="http://harbert.auburn.edu/students/current/professional-and-career-development-resources/index.php">College of Business OPCD</a></li>
      </ul>
    </section>

    <section>
      <ul>
        <li><a href="http://www.auburn.edu/academic/provost/undergrad_studies/">Office of Undergraduate Studies</a></li>
        <li><a href="http://www.auburn.edu/academic/provost/undergrad_studies/academicadvising.html">Academic Advisors</a></li>
        <li><a href="http://www.auburn.edu/academic/provost/undergrad_studies/majors/">Majors/Academic Departments</a></li>
      </ul>
    </section>
  </footer>

  <div class="subfooter" role="contentinfo">
    <div>
      <span>Auburn University</span>&sdot;
      <span>Auburn, Alabama 36849</span>&sdot;
      <span>(334) 844-4000</span>&sdot;
      <span>
        <script type="text/javascript">
          emailE='auburn.edu';
          emailE=('webmaster' + '@' + emailE);
          document.write("<a href='mailto:" + emailE + "'>" + emailE + "</a>");
        </script>
      </span>
    </div>

    <div>
      <span><a href="http://www.auburn.edu/websitefeedback/">Website Feedback</a></span>&sdot;
      <span><a href="http://www.auburn.edu/privacy/">Privacy</a></span>&sdot;
      <span><a href="http://www.auburn.edu/oit/it_policies/copyright_regulations.php">Copyright &copy; <script type="text/javascript">date = new Date(); document.write(date.getFullYear());</script></a></span>
    </div>
  </div>
</div>