<footer>
  <div class="footer-wrap">
    <section>
      <h6>Our Office</h6>
      <address>
        <ul>
          <li>
            <span class="address beforecon">
              <a href="http://auburn.edu/map/?id=76">
                303 Martin Hall
              </a>
            </span>
          </li>
          <li>
            <span class="phone beforecon">
              <a href="tel:(334) 844-4744">
                (334) 844-4744
              </a>
            </span>
          </li>
          <li>
            <span class="email beforecon">
              <a href="aucc@auburn.edu">
                aucc@auburn.edu
              </a>
            </span>       
          </li>
        </ul>
      </address>
    </section>
    <section>
      <h6>Tools</h6>
      <ul>
        <li><a href="events">Career Events</a></li>
        <li><a href="pathways">Pathways: Major Guides</a></li>
        <li><a href="resume">Resume Review</a></li>
        <li><a href="https://jobs.auburn.edu">Tiger Recruiting Link</a></li>
      </ul>
    </section>
    <section>
      <h6>Beyond</h6>
      <ul>
        <li><a href="http://www.auburn.edu/academic/provost/undergrad_studies/">Office of Undergraduate Studies</a></li>
        <li><a href="http://www.auburn.edu/academic/provost/undergrad_studies/academicadvising.html">Academic Advisors</a></li>
        <li><a href="http://www.auburn.edu/academic/provost/undergrad_studies/majors/">Majors/Academic Departments</a></li>
        <li><a href="http://www.auburn.edu/academicsupport">Academic Support Services</a></li>
      </ul>
    </section>
    <p class="copyright">Copyright <a href="https://sites.auburn.edu/academic/provost/us/CareerCenter/SitePages/Home.aspx">Auburn University Career Center</a>, <script type="text/javascript">document.write(new Date().getFullYear())</script>.</p>
  </div>
</footer>
