<header role="banner">

  <div class="preheader" id="preheader">
    <div class="hexes">
      <div class="hex"><a href="http://auburn.edu"><img src="http://auburn.edu/career/assets/images/AU-emblem.png"></a></div>
    </div>
    <h1><a href="/">Career Center</a></h1>
  </div>
  
  
  <nav id="nav" class="header nav-collapse">
    <div class="nav-controller" id="hamburger">
      <i class="icon-navicon"></i>
    </div>
    <div class="nav-wrapper">
      <ul>
        <li>
          <a href="http://www.auburn.edu/career/students/">Students</a>
          <ul>
            <li><a href="#">Prospective</a></li>
            <li><a href="#">Current</a></li>
            <!--<li><a href="#">Graduate</a></li>-->
            <li><a href="#">Alumnus</a></li>
          </ul>
        </li>
        <li>
          <a href="http://www.auburn.edu/career/parents/">Families</a>
        </li>
        <li>
          <a href="http://www.auburn.edu/career/faculty/">Faculty</a>
        </li>
        <li>
          <a href="http://hire.auburn.edu">Employers</a>
        </li>
        <li><a href="http://auburn.edu/career/events/">Events</a></li>
        <li>
          <a href="#">About Us</a>
          <!--<ul>
            <li><a href="#">Office Info</a></li>
            <li><a href="#">Staff</a></li>
            <li><a href="#">Campus Partners</a></li>
          </ul>-->
        </li>
      </ul>
    </div>
  </nav>
  
  <nav class="postheader" id="postheader">
    <ul>
        <li><a href="http://www.auburn.edu/main/sitemap.php">A-Z Index</a></li>
        <li><a href="http://www.auburn.edu/map">Map</a></li>
        <li><a href="http://www.auburn.edu/main/auweb_campus_directory.html">People Finder</a></li>
        <li><a href="http://auaccess.auburn.edu/">AU Access</a></li>
        <li>
            <form action="http://search.auburn.edu" method="get">
                <input type="search" placeholder="Search Auburn" name="q">
            </form>
        </li>
    </ul>
  </nav>
</header>


<!-- Positioning the nav -->
<script>
  var preheader, nav, postheader;
  window.onscroll = function () {
    if(preheader === undefined) preheader = document.getElementById('preheader')
    if(preheader === undefined) return
    
    if(nav === undefined) nav = document.getElementById('nav')
    if(nav === undefined) return
    
    if(postheader === undefined) postheader = document.getElementById('postheader')
    if(postheader === undefined) return  
    
    if(preheader.getBoundingClientRect().bottom <= 0 && !nav.classList.contains('fixed') && window.innerWidth >= 768) {
      nav.classList.add('fixed') 
      postheader.classList.add('absolute')
    } else if (preheader.getBoundingClientRect().bottom > 0 && nav.classList.contains('fixed') && window.innerWidth >= 768) {
      nav.classList.remove('fixed')
      postheader.classList.remove('absolute')
    } else if (preheader.getBoundingClientRect().bottom <= 0 && nav.children[0].getBoundingClientRect().top <= 0 && !nav.classList.contains('fixed')) {
      nav.classList.add('fixed') 
    } else if (preheader.getBoundingClientRect().bottom > 0 && nav.classList.contains('fixed')) {
      nav.classList.remove('fixed') 
    }
    
    if(postheader.getBoundingClientRect().top <= 0 + 30 && !nav.classList.contains('bordered') && window.innerWidth >= 768) { 
      nav.classList.add('bordered')
    } else if (postheader.getBoundingClientRect().top > 0 + 30  && nav.classList.contains('bordered') && window.innerWidth >= 768) {
      nav.classList.remove('bordered') 
    } else if (nav.children[0].getBoundingClientRect().top <= 0 + 30 && !nav.classList.contains('bordered') && window.innerWidth < 768) {
      nav.classList.add('bordered') 
    } else if (nav.children[0].getBoundingClientRect().top > 0 + 30 && nav.classList.contains('bordered') && window.innerWidth < 768) {
      nav.classList.remove('bordered') 
    }
  }
</script>
<!-- Mobile menu -->
<script>
  var hamburger = document.getElementById('hamburger')
  hamburger.addEventListener('click', function () {
    var navWrapper = document.getElementById('nav').children[1]
     
    if(hamburger === undefined) hamburger = document.getElementById('hamburger')
    if(hamburger === undefined) return
     
    if(navWrapper.classList.contains('mobile-nav--active'))
      navWrapper.classList.remove('mobile-nav--active')
    else 
      navWrapper.classList.add('mobile-nav--active')
  })
  window.addEventListener('resize', function () {
    var navWrapper = document.getElementById('nav').children[1]
    if(window.innerWidth >= 768 && navWrapper.classList.contains('mobile-nav--active'))
      navWrapper.classList.remove('mobile-nav--active')
  })
  
  var submenus = document.getElementById('nav').children[1].getElementsByTagName('')
</script>