<header role="banner" class="flex">
  <a class="header-logo" href="http://www.auburn.edu">
    <img src="//cdn.auburn.edu/assets/img/header-logo.png" alt="Auburn University Homepage" height="75" width="203">
  </a>

  <div class="header-right flex">                
    <div class="header-title">
      <a href="/career/">Career Center</a>

    </div>

    <div class="header-navbar">
      <ul>
        <li><a href="http://www.auburn.edu/career/students/">Students</a></li>
        <li><a href="http://www.auburn.edu/career/alumni/">Alumni</a></li>
        <li><a href="http://www.auburn.edu/career/parents/">Families</a></li>
        <li><a href="http://www.auburn.edu/career/faculty/">Faculty</a></li>
        <li><a href="http://hire.auburn.edu">Employers</a></li>
      </ul>
    </div>
  </div>
</header>