<header role="banner" class="flex">
  <div class="preheader-navbar">
    <ul>
        <li><a href="http://www.auburn.edu/main/sitemap.php">A-Z Index</a></li>
        <li><a href="http://www.auburn.edu/map">Map</a></li>
        <li><a href="http://www.auburn.edu/main/auweb_campus_directory.html">People Finder</a></li>
        <li><a href="http://auaccess.auburn.edu/">AU Access</a></li>
        <li>
            <form action="http://search.auburn.edu" method="get">
                <input type="search" placeholder="Search Auburn" name="q">
            </form>
        </li>
    </ul>
  </div>
  <a class="header-logo" href="http://www.auburn.edu">
    <img src="//cdn.auburn.edu/assets/img/header-logo-mobile@2x.png" srcset="//cdn.auburn.edu/assets/img/header-logo-mobile@2x.png 420w, //cdn.auburn.edu/assets/img/header-logo-mobile@2x.png 768w, //cdn.auburn.edu/assets/img/header-logo@2x.png 2x" alt="Auburn University Homepage">
  </a>

  <div class="header-right flex">                
    <div class="header-title">
      <a href="/career/">Career Center</a>
    </div>

    <div class="header-navbar nav-collapse">
      <ul>
        <li><a href="http://www.auburn.edu/career/students/">Students</a></li>
        <li><a href="http://www.auburn.edu/career/alumni/">Alumni</a></li>
        <li><a href="http://www.auburn.edu/career/parents/">Families</a></li>
        <li><a href="http://www.auburn.edu/career/faculty/">Faculty</a></li>
        <li><a href="http://hire.auburn.edu">Employers</a></li>
      </ul>
    </div>
  </div>
</header>