bower_components/
node_modules/
node_modules/jshint/*
node_modules/.bin/jshint*
.jshintrc
.sass-cache/
dist/
npm-debug.log

*.png
*.jpg
*.gif
*.ps
*.eps
*.nef
*.pdf
*.bmp
*.html
*.css
*.css.map
assets/*/*.min.*
config.php
twitter.php
twitter.json
events.json
dev/events.json
assets/images/sponsors/sponsors that don't have icons on trl.md
