---
path-to-root: ..
analytics-token: UA-12338791-1
---

<!doctype html>
<html lang="en" ng-app="{{ ng-app  }}">

  {{> datepicker-head }}

  <body class="{{ name }}">
    {{> header }}
    <div class="container">
      {{> social }}
      {{  body   }}
      {{> footer }}
    </div>

  </body>
  {{> analytics }}
</html>