---
analytics-token: UA-12338791-1
---

<!doctype html>
<html lang="en" ng-app="{{ ng-app  }}">

  {{> head }}

  <body class="{{ name }}">
    {{> header }}
    <main>
      {{> social }}
      {{  body   }}
    </main>
    {{> footer }}
  </body>
  {{> analytics }}
</html>