---
path-to-root: ../
ng-app: career-center-hire
analytics-token: UA-12338791-4
---

<!doctype html>
<html lang="en" ng-app="{{ ng-app  }}">

  {{> head }}

  <body class="{{ name }}">
    {{> employers-header }}
    <div class="container">
      {{  body   }}
      {{> footer }}
    </div>
  </body>
  {{> analytics }}
</html>