---
path-to-root: ../
ng-app: career-center-hire
analytics-token: UA-12338791-4
---

<!doctype html>
<html lang="en" ng-app="{{ ng-app  }}">

  {{> head }}

  <body>
    {{> header }}
    <main>
      {{  body   }}
    </main>
    {{> footer }}
  </body>
  {{> analytics }}
</html>