---
layout: no-social.hbs
type: resources
path-to-root: ../
hero-img: undergrad-students.png
hero-text: Undergraduate Students
---

<div class="hero row">
  <img src="assets/images/resources/{{ hero-img }}">
  <h2 class="img-replace">{{ hero-text }}</h2>
</div>

<!-- Good place for a usemin block. Could turn this into resources.min.js. -->
<script src="assets/scripts/tooltip.js"></script>

{{> body}}