---
layout: no-social.hbs
type: resources
path-to-root: ../
hero-text: Undergraduate Students
component:
- tooltip
---

<div class="hero card{{#if hero-img}} unpadded{{/if}}">
  {{#if hero-img}}
  <img src="assets/images/resources/{{ hero-img }}" alt="{{ hero-text}}">
  {{/if}}
  <h2 class="img-replace">{{ hero-text }}</h2>
</div>


{{> body}}