---
ng-app: none
name: event-pages
title: All Majors Career Expo
path-to-root: ../../
---
<link rel="stylesheet" href="http://cdn.jsdelivr.net/jquery.gray/1.3.6/gray.min.css">

<!-- Banner image -->
<div class="hero">
  <img src="http://auburn.edu/career/assets/images/events/AMCE_Webpage_Image(S15).png"></img>
</div>

<div class="content">
  <!-- Blurb -->
  <div class="row">
    <p class="blurb">
      Come attend the All Majors Career Expo to network with employers offering internships, co-ops, part-time and full-time employment.  <br /><br />
      Be sure to look at our list of attending companies to see the how your qualifications match with their needs.  
    </p>
    <div class="buttons">
      <a class="flat-btn attendants" href="https://auburn-csm.symplicity.com/events/students.php?cf=amcesp15">
        See Attending Employers
      </a>
      <br />
      <a id="download-btn" class="flat-btn download" href="https://itunes.apple.com/us/app/auburn-career-fair-plus/id691680982?mt=8">
        Download our mobile app
      </a>
      <!-- Put amcf-app.js here when it's done -->
    </div>
  </div>
  <!-- Icons -->
  <div class="attributes">
    <div class="attribute">
      <a class="icon format" href="https://www.candidcareer.com/video-networking+101,1e866306e9b5f012419c,Auburn" target="_blank">
        <i class="icon-comments-o"></i>
      </a>
      <div class="details">Networking</div>
    </div>
    <div class="attribute">
      <a class="icon dress" href="http://www.auburn.edu/career/tipsheets/Tip%20Sheet%20Dress%20Bus%20Professional%20-%20Bus%20Casual.pdf" target="_blank">
        <i class="icon-tie"></i>
      </a>
      <p class="details">
        Business professional required
      </p>
    </div>  
    <div class="attribute">
      <a class="icon majors" href="https://auburn-csm.symplicity.com/events/students.php?cf=amcesp15" target="_blank">
        <i class="icon-graduation-cap"></i>
      </a>
      <div class="details">Any major</div>
    </div>
  </div>
</div>