---
ng-app: none
name: all-majors
type: event-pages
title: All Majors Career Expo
path-to-root: ../../
layout: no-social.hbs
component:
- cf-app-button
---

<!-- Banner image -->
<div class="hero">
  <img src="assets/images/events/AMCE_Webpage(F15).png"></img>
</div>

<div class="content">
  <!-- Blurb -->
  <div class="row">
    <p class="blurb">
      Come attend the All Majors Career Expo to network with employers offering internships, co-ops, part-time and full-time employment.  <br /><br />
      Be sure to look at our list of attending companies to see the how your qualifications match with their needs.  
    </p>
    <div class="buttons">
      <a class="flat-btn attendants" href="https://auburn-csm.symplicity.com/events/index.php?id=fe70cd4cb4d0b5f21c4591e7d76d32c7#/events/b0fb2275e833a598630c606341d91697/employers">
        See Attending Employers
      </a>
      <a class="flat-btn" id="download-btn">Download Our App</a>
    </div>
  </div>
  <!-- Icons -->
  <div class="attributes">
    <div class="attribute">
      <a class="icon format" href="https://www.candidcareer.com/video-networking+101,1e866306e9b5f012419c,Auburn" target="_blank">
        <i class="icon-comments-o"></i>
      </a>
      <div class="details">Networking</div>
    </div>
    <div class="attribute">
      <a class="icon dress" href="http://www.auburn.edu/career/tipsheets/Tip%20Sheet%20Dress%20Bus%20Professional%20-%20Bus%20Casual.pdf" target="_blank">
        <i class="icon-tie"></i>
      </a>
      <p class="details">
        Business professional required
      </p>
    </div>  
    <div class="attribute">
      <a class="icon majors" href="https://auburn-csm.symplicity.com/events/students.php?cf=amcesp15" target="_blank">
        <i class="icon-graduation-cap"></i>
      </a>
      <div class="details">Any major</div>
    </div>
  </div>
</div>