---
ng-app: none
name: cmcd
type: event-pages
title: Communication and Media Career Day

path-to-root: ../../

layout: no-social.hbs

style:
- attributes
- event-banner-card
---

<div class="event-banner-card">
  <img src="assets/images/events/{{name}}-banner.png"
       alt="Communication & Media Career Day. March 8, 2016, 8am-3pm, in the Student Center Ballroom.">

  <div class="card">
    <div class="blurb flex">
      <p class="flex-half">
        Wanting to gain experience in Communication, Journalism, Public Relations, Radio, Television and Film, and/or Agricultural Communication?<br/><br/>
        Come to the Communication and Media Career Day to network with employers offering summer internships and employment.
      </p>
      <div class="buttons flex-half">
        <a class="flat-btn attendants" href="https://auburn-csm.symplicity.com/events/index.php?id=683d1dcae6cb1bb7cb58a4bc6a7ed2b1#/events/683d1dcae6cb1bb7cb58a4bc6a7ed2b1/employers">
          See Attending Employers
        </a>
      </div>
    </div>

    <div class="schedule">
      <h3>Registration and scheduling interviews</h3>
      <p>8am - 9am</p>
      <h3>Interviews</h3>
      <p>9am - 3pm</p>
    </div>

    <!-- Icons -->
    <div class="attributes">
      <div class="attribute">
        <a class="icon format" href="https://www.candidcareer.com/video-networking+101,1e866306e9b5f012419c,Auburn" target="_blank">
          <i class="icon-comments-o"></i>
        </a>
        <div class="details">Scheduled interviews</div>
      </div>
      <div class="attribute">
        <a class="icon dress" href="http://www.auburn.edu/career/tipsheets/Tip%20Sheet%20Dress%20Bus%20Professional%20-%20Bus%20Casual.pdf" target="_blank">
          <i class="icon-tie"></i>
        </a>
        <p class="details">
          Business casual recommended
        </p>
      </div>  
      <div class="attribute">
        <a class="icon jobs">
          <i class="icon-briefcase"></i>
        </a>
        <div class="details">Full-time, part-time, and internship positions</div>
      </div>
    </div>
  </div>
</div>