---
ng-app: none
name: cmcd
type: event-pages
title: Communication and Media Career Day
path-to-root: ../../
layout: no-social.hbs
---
<!-- Banner image -->
<div class="hero">
  <img src="assets/images/events/{{name}}-banner.png"></img>
</div>

<div class="content">
  <!-- Blurb -->
  <div class="row">
    <p class="blurb">
      Wanting to gain experience in Communication, Journalism, Public Relations, Radio, Television and Film, and/or Agricultural Communication?<br/><br/>
      Come to the Communication and Media Career Day to network with employers offering summer internships and employment.
    </p>
    <div class="buttons">
      <a class="flat-btn attendants" href="https://auburn-csm.symplicity.com/events/students.php?cf=cmcdsp15">
        See Attending Employers
      </a>
    </div>
  </div>
  
  <div class="schedule">
    <div class="activity">
      <div class="name">Registration and scheduling interviews</div>
      <div class="duration">8<span class="meridiem">am</span> - 9<span class="meridiem">am</span></div>
    </div>
    <div class="activity">
      <div class="name">Interviews</div>
      <div class="duration">9<span class="meridiem">am</span> - 3<span class="meridiem">pm</span></div>
    </div>
  </div>
  
  <!-- Icons -->
  <div class="attributes">
    <div class="attribute">
      <a class="icon format" href="https://www.candidcareer.com/video-networking+101,1e866306e9b5f012419c,Auburn" target="_blank">
        <i class="icon-comments-o"></i>
      </a>
      <div class="details">Scheduled interviews</div>
    </div>
    <div class="attribute">
      <a class="icon dress" href="http://www.auburn.edu/career/tipsheets/Tip%20Sheet%20Dress%20Bus%20Professional%20-%20Bus%20Casual.pdf" target="_blank">
        <i class="icon-tie"></i>
      </a>
      <p class="details">
        Business casual recommended
      </p>
    </div>  
    <div class="attribute">
      <a class="icon jobs" href="https://auburn-csm.symplicity.com/events/students.php?cf=amcesp15" target="_blank">
        <i class="icon-briefcase"></i>
      </a>
      <div class="details">Full-time, part-time, and internship positions</div>
    </div>
  </div>
</div>