---
ng-app: none
name: eid
type: event-pages
title: Education Interview Day
path-to-root: ../../
layout: no-social.hbs
---
<!-- Banner image -->
<div class="hero">
  <img class="hero" src="http://auburn.edu/career/assets/images/events/EID_Webpage_Image(S15).png"></img>
</div>

<div class="content">    
  <!-- Blurb -->
  <div class="row">
    <p class="blurb">
      If you are an aspiring educator, consider attending Education Interview Day.  Explore open positions, network with potential employers, and interview for your dream job all in one day!  
    </p>
    <div class="buttons">
      <a class="flat-btn attendants" href="https://auburn-csm.symplicity.com/events/students.php?cf=eidsp15">
        See Attending Employers
      </a>
      <a class="flat-btn locations" href="http://auburn.edu/career/students/events/eidmaps.pdf">
        See Employer Locations On-Site
      </a>
    </div>
  </div>
  
  <div class="schedule">
    <div class="activity">
      <div class="name">Registration</div>
      <div class="duration">8<span class="meridiem">am</span> - 9<span class="meridiem">am</span></div>
    </div>
    <div class="activity">
      <div class="name">Networking and scheduling interviews</div>
      <div class="duration">9<span class="meridiem">am</span> - 10<span class="meridiem">am</span></div>
    </div>
    <div class="activity">
      <div class="name">Interviews</div>
      <div class="duration">10<span class="meridiem">am</span> - 3<span class="meridiem">pm</span></div>
    </div>
  </div>
  
  <!-- Icons -->
  <div class="attributes">
    <div class="attribute">
      <a class="icon format" href="https://www.candidcareer.com/video-networking+101,1e866306e9b5f012419c,Auburn" target="_blank">
        <i class="icon-comments-o"></i>
      </a>
      <div class="details">Scheduled interviews</div>
    </div>
    <div class="attribute">
      <a class="icon dress" href="http://www.auburn.edu/career/tipsheets/Tip%20Sheet%20Dress%20Bus%20Professional%20-%20Bus%20Casual.pdf" target="_blank">
        <i class="icon-tie"></i>
      </a>
      <p class="details">
        Business professional required
      </p>
    </div>  
    <div class="attribute">
      <div class="icon population">
        <i class="icon-group"></i>
      </div>
      <div class="details">Dozens of schools</div>
    </div>
  </div>



</div>