---
ng-app: none
name: grad-workshops
type: event-pages
title: Graduate Student Workshops
path-to-root: ../../
layout: no-social.hbs
---
<!-- Banner image -->
<div class="card">
  <h2>Graduate Student Workshops</h2>
</div>

<section class="flex">
  <div class="card unpadded flex-half" id="cybernetworking">
    <div class="padded">
      <h2>Cybernetworking</h2>
      <p>January 25, 2016</p>
      <p>Student Center, Room 2326</p>
      <p>10:00AM-11:30AM</p>
      <br /><br />
      <p>
        Living in a technologically advanced world, it is imperative 
        that you are prepared to excel in navigating the Internet and 
        social media to aid in networking for your future career. This 
        session will be help students learn about best practices, 
        where to start looking, and how to establish these connections 
        with other professionals in your field. There are only 40 
        seats available. Please contact 
        <a href="mailto:wzm0004@auburn.edu">Wade</a> to RSVP. 
        Pizza and refreshments will be served!
      </p>
    </div>
    <a class="flat-btn flat-btn--bottom" href="mailto:wzm0004@auburn.edu">RSVP</a>
  </div>
</section>
