---
ng-app: none
name: grad-workshops
type: event-pages
title: Graduate Student Workshops
path-to-root: ../../
layout: no-social.hbs
---
<!-- Banner image -->
<div class="content">
  <h2>Graduate Student Workshops</h2>
</div>

<section class="flex workshops">
  <div class="content extra-content content--no-padding flex-half workshop" id="cybernetworking">
    <div class="padding">
      <h2>Cybernetworking</h2>
      <p>January 25, 2016</p>
      <p>Student Center, Room 2326</p>
      <p>10:00AM-11:30AM</p>
      <br /><br />
      <p>
        Living in a technologically advanced world, it is imperative 
        that you are prepared to excel in navigating the Internet and 
        social media to aid in networking for your future career. This 
        session will be help students learn about best practices, 
        where to start looking, and how to establish these connections 
        with other professionals in your field. There are only 40 
        seats available. Please contact 
        <a href="mailto:wzm0004@auburn.edu">Wade</a> to RSVP. 
        Pizza and refreshments will be served!
      </p>
    </div>
    <a class="flat-btn flat-btn--bottom" href="mailto:wzm0004@auburn.edu">RSVP</a>
  </div>
  <div class="content extra-content content--no-padding flex-half workshop" id="interviewing">
    <div class="padding">
      <h2>Interviewing</h2>
      <p>February 15, 2016</p>
      <p>Student Center Room 2326</p>
      <p>10:00AM - 11:30AM</p>
      <br /><br />
      <p>
        This workshop will go over several strategies to empower
        graduate students to conduct their best interview. What
        better way to prepare for the job search than brushing up
        your interviewing skills? Please RSVP to Wade Manora, Jr.
        at 
        <a href="mailto:wzm0004@auburn.ed">wzm0004@auburn.edu</a>,
        as there are only 40 seats available. Inquire if you would
        like more information on the presentation.
      </p>
    </div>
    <a class="flat-btn flat-btn--bottom" href="mailto:wzm0004@auburn.edu">RSVP</a>
  </div>
  <div class="content extra-content content--no-padding flex-half workshop" id="salary-negotiation">
    <div class="padding">
      <h2>Negotiating</h2>
      <p>March 7, 2016</p>
      <p>Student Center Room 2326</p>
      <p>10:00AM - 11:30AM</p>
      <br /><br />
      <p>
        You've finally been offered a full-time job, and now it's
        time to talk about money. Salary negotiation can be difficult
        for even the most experienced employees.This workshop will
        cover strategies on how to effectively negotiate your desired
        salary. Please RSVP to Wade Manora, Jr. at
        <a href="mailto:wzm0004@auburn.ed">wzm0004@auburn.edu</a>,
        as there are only 40 seats available. Pizza and refreshments
        will be served! Inquire if you would like more information on
        the presentation.
      </p>
    </div>
    <a class="flat-btn flat-btn--bottom" href="mailto:wzm0004@auburn.edu">RSVP</a>
  </div>
</section>
