---
ng-app: none
name: pca
type: event-pages
title: PCA Applications | Career Center

path-to-root: ../../

layout: no-social.hbs

style:
- event-banner-card
---



<div class="event-banner-card">
  <img
       src="http://auburn.edu/academic/provost/undergrad_studies/career/pca/PCA_Webpage_Banner.png"
       alt="Apply to be a Peer Career Advisor!">
  <section class="card">
    <!-- Blurb -->
    <div class="flex blurb">
      <div class="brief flex-half">
        <p>
          Peer Career Advisors (PCAs) assist the Auburn University Career Center 
          office in reaching out, educating and advising Auburn students on 
          resources through one-on-one interactions and group presentations.
        </p>
        <h2>
          PCAs are trained to help students:
        </h2>
        <ul>
          <li>write resumes,</li>
          <li>construct cover letters,</li>
          <li>employ job search strategies,</li>
          <li>and navigate career events.</li>
        </ul>
      </div>
      <div class="actions flex-half">
        <a class="flat-btn" href="http://form.jotform.us/form/51944583498168">Apply to be a PCA</a>
        <a class="flat-btn flat-btn--white" href="aboutus/student-workers.html#Peer Career Advisors">Meet the PCAs</a>
      </div>
    </div>
  </section>
  
</div>
