---
ng-app: none
name: seoty
type: event-pages
title: Student Employment Awards | Career Center
path-to-root: ../../
layout: no-social.hbs
---

<!-- Banner image -->
<div class="hero">
  <img src="assets/images/events/SEOTY_Homepage-01.svg"></img>
</div>

<section class="content">
  <!-- Blurb -->
  <div class="row">
    <div class="brief">
      <p class="blurb">
        We celebrate National Student Employment Week! Yay! Nominate your supervisor 
        if you think they're particularly excellent -- they'll be doing the same 
        of their best student workers!
      </p>
      <p class="blurb muted">
        You may <strong>only</strong> nominate your direct supervisor, and only 
        if you are a student employee.
      </p>
    </div>
    <div class="actions">
      <a class="flat-btn" href="">Nominate Supervisor</a>
    </div>
  </div>
  
  <div class="dates flex row">
    <h2 class="awards-ceremony-header">Awards Ceremony <span class="awards-ceremony">Apr 12</span></h2>
    <h2 class="deadline-header">Nomination Deadline <span class="deadline">Feb 12</span></h2>
  </div>
  <!-- Icons -->
  <div class="attributes">
    <div class="attribute">
      <a class="icon format">
        <i class="icon-star-full"></i>
      </a>
      <div class="details">Awards ceremony</div>
    </div>
    <div class="attribute">
      <a class="icon dress">
        <i class="icon-tie"></i>
      </a>
      <p class="details">
        Business casual dress
      </p>
    </div>  
    <div class="attribute">
      <a class="icon population">
        <i class="icon-spoon-knife"></i>
      </a>
      <div class="details">Snacks provided</div>
    </div>
  </div>
</section>