---
ng-app: none
name: stem
type: event-pages
title: STEM Career Expo
path-to-root: ../../
layout: no-social.hbs
component:
- cf-app-button
---
<!-- Banner image -->
<div class="hero">
  <img src="assets/images/events/{{name}}-banner.png"
       alt="STEM Career Expo. February 9, 2016, 3pm-7pm, at the AU Hotel."></img>
</div>

<div class="content">
  <!-- Blurb -->
  <div class="row">
    <p class="blurb">
      Plan to attend the STEM Career Expo for Science, 
      Technology, Engineering and Math majors to explore 
      opportunities and network with some top companies 
      in the industry!
      <br /><br />
      To learn more about the employers attending, 
      <a id="download-link">download the AU Career Fair+ app.</a> Research the 
      companies you would like to meet to learn about  
      opportunities available.
      <br /><br />
      <strong>
        Professional dress is required and be sure to 
        bring plenty of copies of your résumé.
      </strong>
    </p>
    <div class="buttons">
      <a class="flat-btn attendants" href="https://auburn-csm.symplicity.com/events/index.php?id=1282185d3bc076d8b8f3088c99f9ab0d#/events/1282185d3bc076d8b8f3088c99f9ab0d/employers">
        See Attending Employers
      </a>
      <a class="flat-btn flat-btn--disabled locations" disabled>
        See Employer Locations On-Site
      </a>
      <a class="flat-btn" id="download-btn">Download Career Fair+</a>
    </div>
  </div>

  <!-- Icons -->
  <div class="attributes">
    <div class="attribute">
      <a class="icon format" href="https://www.candidcareer.com/video-networking+101,1e866306e9b5f012419c,Auburn" target="_blank">
        <i class="icon-comments-o"></i>
      </a>
      <div class="details">Networking</div>
    </div>
    <div class="attribute">
      <a class="icon dress" href="http://www.auburn.edu/career/tipsheets/Tip%20Sheet%20Dress%20Bus%20Professional%20-%20Bus%20Casual.pdf" target="_blank">
        <i class="icon-tie"></i>
      </a>
      <p class="details">
        Business professional required
      </p>
    </div>
    <div class="attribute">
      <a class="icon population" href="https://auburn-csm.symplicity.com/events/students.php?cf=stemsp16">
        <i class="icon-group"></i>
      </a>
      <div class="details">High attendance</div>
    </div>
  </div>
</div>

