---
ng-app: none
name: your-major
type: your-major
title: Your Major Workshop

path-to-root: ../../

layout: no-social.hbs

style:
- event-banner-card
- attributes
---

<!-- Banner image -->
<div class="event-banner-card">
  <img src="assets/images/events/{{ name }}-banner.png"
       alt="Your Major Workshops. This needs to be updated.">
  <div class="card">
    <!-- Blurb -->
    <div class="blurb flex">
      <p class="flex-half">
        This workshop is offered annually in the summer. Check back in the spring for workshop dates and registration information!
      </p>
      <div class="buttons flex-half">
        <a class="flat-btn flat-btn--disabled locations" disabled="disabled">
          Register
        </a>
        <a class="flat-btn flat-btn--disabled attendants" disabled="disabled">
          See Agenda
        </a>
      </div>
    </div>

    <!-- Icons -->
    <div class="attributes">
      <div class="attribute">
        <a class="icon format"><i class="icon-comments-o"></i></a>
        <div class="details">Informational</div>
      </div>
      <div class="attribute">
        <a class="icon dress"><i class="icon-tie"></i></a>
        <p class="details">
          Casual dress
        </p>
      </div>  
      <div class="attribute">
        <a class="icon major"><i class="icon-graduation-cap"></i></a>
        <div class="details">Any major</div>
      </div>
    </div>
  </div>
</div>
