---
ng-app: none
name: your-major
title: Your Major Workshop
path-to-root: ../../
---

<!-- Banner image -->
<div class="hero">
  <img class="cym" src="assets/images/events/CYM_Homepage(S15).png"></img>
</div>

<div class="content">
  <!-- Blurb -->
  <div class="row">
    <div class="blurb events">
      <ul>
        <li class="event">
          <div class="event-details">
            <div class="event-details-name">Student Session</div>
            <div class="event-details-location">Student Center Ballroom</div>
            <div class="event-details-time">9am - 3pm</div>
          </div>
        </li>
        <li class="event">
          <div class="event-details">
            <div class="event-details-name">Parent Session</div>
            <div class="event-details-location">Student Center</div>
            <div class="event-details-time">9:30am - 12:30pm</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="buttons">
      <a class="flat-btn locations" href="students/events/your-major.html#register">
        Register
      </a>
      <a class="flat-btn attendants" href="http://www.auburn.edu/career/students/events/images/YM%20schedule%20spring_summer%202015.pdf">
        See Agenda
      </a>
    </div>
  </div>
  
  <!-- Icons -->
  <div class="attributes">
    <div class="attribute">
      <a class="icon format" href="https://www.candidcareer.com/video-networking+101,1e866306e9b5f012419c,Auburn" target="_blank">
        <i class="icon-comments-o"></i>
      </a>
      <div class="details">Informational</div>
    </div>
    <div class="attribute">
      <a class="icon dress" href="http://www.auburn.edu/career/tipsheets/Tip%20Sheet%20Dress%20Bus%20Professional%20-%20Bus%20Casual.pdf" target="_blank">
        <i class="icon-tie"></i>
      </a>
      <p class="details">
        Casual dress
      </p>
    </div>  
    <div class="attribute">
      <a class="icon majors" href="https://auburn-csm.symplicity.com/events/students.php?cf=amcesp15" target="_blank">
        <i class="icon-graduation-cap"></i>
      </a>
      <div class="details">Any major</div>
    </div>
  </div>
  
  <div class="topics">
    <div class="topic students">
      <h2>Students Learn How To:</h2>
      <ul>
        <li>Navigate the career and major exploration processes</li>
        <li>Enhance self-awareness through self-assessments</li>
        <li>Discover career options and specific majors available at Auburn University</li>
        <li>Utilize a variety of resources to explore and gather information needed to make an informed decision</li>
        <li>Evaluate career options based on professional interests, personality, skills, and values</li>
      </ul>
    </div>
    <div class="topic parents">
      <h2>Parents Learn:</h2>
      <ul>
        <li>How your student's brain is developing as they prepare for and enter college, and the impact this developmental stage has on their decision making.</li>
        <li>About academics at Auburn – policies, majors/minors, resources.</li>
        <li>About resources and tools that will help your student make informed and practical decisions about their future career.</li>
        <li>About the AU Career Center services and resources available to your student.</li>
        <li>How you can support your student’s career development as they are choosing a major and career.</li>
      </ul>
    </div>
  </div>
</div>

<div id="register" class="content extra-content">
  <h2>Register <span class="muted">$80, including assessments and lunch</span></h2>
  <div class="crow">
    <div class="blurb">
      <p>Click any date to register for that particular session.</p>
      <p>
        If you are a <strong>parent or guardian</strong>, or want your parent or 
        guardian to attend, the registration forms have a field 
        for that. Remember to fill it out when you're registering!
      </p>
      <p>The parent session is free for parents of attending students.</p>
      <p>
        If you are a student in financial need of a sponsorship 
        to attend this workshop, they are available on a limited 
        basis. Please contact Addye Buckley-Burnell at 
        <a href="mailto:addyebb@auburn.edu">addyebb@auburn.edu</a> 
        if you would like to be considered for sponsorship.
      </p>
    </div>
    <div class="buttons">
      <a class="flat-btn" href="https://auburn-csm.symplicity.com/events/YM3">June 3rd</a>
      <a class="flat-btn" href="https://auburn-csm.symplicity.com/events/YM4">June 10th</a>
      <a class="flat-btn" href="https://auburn-csm.symplicity.com/events/YM5">June 24th</a>
    </div>
  </div>
</div>