@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@font-face {
  font-family: 'Norwester';
  src: asset-url("norwester.eot?9309851", font);
  src: asset-url("norwester.eot?9309851#iefix", font) format("embedded-opentype"), asset-url("norwester.woff?9309851", font) format("woff"), asset-url("norwester.ttf?9309851", font) format("truetype"), asset-url("norwester.svg?9309851#fontello", font) format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Source Sans Pro', sans-serif;   
  padding: 0; margin: 0;
}

ol, ul {
	list-style: none;
    margin-left: 0;
    padding-left: 1rem;
}

#widgetContainer {
    height: auto !important;
    max-height: 32rem;
}

#widget-header {
  padding: 1rem;
  padding-bottom: 0;
}

#subHead {
  position: inherit;
  margin-top: -3.3rem;
  float: right;
  height: auto;
}

#pager > .ct {
  display: none;
}

#page-count {
  padding-left: 1rem;   
}

#_list_form_widget {
  overflow: auto;   
  overflow-y: scroll;
  height: 15rem !important;
}

a {
  text-decoration: none;
}

a:hover {
  color: #f68026;   
}

.sumlist-rw-title-widget {
  font-size: 1.2rem; 
  font-family: 'Norwester', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.sumlist-bd2-widget {
  font-size: 0.9rem;   
  font-family: 'Source Sans Pro', sans-serif;
}

.widget-job-info > p:nth-of-type(3){
  color: #747474;
}

.search-buttons > input[type=button] {
  text-transform: capitalize;
}
