---
name: about-auburn
type: about-auburn
title: About Auburn | Career Center

path-to-root: ../

layout: no-social.hbs

style:
- attributes
---
<section class="card marginless unpadded">
  <img class="hidden--unless-desktop"
       src="assets/images/about-auburn.png" 
       alt="Auburn Unversity Enrollment Statistics for the 2015-2016 Academic Year: 27,287 total students. 50% male, 50% female (200 more males). 21,768 students were undergraduate students, with 4,398 graduate students and 1,103 professional students.">
  <div class="hidden--unless-mobile padded">
    <h1>Auburn University Enrollment Statistics</h1>
    <h2 class="muted">2015-2016</h2>
    <ul>
      <li>27,287 total students</li>
      <li>50% male, 50% female</li>
      <li>21,768 undergraduate students</li>
      <li>4,398 graduate students</li>
      <li>1,103 professional students</li>
    </ul>
  </div>
</section>
<section class="card marginless blue">
  <h1>Student Life</h1>
  <div class="attributes">
    <div class="attribute">
      <a class="icon calendar" href="https://www.auburn.edu/main/auweb_calendar.html" target="_blank">
        <i class="icon-calendar"></i>
      </a>
      <div class="details">Academic Calendar</div>
    </div>
    <div class="attribute">
      <a class="icon majors" href="http://bulletin.auburn.edu/undergraduate/majors/" target="_blank">
        <i class="icon-bank"></i>
      </a>
      <p class="details">
        Majors
      </p>
    </div>  
    <div class="attribute">
      <a class="icon majors" href="http://grad.auburn.edu/ps/areas_of_study.html">
        <i class="icon-graduation-cap"></i>
      </a>
      <div class="details">Graduate Programs</div>
    </div>
  </div>
</section>
<section class="card marginless orange">
  <h1>Logistics</h1>
  <div class="attributes">
    <div class="attribute">
      <a class="icon" href="aboutus/plan-your-visit.html" target="_blank">
        <i class="icon-automobile"></i>
      </a>
      <div class="details">Plan Your Visit</div>
    </div>
    <div class="attribute">
      <a class="icon" href="https://issuu.com/aucc/docs/annualreport_1415min_is__fcd26ea9fb4e85/1" target="_blank">
        <i class="icon-file-pdf"></i>
      </a>
      <p class="details">
        Career Center Annual Report
      </p>
    </div>  
  </div>
</section>