---
ng-app: career-center-about-us
title: About Our Office | Career Center
name: about-us
---

<section class="content mission">
  <h2>Our Mission Is You</h2>
  <p>
    The Auburn University Career Center delivers comprehensive services 
    for students to explore majors, network with employers and 
    professionals, prepare for advanced education, and successfully 
    transition from college to career.
  </p>
</section>

<iframe src="http://auburn.edu/map?id=76"></iframe>

<section class="content information">
  <address class="address information-column">
    <div class="information-important"><h3><a href="http://auburn.edu/map?id=76">303 Mary Martin Hall<br/>Auburn, AL 36849</a></h3></div>
    <h2>Accessibility Concerns</h2>
    <p class="muted">
      Due to accessibility limitations of Martin
      Hall, please notify us when setting your
      appointment if accommodations are needed.
    </p>
  </address>
  <div class="hours information-column">
    <div class="information-important">
      <h3>Monday - Friday</h3>
      <p>
        7:45am - 4:45pm
      </p>
    </div>
    
    <h2>Walk-in Hours</h2>
    <h3>Monday, Thursday, Friday</h3>
    <p>
      12noon - 4pm
    </p>
    <h3>Tuesday and Wednesday</h3>
    <p>
      9am - 4pm
    </p>
  </div>
  <div class="phone information-column">
    <div class="information-important">
      <p>
        To schedule an appointment, call <br/><a href="tel:(334) 844-4744">(334) 844-4744</a>.
      </p>
    </div>
    <h2>Walk-in Policy</h2>
    <p>
      Don't worry about scheduling an appointment for 
      your first visit -- just come down and talk with
      us. We'll help you however we can.
    </p>
  </div>
</section>


