<link rel=stylesheet href="../assets/styles/event-pages.css">

<!-- Banner image -->
<img class="hero" src="../assets/images/AMCE_TV_S15.png"></img>

<div class="content">
  
  <!-- Icons -->
  <div class="attributes">
    <div class="attribute">
      <div class="icon format">
        <i class="icon-comments-o"></i>
      </div>
      <div class="details">Networking</div>
    </div>
    <div class="attribute">
      <div class="icon dress">
        <i class="icon-tie"></i>
      </div>
      <p class="details">
        Business casual
      </p>
    </div>  
    <div class="attribute">
      <div class="icon majors">
        <i class="icon-graduation-cap"></i>
      </div>
      <div class="details">Any major</div>
    </div>
  </div>
  
  <!-- Blurb -->
  <div class="row">
    <p class="blurb">
      Come on down to the All Majors Career Expo! We (and plenty of
      employers) will show you what you can do with your field of study!
    </p>
    <a class="attendants" href="https://auburn-csm.symplicity.com/events/students.php?cf=amcesp15">
      See Attending Employers
    </a>
  </div>


</div>