---
ng-app: none
name: assessments
title: Personal Assessments
---

<section class="content">
  <h2>Career Assessments</h2>
  <p>Identify fulfilling career and major options by first exploring your interests, personality, skills, and values.</p>
</section>

<section class="content extra-content focus-content">
  <h2>FOCUS</h2>
  <div class="flex focus-content-flex">
    <p class="focus-description">
      FOCUS is a self-paced, career and education planning 
      tool that enables you to self-assess your career 
      relevant personal qualities and explore career fields 
      and major areas of study that are most compatible with 
      your assessment results.
    </p>
    <div class="flat-btns">
      <a class="flat-btn" href="https://www.focuscareer2.com/Portal/Login.cfm?SID=395">Sign In</a>
      <a class="flat-btn" href="https://www.focuscareer2.com/Portal/Register.cfm?SID=395">Register</a>
    </div>
</section>

<section class="content extra-content">
  <h2 class="more-guidance-header">Additional Assessments</h2>
  <p class="more-guidance-body">
    Feel like you need more guidance? The Career Center also offers 
    the Strong Interest Inventory and TypeFocus assessments 
    to students. The Strong Interest Inventory matches your 
    interests with the interests of people who have been in 
    career fields at least three years and are happy with 
    their work. It takes about 30 minutes to complete this 
    317-item inventory and results are discussed with a 
    career counselor. TypeFocus assesses your personality 
    type and incorporates it into personalized reports that 
    offer insight into the following topics: career choices; 
    job readiness, interpersonal skills, and learning styles. 
    Come to the Career Center during our walk-in hours to see 
    if additional assessments are right for you.
  </p>
</section>