---
ng-app: none
name: assessments
type: assessments
title: Personal Assessments
layout: no-social.hbs
---

<section class="content hero">
  <h2>Career Assessments</h2>
  <p>Identify fulfilling career and major options by first exploring your interests, personality, skills, and values.</p>
</section>

<section class="content extra-content focus-content">
  <h2>FOCUS</h2>
  <div class="flex focus-content-flex">
    <p class="focus-description">
      FOCUS is a self-paced, career and education planning 
      tool that enables you to self-assess your career 
      relevant personal qualities and explore career fields 
      and major areas of study that are most compatible with 
      your assessment results.
      <br />
      <br />
      <span class="muted">
        Register with <strong>Access code</strong> 'auburn'.
      </span>
    </p>
    <div class="flat-btns">
      <a class="flat-btn" href="https://www.focuscareer2.com/Portal/Login.cfm?SID=395">Sign In</a>
      <a class="flat-btn" href="https://www.focuscareer2.com/Portal/Register.cfm?SID=395">Register</a>
    </div>
</section>

<section class="content extra-content">
  <h2 class="more-guidance-header">Additional Assessments</h2>
  <p class="more-guidance-body">
    Feel like you need more guidance? The Career Center also offers 
    the 
    <span class="assessment-type">Strong Interest Inventory</span>
    and 
    <span class="assessment-type">TypeFocus assessments</span>
    to students.
    Come to the Career Center during our 
    <a href="aboutus/index.html#walk-ins">walk-in hours</a> 
    to see if additional assessments are 
    right for you.
  </p>
  <div class="flex more-guidance-descriptions">
    <p class="muted">
      The 
      <span class="assessment-type">Strong Interest Inventory ($30)</span>
      matches your 
      interests with the interests of people who have been in 
      career fields at least three years and are happy with 
      their work. It takes about 30 minutes to complete this 
      317-item inventory and results are discussed with a 
      career counselor. 
    </p>
    <p class="muted">
      <span class="assessment-type">TypeFocus</span> 
      assesses your personality 
      type and incorporates it into personalized reports that 
      offer insight into the following topics: career choices; 
      job readiness, interpersonal skills, and learning styles. 
    </p>
  </div>
</section>