---
ng-app: none
name: assessments
title: Personal Assessments
---

<section class="content">
  <h2>Struck by uncertainty? Assess yourself!</h2>
  <p>Identify fulfilling career and major options by first exploring your interests, personality, skills, and values.</p>
</section>

<section class="content extra-content focus-content">
  <h2>FOCUS</h2>
  <div class="flex">
    <p class="focus-description">
      FOCUS is a self-paced, career and education planning 
      tool that enables you to self-assess your career 
      relevant personal qualities and explore career fields 
      and major areas of study that are most compatible with 
      your assessment results.
    </p>
    <div class="flat-btns">
      <a class="flat-btn" href="https://www.focuscareer2.com/Portal/Login.cfm?SID=395">Sign In</a>
      <a class="flat-btn" href="https://www.focuscareer2.com/Portal/Register.cfm?SID=395">Register</a>
    </div>
</section>

<section class="content extra-content">
  <h2 class="more-guidance-header">Feel like you need more guidance?</h2>
  <p class="more-guidance-body">
    Come talk to a career counselor during walk-in hours
    and see if additional assessments make sense for you.
    No appointment necessary!
  </p>
</section>