---
ng-app: career-center-campus-partners
title: Campus Partners | Career Center
name: campus-partners
type: campus-partners
layout: no-social.hbs

path-to-root: ../

style:
- location-card
- contact
---

<section class="card">
  <h2>Campus Partners</h2>
  <p>
    Below are the colleges and departments who partner 
    with the Career Center to serve Auburn students.
  </p>
</section>

<div class="location-card card unpadded">
  <div class="visual">
    <img class="harbert" 
         src="assets/images/campus-partners/auburn-harbert-college-business-banner.jpg" 
         alt="The Harbert Building, home to the Harbert College of Business.">
    <div class="visual-content">
      <div class="overlay"></div>
      <h2>Harbert College of Business</h2>
    </div>
  </div>
  <section class="details padded flex">
    <div class="contact flex-half">
      <div class="address">
        <a href="http://auburn.edu/map?id=25">
          101 Lowder Building
        </a>
      </div>
      <div class="phone">
        <a href="tel:3348447203">(334) 844-7203</a>
      </div>
      <div class="email">
        <a href="mailto:opcd@auburn.edu">opcd@auburn.edu</a>
      </div>
    </div>
    <div class="info flex-half">
      <p>
        Office of Professional and Career Development (OPCD) helps 
        students assess and develop their business professional skills, 
        focus their interests and leverage their talents to find the 
        career that is the perfect fit.
      </p>
      <a href="http://harbert.auburn.edu/office-of-professional-career-development/" class="flat-btn">Visit Site</a>
    </div>
  </section>
</div>

<div class="location-card card unpadded">
  <div class="visual">
    <img class="mcwhorter" 
         src="assets/images/campus-partners/mcwhorter-school-building-science-banner.jpg"
         alt="The Gorrie Center.">
    <div class="visual-content">
      <div class="overlay"></div>
      <h2>McWhorter School of Building Science</h2>
    </div>
  </div>
  <section class="details padded flex">
    <div class="contact flex-half">
      <div class="address"><a href="http://auburn.edu/map?id=178">118D Gorrie Center</a></div>
      <div class="phone"><a href="tel:3348445314">(334) 844-5314</a></div>
      <div class="email"><a href="mailto:callocd@auburn.edu">Cassandra Calloway<br/><span class="muted">Career Specialist</span></a></div>
    </div>
    <div class="info flex-half">
      <p>
        The McWhorter School of Building Science (BSCI) maintains a proud 
        tradition of practical and professional construction education, 
        offering both Bachelor and Masters Degrees in Building Construction. 
        It is a leader in exploring Information Technology applications in 
        construction and construction education.
      </p>
      <a href="http://cadc.auburn.edu/construction" class="flat-btn">Visit Site</a>
    </div>
  </section>
</div>

<div class="location-card card unpadded">
  <div class="visual">
    <img class="ginn" 
         src="assets/images/campus-partners/ginn-college-engineering-banner.jpg"
         alt="The Samuel Ginn College of Engineering.">
    <div class="visual-content">
      <div class="overlay"></div>
      <h2>Ginn College of Engineering</h2>
    </div>
  </div>
  <section class="details padded flex">
    <div class="contact flex-half">
      <div class="address"><a href="http://auburn.edu/map?id=185">1301 Shelby Center</a></div>
      <div class="phone"><a href="tel:3348445314">(334) 844-7887</a></div>
      <div class="email"><a href="mailto:ischeme@auburn.edu">Merrette Ische<br/><span class="muted">Career Specialist</span></a></div>
    </div>
    <div class="info flex-half">
      <p>
        Auburn Engineering is committed to educating engineers who can solve 
        the world's greatest challenges. This commitment includes a passion
        for elevating the college to the next level of academic and research 
        performance, and making discoveries that impact the quality of life 
        for people everywhere.
      </p>
      <a href="http://eng.auburn.edu/current-students/job-resources/index.html" class="flat-btn">Visit Site</a>
    </div>
  </section>
</div>

<div class="location-card card unpadded">
  <div class="visual">
    <img class="coa" 
         src="assets/images/campus-partners/college-agriculture-banner.jpg"
         alt="The front of Comer Hall, home to our prestigious College of Architecture.">
    <div class="visual-content">
      <div class="overlay"></div>
      <h2>College of Agriculture</h2>
    </div>
  </div>
  <section class="details padded flex">
    <div class="contact flex-half">
      <div class="address"><a href="http://auburn.edu/map?id=84">105 Comer Hall</a></div>
      <div class="phone"><a href="tel:3348445314">(334) 844-4768</a></div>
      <div class="email"><a href="mailto:agstusv@auburn.edu">Student Services</a></div>
    </div>
    <div class="info flex-half">
      <p>
        Auburn University's College of Agriculture strives to prepare 
        the next generation of scientists, business leaders, community 
        leaders and policymakers through high-quality instruction to 
        solve societal problems related to food, fiber, energy, the 
        environment and human health and well-being.
      </p>
      <a href="http://agriculture.auburn.edu/academics/careers-in-agriculture/" class="flat-btn">Visit Site</a>
    </div>
  </section>
</div>