---
ng-app: career-center-campus-partners
title: Campus Partners | Career Center
name: campus-partners
---

<section class="content campus-content">
  <h2>Campus Partners</h2>
  <p>
    Below are other offices around the
    university concerned with students and
    their careers!
  </p>
</section>

<div class="hero">
  <img class="harbert" src="assets/images/campus-partners/auburn-harbert-college-business-banner.jpg">
  <div class="hero-content">
    <div class="overlay"></div>
    <h2>Office of Professional Career Development</h2>
  </div>
</div>
<section class="content partner-content">
  <div class="partner-contact">
    <div class="address">
      <a href="http://auburn.edu/map?id=25">
        101 Lowder Building
      </a>
    </div>
    <div class="phone">
      <a href="tel:3348447203">(334) 844-7203</a>
    </div>
    <div class="email">
      <a href="mailto:opcd@auburn.edu">opcd@auburn.edu</a>
    </div>
  </div>
  <div class="partner-info">
    <p>
      The Harbert College of Business' OPCD is a 
      wonderful resource for making connections
      in a competitive market for business majors.
    </p>
    <a href="http://harbert.auburn.edu/office-of-professional-career-development/" class="flat-btn">Visit Site</a>
  </div>
</section>

<div class="hero">
  <img class="mcwhorter" src="assets/images/campus-partners/mcwhorter-school-building-science-banner.jpg">
  <div class="hero-content">
    <div class="overlay"></div>
    <h2>McWhorter School of Building Science</h2>
  </div>
</div>
<section class="content partner-content">
  <div class="partner-contact">
    <div class="address"><a href="http://auburn.edu/map?id=178">118D Gorrie Center</a></div>
    <div class="phone"><a href="tel:3348445314">(334) 844-5314</a></div>
    <div class="email"><a href="mailto:callocd@auburn.edu">Cassandra Calloway</a></div>
  </div>
  <div class="partner-info">
    <p>
      The McWhorter School of Building Science sets 
      students up for career success by offering 
      resume building workshops, mock interviews, 
      job and internship search assistance, and 
      networking tips.
    </p>
    <a href="http://cadc.auburn.edu/construction" class="flat-btn">Visit Site</a>
  </div>
</section>

<div class="hero">
  <img class="ginn" src="assets/images/campus-partners/ginn-college-engineering-banner.jpg">
  <div class="hero-content">
    <div class="overlay"></div>
    <h2>Ginn College of Engineering</h2>
  </div>
</div>
<section class="content partner-content">
  <div class="partner-contact">
    <div class="address"><a href="http://auburn.edu/map?id=185">1301 Shelby Center</a></div>
    <div class="phone"><a href="tel:3348445314">(334) 844-7887</a></div>
    <div class="email"><a href="mailto:ischeme@auburn.edu">Merrette Ische</a></div>
  </div>
  <div class="partner-info">
    <p>
      The Engineering Career Connection assists students 
      looking to take the next step in their college career 
      by building and sharing connections with corporate 
      recruiters, Auburn University Career Center, and 
      alumni to provide students with the information, 
      experience and resources they need to pursue their 
      internship and employment goals.
    </p>
    <a href="http://eng.auburn.edu/current-students/job-resources/index.html" class="flat-btn">Visit Site</a>
  </div>
</section>