<!-- Banner image -->
<div class="hero">
  <img src="../assets/images/CMCD_Webpage_Image(S15).png"></img>
</div>

<div class="content">
  <!-- Blurb -->
  <div class="row">
    <p class="blurb">
      Wanting to gain experience in Communication, Journalism, Public Relations, Radio, Television and Film, and/or Agricultural Communication?<br/><br/>
      Come to the Communication and Media Career Day to network with employers offering summer internships and employment.
    </p>
    <div class="buttons">
      <a class="flat-btn attendants" href="https://auburn-csm.symplicity.com/events/students.php?cf=cmcdsp15">
        See Attending Employers
      </a>
    </div>
  </div>
  <!-- Icons -->
  <div class="attributes">
    <div class="attribute">
      <div class="icon format">
        <i class="icon-comments-o"></i>
      </div>
      <div class="details">Networking</div>
    </div>
    <div class="attribute">
      <div class="icon dress">
        <i class="icon-tie"></i>
      </div>
      <p class="details">
        Business casual recommended
      </p>
    </div>  
    <div class="attribute">
      <div class="icon majors">
        <i class="icon-graduation-cap"></i>
      </div>
      <div class="details">Any major</div>
    </div>
  </div>
</div>