---
title: Department Contacts | Career Center
name: dept-contacts
type: dept-contacts
layout: no-social.hbs
path-to-root: ../

style:
- location-card
- contact
- accordion
---

<section class="card">
  <h2>Need credit for an internship?</h2>
  <p>
    Students considering credit bearing internships in the 
    following majors should contact the faculty/staff person 
    listed for the major to discuss course credit requirements. 
    <span class="desktop-show">
      Please note that not all academic programs allow room in the 
      curriculum for credit bearing internships. Students who are 
      not able to receive credit through their academic program 
      are encouraged to seek non-credit bearing internships during 
      academic breaks.
    </span>
  </p>
</section>
<section class="flex department-contacts">
  <div class="location-card card unpadded flex-half">
    <div class="visual">
      <img class="coa" 
           src="assets/images/campus-partners/college-agriculture-banner.jpg"
           alt="The front of Comer Hall, home to our prestigious College of Architecture.">
      <div class="visual-content">
        <div class="overlay"></div>
        <h2>College of Agriculture</h2>
      </div>
    </div>
    <div class="details padded">
      <div class="contact">
        <div class="address"><a href="http://auburn.edu/map?id=84">105 Comer Hall</a></div>
        <div class="phone"><a href="tel:3348445314">(334) 844-4768</a></div>
      </div>
      <div class="info">
        <div class="accordion card unpadded">
          <a class="collapsed accordion-header flat-btn" data-toggle="collapse" id="ag-heading" href="#ag" role="tab" aria-expanded="false" aria-controls="ag">
            <span class="desktop-show">Major-Specific </span>Contacts
          </a>
          <div style="height: 0px;" aria-expanded="false" id="ag" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ag-heading">
            <a class="dept-contact accordion-entry" href="mailto:fieldde@auburn.edu">Agricultural Business and Economics<span class="muted">Dr. Deacue Fields</span></a>
            <a class="dept-contact accordion-entry" href="mailto:fieldde@auburn.edu">Agricultural Communications<span class="muted">Dr. Deacue Fields</span></a>
            <a class="dept-contact accordion-entry" href="mailto:guertea@auburn.edu">Agronomy and Soils<span class="muted">Dr. Beth Guertal</span></a>
            <a class="dept-contact  accordion-entry" href="mailto:chuntington@auburn.edu">Animal Sciences<span class="muted">Dr. Carolyn Huntington</span></a>
            <a class="dept-contact  accordion-entry" href="mailto:bradyyj@auburn.edu">Fisheries and Allied Aquacultures<span class="muted">Dr. Yolanda Brady</span></a>
            <a class="dept-contact  accordion-entry" href="mailto:pondehg@auburn.edu">Horticultures<span class="muted">Dr. Harry Ponder</span></a>
            <a class="dept-contact  accordion-entry" href="mailto:lienrog@auburn.edu">Poultry Science<span class="muted">Dr. Roger Lien</span></a>
          </div>
        </div>
      </div>
    </div>
    <a href="http://agriculture.auburn.edu/academics/careers-in-agriculture/" class="flat-btn flat-btn--bottom">Visit Site</a>
  </div>

  <div class="location-card card unpadded flex-half">
    <div class="visual">
      <img class="dudley" src="assets/images/campus-partners/dudley-banner.jpg" alt="Dudley Hall, home to the College of Architecture, Design, and Construction.">
      <div class="visual-content">
        <div class="overlay"></div>
        <h2>College of Architecture, Design, and Construction</h2>
      </div>
    </div>
    <div class="details padded">
      <div class="contact">
        <div class="address"><a href="http://auburn.edu/map/?id=93">120 Dudley Hall</a></div>
        <div class="phone"><a href="tel:334-844-5350">(334) 844-5350</a></div>
      </div>
      <div class="info">
        <p>
          The College of Architecture, Design and Construction Communications email address accepts questions
          of all kinds for the CADC. Inquiring students should shoot them an email to learn about potential
          academic credit for internships.
        </p>
      </div>
    </div>
    <a href="http://cadc.auburn.edu/explore-cadc/resources/student-services" class="flat-btn flat-btn--bottom">Visit Site</a>
  </div>

  <div class="location-card card unpadded flex-half">
    <div class="visual">
      <img class="harbert" src="assets/images/campus-partners/auburn-harbert-college-business-banner.jpg" alt="The Harbert Building, home to the Harbert College of Business.">
      <div class="visual-content">
        <div class="overlay"></div>
        <h2>Harbert College of Business</h2>
      </div>
    </div>
    <div class="details padded">
      <div class="contact">
        <div class="address">
          <a href="http://auburn.edu/map?id=25">
            101 Lowder Building
          </a>
        </div>
        <div class="phone">
          <a href="tel:3348447203">(334) 844-7203</a>
        </div>
      </div>
      <div class="info">
        <p>
          Business students should contact the OPCD to learn more about receiving
          academic credit for their internships.
        </p>
      </div>
    </div>
    <a href="http://harbert.auburn.edu/office-of-professional-career-development/" class="flat-btn flat-btn--bottom">Visit Site</a>
  </div>

  <div class="location-card card unpadded flex-half">
    <div class="visual">
      <img class="haley" src="assets/images/campus-partners/haley-banner.jpg" alt="The Haley Center, the center of Auburn University's education program.">
      <div class="visual-content">
        <div class="overlay"></div>
        <h2>College of Education</h2>
      </div>
    </div>
    <div class="details padded">
      <div class="contact">
        <div class="address"><a href="http://auburn.edu/map?id=62">3084 Haley Center</a></div>
        <div class="phone"><a href="tel:3348444446">(334) 844-4446</a></div>
      </div>
      <div class="info">
        <p>
          Education students looking for academic internship credit
          should discuss this possibility with their respective academic
          advisors.
        </p>
      </div>
    </div>
    <a href="http://www.education.auburn.edu/edustudents/advising/pesstaff.html" class="flat-btn flat-btn--bottom">View Advisors</a>
  </div>

  <div class="location-card card unpadded flex-half">
    <div class="visual">
      <img class="ginn" src="assets/images/campus-partners/ginn-college-engineering-banner.jpg" alt="The Samuel Ginn College of Engineering.">
      <div class="visual-content">
        <div class="overlay"></div>
        <h2>Ginn College of Engineering</h2>
      </div>
    </div>
    <div class="details padded">
      <div class="contact">
        <div class="address"><a href="http://auburn.edu/map?id=185">1301 Shelby Center</a></div>
        <div class="phone"><a href="tel:3348445314">(334) 844-7887</a></div>
      </div>
      <div class="info">
        <p>
          Engineering students looking for academic internship credit
          should discuss this possibility with their respective academic
          advisors.
        </p>
      </div>
    </div>

    <a href="http://eng.auburn.edu/current-students/academic-advising/index.html" class="flat-btn flat-btn--bottom">View Advisors</a>
  </div>

  <div class="location-card card unpadded flex-half">
    <div class="visual">
      <img class="fws" src="assets/images/campus-partners/fws-banner.jpg" alt="The Forestry and Wildlife Sciences building.">
      <div class="visual-content">
        <div class="overlay"></div>
        <h2>School of Forestry and Wildlife Sciences</h2>
      </div>
    </div>
    <div class="details padded">
      <div class="contact">
        <div class="address"><a href="http://auburn.edu/map?id=149">FWS Building</a></div>
        <div class="phone"><a href="tel:3348441001">(334) 844-1001</a></div>
      </div>
      <div class="info">
        <p>
          Forestry and wildlife science students looking for academic internship credit
          should discuss this possibility with their respective academic
          advisors.
        </p>
      </div>
    </div>

    <a href="http://wp.auburn.edu/sfws/students/current-students/student-services/academic-advising/" class="flat-btn flat-btn--bottom">View Advising Information</a>
  </div>

  <div class="location-card card unpadded flex-half">
    <div class="visual">
      <img class="humsci" src="assets/images/campus-partners/humsci-banner.jpg" alt="The College of Human Sciences.">
      <div class="visual-content">
        <div class="overlay"></div>
        <h2>College of Human Sciences</h2>
      </div>
    </div>
    <div class="details padded">
      <div class="contact">
        <div class="address"><a href="http://auburn.edu/map?id=79">266 Spidle Hall</a></div>
        <div class="phone"><a href="tel:3348444790">(334) 844-4790</a></div>
      </div>
      <div class="info">
        <p>
          Students of the human sciences should use the major-specific contacts listed below;
          they are typically internship coordinators for their field. If your major isn't listed,
          contact Jan Casson or your academic advisor.
        </p>
        <div class="accordion card unpadded">
          <a class="collapsed accordion-header flat-btn" data-toggle="collapse" id="humsci-heading" href="#humsci" role="tab" aria-expanded="false" aria-controls="humsci">
            <span class="desktop-show">Major-Specific </span>Contacts
          </a>
          <div style="height: 0px;" aria-expanded="false" id="humsci" class="panel-collapse collapse" role="tabpanel" aria-labelledby="humsci-heading">
            <a class="dept-contact  accordion-entry" href="mailto:anderja@auburn.edu">Human Development and Family Studies<span class="muted">Dr. Jamie Sailors</span></a>
            <a class="dept-contact  accordion-entry" href="mailto:groppss@auburn.edu">Nutrition<span class="muted">Dr. Sareen Gropper</span></a>
            <a class="dept-contact  accordion-entry" href="mailto:peekpau@auburn.edu">Interior Design<span class="muted">Dr. Paula Peek</span></a>
            <a class="dept-contact  accordion-entry" href="mailto:martida@auburn.edu">Hotel and Restaurant Management<span class="muted">Dr. David Martin</span></a>
            <a class="dept-contact  accordion-entry" href="mailto:ulricpv@auburn.edu">Apparel Mechandising and Design (Design)<span class="muted">Dr. Pamela Ulrich</span></a>
            <a class="dept-contact  accordion-entry" href="mailto:forsysa@auburn.edu">Apparel Merchandising and Design (Apparel)<span class="muted">Dr. Sandra Forsythe</span></a>
          </div>
        </div>
      </div>
    </div>
    <a href="http://www.humsci.auburn.edu/acad/advising.php" class="flat-btn flat-btn--bottom">View Advisors</a>
  </div>

  <div class="location-card card unpadded flex-half">
    <div class="visual">
      <img class="cola" src="assets/images/campus-partners/cola-banner.jpg" alt="The front of Tichenor Hall, home of the College of Liberal Arts.">
      <div class="visual-content">
        <div class="overlay"></div>
        <h2>College of Liberal Arts</h2>
      </div>
    </div>
    <div class="details padded">
      <div class="contact">
        <div class="address"><a href="http://auburn.edu/map?id=1">321 Tichenor Hall</a></div>
        <div class="phone"><a href="tel:3348444026">(334) 844-4026</a></div>
      </div>
      <div class="info">
        <p>
          Liberal arts students whose majors aren't listed under Major-Specific Contacts
          should contact their department head or academic advisor for information about 
          internship credit.
        </p>
        <div class="accordion card unpadded">
          <a class="collapsed accordion-header flat-btn" data-toggle="collapse" id="cola-heading" href="#cola" role="tab" aria-expanded="false" aria-controls="cola">
            <span class="desktop-show">Major-Specific </span>Contacts<i></i>
          </a>
          <div style="height: 0px;" aria-expanded="false" id="cola" class="panel-collapse collapse" role="tabpanel" aria-labelledby="cola-heading">
            <a class="dept-contact  accordion-entry" href="mailto:sheppje@auburn.edu">Communication <span class="muted">Judy Sheppard</span></a>
            <a class="dept-contact  accordion-entry" href="mailto:gmh0003@auburn.edu">Health Services Administration<span class="muted">Gail Holmes</span></a>
            <a class="dept-contact  accordion-entry" href="mailto:smithrw@auburn.edu">Journalism<span class="muted">Ric Smith</span></a>
            <a class="dept-contact  accordion-entry" href="mailto:smithrw@auburn.edu">Radio, Television, and Film<span class="muted">Ric Smith</span></a>
            <a class="dept-contact  accordion-entry" href="mailto:kellywe@auburn.edu">Political Science<span class="muted">Dr. William Kelly</span></a>
          </div>
        </div>
      </div>
    </div>

    <a href="http://www.cla.auburn.edu/cla/student-services/advisors/" class="flat-btn flat-btn--bottom">View Advisors</a>
  </div>

  <div class="location-card card unpadded flex-half">
    <div class="visual">
      <img class="nursing" src="assets/images/campus-partners/nursing-banner.jpg" alt="Miller Hall, home to the School of Nursing.">
      <div class="visual-content">
        <div class="overlay"></div>
        <h2>School of Nursing</h2>
      </div>
    </div>
    <div class="details padded">
      <div class="contact">
        <div class="address"><a href="http://auburn.edu/map?id=24">102 Miller Hall</a></div>
        <div class="phone"><a href="tel:3348445665">(334) 844-5665</a></div>
      </div>
      <div class="info flex-half">
      </div>
    </div>

    <a href="https://cws.auburn.edu/nursing/" class="flat-btn flat-btn--bottom">View Site</a>
  </div>

  <div class="location-card card unpadded flex-half">
    <div class="visual">
      <img class="cosam" src="assets/images/campus-partners/cosam-banner.jpg" alt="The Science Center Classrooms, home to the College of Sciences and Mathematics.">
      <div class="visual-content">
        <div class="overlay"></div>
        <h2>College of Sciences and Mathematics</h2>
      </div>
    </div>
    <div class="details padded">
      <div class="contact">
        <div class="address"><a href="http://auburn.edu/map?id=174">249 SC Classroom</a></div>
        <div class="phone"><a href="tel:3348445737">(334) 844-5737</a></div>
      </div>
      <div class="info">
        <p>
          Students in CoSaM whose majors are not listed here should 
          contact their academic advisors for internship credit information.
        </p>
        <div class="accordion card unpadded">
          <a class="collapsed accordion-header flat-btn" data-toggle="collapse" id="cosam-heading" href="#cosam" role="tab" aria-expanded="false" aria-controls="cosam">
            <span class="desktop-show">Major-Specific </span>Contacts<i></i>
          </a>
          <div style="height: 0px;" aria-expanded="false" id="cosam" class="panel-collapse collapse" role="tabpanel" aria-labelledby="cosam-heading">
            <a class="dept-contact  accordion-entry" href="mailto:millyka@auburn.edu">Laboratory Technology<span class="muted">Kat Milly West</span></a>
            <a class="dept-contact  accordion-entry" href="mailto:millyka@auburn.edu">Medical Technology<span class="muted">Kat Milly West</span></a>
          </div>
        </div>
      </div>
    </div>
    <a href="http://www.auburn.edu/cosam/" class="flat-btn flat-btn--bottom">View Site</a>
  </div>
</section>