---
title: Department Contacts | Career Center
name: dept-contacts
type: dept-contacts
layout: no-social.hbs
---

<section class="content campus-content">
  <h2>Need credit for an internship?</h2>
  <p>
    Below are the contacts for each department on campus
    that can help you receive the academic credit you earned
    through your internship.
  </p>
</section>

<div class="hero">
  <img class="harbert" src="assets/images/campus-partners/auburn-harbert-college-business-banner.jpg">
  <div class="hero-content">
    <div class="overlay"></div>
    <h2>Harbert College of Business</h2>
  </div>
</div>
<section class="content partner-content">
  <div class="partner-contact">
    <div class="address">
      <a href="http://auburn.edu/map?id=25">
        101 Lowder Building
      </a>
    </div>
    <div class="phone">
      <a href="tel:3348447203">(334) 844-7203</a>
    </div>
    <div class="email">
      <a href="mailto:opcd@auburn.edu">OPCD<span class="muted">General Contact</span></a>
    </div>
  </div>
  <div class="partner-contact">
    <a href="http://harbert.auburn.edu/office-of-professional-career-development/" class="flat-btn">Visit Site</a>
  </div>
</section>

<div class="hero">
  <img class="dudley" src="assets/images/campus-partners/dudley-banner.jpg">
  <div class="hero-content">
    <div class="overlay"></div>
    <h2>College of Architecture, Design, and Construction</h2>
  </div>
</div>
<section class="content partner-content">
  <div class="partner-contact">
    <div class="address"><a href="http://auburn.edu/map/?id=93">120 Dudley Hall</a></div>
    <div class="phone"><a href="tel:334-844-5350">(334) 844-5350</a></div>
    <div class="email"><a href="mailto:cadc.communications@auburn.edu">CADC Communications<span class="muted">General Contact</span></a></div>
  </div>
  <div class="partner-contact">
    <a href="http://cadc.auburn.edu" class="flat-btn">Visit Site</a>
  </div>
</section>

<div class="hero">
  <img class="ginn" src="assets/images/campus-partners/ginn-college-engineering-banner.jpg">
  <div class="hero-content">
    <div class="overlay"></div>
    <h2>Ginn College of Engineering</h2>
  </div>
</div>
<section class="content partner-content">
  <div class="partner-contact">
    <div class="address"><a href="http://auburn.edu/map?id=185">1301 Shelby Center</a></div>
    <div class="phone"><a href="tel:3348445314">(334) 844-7887</a></div>
    <div class="email"><a href="mailto:ischeme@auburn.edu">Merrette Ische<span class="muted">General Contact</span></a></div>
  </div>
  <div class="partner-contact">
    <p>
      Engineering students looking for academic internship credit
      should discuss this possibility with their respective academic
      advisors.
    </p>
    <a href="http://eng.auburn.edu/current-students/academic-advising/index.html" class="flat-btn">Visit Site</a>
  </div>
</section>

<div class="hero">
  <img class="coa" src="assets/images/campus-partners/college-agriculture-banner.jpg">
  <div class="hero-content">
    <div class="overlay"></div>
    <h2>College of Agriculture</h2>
  </div>
</div>
<section class="content partner-content">
  <div class="partner-contact">
    <div class="address"><a href="http://auburn.edu/map?id=84">105 Comer Hall</a></div>
    <div class="phone"><a href="tel:3348445314">(334) 844-4768</a></div>
    <div class="email"><a href="mailto:agstusv@auburn.edu">Student Services<span class="muted">General Contact</span></a></div>
  </div>
  <div class="partner-info">
    <a href="http://agriculture.auburn.edu/academics/careers-in-agriculture/" class="flat-btn">Visit Site</a>
    <div class="dept-accordion">
      <a class="collapsed accordion-header" data-toggle="collapse" id="ag-heading" href="#ag" role="tab" aria-expanded="false" aria-controls="ag">
        <h2>Major-Specific Contacts<i></i></h2>
      </a>
      <div style="height: 0px;" aria-expanded="false" id="ag" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ag-heading">
        <a class="dept-contact" href="mailto:fieldde@auburn.edu">Agricultural Business and Economics<span class="muted">Dr. Deacue Fields</span></a>
        <a class="dept-contact" href="mailto:fieldde@auburn.edu">Agricultural Communications<span class="muted">Dr. Deacue Fields</span></a>
        <a class="dept-contact" href="mailto:guertea@auburn.edu">Agronomy and Soils<span class="muted">Dr. Beth Guertal</span></a>
        <a class="dept-contact" href="mailto:chuntington@auburn.edu">Animal Sciences<span class="muted">Dr. Carolyn Huntington</span></a>
        <a class="dept-contact" href="mailto:bradyyj@auburn.edu">Fisheries and Allied Aquacultures<span class="muted">Dr. Yolanda Brady</span></a>
        <a class="dept-contact" href="mailto:pondehg@auburn.edu">Horticultures<span class="muted">Dr. Harry Ponder</span></a>
        <a class="dept-contact" href="mailto:lienrog@auburn.edu">Poultry Science<span class="muted">Dr. Roger Lien</span></a>
      </div>
    </div>
  </div>
</section>