<!-- Banner image -->
<div class="hero">
  <img class="hero" src="../assets/images/EID_Webpage_Image(S15).png"></img>
</div>

<div class="content">    
  <!-- Blurb -->
  <div class="row">
    <p class="blurb">
      If you are an aspiring educator, consider attending Education Interview Day.  Explore open positions, network with potential employers, and interview for your dream job all in one day!  
    </p>
    <div class="buttons">
      <a class="flat-btn attendants" href="https://auburn-csm.symplicity.com/events/students.php?cf=amcesp15">
        See Attending Employers
      </a>
    </div>
  </div>
  
  <div class="schedule">
    <div class="activity">
      <div class="name">Registration</div>
      <div class="duration">8<span class="meridiem">am</span> - 9<span class="meridiem">am</span></div>
    </div>
    <div class="activity">
      <div class="name">Browse positions, network, and schedule interviews</div>
      <div class="duration">9<span class="meridiem">am</span> - 10<span class="meridiem">am</span></div>
    </div>
    <div class="activity">
      <div class="name">Interviews</div>
      <div class="duration">10<span class="meridiem">am</span> - 3<span class="meridiem">pm</span></div>
    </div>
  </div>
  
  <!-- Icons -->
  <div class="attributes">
    <div class="attribute">
      <div class="icon format">
        <i class="icon-comments-o"></i>
      </div>
      <div class="details">Scheduled interviews</div>
    </div>
    <div class="attribute">
      <div class="icon dress">
        <i class="icon-tie"></i>
      </div>
      <p class="details">
        Business professional required
      </p>
    </div>  
    <div class="attribute">
      <div class="icon population">
        <i class="icon-group"></i>
      </div>
      <div class="details">Dozens of schools</div>
    </div>
  </div>



</div>