<!-- Banner image -->
<img class="hero" src=""></img>

<div class="content">
  
  <!-- Icons -->
  <div class="attributes">
    <div class="attribute">
      <div class="icon format">
        <i class="icon-comments-o"></i>
      </div>
      <div class="details">Interview by appointment</div>
    </div>
    <div class="attribute">
      <div class="icon dress">
        <i class="icon-tie"></i>
      </div>
      <p class="details">
        Business professional
      </p>
    </div>  
    <div class="attribute">
      <div class="icon majors">
        <i class="icon-graduation-cap"></i>
      </div>
      <div class="details">Education majors only</div>
    </div>
  </div>
  
  <!-- Blurb -->
  <div class="row">
    <p class="blurb">
      Come sign up and interview with employers in one hectic but helpful day! <br /> <br />
      <strong>Registration:</strong> 8am-9am <br />
      <strong>Browsing and scheduling:</strong> 9-10 <br />
      <strong>Interviews:</strong> 10am - 3am
    </p>
    <a class="attendants" href="https://auburn-csm.symplicity.com/events/students.php?cf=amcesp15">
      See Attending Employers
    </a>
  </div>


</div>