---
title: eResume Submitted | Career Center
name: eresume-submission
type: presentations
layout: no-social.hbs
---
<section class="content">  
  <p>
    <?php

      // Email settings
      $target      = "Jake";
      $email       = "milieu@javakat.io";
      $to          = $target . " <" . $email . ">";
      $from        = "eResume Automail Service";
      $fromAddress = "eResume@auburn.edu";
      $subject     = "[eResume] " . $_POST["name"];
      $mainMessage = "NAME:<br />" . $_REQUEST["name"] . "<br /><br />LOOKING TO FILL ROLE:<br />" . $_REQUEST["job"];
      $headers     = "From: " . $from . " <" . $fromAddress . ">";

      // File settings
      $MAX_FILE_SIZE = 1024; // KB
      $ALLOWED_EXTENSIONS = array('doc', 'docx', 'pdf');
      $UPLOAD_DIR = 'tmp/';

      // File validation
      $filename =
          basename($_FILES['resume']['name']);
      $filetype =
          substr($filename,
            strrpos($filename, '.') + 1);
      $filesize =
          $_FILES['resume']['size'] / 1024;   //size in KBs
      
      if($filesize > $MAX_FILE_SIZE) {
        $errors .= '\n Size of uploaded file must be smaller than $MAX_FILE_SIZE KB.';
      }
      for($i = 0; $i < sizeof($ALLOWED_EXTENSIONS); $i++) {
        if(strcasecmp($ALLOWED_EXTENSIONS[$i], $filetype) == 0) {
          $allowedtype = true;
        }
      }
      if(!$allowedtype) {
        $errors .= '\n Invalid file type. Accepted file types are: ' 
                . implode('\n\t', $ALLOWED_EXTENSIONS);
      }
      
      $filename = $UPLOAD_DIR . $filename;
      move_uploaded_file($_FILES['resume']['tmp_name'], $filename);

      $file = fopen($filename, 'rb'); 
      $data = fread($file, filesize($filename)); 
      fclose($file); 
      $semi_rand = md5(time()); 
      $mime_boundary = "==Multipart_Boundary_x{$semi_rand}x"; 
      $headers .= "\nMIME-Version: 1.0\n" 
                . "Content-Type: multipart/mixed;\n" 
                . " boundary=\"{$mime_boundary}\""; 
      $msg = "This is a multi-part message in MIME format.\n\n"
            . "--{$mime_boundary}\n" 
            . "Content-Type:text/html; charset=\"iso-8859-1\"\n" 
            . "Content-Transfer-Encoding: 7bit\n\n" 
            . $mainMessage . "\n\n"; 
      $data = chunk_split(base64_encode($data)); 
      $msg .= "--{$mime_boundary}\n" 
            . "Content-Type: {$filetype};\n" 
            . " name=\"{$filename}\"\n" 
            . "Content-Transfer-Encoding: base64\n\n" 
            . $data . "\n\n" 
            . "--{$mime_boundary}--\n";   
      $ok = mail($to, $subject, $msg, $headers);

      // Send the email
      if($ok) {
          echo "The email was sent.";
      }
      else {
          echo "There was an error sending the mail.";
          echo $errors;
      }
      unlink($filename);
    ?>

  </p>
  <p>Your eResume has been submitted.</p>
</section>