---
ng-app: career-center-events
name: events-page
type: events
title: Events | Career Center

layout: no-social.hbs

path-to-root: ../

component:
- calendar

style:
- calendar
---

<div class="buttons--top">
  <a class="flat-btn flat-btn--white" href="employers/events">View Employer Event Registration</a>
</div>

<div class="card calendar">
  <h2>Career Events This Month</h2>
  <ul ng-controller="month-ctrl">
    <li class="event" ng-repeat="event in events">
      <div class="event-date">
        <div class="event-date-month">[[ event.date['shortened-month'] ]]</div>
        <div class="event-date-day">[[ event.date.day ]]</div>
      </div>
      <div class="event-details">
        <a ng-if="event.url !== undefined" href="[[ event.url ]]" class="event-details-name" target="_blank">[[ event.name ]]</a>
        <a ng-if="event.abbrev !== undefined" href="students/events/[[ event.abbrev ]].html" class="event-details-name" target="_blank">[[ event.name ]]</a>
        <div ng-if="event.url === undefined && event.abbrev === undefined" class="event-details-name">[[ event.name ]]</div>
        <div class="event-details-location">[[ event.location ]]</div>
        <div ng-if="event.date.time !== undefined && event.date.time !== undefined" class="event-details-time"><span ng-if="event.date.time.start !== undefined">[[ event.date.time.start ]] - </span>[[ event.date.time.end ]]</div>
        <div ng-if="event.date.time === undefined && event.dates !== undefined" class="event-details-time">All day, continues until [[ event.dates.end ]]</div>
        <div ng-if="event.date.time === undefined && event.dates === undefined" class="event-details-time">All day</div>
      </div>
    </li>
  </ul>
</div>

<div class="card calendar">
  <h2>Future Events</h2>
  <ul ng-controller="calendar-ctrl">
    <li class="event" ng-repeat="event in events">
      <div class="event-date">
        <div class="event-date-month">[[ event.date['shortened-month'] ]]</div>
        <div class="event-date-day">[[ event.date.day ]]</div>
      </div>
      <div class="event-details">
        <a ng-if="event.url !== undefined" href="[[ event.url ]]" class="event-details-name" target="_blank">[[ event.name ]]</a>
        <a ng-if="event.abbrev !== undefined" href="students/events/[[ event.abbrev ]].html" class="event-details-name" target="_blank">[[ event.name ]]</a>
        <div ng-if="event.url === undefined && event.abbrev === undefined" class="event-details-name">[[ event.name ]]</div>
        <div class="event-details-location">[[ event.location ]]</div>
        <div ng-if="event.date.time !== undefined && event.date.time !== undefined" class="event-details-time"><span ng-if="event.date.time.start !== undefined">[[ event.date.time.start ]] - </span>[[ event.date.time.end ]]</div>
        <div ng-if="event.date.time === undefined && event.dates !== undefined" class="event-details-time">All day, continues until [[ event.dates.end ]]</div>
        <div ng-if="event.date.time === undefined && event.dates === undefined" class="event-details-time">All day</div>
      </div>
    </li>
  </ul>
</div>