---
layout: no-social.hbs
name: experience
type: experience
path-to-root: ../
title: Experience | Career Center
component:
- experience
---
<div class="slide header" id="experience">
  <div class="experience-bg"></div>
  <div class="experience-header">
    <h2>Experience</h2>
    <p class="zone-blurb">
      Gaining experience before graduation is more important now than ever.
      In the 2015 National Association of Colleges and Employers (NACE) Job 
      Outlook survey, 92.6% of hiring managers indicated a preference for 
      hiring new grads with work experience.
    </p>
    <div class="overlay"></div>
  </div>
</div>
<div class="slide" id="internships">
  <section class="zone">
    <h2>Internships</h2>
    <p class="zone-blurb">
      You may have picked up on the following recurring theme in your job search: 
      to get a job you need experience and to get experience you need a job. So 
      how do you get experience?
      <br /> <br />
      The answer is simple -- pursue an internship! 
    </p>
    <div class="zone-content">
      <div class="zone-element">
        <a class="flat-btn flat-btn--white" href="experience/internships.html">Investigate</a>
        <a class="flat-btn" href="http://www.auburn.edu/projects/washington/about.html">Intern with Auburn on the Hill</a>
      </div>
    </div>
  </section>
</div>
<div class="slide" id="coops">
  <section class="zone">
    <h2>Co-ops</h2>
    <p class="zone-blurb">
      Unsure about the career path you've chosen? Test drive your future profession 
      and gain on-the-job experience in that field by participating in Cooperative 
      Education.
    </p>
    <div class="zone-content">
      <div class="zone-element">
        <a class="flat-btn" href="http://www.auburn.edu/co-op/about_co-op_sub.html">Investigate</a>
      </div>
    </div>
  </section>
</div>
<div class="slide" id="leadership">
  <section class="zone">
    <h2>Leadership</h2>
    <p class="zone-blurb">
      What do employers want on a resume? Believe it or not, leadership is the 
      #1 attribute employers look for in potential hires. Pursue leadership 
      opportunities to add to your experiences.
    </p>
    <div class="zone-content">
      <div class="zone-element">
        <a class="flat-btn flat-btn--white" href="https://auburn.collegiatelink.net/">Get Involved</a>
      </div>
    </div>
  </section>
</div>
<div class="slide" id="research">
  <section class="zone">
    <h2>Research</h2>
    <p class="zone-blurb">
      If graduate or professional school is in your future, doing undergraduate research 
      is a great way to add career-related experience to your resume. It's an opportunity 
      for you to delve into your interests, discover previously unknown facts, and even 
      cultivate new ideas.
    </p>
    <div class="zone-content">
      <div class="zone-element">
        <a class="flat-btn" href="http://www.auburn.edu/undgres/">Investigate</a>
      </div>
    </div>
  </section>
</div>
<div class="slide" id="service">
  <section class="zone">
    <h2>Service</h2>
    <p class="zone-blurb">
      Give back to the community while simultaneously gaining experience to include 
      on your resume. Check out the many ways you can get involved by exploring the 
      links below.
    </p>
    <div class="zone-content">
      <div class="zone-element">
        <a class="flat-btn flat-btn--white" href="https://cws.auburn.edu/studentaffairs/communityservice/">Investigate</a>
        <a class="flat-btn flat-btn--white" href="https://www.auburnserves.com">Reach Out</a>
        <a class="flat-btn" href="https://auburn.collegiatelink.net/">Get Involved</a>
      </div>
    </div>
  </section>
</div>
<div class="slide" id="international">
  <section class="zone">
    <h2>International</h2>
    <p class="zone-blurb">
      Experience a different country's culture and customs by 
      studying abroad. There are over 70 faculty-led study 
      abroad programs at Auburn that can provide you with 
      first-hand learning opportunities in 36 countries 
      around the world.
    </p>
    <div class="zone-content">
      <div class="zone-element buttons">
        <a class="flat-btn" href="http://www.auburn.edu/academic/international">Investigate</a>
        <a class="flat-btn flat-btn--white" href="http://www.goabroad.com">Go Abroad</a>
      </div>
    </div>
  </section>
</div>