---
layout: experience.hbs
name: experience
title: Experience | Career Center
---
<div class="parallax">
  <div class="parallax-group parallax-group--experience">
    <div class="parallax-layer parallax-layer--back parallax-layer--experience">
      <div class="parallax-layer--back-image banner-img">
        <img src="assets/images/experience/experience.jpg">
      </div>
    </div>
    <div class="parallax-layer parallax-layer--base experience-banner">
      <h2>Experience</h2>
    </div>
  </div>
  <div class="parallax-group parallax-group--internship">
    <section class="parallax-layer parallax-layer--base zone">
      <h2>Internships</h2>
      <p class="zone-blurb">
        You may have picked up on the following recurring theme in your job search; 
        to get a job you need experience and to get experience you need a job. So 
        how do you get experience?
        <br /> <br />
        The answer is simple: Pursue an internship! 
      </p>
      <div class="zone-content">
        <div class="zone-element">
          <a class="flat-btn flat-btn--white" href="experience/internships.html">Investigate</a>
          <a class="flat-btn" href="http://www.auburn.edu/projects/washington/about.html">Intern with Congress</a>
        </div>
      </div>
    </section>
  </div>
  <div class="parallax-group parallax-group--coop">
    <div class="parallax-layer parallax-layer--back">
      <div class="parallax-layer--back-image coop">
        <img src="assets/images/experience/coop.jpg">
      </div>
    </div>
    <section class="parallax-layer parallax-layer--base zone">
      <h2>Co-ops</h2>
      <p class="zone-blurb">
        Many employers, particularly in engineering fields, love students have co-oped.
        What's more -- often the employer with whom you co-oped will hire you fresh out
        of the graduation ceremony!
      </p>
      <div class="zone-content">
        <div class="zone-element">
          <a class="flat-btn" href="http://www.auburn.edu/co-op/about_co-op_sub.html">Investigate</a>
        </div>
      </div>
    </section>
  </div>
  <div class="parallax-group parallax-group--leadership">
    <div class="parallax-layer parallax-layer--back parallax-layer--leadership">
      <div class="parallax-layer--back-image leadership">
        <img src="assets/images/experience/leadership.jpg">
      </div>
    </div>
    <section class="parallax-layer parallax-layer--base zone">
      <h2>Leadership</h2>
      <p class="zone-blurb">
        During the job hunt, you want to instill respect in your potential employers.
        How better to impress them than by proving you are worth respect? 
      </p>
      <div class="zone-content">
        <div class="zone-element">
          <a class="flat-btn flat-btn--white" href="https://auburn.collegiatelink.net/">Get Involved</a>
        </div>
      </div>
    </section>
  </div>
  <div class="parallax-group parallax-group--research">
    <div class="parallax-layer parallax-layer--back">
      <div class="parallax-layer--back-image research">
        <img src="assets/images/experience/research.jpg">
      </div>
    </div>
    <section class="parallax-layer parallax-layer--base zone">
      <h2>Research</h2>
      <p class="zone-blurb">
        Get some research under your belt. As an undergraduate student, few other opportunities
        show your devotion to and interest in the subject field as potently as researching with
        a professor. 
      </p>
      <div class="zone-content">
        <div class="zone-element">
          <a class="flat-btn" href="http://www.auburn.edu/undgres/">Investigate</a>
        </div>
      </div>
    </section>
  </div>
  <div class="parallax-group parallax-group--service">
    <div class="parallax-layer parallax-layer--back">
      <div class="parallax-layer--back-image service">
        <img src="assets/images/experience/service.jpg">
      </div>
    </div>
    <section class="parallax-layer parallax-layer--base zone">
      <h2>Service</h2>
      <p class="zone-blurb">
        Serve your community. Tell the world what you're willing to do to help.
        This kind of initiative is what companies like to see on a potential hire.
      </p>
      <div class="zone-content">
        <div class="zone-element">
          <a class="flat-btn flat-btn--white" href="https://cws.auburn.edu/studentaffairs/communityservice/">Investigate</a>
          <a class="flat-btn flat-btn--white" href="https://www.auburnserves.com">Reach Out</a>
          <a class="flat-btn" href="https://auburn.collegiatelink.net/">Get Involved</a>
        </div>
      </div>
    </section>
  </div>
  <div class="parallax-group parallax-group--international">
    <div class="parallax-layer parallax-layer--back">
      <div class="parallax-layer--back-image international">
        <img src="assets/images/experience/international.png">
      </div>
    </div>
    <section class="parallax-layer parallax-layer--base zone">
      <h2>International</h2>
      <p class="zone-blurb">
        Reach the world. Make the horizon yesterday's story. With the cultural prowess you 
        bring to the table as an international student, you'll make a valuable asset in any
        company interested in broadening itself the way you have. And plus &#8212; you'll have
        memories to go with the experience, either abroad or here on the Plains.
      </p>
      <div class="zone-content">
        <div class="zone-element buttons">
          <a class="flat-btn" href="http://www.auburn.edu/academic/international">Investigate</a>
          <a class="flat-btn flat-btn--half flat-btn--white" href="http://www.goabroad.com">Go Abroad</a>
          <a class="flat-btn flat-btn--half flat-btn--white" href="http://www.auburn.edu/academic/international/isss/">Reach the Plains</a>
        </div>
      </div>
    </section>
  </div>
</div>