---
layout: experience.hbs
name: experience
title: Experience | Career Center
---
<div class="parallax">
  <div class="parallax-group parallax-group--experience">
    <div class="parallax-layer parallax-layer--back parallax-layer--experience">
      <div class="parallax-layer--back-image ameml">
        <img src="assets/images/all-majors-expo-mood-lighting.jpg">
      </div>
    </div>
    <div class="parallax-layer parallax-layer--base experience-banner">
      <h2>Experience</h2>
    </div>
  </div>
  <div class="parallax-group parallax-group--internship">
    <div class="parallax-layer parallax-layer--back parallax-layer--internship">
      <div class="parallax-layer--back-image dfsg">
        <img src="assets/images/dress-for-success-group.jpg">
      </div>
    </div>
    <section class="parallax-layer parallax-layer--base zone">
      <h2>Internships</h2>
      <p class="zone-blurb">
        You may have picked up on the following recurring theme in your job search; 
        to get a job you need experience and to get experience you need a job. So 
        how do you get experience?
        <br /> <br />
        The answer is simple: Pursue an internship! 
      </p>
      <div class="zone-content">
        <div class="zone-element">
          <a class="flat-btn flat-btn--white" href="experience/faq.html">Investigate</a>
          <a class="flat-btn" href="http://www.auburn.edu/projects/washington/about.html">Intern with Congress</a>
        </div>
      </div>
    </section>
  </div>
  <div class="parallax-group parallax-group--coop">
    <div class="parallax-layer parallax-layer--back parallax-layer--coop">
      <div class="parallax-layer--back-image aul">
        <img src="assets/images/au-leadership.jpg">
      </div>
    </div>
    <section class="parallax-layer parallax-layer--base zone">
      <h2>Co-ops</h2>
      <p class="zone-blurb">
        Many employers, particularly in engineering fields, love students have co-oped.
        What's more -- often the employer with whom you co-oped will hire you fresh out
        of the graduation ceremony!
      </p>
      <div class="zone-content">
        <div class="zone-element">
          <a class="flat-btn" href="http://www.auburn.edu/co-op/about_co-op_sub.html">Investigate</a>
        </div>
      </div>
    </section>
  </div>
  <div class="parallax-group parallax-group--leadership">
    <div class="parallax-layer parallax-layer--back parallax-layer--leadership">
      <div class="parallax-layer--back-image aufr">
        <img src="assets/images/au-fisheries-research.jpg">
      </div>
    </div>
    <section class="parallax-layer parallax-layer--base zone">
      <h2>Leadership</h2>
      <p class="zone-blurb">
        During the job hunt, you want to instill respect in your potential employers.
        How better to impress them than by proving you are worth respect? 
      </p>
      <div class="zone-content">
        <div class="zone-element">
          <a class="flat-btn flat-btn--white" href="https://auburn.collegiatelink.net/">Get Involved</a>
        </div>
      </div>
    </section>
  </div>
  <div class="parallax-group parallax-group--research">
    <div class="parallax-layer parallax-layer--back">
      <div class="parallax-layer--back-image esv">
        <img src="assets/images/everglades-service.jpg">
      </div>
    </div>
    <section class="parallax-layer parallax-layer--base zone">
      <h2>Research</h2>
      <p class="zone-blurb">
        Get some research under your belt. As an undergraduate student, few other opportunities
        show your devotion to and interest in the subject field as potently as researching with
        a professor. 
      </p>
      <div class="zone-content">
        <div class="zone-element">
          <a class="flat-btn" href="http://www.auburn.edu/undgres/">Investigate</a>
        </div>
      </div>
    </section>
  </div>
  <div class="parallax-group parallax-group--service">
    <div class="parallax-layer parallax-layer--back">
      <div class="parallax-layer--back-image">
        <img>
      </div>
    </div>
    <section class="parallax-layer parallax-layer--base zone">
      <h2>Research</h2>
      <p class="zone-blurb">
        Get some research under your belt. As an undergraduate student, few other opportunities
        show your devotion to and interest in the subject field as potently as researching with
        a professor. 
      </p>
      <div class="zone-content">
        <div class="zone-element">
          <a class="flat-btn" href="http://www.auburn.edu/undgres/">Investigate</a>
        </div>
      </div>
    </section>
  </div>
</div>
<!--
<div class="parallax">
  <div class="parallax-group">
    <div class="parallax-layer parallax-layer--back">
      <div class="parallax-layer--back-image ameml">
        <img src="assets/images/all-majors-expo-mood-lighting.jpg">
      </div>
    </div>
    <div class="parallax-layer parallax-layer--base">
      <!--<div class="buttons">
        <a class="flat-btn flat-btn--half flat-btn--white" href="pathways">Pathways</a>
        <a class="flat-btn flat-btn--half flat-btn--white" href="students/index.html#market-yourself">Market Yourself</a>
      </div>

      <div class="content extra-content content--no-card contained experience">
        <h2 class="header--white">Exp<span class="header--blue">e</span>rience</h2>
      </div>
    </div>
  </div>
  <div class="parallax-group">
    <section class="parallax-layer parallax-layer--base zone">
      <h2>Internships</h2>
      <p class="zone-blurb">
        You may have picked up on the following recurring theme in your job search; 
        to get a job you need experience and to get experience you need a job. So 
        how do you get experience?
        <br /> <br />
        The answer is simple: Pursue an internship! 
      </p>
      <div class="zone-content">
        <div class="card content content--no-card content--no-padding zone-element zone-element--fw">
          <a class="flat-btn flat-btn--white" href="experience/faq.html">Investigate</a>
          <a class="flat-btn" href="http://www.auburn.edu/projects/washington/about.html">Intern with Congress</a>
        </div>
      </div>
    </section>
    <div class="parallax-layer parallax-layer--back">
      <div class="parallax-layer--back-image dfsg">
        <img src="assets/images/dress-for-success-group.jpg">
      </div>
    </div>
  </div>
  <div class="parallax-group">
    <section class="parallax-layer parallax-layer--base zone">
      <h2>Co-ops</h2>
      <p class="zone-blurb">
        Many employers, particularly in engineering fields, love students have co-oped.
        What's more -- often the employer with whom you co-oped will hire you fresh out
        of the graduation ceremony!
      </p>
      <div class="zone-content">
        <div class="card content content--no-card content--no-padding zone-element zone-element--fw">
          <a class="flat-btn" href="http://www.auburn.edu/co-op/about_co-op_sub.html">Investigate</a>
        </div>
      </div>
    </section>
    <div class="parallax-layer parallax-layer--back">
      <div class="parallax-layer--back-image aul">
        <img src="assets/images/au-leadership.jpg">
      </div>
    </div>
  </div>
  <div class="parallax-group">
    <section class="parallax-layer parallax-layer--base zone">
      <h2>Leadership</h2>
      <p class="zone-blurb">
        During the job hunt, you want to instill respect in your potential employers.
        How better to impress them than by proving you are worth respect? 
      </p>
      <div class="zone-content">
        <div class="card content content--no-card content--no-padding zone-element zone-element--fw">
          <a class="flat-btn flat-btn--white" href="https://auburn.collegiatelink.net/">Get Involved</a>
        </div>
      </div>
    </section>
    <div class="parallax-layer parallax-layer--back">
      <div class="parallax-layer--back-image aufr">
        <img src="assets/images/au-fisheries-research.jpg">
      </div>
    </div>
  </div>
  <div class="parallax-group">
    <section class="parallax-layer parallax-layer--base zone">
      <h2>Research</h2>
      <p class="zone-blurb">
        Get some research under your belt. As an undergraduate student, few other opportunities
        show your devotion to and interest in the subject field as potently as researching with
        a professor. 
      </p>
      <div class="zone-content">
        <div class="card zone-element zone-element--fw">
          <a class="flat-btn" href="http://www.auburn.edu/undgres/">Investigate</a>
        </div>
      </div>
    </section>
  </div>
  <div class="parallax-group">
    <section class="parallax-layer parallax-layer--base zone">
      <h2>Service</h2>
      <p class="zone-blurb">
        Every person you help along your way grows you into someone worth depending on. Every
        gratitude earned is a lesson learned, by both you and the community. Employers love to
        see that character.
      </p>
      <div class="zone-content">
        <div class="card zone-element zone-element--fw">
          <a class="flat-btn flat-btn--white" href="https://cws.auburn.edu/studentAffairs/communityService/">Serve Your Community</a>
          <a class="flat-btn flat-btn--white" href="https://www.auburnserves.com/">Reach Out</a>
          <a class="flat-btn" href="https://auburn.collegiatelink.net/">Get Involved</a>
        </div>
      </div>
    </section>
  </div>
</div>
-->