---
layout: experience.hbs
name: experience
title: Experience | Career Center
---

<script src="assets/scripts/Chart.min.js"></script>

<div class="content extra-content content--no-card contained experience">
  <h2>Experience</h2>
</div>

<section class="zone">
  <h2>Internships</h2>
  <p class="zone-blurb">
    You may have picked up on the following recurring theme in your job search; 
    to get a job you need experience and to get experience you need a job. So 
    how do you get experience?
    <br /> <br />
    The answer is simple: Pursue an internship! 
  </p>
  <div class="zone-content">
    <div class="card content content--no-card content--no-padding zone-element zone-element--fw">
      <a class="flat-btn" href="experience/faq.html">Investigate</a>
      <a class="flat-btn flat-btn--white" href="http://www.auburn.edu/projects/washington/about.html">Intern with Congress</a>
    </div>
  </div>
</section>
<section class="zone">
  <h2>Leadership</h2>
  <p class="zone-blurb">
    During the job hunt, you want to instill respect in your potential employers.
    How better to impress them than by proving you are worth respect? 
  </p>
  <div class="zone-content">
    <div class="card content content--no-card content--no-padding zone-element zone-element--fw">
      <a class="flat-btn flat-btn--white" href="https://auburn.collegiatelink.net/">Get Involved</a>
    </div>
  </div>
</section>
<section class="zone">
  <h2>Research</h2>
  <p class="zone-blurb">
    Get some research under your belt. As an undergraduate student, few other opportunities
    show your devotion to and interest in the subject field as potently as researching with
    a professor. 
  </p>
  <div class="zone-content">
    <div class="card zone-element zone-element--fw">
      <a class="flat-btn flat-btn--white" href="http://www.auburn.edu/undgres/">Investigate</a>
    </div>
  </div>
</section>
<section class="zone">
  <h2>Service</h2>
  <p class="zone-blurb">
    Every person you help along your way grows you into someone worth depending on. Every
    gratitude earned is a lesson learned, by both you and the community. Employers love to
    see that character.
  </p>
  <div class="zone-content">
    <div class="card zone-element zone-element--fw">
      <a class="flat-btn" href="https://cws.auburn.edu/studentAffairs/communityService/">Serve Your Community</a>
      <a class="flat-btn" href="https://www.auburnserves.com/">Reach Out</a>
      <a class="flat-btn flat-btn--white" href="https://auburn.collegiatelink.net/">Get Involved</a>
    </div>
  </div>
</section>