---
title: Faculty | Career Center
hero-title: Career Center
hero-subtitle: In the Classroom.
---

<section class="present row step">
  <div class="links">
    <div class="link-wedges">
      <a class="wedge" data-tooltip="guidelines" href="#"></a>
      <a class="wedge" data-tooltip="form" href="#"></a>
      <a class="wedge" data-tooltip="assessments" href="#"></a>
      <a class="wedge" href="http://www.auburn.edu/career/resources/interviewstream.html" data-tooltip="interview-stream"></a>
      <a class="wedge" href="http://www.auburn.edu/career/resume/" data-tooltip="resume"></a>
    </div>
    <div class="tooltips">
      <div class="tooltip" data-for="guidelines">
        <h2>Guidelines</h2>
      </div>
      <div class="tooltip" data-for="form">
        <h2>Form</h2>
      </div>
      <div class="tooltip" data-for="assessments">
        <h2>Assessments</h2>
      </div>
      <div class="tooltip" data-for="interview-stream">
        <h2>InterviewStream</h2>
      </div>
      <div class="tooltip" data-for="resume">
        <h2>Resume, CV, and Cover Letter Tips</h2>
      </div>
    </div>
  </div>
  <div class="present-content">
    <h2>Presentations and Assignments</h2>
    <p>
      Common resources for Career Center presenters when they're travelling to 
      classrooms to evangelize for the office.
    </p>
  </div>
</section>

<section class="help row step">
  <div class="links">
    <div class="link-wedges">
      <a class="wedge" href="http://jobs.auburn.edu" data-tooltip="trl"></a>
      <a class="wedge" data-tooltip="job-search-guide" href="#"></a>
      <a class="wedge" href="http://www.auburn.edu/academic/provost/undergrad_studies/career/webresources/ausalarydata.pdf" data-tooltip="salary-data-for-auburn-grads"></a>
    </div>
    <div class="tooltips">
      <div class="tooltip" data-for="trl">
        <h2>Tiger Recruiting Link (TRL)</h2>
      </div>
      <div class="tooltip" data-for="job-search-guide">
        <h2>Choosing Your Major Workbook</h2>
      </div>
      <div class="tooltip" data-for="salary-data-for-auburn-grads">
        <h2>Salary Data for Auburn Grads</h2>
      </div>
    </div>
  </div>
  <div class="help-content">
    <h2>Help Your Students</h2>
    <p>
      Common resources for Career Center presenters when they're travelling to 
      classrooms to evangelize for the office.
    </p>
  </div>
</section>