---
title: Faculty | Career Center
hero-img: faculty.png
---

<section class="present row step">
  <div class="links">
    <div class="link-wedges">
      <a class="wedge" data-tooltip="guidelines" href="http://www.auburn.edu/career/faculty/univguidelines.pdf"></a>
      <a class="wedge" data-tooltip="form" href="http://www.auburn.edu/career/dev/faculty/presentations.html"></a>
      <a class="wedge" data-tooltip="assessments" href="http://www.auburn.edu/career/dev/assessments/"></a>
      <a class="wedge" href="https://auburn.interviewstream.com/Account/Login?ReturnUrl=%2f" data-tooltip="interview-stream"></a>
      <a class="wedge" href="http://www.auburn.edu/career/resume/" data-tooltip="resume"></a>
    </div>
    <div class="tooltips">
      <div class="tooltip" data-for="guidelines">
        <h2>Guidelines</h2>
      </div>
      <div class="tooltip" data-for="form">
        <h2>Presentation Request</h2>
      </div>
      <div class="tooltip" data-for="assessments">
        <h2>Career Assessments</h2>
      </div>
      <div class="tooltip" data-for="interview-stream">
        <h2>Interview Practice</h2>
      </div>
      <div class="tooltip" data-for="resume">
        <h2>Resume, CV, and Cover Letter Tips</h2>
      </div>
    </div>
  </div>
  <div class="present-content">
    <h2>Presentations &amp; Assignments</h2>
    <p>
      We welcome the opportunity to speak to your class, student organization or 
      special interest group as well as support career related assignments. Career 
      Center professional and para-professional staff members are available to 
      speak on a wide variety of career related topics. Please take time to review 
      the class presentation and assignment guidelines prior to submitting a speaker
      request or planning a class assignment or extra credit opportunity involving 
      the Career Center.
    </p>
  </div>
</section>

<section class="help row step">
  <div class="links">
    <div class="link-wedges">
      <a class="wedge" href="assessments/" data-tooltip="assessments-2"></a>
      <a class="wedge" href="http://jobs.auburn.edu" data-tooltip="trl"></a>
      <a class="wedge" data-tooltip="job-search-guide" href="http://issuu.com/aucc/docs/handbook_3.2_color_is"></a>
      <a class="wedge" href="http://www.auburn.edu/career/webresources/salarydatacompiled2013_2014.pdf" data-tooltip="salary-data-for-auburn-grads"></a>
      <a class="wedge" href="http://auburn.edu/career/events" data-tooltip="career-center-events"></a>
    </div>
    <div class="tooltips">
      <div class="tooltip" data-for="assessments-2">
        <h2>Career Assessments</h2>
      </div>
      <div class="tooltip" data-for="trl">
        <h2>Tiger Recruiting Link (TRL)</h2>
      </div>
      <div class="tooltip" data-for="job-search-guide">
        <h2>Job Search Guide</h2>
      </div>
      <div class="tooltip" data-for="salary-data-for-auburn-grads">
        <h2>Salary Data for Auburn Grads</h2>
      </div>
      <div class="tooltip" data-for="career-center-events">
        <h2>Career Fairs and Workshops</h2>
      </div>
    </div>
  </div>
  <div class="help-content">
    <h2>Help Your Students</h2>
    <p>
      As you instruct and advise your students, incorporate the Career Center’s 
      resources into your conversations with them about choosing a major or career
      path, gaining experience, developing marketing materials, preparing for 
      graduate/professional school and searching for jobs. Encourage your students 
      to seek help from the Career Center as they plan for and pursue their 
      individual career goals.
    </p>
  </div>
</section>