---
title: Families | Career Center
hero-img: families.png
hero-text: Families
---

<section class="explore row step">
  <div class="links">
    <div class="link-wedges">
      <a class="wedge" data-tooltip="parent-guide" href="http://www.auburn.edu/career/parents/parentsguidetocareerdev.pdf"></a>
      <a class="wedge" data-tooltip="career-course" href="http://www.auburn.edu/career/parents/careerplanningcourseforparents.pdf"></a>
      <a class="wedge" data-tooltip="four-year-plan" href="http://www.auburn.edu/career/tipsheets/Tip%20Sheet%204%20YR%20Career%20Curriculum%20Guide.pdf"></a>
      <a class="wedge" data-tooltip="what-can-i-do-with-a-major-in" href="http://whatcanidowiththismajor.com/major/majors"></a>
      <a class="wedge" data-tooltip="majors" href="http://bulletin.auburn.edu/undergraduate/majors/"></a>
    </div>
    <div class="tooltips">
      <div class="tooltip" data-for="parent-guide">
        <h2>Parent Guide</h2>
      </div>
      <div class="tooltip" data-for="career-course">
        <h2>Career Course</h2>
      </div>
      <div class="tooltip" data-for="four-year-plan">
        <h2>Four-Year Plan</h2>
      </div>
      <div class="tooltip" data-for="what-can-i-do-with-a-major-in">
        <h2>What Can I Do with a Major in...?</h2>
      </div>
      <div class="tooltip" data-for="majors">
        <h2>Majors at Auburn University</h2>
      </div>
    </div>
  </div>
  <div class="explore-content">
    <h2>Explore Majors &amp; Careers</h2>
    <p>
      Choosing a major and subsequent career path is one of the most important 
      decisions your student will make. Encourage them to take time to reflect 
      on their values, personality, skills, and interests. Your student can then
      narrow their focus when researching possible majors/careers. <span class="full-content">Take a look 
      at the links on the left for details about helping your student through 
      this process. Having a clear picture of the path they will take during 
      their college career will better equip you to guide them through their 
      time at Auburn.</span>
    </p>
  </div>
</section>

<section class="gain row step">
  <div class="links">
    <div class="link-wedges">
      <a class="wedge" data-tooltip="experience" href="http://www.auburn.edu/experience">
      </a>
    </div>
    <div class="tooltips">
      <div class="tooltip" data-for="experience">
        <h2>Experience Resources</h2>
      </div>
    </div>
  </div>
  <div class="gain-content">
    <h2>Gain Experience</h2>
    <p>
      A strong academic record is no longer the main quality employers look for 
      in a potential employee. Experience outside of the classroom will help your
      student build the necessary skills to be successful in his/her desired career.
      <span class="full-content">Non-academic experience comes in many forms including part-time jobs, 
      internship, research, volunteer work, and campus leadership. Encourage your 
      student to pursue as many opportunities as possible. Those experiences will 
        help his/her resume stand out among a sea of fellow applicants. </span>
    </p>
  </div>
</section>

<section class="land row step">
  <div class="links">
    <div class="link-wedges">
      <a class="wedge" data-tooltip="help-your-new-grad" href="http://www.auburn.edu/academic/provost/undergrad_studies/career/parents/findajob.pdf"></a>
      <a class="wedge" data-tooltip="trl" href="http://jobs.auburn.edu" ></a>
      <a class="wedge" data-tooltip="job-search-guide" href="http://issuu.com/aucc/docs/handbook_3.2_color_is"></a>
    </div>
    <div class="tooltips">
      <div class="tooltip" data-for="help-your-new-grad">
        <h2>Help Your New Grad</h2>
      </div>
      <div class="tooltip" data-for="trl">
        <h2>Tiger Recruiting Link (TRL)</h2>
      </div>
      <div class="tooltip" data-for="job-search-guide">
        <h2>Job Search Guide</h2>
      </div>
    </div>
  </div>
  <div class="land-content">
    <h2>Land a Job</h2>
    <p>
      As parents of a new graduate, what can you do to assist your grad in 
      the transition from classes and residence halls to the reality of 
      being a working adult? Ask how you can assist them in their job search 
      and suggest they visit the Career Center for assistance. Help your new 
      grad get his/her foot in the door by providing networking contacts. 
      These are just some of the ways in which you can help them during the 
      job search. Keep in mind that they are trying to transition into the 
      real world - let them take the lead.
    </p>
  </div>
</section>

<section class="hire row step">
  <div class="links">
    <div class="link-wedges">
      <a class="wedge" data-tooltip="hire-students" href="http://hire.auburn.edu"></a>
    </div>
    <div class="tooltips">
      <div class="tooltip" data-for="hire-students">
        <h2>hire.auburn.edu</h2>
      </div>  
    </div>
  </div>
  <div class="hire-content">
    <h2>Hire Students</h2>
    <p>
      If you or your employer is interested in hiring Auburn students and graduates, 
      click the link to the right. Create an account in Auburn University’s job posting 
      database, Tiger Recruiting Link, to hire for full-time, part-time, and internship 
      positions.
    </p>
  </div>
</section>