---
ng-app: career-center-hire
name: hire
type: hire
layout: employers.hbs
title: Employers | Career Center
analytics-token: UA-12338791-4
component:
- calendar
- sponsors
---

<section class="welcome-services row flex">
  <div class="welcome content extra-content">
    <h2>This is Recruiting.</h2>
    <p>
      Auburn University is one of the largest 
      universities in the Southeast. Our students 
      can choose from more than 140 degree options 
      in 13 schools and colleges at the 
      undergraduate, graduate and professional 
      levels. Connect with us to put over 25,000 
      quality candidates at your fingertips.
    </p>
    <p>
      The menu of services listed are just some of 
      the many ways the Auburn Career Center can 
      help you achieve your hiring and recruiting 
      goals.
    </p>
  </div>
  <div class="services content extra-content content--no-padding">
    <div class="services-wrapper">
      <div class="services-overlay"></div>
      <h2 class="services-header">
        Employer Services
      </h2>
      <ul class="services-content">
        <li class="service"><a href="employers/job-postings.html">Job Postings</a></li>
        <li class="service"><a href="employers/events/">Career Events</a></li>
        <li class="service"><a href="employers/student-employment/on-campus.html">On-Campus Employment</a></li>
        <li class="service"><a href="employers/oci.html">On-Campus Interviewing</a></li>
        <li class="service"><a href="employers/student-employment/off-campus.html">Off-Campus Employment</a></li>
        <li class="service"><a href="employers/oci.html#info-sessions">Information Sessions</a></li>
      </ul>
    </div>
    <a class="flat-btn flat-btn--disabled report-hiring" href="" disabled="disabled">Report Hiring</a>
  </div>
</section>

<section class="contacts-login row flex">
  <div class="contacts content extra-content">
    <h2>Recruiting Contacts</h2>
    <p>All email addresses listed here end in "@auburn.edu".</p>
    <div class="contacts-container">
      <div class="contact">
        <h3>All Majors <span class="muted">Career Center</span></h3>
        <div class="contact-details">
          <img src="assets/images/staff/jay.jpg">
          <div class="contact-info">
            <p class="name">Jay Skipworth</p>
            <p class="phone"><a href="tel:(334) 844-4744">(334) 844-4744</a></p>
            <p class="email"><a href="mailto:skipworth@auburn.edu">skipworth</a></p>
          </div>
        </div>
      </div>
      <div class="contact">
        <h3>Business Majors <span class="muted">Harbert College of Business</span></h3>
        <div class="contact-details">
          <img src="assets/images/staff/mike.jpg">
          <div class="contact-info">
            <p class="name">Mike Stover</p>
            <p class="phone"><a href="tel:(334) 844-7203">(334) 844-7203</a></p>
            <p class="email"><a href="mailto:mike.stover@auburn.edu">mike.stover</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form class="login content extra-content" method="post" action="https://authenticate.auburn.edu/cas/login?service=https%3A%2F%2Fauburn-csm.symplicity.com%2Fsso%2Fstudents%2Flogin">
    <div class="login-wrapper">
      <h2 class="">Sign in to <a href="http://jobs.auburn.edu" class="trl"></a></h2>
      <p class="login-blurb">Your link to Auburn students.</p>
      <div class="buttons">
        <a class="flat-btn" href="https://auburn-csm.symplicity.com/employers/?signin_tab=0">Sign in</a>
        <a class="flat-btn" href="https://auburn-csm.symplicity.com/employers/?signin_tab=2">Register</a>
        <a class="flat-btn flat-btn--half flat-btn--white" href="http://auburn.edu/career/employers/policiesprocedures_emp.html">View policies</a>
        <a class="flat-btn flat-btn--half flat-btn--white" href="http://auburn.edu/career/jobs/tipsheets.html">View tips</a>
      </div>
    </div>
  </form>
</section>

<section class="events-upcoming row flex" ng-controller="calendar-ctrl">
  <div class="events content extra-content content--no-padding">
    <div class="first-event-wrapper">
      <h2>Upcoming Events</h2>
      <div class="first-event event" ng-repeat="event in firstEvents">
        <div class="event-date">
          <div class="event-date-month">[[ event.date['shortened-month'] ]]</div>
          <div class="event-date-day">[[ event.date['day'] ]]</div>
        </div>
        <div class="event-details">
          <a ng-if="event.url != ''" href="[[ event.url ]]" class="event-details-name" target="_blank">[[ event.name ]]</a>
          <div ng-if="event.url == ''" class="event-details-name">[[ event.name ]]</div>
          <div class="event-details-location">[[ event.location ]]</div>
          <div ng-if="event.date.time != ''" class="event-details-time">[[ event.date.time.start ]] - [[ event.date.time.end ]]</div>
          <div ng-if="event.date.time == '' && event.date.dates != ''" class="event-details-time">All day, continues until [[ event.date.dates.end ]]</div>
          <div ng-if="event.date.time == '' && event.date.dates == ''" class="event-details-time">All day</div>
        </div>
      </div>
    </div>
    <a ng-if="events.length > 0" class="collapsed accordion-header flat-btn" data-toggle="collapse" id="more-events" href="#events-list" role="tab" aria-expanded="false" aria-controls="events-list"></a>
    <ul style="height: 0px;" aria-expanded="false" id="events-list" class="panel-collapse collapse" role="tabpanel" aria-labelledby="events-list-heading">
      <li class="event" ng-repeat="event in events">
        <div class="event-date">
          <div class="event-date-month">[[ event.date['shortened-month'] ]]</div>
          <div class="event-date-day">[[ event.date['day'] ]]</div>
        </div>
        <div class="event-details">
          <a ng-if="event.url != ''" href="[[ event.url ]]" class="event-details-name" target="_blank">[[ event.name ]]</a>
          <div ng-if="event.url == ''" class="event-details-name">[[ event.name ]]</div>
          <div class="event-details-location">[[ event.location ]]</div>
          <div ng-if="event.date.time != ''" class="event-details-time">[[ event.date.time.start ]] - [[ event.date.time.end ]]</div>
          <div ng-if="event.date.time == '' && event.date.dates != ''" class="event-details-time">All day, continues until [[ event.date.dates.end ]]</div>
          <div ng-if="event.date.time == '' && event.date.dates == ''" class="event-details-time">All day</div>
        </div>
      </li>
    </ul>
  </div>
  <a class="upcoming-event content extra-content content--no-padding" href="[[ url ]]"><img src="[[ img ]]"></img></a>
</section>

<section class="row sponsors content extra-content">
  <h2 class="sponsors-header">Sponsors</h2>
  <div class="sponsors-content" ng-controller="sponsors-ctrl">
    <div class="sponsor" ng-repeat="sponsor in sponsors">
      <span class="vert-centerer"></span>
      <a href="[[ sponsor.url ]]">
        <img src="assets/images/sponsors/[[ sponsor.logo ]]" class="grayscale grayscale-fade"></img>
      </a>
    </div>
  </div>
</section>