---
path-to-root: ../
ng-app: career-center-hire
name: hire
type: hire
layout: employers.hbs
title: Employers | Career Center
analytics-token: UA-12338791-4

component:
- calendar
- sponsors
- popover

style:
- sponsors
- login
- employer-calendar
- popover
---

<section class="flex login-recruiting">
  <div class="card flex-half login">
    <div class="login-wrapper">
      <h2>Sign in to <a href="http://jobs.auburn.edu" class="trl"></a></h2>
      <p class="login-blurb">Your link to Auburn students.</p>
      <div class="buttons">
        <a class="flat-btn" href="https://auburn-csm.symplicity.com/employers/?signin_tab=0">Sign in</a>
        <a class="flat-btn" href="https://auburn-csm.symplicity.com/employers/?signin_tab=2">Register</a>
        <a class="flat-btn flat-btn--half flat-btn--white" href="http://auburn.edu/career/employers/policiesprocedures_emp.html">View policies</a>
        <a class="flat-btn flat-btn--half flat-btn--white" href="http://auburn.edu/career/jobs/tipsheets.html">View tips</a>
      </div>
    </div>
  </div>
  <div class="card flex-half recruiting">
    <h2>This is Recruiting.</h2>
    <blockquote>
      Highly effective employers place their emphasis on long-term
      objectives and building connections with students, faculty, 
      and the career staff, rather than focusing on recruiting 
      transactions. It is the Career Center's goal to develop and 
      maintain strong relationships with employers, and we value 
      the opportunity to assist you with your hiring needs.
      <br/>
      <br/>
      Your success is our success. We look forward to helping you 
      put a Tiger On Your Team.
    </blockquote>
    <p>
      <a href="mailto:skipworth@auburn.edu">Jay Skipworth</a>, Assistant Director of Employer Relations
    </p>
    <a class="flat-btn" 
       role="button" 
       tabindex="0"
       data-toggle="popover" 
       data-html="true" 
       data-placement="top" 
       data-trigger="click" 
       data-title="Auburn University"
       data-content="<ul>
                      <li>One of the largest universities in the south</li>
                      <li>Fall 2015 enrollment: 27,287</li>
                      <li>140 degree options</li>
                      <li>13 schools and colleges</li>
                      <li>Undergraduate, graduate, and professional degree options</li>
                     </ul>">
      Learn about Auburn University
    </a>
  </div>
</section>

<section class="flex">
  <div class="card unpadded services">
    <div class="padded services-content">
      <h2>
        Our Services
      </h2>
      <ul class="services-list flex">
        <li class="service flex-half">
          <a href="employers/job-postings.html">Job Postings</a>
        </li>
        <li class="service flex-half">
          <a href="employers/events/">Career Events</a>
        </li>
        <li class="service flex-half">
          <a href="employers/student-employment/on-campus.html">On-Campus Employment</a>
        </li>
        <li class="service flex-half">
          <a href="employers/ocr.html#oci">On-Campus Interviewing</a>
        </li>
        <li class="service flex-half">
          <a href="employers/student-employment/off-campus.html">Off-Campus Employment</a>
        </li>
        <li class="service flex-half">
          <a href="employers/ocr.html#info-sessions">Information Sessions</a>
        </li>
      </ul>
    </div>
    <a class="flat-btn disabled" disabled="disabled">Report Hiring</a>
  </div>
</section>

<section class="card unpadded events-wrapper" ng-controller="calendar-ctrl">
  <h2 class="events-title">Event Registration</h2>
  <p ng-if="events.length % 2 === 0" class="blurb">Click any event to get more information and register.</p>
  <ul class="events flex">
    <li ng-if="events.length % 2 !== 0" class="event event--blurb">Click any event to get more information and register.</li>
    <li class="event" ng-repeat="event in events">
      <a class="event-link" href="[[ event.url ]]">
        <h3>[[ event.name ]]</h3>
        <div class="event-details">
          <div class="event-when">
            <div ng-if="event.dates" class="event-date"><span ng-if="event.dates.start">[[ event.dates.start ]] - </span>[[ event.dates.end ]]</div>
            <div ng-if="event.dates === undefined" class="event-date">
              [[ event.date.month ]] [[ event.date.day ]]
            </div>
            <div ng-if="event.date.time === undefined || event.date.time.start === ''" class="event-time">
              All day
            </div>
            <div ng-if="event.date.time.start !== '' && event.date.time.start !== undefined" class="event-time">
              [[ event.date.time.start ]] - [[ event.date.time.end ]]
            </div>
          </div>
          <div class="event-cost" ng-if="event.cost">
            $[[ event.cost ]]
          </div>
        </div>
      </a>
    </li>
  </ul>
</section>


<div class="card sponsors">
  <h2  class="sponsors-header">Sponsors</h2>
  <div class="sponsors-content" ng-controller="sponsors-ctrl">
    <div class="sponsor" ng-repeat="sponsor in sponsors">
      <span class="vert-centerer"></span>
      <a href="[[ sponsor.url ]]">
        <img lazy-img="assets/images/sponsors/[[ sponsor.logo ]]" class="grayscale grayscale-fade" alt="[[ sponsor.company ]]">
      </a>
    </div>
  </div>
</div>