---
ng-app: career-center-hire
name: hire
type: hire
layout: employers.hbs
title: Employers | Career Center
analytics-token: UA-12338791-4
path-to-root: ..
---

<section class="row flex">
  <form class="login content extra-content" method="post" action="https://authenticate.auburn.edu/cas/login?service=https%3A%2F%2Fauburn-csm.symplicity.com%2Fsso%2Fstudents%2Flogin">
    <div class="login-wrapper">
      <h2 class="">Sign in to <a href="http://jobs.auburn.edu" class="trl"></a></h2>
      <p class="login-blurb">Your link to hard-working students and a campus that is not afraid.</p>
      <div class="buttons">
        <a class="flat-btn" href="https://auburn-csm.symplicity.com/employers/">Sign in</a>
        <a class="flat-btn" href="https://auburn-csm.symplicity.com/employers/?signin_tab=2">Register</a>
        <a class="flat-btn flat-btn--half flat-btn--white" href="http://auburn.edu/career/employers/policiesprocedures_emp.html">View policies</a>
        <a class="flat-btn flat-btn--half flat-btn--white" href="http://auburn.edu/career/jobs/tipsheets.html">View tips</a>
      </div>
    </div>
  </form>
  <div class="services content extra-content content--no-padding">
    <div class="services-wrapper">
      <h2 class="services-header">
        Our Services
      </h2>
      <ul class="services-content">
        <li class="service"><a href="#">Job Postings</a></li>
        <li class="service"><a href="#">Career Fairs</a></li>
        <li class="service"><a href="#">Student Employment</a></li>
        <li class="service"><a href="#">On-Campus Interviewing</a></li>
        <li class="service"><a href="#">Sponsorship Opportunities</a></li>
        <li class="service"><a href="#">Information Sessions</a></li>
      </ul>
    </div>
    <a class="flat-btn report-hiring" href="#">Report Hiring</a>
  </div>
</section>

<section class="row flex">
  <div class="contacts content extra-content">
    <h2>Recruiting Contacts</h2>
    <p>All email addresses listed here end in "@auburn.edu".</p>
    <div class="contacts-container">
      <div class="contact">
        <h3>All Majors <span class="muted">Career Center</span></h3>
        <div class="contact-details">
          <img src="assets/images/staff/jay.jpg">
          <div class="contact-info">
            <p class="name">Jay Skipworth</p>
            <p class="phone"><a href="tel:(334) 844-4000">(334) 844-4000</a></p>
            <p class="email"><a href="mailto:skipworth@auburn.edu">skipworth</a></p>
          </div>
        </div>
      </div>
      <div class="contact">
        <h3>Business Majors <span class="muted">Harbert College of Business</span></h3>
        <div class="contact-details">
          <img src="assets/images/staff/melvin.jpg">
          <div class="contact-info">
            <p class="name">Mike Stover</p>
            <p class="phone"><a href="tel:(334) 844-4000">(334) 844-4000</a></p>
            <p class="email"><a href="mailto:mstover@auburn.edu">mstover</a></p>
          </div>
        </div>
      </div>
      <div class="contact">
        <h3>Agricultural Majors <span class="muted">College of Agriculture</span></h3>
        <div class="contact-details">
          <img src="assets/images/staff/torey.jpg">
          <div class="contact-info">
            <p class="name">Bernie Shucks</p>
            <p class="phone"><a href="tel:(334) 844-4000">(334) 844-4000</a></p>
            <p class="email"><a href="mailto:shucks@auburn.edu">shucks</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row flex" ng-controller="calendar-ctrl">
  <a class="upcoming-event content extra-content content--no-padding" href="[[ firstEvents[0].url ]]"><img src="[[ img ]]"></img></a>
  <div class="events content extra-content content--no-padding">
    <div class="first-event-wrapper">
      <h2>Upcoming Events</h2>
      <div class="first-event event" ng-repeat="event in firstEvents">
        <div class="event-date">
          <div class="event-date-month">[[ event.date['shortened-month'] ]]</div>
          <div class="event-date-day">[[ event.date['day'] ]]</div>
        </div>
        <div class="event-details">
          <a ng-if="event.url != ''" href="[[ event.url ]]" class="event-details-name" target="_blank">[[ event.name ]]</a>
          <div ng-if="event.url == ''" class="event-details-name">[[ event.name ]]</div>
          <div class="event-details-location">[[ event.location ]]</div>
          <div ng-if="event.date.time != ''" class="event-details-time">[[ event.date.time.start ]] - [[ event.date.time.end ]]</div>
          <div ng-if="event.date.time == '' && event.date.dates != ''" class="event-details-time">All day, continues until [[ event.date.dates.end ]]</div>
          <div ng-if="event.date.time == '' && event.date.dates == ''" class="event-details-time">All day</div>
        </div>
      </div>
    </div>
    <a ng-if="events.length > 0" class="collapsed accordion-header flat-btn" data-toggle="collapse" id="more-events" href="#events-list" role="tab" aria-expanded="false" aria-controls="events-list"></a>
    <ul style="height: 0px;" aria-expanded="false" id="events-list" class="panel-collapse collapse" role="tabpanel" aria-labelledby="events-list-heading">
      <li class="event" ng-repeat="event in events">
        <div class="event-date">
          <div class="event-date-month">[[ event.date['shortened-month'] ]]</div>
          <div class="event-date-day">[[ event.date['day'] ]]</div>
        </div>
        <div class="event-details">
          <a ng-if="event.url != ''" href="[[ event.url ]]" class="event-details-name" target="_blank">[[ event.name ]]</a>
          <div ng-if="event.url == ''" class="event-details-name">[[ event.name ]]</div>
          <div class="event-details-location">[[ event.location ]]</div>
          <div ng-if="event.date.time != ''" class="event-details-time">[[ event.date.time.start ]] - [[ event.date.time.end ]]</div>
          <div ng-if="event.date.time == '' && event.date.dates != ''" class="event-details-time">All day, continues until [[ event.date.dates.end ]]</div>
          <div ng-if="event.date.time == '' && event.date.dates == ''" class="event-details-time">All day</div>
        </div>
      </li>
    </ul>
    <!--<a class="btn btn-default btn-md login-button" href="http://www.auburn.edu/career/events/">More events</a>-->
  </div>
</section>

<section class="row sponsors content extra-content">
  <h2 class="sponsors-header">Sponsors</h2>
  <div class="flex sponsors-content">
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.adtran.com/"><img src="assets/images/sponsors/tech-eng/adtran.jpg" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.ascendmaterials.com/"><img src="assets/images/sponsors/tech-eng/ascend.png" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.chevron.com/"><img src="assets/images/sponsors/tech-eng/chevron.gif" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://corporate.evonik.com/en/Pages/default.aspx"><img src="assets/images/sponsors/tech-eng/evonik.jpg" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://corporate.exxonmobil.com/"><img src="assets/images/sponsors/tech-eng/exxon-mobil.ps" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="https://www.gp.com/"><img src="assets/images/sponsors/tech-eng/georgia-pacific.eps" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://harris.com/"><img src="assets/images/sponsors/tech-eng/harris.eps" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.johnsoncontrols.com/"><img src="assets/images/sponsors/tech-eng/johnson-controls.bmp" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.milliken.com/en-us/Pages/default.aspx"><img src="assets/images/sponsors/tech-eng/milliken.png" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="https://www.neptunetg.com/home/"><img src="assets/images/sponsors/tech-eng/neptune.jpg" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.southerncompany.com/"><img src="assets/images/sponsors/tech-eng/southern-company.jpg" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.altec.com/"><img src="assets/images/sponsors/tech-eng/altec.jpg" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.amec.com/"><img src="assets/images/sponsors/tech-eng/amec.jpg" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.globaldenso.com/en/"><img src="assets/images/sponsors/tech-eng/denso.jpg" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.hondaalabama.com/"><img src="assets/images/sponsors/tech-eng/honda.jpg" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.michelinman.com/"><img src="assets/images/sponsors/tech-eng/michelin.gif" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.pandj.com/"><img src="assets/images/sponsors/tech-eng/phillips-and-jordan.jpg" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.saic.com/"><img src="assets/images/sponsors/tech-eng/saic.png" class="grayscale grayscale-fade"></img></a></div>

    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.enterprise.com/"><img src="assets/images/sponsors/erac.JPG" class="grayscale grayscale-fade"></img></a></div>

    <div class="sponsor"><span class="vert-centerer"></span><a href="http://coyote.com"><img src="assets/images/sponsors/all majors/coyote.jpg" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.sherwin-williams.com/"><img src="assets/images/sponsors/all majors/sherwin-williams.jpg" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.towerloan.com/"><img src="assets/images/sponsors/all majors/tower-loan.jpg" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.towerloan.com/"><img src="assets/images/sponsors/all majors/callidus-cloud.png" class="grayscale grayscale-fade"></img></a></div>

  </div>
</section>