---
ng-app: career-center-hire
name: hire
title: Employers | Career Center
analytics-token: UA-12338791-4
path-to-root: ..
---

<div class="content row flex">
  <form class="login" method="post" action="https://auburn-csm.symplicity.com/employers/index.php">
    <div class="login-wrap">
      <h2 class="login-title">Sign in to <a href="http://hire.auburn.edu" class="trl"></a></h2>
      <p class="login-description">Your link to meeting, training, and hiring students.</p>
      <div class="input-group login-username">
        <span class="input-group-addon input-group-addon-md"><i class="icon icon-user"></i></span>
        <input type="text" name="username" class="form-control input-md" placeholder="Employer Username">
      </div>
      <div class="input-group login-password">
        <span class="input-group-addon input-group-addon-md"><i class="icon icon-lock"></i></span>
        <input type="password" name="password" class="form-control input-md" placeholder="Password">
      </div>
      <div class="flex flex--login">
        <a href="http://hire.auburn.edu/tipsheets.html" class="btn btn-default btn-md login-button">View tips</a>
        <button type="submit" class="btn btn-default btn-md login-button login-button--active">Sign in</button>
      </div>
    </div>
  </form>
  <div class="student-employment">
    <h2>Student Employment</h2>
    <p>Looking to hire Auburn students? We have a variety of programs for just that. Find out more below!</p>
    <a class="flat-btn" href="#">Student Employment</a>
    <a class="flat-btn flat-btn--white" href="#">Student Work Policies</a>
  </div>
</div>

<div class="content row extra-content">
  <h2>
    Other Resources
  </h2>
  <p>
    Lorem ipsum, etc.
  </p>
</div>

<div class="content row extra-content">
  <div class="events" ng-controller="calendar-ctrl">
    <h2><a href="http://www.auburn.edu/career/events/">Upcoming Events</a></h2>
    <ul>
      <li class="event" ng-repeat="event in events">
        <div class="event-date">
          <div class="event-date-month">[[ event.date['shortened-month'] ]]</div>
          <div class="event-date-day">[[ event.date['day'] ]]</div>
        </div>
        <div class="event-details">
          <div class="event-details-name">[[ event.name ]]</div>
          <div class="event-details-location">[[ event.location ]]</div>
          <div class="event-details-time">[[ event.date.time.start]] - [[ event.date.time.end ]]</div>
        </div>
      </li>
    </ul>
    <a class="btn btn-default btn-md login-button" href="http://www.auburn.edu/career/events/">More events</a>
  </div>
</div>