---
path-to-root: ../
ng-app: career-center-hire
name: hire
type: hire
layout: employers.hbs
title: Employers | Career Center
analytics-token: UA-12338791-4
component:
- calendar
- sponsors
---

<section class="login-welcome row flex">
  <div class="login content">
    <div class="login-wrapper">
      <h2 class="">Sign in to <a href="http://jobs.auburn.edu" class="trl"></a></h2>
      <p class="login-blurb">Your link to Auburn students.</p>
      <div class="buttons">
        <a class="flat-btn" href="https://auburn-csm.symplicity.com/employers/?signin_tab=0">Sign in</a>
        <a class="flat-btn" href="https://auburn-csm.symplicity.com/employers/?signin_tab=2">Register</a>
        <a class="flat-btn flat-btn--half flat-btn--white" href="http://auburn.edu/career/employers/policiesprocedures_emp.html">View policies</a>
        <a class="flat-btn flat-btn--half flat-btn--white" href="http://auburn.edu/career/jobs/tipsheets.html">View tips</a>
      </div>
    </div>
  </div>
  <div class="welcome content content--no-padding">
    <h2 class="padding">This is Recruiting.</h2>
    <blockquote class="padding">
      Highly effective employers place their emphasis on long-term
      objectives and building connections with students, faculty, 
      and the career staff, rather than focusing on recruiting 
      transactions. It is the Career Center's goal to develop and 
      maintain strong relationships with employers, and we value 
      the opportunity to assist you with your hiring needs.
      <br/>
      <br/>
      Your success is our success. We look forward to helping you 
      put a Tiger On Your Team.
    </blockquote>
    <p class="padding">
      <a href="mailto:skipworth@auburn.edu">Jay Skipworth</a>, Assistant Director of Employer Relations
    </p>
    <a class="flat-btn" 
       role="button" 
       tabindex="0"
       data-toggle="popover" 
       data-html="true" 
       data-placement="top" 
       data-trigger="click" 
       data-title="Auburn University"
       data-content="<ul>
                      <li>One of the largest universities in the south</li>
                      <li>Fall 2015 enrollment: 27,287</li>
                      <li>140 degree options</li>
                      <li>13 schools and colleges</li>
                      <li>Undergraduate, graduate, and professional degree options</li>
                     </ul>">
      Learn about Auburn University
    </a>
  </div>
</section>

<section class="row flex">
  <div class="services content extra-content content--no-padding">
    <div class="services-wrapper">
      <div class="services-overlay"></div>
      <h2 class="services-header">
        Employer Services
      </h2>
      <ul class="services-content">
        <li class="service"><a href="employers/job-postings.html">Job Postings</a></li>
        <li class="service"><a href="employers/events/">Career Events</a></li>
        <li class="service"><a href="employers/student-employment/on-campus.html">On-Campus Employment</a></li>
        <li class="service"><a href="employers/oci.html">On-Campus Interviewing</a></li>
        <li class="service"><a href="employers/student-employment/off-campus.html">Off-Campus Employment</a></li>
        <li class="service"><a href="employers/oci.html#info-sessions">Information Sessions</a></li>
      </ul>
    </div>
    <a class="flat-btn flat-btn--disabled report-hiring" href="" disabled="disabled">Report Hiring</a>
  </div>
</section>

<section class="employer-events-wrapper content extra-content content--no-padding row" ng-controller="calendar-ctrl">
  <h2 class="employer-events-title">Event Registration</h2>
  <p ng-if="events.length % 2 === 0" class="blurb">Click any event to get more information and register.</p>
  <ul class="employer-events flex">
    <li ng-if="events.length % 2 !== 0" class="employer-event employer-event--blurb">Click any event to get more information and register.</li>
    <li class="employer-event" ng-repeat="event in events">
      <a class="employer-event-link" href="[[ event.url ]]">
        <h3>[[ event.name ]]</h3>
        <div class="employer-event-details">
          <div class="employer-event-when">
            <div class="employer-event-date">[[ event.date.month ]] [[ event.date.day ]]</div>
            <div class="employer-event-time">[[ event.date.time.start ]] - [[ event.date.time.end ]]</div>
          </div>
          <div class="employer-event-cost" ng-if="event.cost">
            $[[ event.cost ]]
          </div>
        </div>
      </a>
    </li>
  </ul>
</section>

<section class="row sponsors content extra-content">
  <h2 class="sponsors-header">Sponsors</h2>
  <div class="sponsors-content" ng-controller="sponsors-ctrl">
    <div class="sponsor" ng-repeat="sponsor in sponsors">
      <span class="vert-centerer"></span>
      <a href="[[ sponsor.url ]]">
        <img src="assets/images/sponsors/[[ sponsor.logo ]]" class="grayscale grayscale-fade"></img>
      </a>
    </div>
  </div>
</section>