---
ng-app: career-center-home
name: home
type: home
title: Career Center
path-to-root: ./
layout: default.hbs
component:
- calendar
- twitter
- blogger
- hours
- sponsors
---

<div class="home-content content extra-content flex content--no-padding">
  <div class="login">
    <div class="">
      <h2 class="">Sign in to <a href="http://jobs.auburn.edu" class="trl"></a></h2>
      <p class="">Your link to jobs, interviews and employers.</p>
      <div class="buttons">
        <a class="flat-btn" href="https://auburn-csm.symplicity.com/sso/students/">Current students sign in</a>
        <a class="flat-btn flat-btn--half" href="https://auburn-csm.symplicity.com/students/">Alumni sign in</a>
        <a class="flat-btn flat-btn--half flat-btn--white" href="http://auburn.edu/career/jobs/tipsheets.html">View tips</a>
      </div>
    </div>
  </div>
  <div class="carousel-container">
    <div id="cc-carousel" class="carousel" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#cc-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#cc-carousel" data-slide-to="1"></li>
        <li data-target="#cc-carousel" data-slide-to="2"></li>
        <li data-target="#cc-carousel" data-slide-to="3"></li>
        <li data-target="#cc-carousel" data-slide-to="4"></li>
        <li data-target="#cc-carousel" data-slide-to="5"></li>
        <li data-target="#cc-carousel" data-slide-to="6"></li>
        <li data-target="#cc-carousel" data-slide-to="7"></li>
        <li data-target="#cc-carousel" data-slide-to="8"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <a href="https://vimeo.com/144396825">
            <img src="assets/images/tip-of-the-week.png" alt="Tip of the Week video link.">
          </a>
        </div>
        <div class="item">
          <a href="students/events/iptjf.html">
            <img src="assets/images/events/iptjf-slide.png" alt="Internship & Part-time Job Fair. January 27, 2016. 10am-1pm. Student Center Ballroom.">
          </a>
        </div>
        <div class="item">
          <a href="students/events/stem.html">
            <img src="assets/images/events/stem-slide.png" alt="STEM Career Expo. February 9, 2016. 3pm-7pm. AU Hotel.">
          </a>
        </div>
        <div class="item">
          <a href="students/events/aucf.html">
            <img src="assets/images/events/aucf-slide.png" alt="Auburn University Career Fair. February 17, 2016. 3pm-7pm. AU Arena.">
          </a>
        </div>
        <div class="item">
          <a href="students/events/eid.html">
            <img src="assets/images/events/eid-slide.png" alt="Education Interview Day. March 2, 2016. 8am-3pm. Student Center Ballroom.">
          </a>
        </div>
        <div class="item">
          <a href="students/events/cmcd.html">
            <img src="assets/images/events/cmcd-slide.png" alt="Communications & Media Career Day. March 18, 2016. 8am-3pm. Student Center Ballroom.">
          </a>
        </div>
        <div class="item">
          <a href="students/events/seoty.html">
            <img src="assets/images/events/seoty-slide.png" alt="Student Employee of the Year Awards. Celebrated during National Student Employee Week, April 11-17, 2016.">
          </a>
        </div>
        <div class="item">
          <a href="events">
            <img src="assets/images/upcoming-events.png" alt="Click here to see our upcoming events.">
          </a>
        </div>
        <div class="item">
          <a href="http://www.auburn.edu/academic/provost/finishin4/index.html">
            <img src="assets/images/finish-in-four.jpg" alt="...">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-division col-sm-12 content extra-content" role="main">
  <div class="flex">
    <div class="block hours">
      <h2><a href="http://www.auburn.edu/career/aboutus/">About Our Office</a></h2>
      <div class="place">
        <a href="http://auburn.edu/map/?id=76" class="place-icon">
          <i class="icon-map-marker"></i>
        </a>
        <a href="http://auburn.edu/map/?id=76" class="place-address">
          <address>
            303 Mary Martin Hall<br>
            Auburn, AL 36849
          </address>
        </a>
      </div>
      <div class="times">
        <i class="fa icon-clock-o times-icon"></i>
        <div class="times-address" ng-controller="hours-ctrl">
          
          <p class="emphasized" ng-if="holiday">[[ holiday ]]</p>
          <div ng-if="office">
            <h6>Hours</h6>
            <p ng-repeat="hours in office">
              <span ng-if="hours.startDay && !hours.days">[[ hours.startDay ]]-[[ hours.endDay ]]</span><span ng-repeat="day in hours.days">[[ day ]]<span ng-if="!$last">, </span></span> [[ hours.startTime ]]-[[ hours.endTime ]]
            </p>
          </div>
          <div ng-if="walkIn">
            <h6>Walk-ins</h6>
            <p ng-repeat="hours in walkIn">
              <span ng-if="hours.startDay && !hours.days">[[ hours.startDay ]]-[[ hours.endDay ]]</span><span ng-repeat="day in hours.days">[[ day ]]<span ng-if="!$last">, </span></span> [[ hours.startTime ]]-[[ hours.endTime ]]
            </p>
          </div>
          <p class="subtle">
            Need assistance? Get started by coming in to the Career Center
            during walk-in hours for a brief 15 minute meeting. If 
            additional help is needed, an appointment can be made at that 
            time.
          </p>
        </div>
      </div>
      <div class="appointments">
        <a href="tel:3348444744" class="appointments-icon">
          <i class="fa icon-phone"></i>
        </a>
        <div class="appointments-address">
          <p>
            To schedule an appointment, call <a href="tel:3348444744">(334) 844-4744.</a>
          </p>
          <p class="subtle">
            Due to accessibility limitations of Martin
            Hall, please notify us when setting your
            appointment if accommodations are needed.
          </p>
        </div>
      </div>
      <i class="fa icon-briefcase block-bg hours-bg"></i>
    </div>
    <div class="block events">
      <h2><a href="http://www.auburn.edu/career/events/">Upcoming Events</a></h2>
      <ul ng-controller="calendar-ctrl">
        <li class="event" ng-repeat="event in events">
          <div class="event-date">
            <div class="event-date-month">[[ event.date['shortened-month'] ]]</div>
            <div class="event-date-day">[[ event.date.day ]]</div>
          </div>
          <div class="event-details">
            <a ng-if="event.url !== undefined" href="[[ event.url ]]" class="event-details-name" target="_blank">[[ event.name ]]</a>
            <div ng-if="event.url === undefined" class="event-details-name">[[ event.name ]]</div>
            <div class="event-details-location">[[ event.location ]]</div>
            <div ng-if="event.date.time != ''" class="event-details-time">[[ event.date.time.start ]] - [[ event.date.time.end ]]</div>
            <div ng-if="event.date.time == '' && event.date.dates != ''" class="event-details-time">All day, continues until [[ event.date.dates.end ]]</div>
            <div ng-if="event.date.time == '' && event.date.dates == ''" class="event-details-time">All day</div>
          </div>
        </li>
      </ul>
      <a href="http://www.auburn.edu/career/events/">More events</a>
      <i class="fa icon-calendar block-bg events-bg"></i>
    </div>
  </div>
  <div class="flex">
    <div class="block tweets">
      <h2><a href="https://twitter.com/aucareer">@AUCareer</a></h2>
      <ul ng-controller="twitter-ctrl">
        <li class="tweet" ng-repeat="tweet in tweets">
          <div class="tweet-text">
            <a ng-if="tweet.data.url != '' && tweet.data.url !== undefined" class="tweet-link" href="[[ tweet.data.url ]]">[[ tweet.data.text ]]</a>
            <span ng-if="tweet.data.url == '' || tweet.data.url === undefined">[[tweet.data.text]]</span>
            <a class="tweet-date" href="https://twitter.com/[[tweet.user.screen_name]]/status/[[tweet.id_str]]">[[tweet.data.date]]</a>
          </div>
        </li>
      </ul>
      <i class="fa icon-twitter block-bg tweets-bg"></i>
    </div>
    <div class="block blog">
      <h2><a href="http://tigersprepare.blogspot.com" target="_blank">Tigers Prepare Blog</a></h2>
      <ul ng-controller="blogger-ctrl">
        <li class="blog-post" ng-repeat="post in blog.posts">
          <h3><a class="h3-a post-title" href="[[ post.url ]]">[[ post.title ]]</a></h3>
          <div class="post-details"><a class="tweet-date" href="[[post.author.url ]]">posted by [[ post.author.name ]]</a></div>
        </li>
      </ul>
      <div class="blog-readmore"><a href="http://tigersprepare.blogspot.com">Read more</a></div>
      <i class="fa icon-edit block-bg blog-bg"></i>
    </div>
  </div>
</div>
<div class="row sponsors content extra-content">
  <h2 class="sponsors-header">Sponsors</h2>
  <div class="sponsors-content" ng-controller="sponsors-ctrl">
    <div class="sponsor" ng-repeat="sponsor in sponsors">
      <span class="vert-centerer"></span>
      <a href="[[ sponsor.url ]]">
        <img src="assets/images/sponsors/[[ sponsor.logo ]]" class="grayscale grayscale-fade"></img>
      </a>
    </div>
  </div>
</div>
