---
ng-app: career-center-home
title: Career Center
name: home
---

<div class="brow row">
  <div class="banner flex">
    <form class="slider login" method="post" action="https://auburn-csm.symplicity.com/students/index.php">
      <div class="login-wrap">
        <h2 class="login-title">Sign in to <a href="http://jobs.auburn.edu" class="trl"></a></h2>
        <p class="login-description">Your link to jobs, interviews and employers.</p>
        <div class="input-group login-username">
          <span class="input-group-addon input-group-addon-md"><i class="icon icon-user"></i></span>
          <input type="text" name="username" class="form-control input-md" placeholder="Student Username">
        </div>
        <div class="input-group login-password">
          <span class="input-group-addon input-group-addon-md"><i class="icon icon-lock"></i></span>
          <input type="password" name="password" class="form-control input-md" placeholder="Password">
        </div>
        <div class="flex flex--login">
          <a href="http://auburn.edu/career/jobs/tipsheets.html" class="btn btn-default btn-md login-button">View tips</a>
          <button type="submit" class="btn btn-default btn-md login-button login-button--active">Sign in</button>
        </div>
      </div>
    </form>
    <div id="cc-carousel" class="carousel slider blanker" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#cc-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#cc-carousel" data-slide-to="1"></li>
        <li data-target="#cc-carousel" data-slide-to="2"></li>
        <li data-target="#cc-carousel" data-slide-to="3"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <a href="http://auburn.edu/career/seoty">
            <img src="assets/images/SEOTY_Homepage-01.svg" alt="...">
          </a>
        </div>
        <div class="item">
          <a href="http://auburn.edu/career/students/events/am.html">
            <img src="assets/images/AMCE_Homepage(S15).png" alt="...">
          </a>
        </div>
        <div class="item">
          <a href="http://auburn.edu/career/students/events/eid.html">
            <img src="assets/images/EID_Homepage(S15)-01.svg" alt="...">
          </a>
        </div>
        <div class="item">
          <a href="http://auburn.edu/career/students/events/cmcd.html">
            <img src="assets/images/Comm&Med_Homepage.png" alt="...">
          </a>
        </div>
      </div>


      <a class="left carousel-control" href="#cc-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a> 
      <a class="right carousel-control" href="#cc-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>

<div class="content-division col-sm-12 content" role="main">
  <div class="flex">
    <div class="block hours">
      <h2><a href="http://www.auburn.edu/career/aboutus/">About Our Office</a></h2>
      <div class="place">
        <a href="http://auburn.edu/map/?id=76" class="place-icon">
          <i class="icon-map-marker"></i>
        </a>
        <a href="http://auburn.edu/map/?id=76" class="place-address">
          <address>
            303 Mary Martin Hall<br>
            Auburn, AL 36849
          </address>
        </a>
      </div>
      <div class="times">
        <i class="fa icon-clock-o times-icon"></i>
        <div class="times-address">
          Hours: <br /> Mon-Fri 7:45am-4:45pm <br />
          Walk-ins: <br />Mon, Thurs, Fri 12:00 noon-4pm <br /> Tues, Wed 9:00am-4:00pm
          <p class="subtle">
            15 minute sessions for resume and cover
            letter reviews and basic job search questions.
          </p>
        </div>
      </div>
      <div class="appointments">
        <a href="tel:3348444744" class="appointments-icon">
          <i class="fa icon-phone"></i>
        </a>
        <div class="appointments-address">
          To schedule an appointment, call <a href="tel:3348444744">(334) 844-4744.</a>
          <p class="subtle">
            Due to accessibility limitations of Martin
            Hall, please notify us when setting your
            appointment if accommodations are needed.
          </p>
        </div>
      </div>
      <i class="fa icon-briefcase block-bg hours-bg"></i>
    </div>
    <div class="block events">
      <h2><a href="http://www.auburn.edu/career/events/">Upcoming Events</a></h2>
      <ul ng-controller="calendar-ctrl">
        <li class="event" ng-repeat="event in events">
          <div class="event-date">
            <div class="event-date-month">[[ event.date['shortened-month'] ]]</div>
            <div class="event-date-day">[[ event.date.day ]]</div>
          </div>
          <div class="event-details">
            <a ng-if="event.url != ''" href="[[ event.url ]]" class="event-details-name" target="_blank">[[ event.name ]]</a>
            <div ng-if="event.url == ''" class="event-details-name">[[ event.name ]]</div>
            <div class="event-details-location">[[ event.location ]]</div>
            <div ng-if="event.date != ''" class="event-details-time">[[ event.date.time.start ]] - [[ event.date.time.end ]]</div>
            <div ng-if="event.date == ''" class="event-details-time">All day</div>
          </div>
        </li>
      </ul>
      <a href="http://www.auburn.edu/career/events/">More events</a>
      <i class="fa icon-calendar block-bg events-bg"></i>
    </div>
  </div>
  <div class="flex">
    <div class="block tweets">
      <h2><a href="https://twitter.com/aucareer">@AUCareer</a></h2>
      <ul ng-controller="twitter-ctrl">
        <li class="tweet" ng-repeat="tweet in tweets">
          <div class="tweet-text">
            <a ng-if="tweet.data.url != '' && tweet.data.url !== undefined" class="tweet-link" href="[[ tweet.data.url ]]">[[ tweet.data.text ]]</a>
            <span ng-if="tweet.data.url == '' || tweet.data.url === undefined">[[tweet.data.text]]</span>
            <a class="tweet-date" href="https://twitter.com/[[tweet.user.screen_name]]/status/[[tweet.id_str]]">[[tweet.data.date]]</a>
          </div>
        </li>
      </ul>
      <i class="fa icon-twitter block-bg tweets-bg"></i>
    </div>
    <div class="block blog">
      <h2><a href="http://tigersprepare.blogspot.com" target="_blank">Tigers Prepare Blog</a></h2>
      <ul ng-controller="blogger-ctrl">
        <li class="blog-post" ng-repeat="post in blog.posts">
          <h3><a class="h3-a post-title" href="[[ post.url ]]">[[ post.title ]]</a></h3>
          <div class="post-details">[[ post.date ]]</div>
        </li>
      </ul>
      <div class="blog-readmore"><a href="http://tigersprepare.blogspot.com">Read more</a></div>
      <i class="fa icon-edit block-bg blog-bg"></i>
    </div>
  </div>
</div>
<div class="row sponsors content extra-content">
  <h2 class="sponsors-header">Sponsors</h2>
  <div class="sponsors-content">
    <div class="sponsor">
      <span class="vert-centerer"></span>
      <a href="https://www.calliduscloud.com/">
        <img src="http://auburn.edu/career/jobs/assets/images/sponsors/all majors/callidus-cloud.png" class="grayscale grayscale-fade"></img>
      </a>
    </div>

    <div class="sponsor">
      <span class="vert-centerer"></span>
      <a href="http://www.globaldenso.com/en/">
        <img src="http://auburn.edu/career/jobs/assets/images/sponsors/tech-eng/denso.jpg" class="grayscale grayscale-fade"></img>
      </a>
    </div>

    <div class="sponsor">
      <span class="vert-centerer"></span>
      <a href="https://www.gp.com/">
        <img src="http://auburn.edu/career/jobs/assets/images/sponsors/tech-eng/georgia-pacific.eps" class="grayscale grayscale-fade"></img>
      </a>
    </div>

    <div class="sponsor">
      <span class="vert-centerer"></span>
      <a href="http://www.hondaalabama.com/">
        <img src="http://auburn.edu/career/jobs/assets/images/sponsors/tech-eng/honda.jpg" class="grayscale grayscale-fade"></img>
      </a>
    </div>

    <div class="sponsor">
      <span class="vert-centerer"></span>
      <a href="http://www.michelinman.com/">
        <img src="http://auburn.edu/career/jobs/assets/images/sponsors/tech-eng/michelin.gif" class="grayscale grayscale-fade"></img>
      </a>
    </div>

    <div class="sponsor">
      <span class="vert-centerer"></span>
      <a href="https://www.neptunetg.com/home/">
        <img src="http://auburn.edu/career/jobs/assets/images/sponsors/tech-eng/neptune.jpg" class="grayscale grayscale-fade"></img>
      </a>
    </div>

    <div class="sponsor">
      <span class="vert-centerer"></span>
      <a href="https://www.quincycompressor.com/">
        <img src="http://auburn.edu/career/jobs/assets/images/sponsors/tech-eng/quincy-compressor.jpg" class="grayscale grayscale-fade"></img>
      </a>
    </div>
    <div class="sponsor">
      <span class="vert-centerer"></span>
      <a href="https://www.shawfloors.com/">
        <img src="http://auburn.edu/career/jobs/assets/images/sponsors/tech-eng/shaw.jpg" class="grayscale grayscale-fade"></img>
      </a>
    </div>
    <div class="sponsor">
      <span class="vert-centerer"></span>
      <a href="https://www.udatechnologies.com/">
        <img src="http://auburn.edu/career/jobs/assets/images/sponsors/tech-eng/uda.png" class="grayscale grayscale-fade"></img>
      </a>
    </div>
    <div class="sponsor">
      <span class="vert-centerer"></span>
      <a href="https://www.unum.com/">
        <img src="http://auburn.edu/career/jobs/assets/images/sponsors/all majors/unum.jpg" class="grayscale grayscale-fade"></img>
      </a>
    </div>
  </div>
</div>
