---
name: internship-opportunities
type: student-employment
layout: employers.hbs
title: Internship Opportunities | Career Center
---

<section class="content extra-content">
  <h2>Internship Opportunities</h2>
  <p>
    Internships posted in Tiger Recruiting Link – both paid and unpaid – 
    are expected to conform to the standards set forth by the 
    <a href="https://www.dol.gov/whd/regs/compliance/whdfs71.pdf">
      Internship Programs Under the Fair Labor Standards Act.
    </a>
  </p>
  <p>
    Unpaid internships are required to submit learning objectives for the 
    position and will be evaluated by our staff. Internships for college 
    credit at Auburn are determined by each department in each school or 
    college. For more specific information, <a href="aboutus/">contact our 
    office</a> and we will be happy to direct you to the appropriate 
    contact(s).
  </p>
</section>