---
title: Interview Practice and Resources | Career Center
name: interviews
type: interviews
layout: no-social.hbs
---

<section class="content interview-banner">
  <h2>Interview Practice</h2>
  <p>Let's get you ready.</p>
</section>

<div class="interview-types">
  <section class="content mock">
    <h2>Mock Interviews</h2>
    <p>
      Finally, when you have an interview planned, and have practiced 
      with InterviewStream, call <a href="tel:3348444744">(334) 844-4744</a> to schedule a mock 
      interview to serve as a dress rehearsal prior to the actual 
      interview.
    </p>
    <p>
      Be prepared to share the company/organization name 
      and the job title you are seeking. You will come to the 
      interview dressed professionally with a resume. Call in advance 
      to schedule as available appointments fill quickly.
    </p>
    <div class="location">
      <a href="http://auburn.edu/map?id=76" class="place-icon">
        <i class="icon-map-marker"></i>
      </a>
      <h2 class="place-address">
        <address>
          <a href="http://auburn.edu/map?id=76">
            303 Mary Martin Hall <br />
            Auburn, AL 36849
          </a>
        </address>
      </h2>
    </div>
    <a class="flat-btn" href="http://auburn.edu/career/tipsheets/Tip%20Sheet%20Interview%20Prep.pdf">Tip Sheet</a>
    <a class="flat-btn" href="tel:3348444744">Schedule a Mock Interview</a>
  </section>
  <section class="content resume">
    <h2>Online Interview Practice</h2>
    <p>
      The InterviewStream system offers students the chance 
      to digitally record multiple practice interviews using 
      a computer in the Career Center or from a home computer
      (equipped with a web-cam and updated software). Through 
      InterviewStream, students can schedule practice 
      interview appointments using equipment in the Career 
      Center, select interview questions to practice 
      answering, and e-mail practice interview videos to 
      career counselors, professors, or employers.
    </p>
    <p class="muted">
      You MUST use your Auburn e-mail address to create your account.
    </p>
    <a class="flat-btn" href="https://auburn.interviewstream.com/Account/Login?ReturnUrl=%2f">Create an Account</a>
    <!--<p class="disabled resume-disabled">
      eResume services have been suspended until further notice. 
      Please visit the Career Center during 
      <a href="/aboutus/index.html#walk-ins">walk-in hours</a> 
      for assistance (Mon-Fri 12noon-4pm). We apologize for the 
      inconvenience and appreciate your patience.
    </p>-->
  </section>
</div>