---
title: Interview Practice and Resources | Career Center
name: interviews
type: interviews
layout: no-social.hbs
---

<section class="content interview-banner">
  <h2>Interview Practice</h2>
  <p>Let's get you ready.</p>
</section>

<div class="interview-types">
  <section class="content resume">
    <h2>Online Interview Practice</h2>
    <p>
      Create an InterviewStream account to digitally record multiple 
      interviews, select questions to practice answering, and email videos 
      to career counselors, professors, or employers.
    </p>
    <p class="online-interview-requirements-header">
      You will need:
    </p>
    <ul class="online-interview-requirements">
      <li>Computer</li>
      <li>Webcam</li>
      <li>Up-to-date Software</li>
      <li>An Auburn email address</li>
    </ul>
    <p>
      For your convenience, computers are also available in the Career Center for student use.
    </p>
    <p class="muted">
      You MUST use your Auburn e-mail address to create your account. (e.g. aubie@auburn.edu)
    </p>
    <a class="flat-btn" href="https://auburn.interviewstream.com/Account/Login?ReturnUrl=%2f">Create an Account</a>
  </section>
  <section class="content mock">
    <h2>Mock Interviews</h2>
    <p>
      Have an upcoming interview? Call <a href="tel:3348444744">334.844.4744</a>
      to schedule a mock interview (be prepared to share the company/organization
      name and the job title you are seeking). Think of your mock interview as a 
      dress rehearsal for the actual interview. Come as you would to the real 
      thing: dressed professionally and with a resume. Call in advance to 
      schedule as available appointments fill quickly.
    </p>
    
    <div class="location desktop-show">
      <a href="tel:3348444744" class="place-icon">
        <i class="icon-phone"></i>
      </a>
      <h2 class="phone-address"><a href="tel:3348444744">(334) 844 4744</a></h2>
    </div>
    <div class="location">
      <a href="http://auburn.edu/map?id=76" class="place-icon">
        <i class="icon-map-marker"></i>
      </a>
      <h2 class="place-address">
        <address>
          <a href="http://auburn.edu/map?id=76">
            303 Mary Martin Hall <br />
            Auburn, AL 36849
          </a>
        </address>
      </h2>
    </div>
    <a id="tips" class="flat-btn" href="http://auburn.edu/career/tipsheets/Tip%20Sheet%20Interview%20Prep.pdf">View Tips</a>
    <a class="flat-btn desktop-hide" href="tel:3348444744">Schedule a Mock Interview</a>
  </section>
</div>

<section class="content extra-content interview-banner">
  <h2>On-Campus Interviews</h2>
  <p>Let's do this.</p>
</section>

<section class="content interview-details">
  <p>
    Now you're ready. Interview with employers who come to campus just to meet capable 
    students like you &#8212; and know that you've got us behind you.
  </p>
  <p class="muted">
    In order to register for interviews, you must have a TRL account. If you do not 
    already have a TRL account, you MUST use your Auburn e-mail address to create 
    your account. (e.g. aubie@auburn.edu)
  </p>
  <a class="flat-btn" href="https://auburn-csm.symplicity.com/sso/students/">Register for Interviews</a>
</section>