<!-- Banner image -->
<div class="hero">
  <img class="iptjf" src="../assets/images/IPTJF_TV_S15.png"></img>
</div>

<div class="content">
  <!-- Blurb -->
  <div class="row">
    <p class="blurb">
      Come sign up and interview with employers in one hectic but helpful day! <br /> <br />
      <strong>Registration:</strong> 8am-9am <br />
      <strong>Browsing and scheduling:</strong> 9-10 <br />
      <strong>Interviews:</strong> 10am - 3am
    </p>
    <div class="buttons">
      <a class="flat-btn attendants" href="https://auburn-csm.symplicity.com/events/students.php?cf=amcesp15">
        See Attending Employers
      </a>
      <a class="flat-btn locations" href="">
        See Employer Locations On-Site
      </a>
      <a id="download-btn" class="flat-btn download" href="https://itunes.apple.com/us/app/auburn-career-fair-plus/id691680982?mt=8">
        Download Our Mobile App
      </a>
    </div>
  </div>
  
  <!-- Icons -->
  <div class="attributes">
    <div class="attribute">
      <div class="icon format">
        <i class="icon-comments-o"></i>
      </div>
      <div class="details">Interview by appointment</div>
    </div>
    <div class="attribute">
      <div class="icon dress">
        <i class="icon-tie"></i>
      </div>
      <p class="details">
        Business professional
      </p>
    </div>  
    <div class="attribute">
      <div class="icon majors">
        <i class="icon-graduation-cap"></i>
      </div>
      <div class="details">Any major</div>
    </div>
  </div>
</div>