---
ng-app: none
name: events-pages
title: Internship and Part-Time Job Fair
---

<!-- Banner image -->
<div class="hero">
  <img src="http://auburn.edu/career/assets/images/IPTJF_Webpage_Image(S15).png"></img>
</div>

<div class="content">
  <!-- Blurb -->
  <div class="row">
    <p class="blurb">
      Relevant work experience is an important part of your résumé. <br/><br/>
      Attend the Internship and Part-Time Job Fair to network with employers offering opportunities to add to that experience.
    </p>
    <div class="buttons">
      <a class="flat-btn attendants" href="https://auburn-csm.symplicity.com/events/students.php?cf=iptjfsp15">
        See Attending Employers
      </a>
      <a class="flat-btn locations" href="">
        See Employer Locations On-Site
      </a>
    </div>
  </div>
  
  <!-- Icons -->
  <div class="attributes">
    <div class="attribute">
      <a class="icon format" href="https://www.candidcareer.com/video-networking+101,1e866306e9b5f012419c,Auburn" target="_blank">
        <i class="icon-comments-o"></i>
      </a>
      <div class="details">Networking</div>
    </div>
    <div class="attribute">
      <a class="icon dress" href="http://www.auburn.edu/career/tipsheets/Tip%20Sheet%20Dress%20Bus%20Professional%20-%20Bus%20Casual.pdf" target="_blank">
        <i class="icon-tie"></i>
      </a>
      <p class="details">
        Business casual recommended
      </p>
    </div>  
    <div class="attribute">
      <a class="icon majors" href="https://auburn-csm.symplicity.com/events/students.php?cf=amcesp15" target="_blank">
        <i class="icon-graduation-cap"></i>
      </a>
      <div class="details">Any major</div>
    </div>
  </div>
</div>