---
path-to-root: ../
name: job-postings
type: job-postings
layout: employers.hbs
title: Job Postings | Career Center

style:
- attributes
- login
---

<section class="card">
  <h1>Posting a Job</h1>
</section>

<section class="flex recruiting-welcome">
  <div class="login padded card flex-two-thirds">
    <div class="login-container watermarked">
      <i class="watermark icon-compass"></i>
      <img class="handshake protected" src="assets/images/handshake.png" alt="Handshake (formerly TRL)">
      <div class="buttons">
        <a class="flat-btn" href="https://demo.joinhandshake.com/login">Sign in</a>
        <a href="http://auburn.edu/co-op/" class="flat-btn flex-half flat-btn--white">Discover Co-ops</a>
        <a href="employers/internship-opportunities.html" class="flat-btn flex-half flat-btn--white">Discover Internships</a>
      </div>
    </div>
  </div>
  
  <div class="card welcome flex-third">
    <h3>Helpful Hint</h3>
    <p>
      All job postings are evaluated and reviewed by our staff. 
      In order to make the most of your posting, we recommend 
      selecting specific criteria in the Majors Recruited 
      section as well as other screening factors such as GPA, 
      Graduation Dates, Work Authorization, etc. Remember, 
      many of our Graduate-level students are also interested 
      in these jobs. Feel free to include those degree programs 
      as well.
    </p>
  </div>
</section>

<section class="card unpadded">
  <div class="flex buttons buttons--no-margin">
    <a href="http://bulletin.auburn.edu/undergraduate/majors/" class="flat-btn flat-btn--bottom">Undergraduate Majors</a>
    <a href="http://grad.auburn.edu/ps/areas_of_study.html" class="flat-btn flat-btn--white flat-btn--bottom">Graduate Programs</a>
  </div>
</section>

<section class="card restrictions">
  <h3>Restrictions of TRL</h3>
  <p>
    Tiger Recruiting Link is intended for jobs and internships 
    that are appropriate for current students and recent alumni. 
    As such, the following types of positions will NOT be approved:
  </p>
  <ul>
    <li>Positions or volunteer opportunities that require students to pay a fee or make an investment prior to employment</li>
    <li>Placement agencies/organizations offering unspecified opportunities</li>
    <li>Third-party recruiters, unless the name of your client and the job title are clearly indicated in the job or internship posting</li>
  </ul>
</section>