---
path-to-root: ../
name: job-postings
type: job-postings
layout: employers.hbs
title: Job Postings | Career Center

style:
- attributes
- login
---

<section class="card">
  <h2>Job Postings</h2>
</section>

<section class="flex recruiting-welcome">
  <div class="card flex-two-thirds login">
    <h3 class="trl"></h3>
    <p>
      Your source for student recruitment.
    </p>
    <div class="attributes">
      <div class="attribute">
        <a class="icon">
          <i class="icon-interviewer"></i>
        </a>
        <div class="details">
          Part-time
        </div>
      </div>
      <div class="attribute">
        <a class="icon">
          <i class="icon-briefcase"></i>
        </a>
        <div class="details">
          Full-time
        </div>
      </div>
      <div class="attribute">
        <a class="icon">
          <i class="icon-graduation-cap"></i>
        </a>
        <div class="details">
          Internships
        </div>
      </div>
    </div>
    <div class="buttons">
      <a href="https://auburn-csm.symplicity.com/employers/index.php?signin_tab=0" class="flat-btn flex-half">Login</a>
      <a href="https://auburn-csm.symplicity.com/employers/?signin_tab=2" class="flat-btn flex-half">Register</a>
      <a href="http://auburn.edu/co-op/" class="flat-btn flex-half flat-btn--white">Discover Co-ops</a>
      <a href="employers/internship-opportunities.html" class="flat-btn flex-half flat-btn--white">Discover Internships</a>
    </div>
  </div>
  
  <div class="card welcome flex-third">
    <h3>Helpful Hint</h3>
    <p>
      All job postings are evaluated and reviewed by our staff. 
      In order to make the most of your posting, we recommend 
      selecting specific criteria in the Majors Recruited 
      section as well as other screening factors such as GPA, 
      Graduation Dates, Work Authorization, etc. Remember, 
      many of our Graduate-level students are also interested 
      in these jobs. Feel free to include those degree programs 
      as well.
    </p>
  </div>
</section>

<section class="card unpadded">
  <div class="flex buttons buttons--no-margin">
    <a href="http://bulletin.auburn.edu/undergraduate/majors/" class="flat-btn flex-half">Undergraduate Majors</a>
    <a href="http://grad.auburn.edu/ps/areas_of_study.html" class="flat-btn flat-btn--white flex-half">Graduate Programs</a>
  </div>
</section>

<section class="card restrictions">
  <h3>Restrictions of TRL</h3>
  <p>
    Tiger Recruiting Link is intended for jobs and internships 
    that are appropriate for current students and recent alumni. 
    As such, the following types of positions will NOT be approved:
  </p>
  <ul>
    <li>Positions or volunteer opportunities that require students to pay a fee or make an investment prior to employment</li>
    <li>Placement agencies/organizations offering unspecified opportunities</li>
    <li>Third-party recruiters, unless the name of your client and the job title are clearly indicated in the job or internship posting</li>
  </ul>
</section>