---
name: job-postings
type: student-employment
layout: employers.hbs
title: On-Campus Interviewing | Career Center
---

<section class="content hero">
  <h2>Job Postings</h2>
</section>

<section class="flex">
  <div class="content extra-content flex-half recruiting-link">
    <h3 class="trl"></h3>
    <p>
      Your source for student recruitment.
    </p>
    <div class="attributes">
      <div class="attribute">
        <a class="icon post">
          <i></i>
        </a>
        <div class="details">
          Post positions for free
        </div>
      </div>
      <div class="attribute">
        <a class="icon law">
          <i></i>
        </a>
        <div class="details">
          Comply with equal opportunity laws
        </div>
      </div>
      <div class="attribute">
        <a class="icon calendar">
          <i class="icon-calendar"></i>
        </a>
        <div class="details">
          Register for Career Center events
        </div>
      </div>
    </div>
    <div class="buttons">
      <a href="https://auburn-csm.symplicity.com/employers/index.php?signin_tab=0" class="flat-btn flat-btn--half">Login</a>
      <a href="https://auburn-csm.symplicity.com/employers/?signin_tab=2" class="flat-btn flat-btn--white flat-btn--half">Register</a>
    </div>
  </div>
  
  <div class="content extra-content contact welcome">
    <h3>Point of Contact</h3>
    <div class="contact-details">
      <img src="assets/images/staff/jay.jpg">
      <div class="contact-info">
        <p class="name">Jay Skipworth</p>
        <p class="phone"><a href="tel:(334) 844-4744">(334) 844-4744</a></p>
        <p class="email"><a href="mailto:skipworth@auburn.edu">skipworth</a></p>
      </div>
    </div>
  </div>
</section>

<section class="quick-guide"> 
  <div class="flex">
    <div class="flex-third content report-placement">
      <h3>Report Placement</h3>
      <p>
        The Student Employment office is supported by the Job 
        Location &amp; Development grant. In order to 
        maintain this grant, we ask that you provide placement 
        information when you hire Auburn students. No personal 
        information will be made public. 
      </p>
      <p class="survey-length">Estimated length: 4 minutes</p>
      <a href="https://auburn.qualtrics.com/jfe/form/SV_5zkiOXqLCMt6J8h" class="flat-btn">Take Survey</a>
    </div>
    <div class="flex-third">
      <h4>Registration</h4>
      <ol>
        <li><a href="https://auburn-csm.symplicity.com/employers/?signin_tab=2" target="_blank">Click here to create a new employer account.</a></li>
        <li>Complete your company profile.</li>
        <li>You may select “All Majors” under the Majors Recruited section.</li>
        <li>Submit.</li>
        <li>Allow at least one business day for the Career Center to verify your registration.</li>
      </ol>
    </div>
    <div class="flex-third">
      <h4>Post jobs</h4>
      <ol>
        <li><a href="https://auburn-csm.symplicity.com/employers/index.php?signin_tab=0">Click here to log in.</a><br/><span class="muted">Username: your email address<br/>Password: will be emailed to you</span></li>
        <li>Navigate to the Jobs tab and click "Add New."</li>
        <li>Select “Post to this school only.”</li>
        <li>Complete job description and submit.<br /><span class="muted">To re-open an old posting, select “Show Archived” under the Copy Existing category.</span></li>
      </ol>
    </div>
  </div>
</section>

<section class="content extra-content content--no-padding content--tips">
  <h3 class="how-to-header">Tips and Advice</h3>
  <div class="flex buttons buttons--no-padding">
    <a href="http://issuu.com/aucc/docs/studentemploymentpolicies/12" class="flat-btn                 flex-quarter">Posting a Job</a>
    <a href="http://issuu.com/aucc/docs/studentemploymentpolicies/14" class="flat-btn flat-btn--white flex-quarter">Reviewing Applications</a>
    <a href="http://issuu.com/aucc/docs/studentemploymentpolicies/14" class="flat-btn                 flex-quarter">Third Party Policy</a>
    <a href="http://issuu.com/aucc/docs/studentemploymentpolicies/4"  class="flat-btn flat-btn--white flex-quarter">Interviewing</a>
  </div>
</section>