---
ng-app: career-center-jobs
title: Tiger Recruiting Link | Career Center
name: jobs
path-to-root: http://auburn.edu/career/
analytics-token: UA-12338791-3
---

<div class="content extra-content flex content--no-padding">
  <form class="login" method="post" action="https://authenticate.auburn.edu/cas/login?service=https%3A%2F%2Fauburn-csm.symplicity.com%2Fsso%2Fstudents%2Flogin">
    <div class="">
      <h2 class="">Sign in to <a href="http://jobs.auburn.edu" class="trl"></a></h2>
      <p class="">Your link to jobs, interviews and employers.</p>
      <div class="buttons">
        <a class="flat-btn" href="https://auburn-csm.symplicity.com/sso/students/">Sign in</a>
        <a class="flat-btn flat-btn--half" href="https://auburn-csm.symplicity.com/students/">Sign in as alumnus</a>
        <a class="flat-btn flat-btn--half flat-btn--white" href="http://auburn.edu/career/jobs/tipsheets.html">View tips</a>
      </div>
    </div>
  </form>
  <div class="events" ng-controller="calendar-ctrl">
    <h2><a href="http://www.auburn.edu/career/events/">Upcoming Events</a></h2>
    <ul>
      <li class="event" ng-repeat="event in events">
        <div class="event-date">
          <div class="event-date-month">[[ event.date['shortened-month'] ]]</div>
          <div class="event-date-day">[[ event.date['day'] ]]</div>
        </div>
        <div class="event-details">
          <div class="event-details-name">[[ event.name ]]</div>
          <div class="event-details-location">[[ event.location ]]</div>
          <div class="event-details-time">[[ event.date.time.start]] - [[ event.date.time.end ]]</div>
        </div>
      </li>
    </ul>
    <a class="flat-btn flat-btn--auto" href="http://www.auburn.edu/career/events/">More events</a>
  </div>
</div>

<div class="row features content extra-content">
  <h2 class="features-header">TRL Features</h3>
  <div class="features-content flex">
    <div class="feature">
      <div class="feature-icon aw-parttime"></div>
      <div class="feature-content">Part-time Jobs</div>
    </div>
    <div class="feature">
      <div class="aw-fulltime-internships feature-icon"></div>
      <div class="feature-content">Full-time Jobs and Internships</div>
    </div>
    <div class="feature">
      <div class="aw-events feature-icon"></div>
      <div class="feature-content">Events</div>
    </div>
    <div class="feature">
      <div class="aw-employers feature-icon"></div>
      <div class="feature-content">Employers Coming to Campus</div>
    </div>
    <div class="feature">
      <div class="aw-interviews feature-icon"></div>
      <div class="feature-content">Interviews</div>
    </div>
    <div class="feature">
      <div class="aw-ellipsis feature-icon"></div>
      <div class="feature-content">...and more!</div>
    </div>
  </div>
</div>

<div class="row resources flex content extra-content content--no-padding">
  <div class="resource-buttons">
    <div>
      <a href="http://www.issuu.com/aucc/docs/handbook_3.2_color_is"><img class="resource-button resource-button--blue" src="jobs/assets/images/handbook.png" /></a>
      <a href="http://www.auburn.edu/academic/provost/undergrad_studies/career/resume/index.html"><img class="resource-button resource-button--green" src="jobs/assets/images/resume-writing.png" /></a>
    </div>
    <div>
      <a href="http://www.auburn.edu/career/experience/"><img class="resource-button resource-button--yellow" src="jobs/assets/images/gain-experience.png" /></a>
      <a href="http://www.auburn.edu/career/mock/"><img class="resource-button resource-button--orange" src="jobs/assets/images/interview-prep.png" /></a>
    </div>
  </div>
  <div class="widget">
    <div id="symp_jobswidget"
         data-csm="auburn-csm.symplicity.com"
         data-id="cafc7f8b2e4d76da719080d5cc417823"
         data-size="auto"
         data-css="https://auburn.edu/career/jobs/assets/stylesheets/widget.css"
         data-logo=""
         data-header-text="Part-Time Jobs"
         data-sort-by="posting_date"></div>
    <script>
      (
        function(d, s, id) {
          var js
          , sjs = d.getElementsByTagName(s)[0]

          if (d.getElementById(id)) return
          js = d.createElement(s)
          js.id = id
          js.src = "https://static.symplicity.com/jslib/jobswidget/jobswidget.js"
          sjs.parentNode.insertBefore(js, sjs)
        }
        (document, "script", "symp_jobswidget_js")
      )

    </script>
  </div>
</div>

<div class="row sponsors content extra-content">
  <h2 class="sponsors-header">Sponsors</h2>
  <div class="flex sponsors-content">
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.adtran.com/"><img src="jobs/assets/images/sponsors/tech-eng/adtran.jpg" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.ascendmaterials.com/"><img src="jobs/assets/images/sponsors/tech-eng/ascend.png" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.chevron.com/"><img src="jobs/assets/images/sponsors/tech-eng/chevron.gif" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://corporate.evonik.com/en/Pages/default.aspx"><img src="jobs/assets/images/sponsors/tech-eng/evonik.jpg" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://corporate.exxonmobil.com/"><img src="jobs/assets/images/sponsors/tech-eng/exxon-mobil.ps" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="https://www.gp.com/"><img src="jobs/assets/images/sponsors/tech-eng/georgia-pacific.eps" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://harris.com/"><img src="jobs/assets/images/sponsors/tech-eng/harris.eps" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.johnsoncontrols.com/"><img src="jobs/assets/images/sponsors/tech-eng/johnson-controls.bmp" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.milliken.com/en-us/Pages/default.aspx"><img src="jobs/assets/images/sponsors/tech-eng/milliken.png" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="https://www.neptunetg.com/home/"><img src="jobs/assets/images/sponsors/tech-eng/neptune.jpg" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.southerncompany.com/"><img src="jobs/assets/images/sponsors/tech-eng/southern-company.jpg" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.altec.com/"><img src="jobs/assets/images/sponsors/tech-eng/altec.jpg" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.amec.com/"><img src="jobs/assets/images/sponsors/tech-eng/amec.jpg" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.globaldenso.com/en/"><img src="jobs/assets/images/sponsors/tech-eng/denso.jpg" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.hondaalabama.com/"><img src="jobs/assets/images/sponsors/tech-eng/honda.jpg" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.michelinman.com/"><img src="jobs/assets/images/sponsors/tech-eng/michelin.gif" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.pandj.com/"><img src="jobs/assets/images/sponsors/tech-eng/phillips-and-jordan.jpg" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.saic.com/"><img src="jobs/assets/images/sponsors/tech-eng/saic.png" class="grayscale grayscale-fade"></img></a></div>

    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.enterprise.com/"><img src="jobs/assets/images/sponsors/erac.JPG" class="grayscale grayscale-fade"></img></a></div>

    <div class="sponsor"><span class="vert-centerer"></span><a href="http://coyote.com"><img src="jobs/assets/images/sponsors/all majors/coyote.jpg" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.sherwin-williams.com/"><img src="jobs/assets/images/sponsors/all majors/sherwin-williams.jpg" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.towerloan.com/"><img src="jobs/assets/images/sponsors/all majors/tower-loan.jpg" class="grayscale grayscale-fade"></img></a></div>
    <div class="sponsor"><span class="vert-centerer"></span><a href="http://www.towerloan.com/"><img src="jobs/assets/images/sponsors/all majors/callidus-cloud.png" class="grayscale grayscale-fade"></img></a></div>

  </div>
</div>