---
ng-app: career-center-jobs
title: Tiger Recruiting Link | Career Center
name: jobs
type: jobs
path-to-root: ../
analytics-token: UA-12338791-3
layout: default.hbs

component:
- calendar
- sponsors

style:
- login
- calendar
- sponsors
---

<div class="card flex unpadded">
  <div class="login padded flex-half">
    <div class="login-container watermarked">
      <i class="watermark icon-compass"></i>
      <h2>Sign in to <a href="http://jobs.auburn.edu" class="trl"></a></h2>
      <p>Sign in with your AU username. <span>(ex. abc0001)</span></p>
      <div class="buttons">
        <a class="flat-btn" href="https://auburn-csm.symplicity.com/sso/students/">Current students sign in</a>
        <a class="flat-btn flex-half" href="https://auburn-csm.symplicity.com/students/">Alumni sign in</a>
        <a class="flat-btn flex-half flat-btn--white" href="http://auburn.edu/career/jobs/tipsheets.html">View tips</a>
      </div>
    </div>
  </div>
  <div class="calendar padded flex-half" ng-controller="calendar-ctrl">
    <h2><a href="events">Upcoming Events</a></h2>
    <ul>
      <li class="event" ng-repeat="event in events">
        <div class="event-date">
          <div class="event-date-month">[[ event.date['shortened-month'] ]]</div>
          <div class="event-date-day">[[ event.date['day'] ]]</div>
        </div>
        <div class="event-details">
          <div class="event-details-name">[[ event.name ]]</div>
          <div class="event-details-location">[[ event.location ]]</div>
          <div class="event-details-time">[[ event.date.time.start]] - [[ event.date.time.end ]]</div>
        </div>
      </li>
    </ul>
    <a class="flat-btn" href="events">More events</a>
  </div>
</div>

<div class="card features-card">
  <h2>TRL Features</h2>
  <div class="features flex">
    <div class="feature">
      <div class="feature-icon icon-tie"></div>
      <div class="feature-description">Part-time Jobs</div>
    </div>
    <div class="feature">
      <div class="feature-icon icon-briefcase"></div>
      <div class="feature-description">Full-time Jobs and Internships</div>
    </div>
    <div class="feature">
      <div class="feature-icon icon-calendar"></div>
      <div class="feature-description">Events</div>
    </div>
    <div class="feature">
      <div class="feature-icon icon-map-marker"></div>
      <div class="feature-description">Employers Coming to Campus</div>
    </div>
    <div class="feature">
      <div class="feature-icon icon-interviewer"></div>
      <div class="feature-description">Interviews</div>
    </div>
    <div class="feature">
      <div class="feature-icon icon-ellipsis-glass"></div>
      <div class="feature-description">...and more!</div>
    </div>
  </div>
</div>

<div class="card resources flex unpadded">
  <div class="resource-buttons flex-two-thirds">
    <a class="resource-button" href="http://issuu.com/aucc/docs/jsg_f15_color/1">
      <img src="assets/images/handbook.png" alt="Link to the student handbook">
    </a>
    <a class="resource-button" href="http://www.auburn.edu/academic/provost/undergrad_studies/career/resume/index.html">
      <img src="assets/images/resume-writing.png" alt="Link to resume writing advice">
    </a>
    <a class="resource-button" href="experience">
      <img src="assets/images/gain-experience.png" alt="Link to advice about gaining experience">
    </a>
    <a class="resource-button" href="interviews">
      <img src="assets/images/interview-prep.png" alt="Link to interview preparation resources">
    </a>
  </div>
  <div class="widget flex-third">
    <div id="symp_jobswidget"
         data-csm="auburn-csm.symplicity.com"
         data-id="cafc7f8b2e4d76da719080d5cc417823"
         data-size="auto"
         data-css="https://www.auburn.edu/career/jobs/assets/stylesheets/widget.css"
         data-logo=""
         data-header-text="Part-Time Jobs"
         data-sort-by="posting_date"></div>
    <script>
      (
        function(d, s, id) {
          var js
          , sjs = d.getElementsByTagName(s)[0]

          if (d.getElementById(id)) return
          js = d.createElement(s)
          js.id = id
          js.src = "https://static.symplicity.com/jslib/jobswidget/jobswidget.js"
          sjs.parentNode.insertBefore(js, sjs)
        }
        (document, "script", "symp_jobswidget_js")
      )

    </script>
    <script>
      $(function () {
        $($('iframe')[0]).attr('src', 'https://auburn-csm.symplicity.com/api/jobboard/cafc7f8b2e4d76da719080d5cc417823?size=auto&css=https%3A%2F%2Fwww.auburn.edu%2Fcareer%2Fjobs%2Fassets%2Fstylesheets%2Fwidget.css&logo=&header_text=Part-Time%20Jobs&sort_by=posting_date')
      })
    </script>
  </div>
</div>

<div class="card sponsors">
  <h2  class="sponsors-header">Sponsors</h2>
  <div class="sponsors-content" ng-controller="sponsors-ctrl">
    <div class="sponsor" ng-repeat="sponsor in sponsors">
      <span class="vert-centerer"></span>
      <a href="[[ sponsor.url ]]">
        <img lazy-img="assets/images/sponsors/[[ sponsor.logo ]]" class="grayscale grayscale-fade" alt="[[ sponsor.company ]]">
      </a>
    </div>
  </div>
</div>