---
ng-app: none
title: Liaison Hours | Career Center
name: liaison
---

<section class="content">
  <h2>Convenience is Key</h2>
  <p>
    We know it can be hard to get in for a walk-in
    interview with your busy schedule, since our building
    has no classes in it. So sometimes, our career councelors
    come to you!
  </p>
</section>

<div class="liaison-container">
  <div class="liaison">
    <div class="hero liaison-type">
      <div class="blue"></div>
      <div class="hero-content">
        <i class="icon icon-wrench"></i>
        <h2>Engineering</h2>
      </div>
    </div>
    <div class="hero liaison-location">
      <img class="location ginn" src="assets/images/campus-partners/ginn-college-engineering-banner.jpg">
      <div class="hero-content">
        <div class="overlay"></div>
        <h2>Shelby Center</h2>
        <h3>Grand Foyer</h3>
      </div>
    </div>
    <section class="content liaison-information">
      <div class="liaison-hours liaison-info-column">
        <h2>Wednesdays</h2>
        <p>Jan 14 - Apr 29</p>
        <p>1pm - 3:30pm</p>
      </div>
      <div class="liaison-person liaison-info-column">
        <h2>Meaghan Weir</h2>
        <div class="email">
          <a class="flat-btn" href="mailto:meaghan@auburn.edu">
            Get in touch
          </a>
        </div>
        <a class="flat-btn" href="http://meaghanweir.wix.com/portfolio">Learn more</a>
      </div>
    </section>
  </div>
  <div class="liaison">
    <div class="hero liaison-type">
      <div class="orange"></div>
      <div class="hero-content">
        <i class="icon icon-lab"></i>
        <h2>Science and Mathematics</h2>
      </div>
    </div>
    <div class="hero liaison-location">
      <img class="location ginn" src="assets/images/campus-partners/ginn-college-engineering-banner.jpg">
      <div class="hero-content">
        <div class="overlay"></div>
        <h2>Shelby Center</h2>
        <h3>Grand Foyer</h3>
      </div>
    </div>
    <section class="content liaison-information">
      <div class="liaison-hours liaison-info-column">
        <h2>Tuesdays</h2>
        <p>Jan 13 - Apr 28</p>
        <p>1pm - 3pm</p>
      </div>
      <div class="liaison-person liaison-info-column">
        <h2>Torey Palmer</h2>
        <div class="email">
          <a class="flat-btn" href="mailto:palmemt@auburn.edu">Get in touch</a>
        </div>
        <a class="flat-btn" href="http://toreyp.weebly.com/">Learn more</a>
      </div>
    </section>
  </div>
</div>

