---
ng-app: none
title: Liaison Hours | Career Center
name: liaison
---

<section class="content">
  <h2>Convenience is Key</h2>
  <p>
    We know it can be hard to get in for a walk-in
    interview with your busy schedule, since our building
    has no classes in it. So sometimes, our career councelors
    come to you!
  </p>
</section>

<div class="liaison-container">
  <div class="liaison">
    <div class="hero liaison-type">
      <div class="blue"></div>
      <div class="hero-content">
        <i class="icon icon-wrench"></i>
        <h2>Engineering</h2>
      </div>
    </div>
    <div class="hero liaison-location">
      <img class="location ginn" src="assets/images/campus-partners/ginn-college-engineering-banner.jpg">
      <div class="hero-content">
        <div class="overlay"></div>
        <h2>Shelby Center</h2>
        <h3>Grand Foyer</h3>
      </div>
    </div>
    <section class="content">
      <div class="liaison-person">
        <h2>Meaghan Weir</h2>
        <div class="email">
          <a href="mailto:opcd@auburn.edu">
            meaghan@auburn.edu
          </a>
        </div>
      </div>
    </section>
  </div>
  <div class="liaison">
    <div class="hero liaison-type">
      <div class="orange"></div>
      <div class="hero-content">
        <i class="icon icon-lab"></i>
        <h2>Science and Mathematics</h2>
      </div>
    </div>
    <div class="hero liaison-location">
      <img class="location ginn" src="assets/images/campus-partners/ginn-college-engineering-banner.jpg">
      <div class="hero-content">
        <div class="overlay"></div>
        <h2>Shelby Center</h2>
        <h3>Grand Foyer</h3>
      </div>
    </div>
    <section class="content">

    </section>
  </div>
</div>

