---
name: on-campus-interviewing
type: student-employment
layout: employers.hbs
title: On-Campus Interviewing | Career Center
---

<section class="content hero">
  <h2>On-Campus Interviewing</h2>
</section>

<section class="flex">
  <div class="flex-two-thirds">
    <div class="content extra-content">
      <h3>How It Works</h3>
      <p>
        On-Campus Interviewing (OCI) offers employers the opportunity to 
        identify, screen and interview upcoming graduates for positions 
        within their organizations. Meet face to face with applicants 
        in a professional environment and screen for second round site 
        interviews. Utilize 11 private, comfortably furnished rooms with 
        wireless internet access.
      </p>
      <p>
        The Auburn University Career Center uses an employer pre-
        screening system for scheduling campus interviews. This system 
        allows employers to select candidates to interview from resumes 
        submitted by interested students. If you prefer not to pre-screen 
        resumes, interviews will be scheduled through open sign up which 
        allows qualified students to sign-up for your interviews on a 
        first-come, first-served basis.
      </p>
    </div>
    <div class="content extra-content" id="info-sessions">
      <h3>Information Sessions</h3>
      <p>
        During these sessions, employers make presentations on topics that 
        include the organization's career opportunities, culture, and 
        products or services. The Career Center or the Office of 
        Professional and Career Development will publicize these sessions to
        the appropriate audience based on the information provided in the 
        Information Session request which can be filed through Tiger 
        Recruiting Link. Professional or "business casual" dress is 
        appropriate, unless otherwise indicated in the publicity.
      </p>
    </div>
  </div>
  <div class="content extra-content contact welcome">
    <h3>Point of Contact</h3>
    <div class="contact-details">
      <img src="assets/images/staff/jay.jpg">
      <div class="contact-info">
        <p class="name">Jay Skipworth</p>
        <p class="phone"><a href="tel:(334) 844-4744">(334) 844-4744</a></p>
        <p class="email"><a href="mailto:skipworth@auburn.edu">skipworth<span class="at-auburn">@auburn.edu</span></a></p>
      </div>
    </div>
  </div>
</section>

<section class="content extra-content content--no-padding content--tips">
  <h3 class="how-to-header">Common Resources</h3>
  <div class="flex buttons buttons--no-padding">
    <a href="http://issuu.com/aucc/docs/studentemploymentpolicies/12" class="flat-btn                 flex-quarter">Posting a Job</a>
    <a href="http://issuu.com/aucc/docs/studentemploymentpolicies/14" class="flat-btn flat-btn--white flex-quarter">Reviewing Applications</a>
    <a href="http://issuu.com/aucc/docs/studentemploymentpolicies/14" class="flat-btn                 flex-quarter">Third Party Policy</a>
    <a href="http://issuu.com/aucc/docs/studentemploymentpolicies/4"  class="flat-btn flat-btn--white flex-quarter">Interviewing</a>
  </div>
</section>

<section class="content extra-content content--no-padding content--tips">
  <h3 class="how-to-header">Policies and NACE Guides</h3>
  <div class="flex buttons buttons--no-padding">
    <a href="http://auburn.edu/career/employers/aucc_disclaimer.pdf" class="flat-btn                 flex-quarter">TRL Disclaimer</a>
    <a href="https://sites.auburn.edu/admin/universitypolicies/Policies/EqualEmploymentOpportunityPolicy.pdf" class="flat-btn flat-btn--white flex-quarter">EEO Policy</a>
    <a href="http://www.naceweb.org/knowledge/principles-for-professional-practice.aspx#employment" class="flat-btn                 flex-quarter">NACE Employer's Guide</a>
    <a href="http://www.naceweb.org/knowledge/principles-for-professional-practice.aspx#thirdparty"  class="flat-btn flat-btn--white flex-quarter">NACE Third Party Guide</a>
  </div>
</section>
