---
path-to-root: ../
ng-app: career-center-hire
type: part-time-employment

layout: employers.hbs
title: Part-Time Employment | Career Center

style:
- attributes
- login
- point-of-contact
- contact
- accordion
---

<section class="flex">
  <div class="login card padded flex-two-thirds">
    <div class="login-container watermarked">
      <i class="watermark icon-compass"></i>
      <img class="handshake" src="assets/images/handshake.png" alt="Handshake (formerly TRL)">
      <p>A platform for student &amp; employer connection.</p>
      <div class="attributes">
        <div class="attribute">
          <a class="icon post">
            <i class="icon-coin-dollar"></i>
          </a>
          <div class="details">
            Post positions for free
          </div>
        </div>
        <div class="attribute">
          <a class="icon law">
            <i class="icon-law"></i>
          </a>
          <div class="details">
            Comply with equal opportunity laws
          </div>
        </div>
        <div class="attribute">
          <a class="icon calendar">
            <i class="icon-calendar"></i>
          </a>
          <div class="details">
            Register for Career Center events
          </div>
        </div>
      </div>
      <div class="buttons">
        <a class="flat-btn flex-half" href="https://auburn.joinhandshake.com/login">Sign in</a>
        <a class="flat-btn flex-half" href="https://auburn.joinhandshake.com/register">Register</a>
        <a class="flat-btn flat-btn--white" href="http://support.joinhandshake.com/?b_id=10287">Contact Handshake Support</a>
      </div>
    </div>
  </div>
  <div class="card flex-third point-of-contact">
    <h3>Point of Contact</h3>
    <div class="flex flex--wrap">
      <img src="assets/images/staff/lauren.jpg"
           alt="Lauren Hobbs.">
      <div class="poc-info contact flex-item">
        <p class="name">Lauren Hobbs</p>
        <p class="phone"><a href="tel:(334) 844-3867">(334) 844-3867</a></p>
        <p class="email"><a href="mailto:hobbs@auburn.edu">hobbs<span class="at-auburn">@auburn.edu</span></a></p>
      </div>
    </div>
  </div>
</section>

<section class="quick-guide"> 
  <div class="flex">
    <div class="card flex-third report-placement unpadded">
      <div class="padded">
        <h3>Report placement</h3>
        <p>
          The Student Employment office is supported by the Job 
          Location &amp; Development grant. In order to 
          maintain this grant, we ask that you provide placement 
          information when you hire Auburn students. No personal 
          information will be made public. 
        </p>
        <p class="survey-length">Estimated length: 4 minutes</p>
      </div>
      <a href="https://auburn.qualtrics.com/jfe/form/SV_5zkiOXqLCMt6J8h" class="flat-btn flat-btn--bottom">Take Survey</a>
    </div>
    <div class="flex-two-thirds padded">
      <h3>Post jobs</h3>
      <p>Once registered, follow the steps below to post your position(s):</p>
      <ol>
        <li><a href="https://auburn.joinhandshake.com/login">Log in</a> and click the “Jobs” tab on the left side navigation bar.</li>
        <li>Select “New Job” in the upper right hand corner.</li>
        <li>Complete the job description.</li>
        <li>Select “Create Job” at the end of form.</li>
        <li>Select “Update Qualification” to match it with qualified students.</li>
        <li>Once finished, select “Post to Schools” and pick Auburn from your drop down menu.</li>
      </ol>
      <p>And that's it! Your job opening will be submitted.</p>
    </div>
  </div>
</section>

<section class="card unpadded advice">
  <h3 class="protected">Tips and Advice</h3>
  <div class="flex buttons">
    <a href="assets/images/on-campus-handbook.pdf"  class="flat-btn                 flex-half marginless">On-Campus Employment</a>
    <a href="assets/images/off-campus-handbook.pdf" class="flat-btn flat-btn--white flex-half marginless">Off-Campus Employment</a>
  </div>
</section>

