---
ng-app: career-center-plan-your-visit
title: Plan Your Visit | Career Center
name: plan-your-visit
---

<div class="content content-nav">
  <div class="options flex">
    <div class="option"><a href="aboutus/plan-your-visit.html#Directions"><h3>Directions</h3></a></div>
    <div class="option"><a href="aboutus/plan-your-visit.html#Parking"><h3>Parking</h3></a></div>
    <div class="option"><a href="aboutus/plan-your-visit.html#Lodging"><h3>Lodging</h3></a></div>
  </div>
</div>

<div class="content content-type" id="Directions">
  <h1>Directions</h1>
</div>

<div class="hero map">
  <iframe src="http://auburn.edu/map?id=76"></iframe>
</div>
<section class="content directions-content">
  <a href="https://cws.auburn.edu/map/Resources/Directions" class="flat-btn">Directions to Auburn</a>
</section>

<div class="content content-type" id="Parking">
  <h1>Parking</h1>
</div>

<section class="content parking-content">
  <div class="parking-instructions">
    <p>
      As on most college campuses, parking is very limited. 
      A Guest Parking Pass will be e-mailed to you upon request. 
    </p>
    <p>
      Please contact Mr. Jay Skipworth at 
      <a href="mailto:skipworth@auburn.edu">skipworth@auburn.edu</a>
      prior to the day of your visit to have a Guest Parking Pass 
      e-mailed to you. 
    </p>
  </div>
  <div class="flat-btns">
    <a href="http://www.auburn.edu/administration/parking_transit/parking/guest.php" class="flat-btn">Parking Policies</a>
    <a href="mailto:skipworth@auburn.edu" class="flat-btn">Request a Parking Pass</a>
  </div>
</section>

<div class="content content-type" id="Lodging">
  <h1>Lodging</h1>
</div>

<div class="hero first-lodging">
  <img class="auhcc" src="assets/images/lodging/auhcc-banner.jpg">
  <div class="hero-content">
    <div class="overlay"></div>
    <h2>The Hotel at Auburn University</h2>
  </div>
</div>
<section class="content location-content">
  <div class="location-contact">
    <div class="address">
      <a href="https://cws.auburn.edu/map?id=75">
        241 South College Street <br />
        Auburn, AL 36849
      </a>
    </div>
    <div class="phone">
      <a href="tel:3348218200">(334) 821-8200</a>
    </div>
  </div>
  <div class="location-info">
    <p>
      The Hotel at Auburn University and Dixon Conference Center 
      is located one block from the Auburn University Career Center. 
      If you are staying at the Hotel during your visit you can leave 
      your car in the Hotel parking lot and walk to campus.
    </p>
    <a href="http://www.auhcc.com/accommodations/auburn-accommodations/" class="flat-btn">Visit Site</a>
  </div>
</section>

<div class="hero">
  <img class="hilton" src="assets/images/lodging/hilton-garden-inn-banner.jpg">
  <div class="hero-content">
    <div class="overlay"></div>
    <h2>Hilton Garden Inn</h2>
  </div>
</div>
<section class="content location-content">
  <div class="location-contact">
    <div class="address">
      <a href="https://www.google.com/maps/dir/%27%27/hilton+garden+inn+auburn+al/data=!4m5!4m4!1m0!1m2!1m1!1s0x888ced64442ae1b9:0xd5b185dde0a2828b?sa=X&ei=q_gaVeqUGMLZsASaxIGoDg&ved=0CKIBEPUXMAw">
        2555 Hilton Garden Dr <br />
        Auburn, AL 36830
      </a>
    </div>
    <div class="phone">
      <a href="tel:3345023500">(334) 502-3500</a>
    </div>
  </div>
  <div class="location-info">
    <p>
      The Hilton Garden Inn is located just off I-85, at exit 57. 
      It's only 3 miles from campus and close to Tiger Towne shopping center.
    </p>
    <a href="http://www.hilton.com/search/gi/us/al/auburn/0/00000000000/0/0/0/0/30?wt.srch=1" class="flat-btn">Visit Site</a>
  </div>
</section>

<div class="hero">
  <img class="holiday" src="assets/images/lodging/holiday-inn-express-and-suites-banner.jpg">
  <div class="hero-content">
    <div class="overlay"></div>
    <h2>Holiday Inn Express and Suites</h2>
  </div>
</div>
<section class="content location-content">
  <div class="location-contact">
    <div class="address">
      <a href="https://www.google.com/maps/place/Holiday+Inn+Express+%26+Suites+Auburn+-+University+Area/@32.567652,-85.500605,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x56a22c06cc94a962">
        2013 S College St <br />
        Auburn, AL 36832
      </a>
    </div>
    <div class="phone">
      <a href="tel:3345021090">(334) 502-1090</a>
    </div>
  </div>
  <div class="location-info">
    <p>
      Easy access off of I-85 at exit 51 means the Holiday Inn Express Hotel &amp; Suites 
      is conveniently located in the heart of Auburn and just minutes from Auburn University.
    </p>
    <a href="http://www.ihg.com/holidayinnexpress/hotels/us/en/auburn/auoau/hoteldetail" class="flat-btn">Visit Site</a>
  </div>
</section>

<div class="hero">
  <img class="hampton" src="assets/images/lodging/hampton-inn-and-suites-banner.jpg">
  <div class="hero-content">
    <div class="overlay"></div>
    <h2>Hampton Inn and Suites</h2>
  </div>
</div>
<section class="content location-content">
  <div class="location-contact">
    <div class="address">
      <a href="https://www.google.com/maps/place/Hampton+Inn+Auburn/@32.5582116,-85.505525,17z/data=!4m6!1m3!3m2!1s0x0:0xa7581b4fd4346d2c!2sHampton+Inn+Auburn!3m1!1s0x0:0xa7581b4fd4346d2c">
        2430 S College St <br />
        Auburn, AL 36832
      </a>
    </div>
    <div class="phone">
      <a href="tel:3348214111">(334) 821-4111</a>
    </div>
  </div>
  <div class="location-info">
    <p>
      The Hampton Inn Auburn is only 4 miles south of Auburn University 
      with easy access off Interstate 85 at exit 51.
    </p>
    <a href="http://hamptoninn3.hilton.com/en/hotels/alabama/hampton-inn-auburn-AUBALHX/index.html" class="flat-btn">Visit Site</a>
  </div>
</section>