---
path-to-root: ../
name: recruiting
type: recruiting
layout: employers.hbs
title: Recruiting | Career Center

component:
- popover

style:
- attributes
- popover
- login
---

<section class="flex">
  <div class="login card padded flex-half">
    <div class="login-container watermarked">
      <i class="watermark icon-compass"></i>
      <img class="handshake" src="assets/images/handshake.png" alt="Handshake (formerly TRL)">
      <p>A platform for student &amp; employer connection.</p>
      <div class="buttons">
        <a class="flat-btn" href="https://demo.joinhandshake.com/login">Sign in</a>
      </div>
    </div>
  </div>
  <div class="card flex-half">
    <h2>Recruiting</h2>
    <p>
      All offices use Tiger Recruiting Link to manage employer 
      and student interaction. This centralized system is the 
      only place you need to post positions, request information 
      sessions, register for events, and schedule on-campus 
      interviews. Additionally, look below to utilize other 
      recruiting services.
    </p>
    <p>
      If you are looking to recruit students within a specific 
      area of study, click on the button below connect with the 
      corresponding recruiting contact for that college/major.
    </p>
    <a class="flat-btn flat-btn--bottom" href="employers/aboutus/recruiting-contacts.html">Find Your Recruiting Contact</a>
  </div>
</section>

<section id="oci" class="card">
  <h3>On-Campus Interviewing</h3>
    <p>
      On-campus interviewing (OCI) offers employers 
      the opportunity to screen candidates for further 
      consideration for positions within the 
      organization. Employers may choose from several 
      different recruiting models that offer varying 
      degrees of control over who you will interview 
      during your visit to Auburn.
    </p>
    <div class="attributes flex">
      <div class="attribute flex-half">
        <a class="icon" role="button" tabindex="0" data-toggle="popover" data-html="true" data-placement="top" data-trigger="hover" data-content="<p>The employer screens resumes and invites select applicants to interview.</p>">
          <i class="icon-folder-download"></i>
        </a>
        <div class="details">Pre-Select</div>
      </div>
      <div class="attribute flex-half">
        <a class="icon" role="button" tabindex="0" data-toggle="popover" data-html="true" data-placement="top" data-trigger="hover" data-content="<p>The employer screens resumes and invites select applicants to interview, and can also select alternate candidates who may sign up for interviews if any pre-selected candidates decline the interview invitation.</p>">
          <i class="icon-user-check"></i>
        </a>
        <div class="details">Pre-Select with Alternates</div>
      </div>
      <div class="attribute flex-half">
        <a class="icon" role="button" tabindex="0" data-toggle="popover" data-html="true" data-placement="top" data-trigger="hover" data-content="<p>The employer does not screen applicants. Qualified candidates sign up for interviews on a first come, first served basis without an invitation.</p>">
          <i class="icon-folder-open"></i>
        </a>
        <div class="details">Open</div>
      </div>
      <div class="attribute flex-half">
        <a class="icon" role="button" tabindex="0" data-toggle="popover" data-html="true" data-placement="top" data-trigger="hover" data-content="<p>The employer is wholly responsible for building the interview schedule, contacting candidates, and providing the final schedule to the career center staff upon arrival. We will hold the room reservation for you.</p>">
          <i class="icon-enter"></i>
        </a>
        <div class="details">Room Only</div>
      </div>
    </div>
    <h3>Changing or Cancelling an Interviewing Schedule</h3>
    <p>
      Please contact the appropriate representative to 
      make changes to your schedule. It is strongly 
      recommended that all changes be made BEFORE deadlines 
      in the schedule occur. If you need to cancel, please 
      <a href="employers/aboutus/recruiting-contacts.html">
        contact the appropriate recruiting contact
      </a>
      during office hours (7:45AM CT - 4:45PM CT).
    </p>
</section>
<section class="card unpadded">
  <h3 class="padded">Policies and NACE Guides</h3>
  <div class="buttons buttons--no-padding">
    <a href="https://sites.auburn.edu/admin/universitypolicies/Policies/EqualEmploymentOpportunityPolicy.pdf" class="flat-btn flex-third marginless">EEO Policy</a>
    <a href="http://www.naceweb.org/knowledge/principles-for-professional-practice.aspx#employment" class="flat-btn flex-third flat-btn--white marginless">NACE Employer's Guide</a>
    <a href="http://www.naceweb.org/knowledge/principles-for-professional-practice.aspx#thirdparty"  class="flat-btn flex-third marginless">NACE Third Party Guide</a>
  </div>
</section>