---
title: Resumes and Cover Letters | Career Center
name: resume
type: resume
layout: no-social.hbs
ng-app: career-center-resume
---

<section class="content resume-banner">
  <h2>Resumes, Cover Letters, and CVs</h2>
  <p>Let's get you ready.</p>
</section>

<div class="document-review">
  <section class="content" ng-controller="hours-ctrl">
    <h2>Professional Document Review</h2>
    <p>
      Come to the Career Center during <a href="aboutus/#walk-ins">walk-in hours
      </a> to have your documents reviewed by a Peer Career Advisor. Be 
      sure to have your documents printed before you come to the office.
    </p>
    <div class="hours" ng-if="walkIn">
      <i class="fa icon-clock-o times-icon"></i>
      <div class="hours-content">
        <h2>Walk-ins:</h2>
        <p ng-repeat="hours in walkIn">
          <span ng-if="hours.startDay && !hours.days">[[ hours.startDay ]]-[[ hours.endDay ]]</span><span ng-repeat="day in hours.days">[[ day ]]<span ng-if="!$last">, </span></span> [[ hours.startTime ]]-[[ hours.endTime ]]
        </p>
        <p ng-if="holiday" class="muted">[[ holiday ]]</p>
      </div>
    </div>
    <div class="location">
      <a href="http://auburn.edu/map/?id=76" class="place-icon">
        <i class="icon-map-marker"></i>
      </a>
      <h2 class="place-address">
        <address>
          <a href="http://auburn.edu/map?id=76">
            303 Mary Martin Hall <br />
            Auburn, AL 36849
          </a>
        </address>
      </h2>
    </div>
    <a class="flat-btn" href="resume/samples">Sample Documents</a>
    <a class="flat-btn" href="http://issuu.com/aucc/docs/handbook_3.2_color_is">Job Search Guide</a>
  </section>
  <section class="content resume">
    <h2>Electronic Resume Review</h2>
    <p>
      The Career Center offers electronic review of your resume 
      and curriculum vitae. Submit your document using the 
      “Get Started” button below. In order to be evaluated 
      please make sure your document meets the following 
      criteria:
    </p>
    <ul class="resume-checklist">
      <li>No longer than two pages</li>
      <li>Document is only a resume or curriculum vita</li>
      <li>Not a class assignment</li>
      <li>Is .doc, .docx, or .pdf file format</li>
    </ul>
    <p>
      If you need assistance with other types of documents 
      (cover letter, personal statement, etc.) come in during 
      walk-in hours.
    </p>
    
    <input type="checkbox" id="submitting">
    <label for="submitting" class="flat-btn flat-btn--no-padding">Get Started <i class="icon-chevron-down"></i></label>
    
    <form id="eresume" name="eresume" class="eresume" method="post" enctype="multipart/form-data" action="resume/submission.php">
      <h2>Submit Your eResume</h2>
      <label for="name">Name</label>
      <input type="text" placeholder="Aubie Tigre" id="name" name="name">
      
      <label for="job">Desired Employed Role or Job</label>
      <input type="text" placeholder="Head of Marketing and Sales" id="job" name="job">
      
      <label for="description">Job Description</label>
      <textarea placeholder="Responsibilities will include: SQL database management, scalable API development..." id="description" name="description"></textarea>
      
      <input type="file" placeholder="Your Resume" id="resume" name="resume">

      <div class="good-resume">
        <input type="checkbox" id="good-resume">
        <label for="good-resume">
          I affirm that the resume I've uploaded fits within the parameters listed above.
        </label>
      </div>
      <input type="checkbox" id="privacy">
      <label for="privacy">
        The Auburn University Career Center may evaluate and critique my resume by screen 
        capture and transmit this review via email. I understand that email is not a 
        secure medium and grant the Career Center permission to use email for this 
        purpose.
      </label>
    </form>
    <button form="eresume" formmethod="post" type="submit" class="eresume-btn flat-btn flat-btn--disabled" disabled="disabled" value="submit">Submit</button>
  </section>
</div>