---
title: Resumes and Cover Letters | Career Center
name: resume
---

<section class="content resume-banner">
  <h2>Resumes, Cover Letters, and CVs</h2>
  <p>Let's get you ready.</p>
</section>

<div class="document-review">
  <section class="content">
    <h2>Resume Review</h2>
    <p>
      Need your resume reviewed? We'll check it out electronically!
      Just make sure it you review this checklist before
      sending it in. We'll get back to you with suggestions
      within 3 business days.
    </p>
    <p>Make sure:</p>
    <ul class="resume-checklist">
      <li>You're a current Auburn University student or alumnus.</li>
      <li>You're not submitting a cover letter or curriculum vitae (CV).</li>
      <p class="note">If you want to have these documents reviewed, come in for a <a href="aboutus/#walk-in-policy">walk-in</a>!</p>
      <li>Your resume is 1-2 pages long.</li>
    </ul>
    <a class="flat-btn" href="mailto:eresume@auburn.edu">Submit resume</a>
  </section>
  <section class="content">
    <h2>Cover Letter and CV Review</h2>
    <p>
      Need a cover letter or curriculum vitae reviewed?
      <a href="aboutus/">
        Come to the Career Center office for a walk-in
      </a>
      , talk to our 
      <a href="aboutus/staff">
        career counselors
      </a>
      , and get whatever you need reviewed, reviewed in person.
    </p>
    <div class="hours">
      <i class="fa icon-clock-o times-icon"></i>
      <div class="hours-content">
        <h2>Walk-ins:</h2>
        <p><strong>Mon, Thurs, Fri</strong> | 12:00 noon-4pm</p>
        <p><strong>Tues, Wed</strong> | 9:00am-4:00pm</p>
      </div>
    </div>
    <div class="location">
      <a href="http://auburn.edu/map/?id=76" class="place-icon">
        <i class="icon-map-marker"></i>
      </a>
      <h2 class="place-address">
        <address>
          <a href="http://auburn.edu/map?id=76">
            303 Mary Martin Hall <br />
            Auburn, AL 36849
          </a>
        </address>
      </h2>
    </div>
    <a class="flat-btn" href="aboutus/#walk-in-policy">Read More</a>
  </section>
</div>

<!--<section class="content extra-content">
  <h2>Guides for Writings These Professional Documents</h2>
  <a class="flat-btn" href="">Resumes</a>
  <a class="flat-btn" href="">Cover Letters</a>
  <a class="flat-btn" href="">Miscellaneous Tips</a>
  <a class="flat-btn" href="">Sample Resumes</a>
</section>-->