---
title: Resumes and Cover Letters | Career Center
name: resume
type: resume
layout: no-social.hbs
ng-app: career-center-resume
---

<section class="content resume-banner">
  <h2>Resumes, Cover Letters, and CVs</h2>
  <p>Let's get you ready.</p>
</section>

<div class="document-review">
  <section class="content" ng-controller="hours-ctrl">
    <h2>Professional Document Review</h2>
    <p>
      Come to the Career Center during <a href="aboutus/#walk-ins">walk-in hours
      </a> to have your documents reviewed by a Peer Career Advisor. Be 
      sure to have your documents printed before you come to the office.
    </p>
    <div class="hours" ng-if="walkIn">
      <i class="fa icon-clock-o times-icon"></i>
      <div class="hours-content">
        <h2>Walk-ins:</h2>
        <p ng-repeat="hours in walkIn">
          <span ng-if="hours.startDay"><strong>[[ hours.startDay ]] - [[ hours.endDay ]]</strong> |</span> [[ hours.startTime ]] - [[ hours.endTime ]]
        </p>
        <p ng-if="holiday" class="muted">[[ holiday ]]</p>
      </div>
    </div>
    <div class="location">
      <a href="http://auburn.edu/map/?id=76" class="place-icon">
        <i class="icon-map-marker"></i>
      </a>
      <h2 class="place-address">
        <address>
          <a href="http://auburn.edu/map?id=76">
            303 Mary Martin Hall <br />
            Auburn, AL 36849
          </a>
        </address>
      </h2>
    </div>
    <a class="flat-btn" href="resume/samples">Sample Documents</a>
    <a class="flat-btn" href="http://issuu.com/aucc/docs/handbook_3.2_color_is">Job Search Guide</a>
  </section>
  <section class="content resume resume--disabled">
    <h2>Electronic Resume Review</h2>
    <p class="disabled resume-disabled">
      eResume services have been suspended until further notice. 
      Please visit the Career Center during 
      <a href="/aboutus/index.html#walk-ins">walk-in hours</a> 
      for assistance (Mon-Fri 12noon-4pm). We apologize for the 
      inconvenience and appreciate your patience.
    </p>
  </section>
</div>