<!-- Banner image -->
<div class="hero">
  <img src="../assets/images/ETCE_TV_S15.png"></img>
</div>

<div class="content">
  <!-- Blurb -->
  <div class="row">
    <p class="blurb">
      Come sign up and interview with employers in one hectic but helpful day! <br /> <br />
      <strong>Registration:</strong> 8am-9am <br />
      <strong>Browsing and scheduling:</strong> 9-10 <br />
      <strong>Interviews:</strong> 10am - 3am
    </p>
    <div class="buttons">
      <a class="flat-btn attendants" href="https://auburn-csm.symplicity.com/events/students.php?cf=amcesp15">
        See Attending Employers
      </a>
      <a class="flat-btn locations" href="">
        See Employer Locations On-Site
      </a>
      <a id="download-btn" class="flat-btn download" href="https://itunes.apple.com/us/app/auburn-career-fair-plus/id691680982?mt=8">
        Download Our Mobile App
      </a>
    </div>
  </div>
  
  <!-- Icons -->
  <div class="attributes">
    <div class="attribute">
      <div class="icon format">
        <i class="icon-comments-o"></i>
      </div>
      <div class="details">Interview by appointment</div>
    </div>
    <div class="attribute">
      <div class="icon dress">
        <i class="icon-tie"></i>
      </div>
      <p class="details">
        Business professional
      </p>
    </div>  
    <div class="attribute">
      <div class="icon majors">
        <i class="icon-graduation-cap"></i>
      </div>
      <div class="details">Engineering majors only</div>
    </div>
  </div>
</div>

<!-- Sponsors -->
<div class="content extra-content">  
  <div class="sponsors">
    <h2 class="sponsors-header">Star Sponsors</h2>
    <div class="flex sponsors-content">
      <div class="sponsor">
        <span class="vert-centerer"></span>
        <a id="sponsor-adtran" href="http://www.adtran.com/">
          <img src="http://auburn.edu/career/jobs/assets/images/sponsors/tech-eng/adtran.jpg" class="grayscale grayscale-fade"></img>
        </a>
      </div>
      <div class="sponsor">
        <span class="vert-centerer">
        </span>
        <a href="http://www.ascendmaterials.com/">
          <img src="http://auburn.edu/career/jobs/assets/images/sponsors/tech-eng/ascend.png" class="grayscale grayscale-fade"></img>
        </a>
      </div>
    </div>
  </div>
</div>