<!-- Banner image -->
<div class="hero">
  <img src="http://auburn.edu/career/assets/images/ETCE_Webpage_Image(S15).png"></img>
</div>

<div class="content">
  <!-- Blurb -->
  <div class="row">
    <p class="blurb">
      Come to the Engineering and Technical Career Expo to network with some of the most reputable companies in the industry!
      <br /><br />
      Make best use of your time at the expo by reading over the list of companies <strong>beforehand</strong> and choosing which companies you want to talk to.  With over 100 employers in attendance, be sure to bring <strong>several copies of your résumé</strong>.
    </p>
    <div class="buttons">
      <a class="flat-btn attendants" href="https://auburn-csm.symplicity.com/events/students.php?cf=etcesp15">
        See Attending Employers
      </a>
      <a class="flat-btn locations" href="http://auburn.edu/academic/provost/undergrad_studies/career/students/events/engineering.pdf">
        See Employer Locations On-Site
      </a>
      <a id="download-btn" class="flat-btn download" href="https://itunes.apple.com/us/app/auburn-career-fair-plus/id691680982?mt=8">
        Download Our Mobile App
      </a>
    </div>
  </div>
  
  <!-- Icons -->
  <div class="attributes">
    <div class="attribute">
      <div class="icon format">
        <i class="icon-comments-o"></i>
      </div>
      <div class="details">Networking</div>
    </div>
    <div class="attribute">
      <div class="icon dress">
        <i class="icon-tie"></i>
      </div>
      <p class="details">
        Business professional required
      </p>
    </div>  
    <div class="attribute">
      <div class="icon population">
        <i class="icon-group"></i>
      </div>
      <div class="details">High attendance</div>
    </div>
  </div>
</div>

<!-- Sponsors -->
<div class="content extra-content">  
  <div class="sponsors">
    <h2 class="sponsors-header">Star Sponsors</h2>
    <div class="flex sponsors-content">
      <div class="sponsor">
        <span class="vert-centerer"></span>
        <a href="http://www.towerloan.com/">
          <img src="http://auburn.edu/career/jobs/assets/images/sponsors/all majors/callidus-cloud.png" class="grayscale grayscale-fade"></img>
        </a>
      </div>
      <div class="sponsor">
        <span class="vert-centerer"></span>
        <a href="http://www.globaldenso.com/en/">
          <img src="http://auburn.edu/career/jobs/assets/images/sponsors/tech-eng/denso.jpg" class="grayscale grayscale-fade"></img>
        </a>
      </div>
      <div class="sponsor">
        <span class="vert-centerer"></span>
        <a href="https://www.gp.com/">
          <img src="http://auburn.edu/career/jobs/assets/images/sponsors/tech-eng/georgia-pacific.eps" class="grayscale grayscale-fade"></img>
        </a>
      </div>
      <div class="sponsor">
        <span class="vert-centerer"></span>
        <a href="http://www.hondaalabama.com/">
          <img src="http://auburn.edu/career/jobs/assets/images/sponsors/tech-eng/honda.jpg" class="grayscale grayscale-fade"></img>
        </a>
      </div>
      <div class="sponsor">
        <span class="vert-centerer"></span>
        <a href="http://www.michelinman.com/">
          <img src="http://auburn.edu/career/jobs/assets/images/sponsors/tech-eng/michelin.gif" class="grayscale grayscale-fade"></img>
        </a>
      </div>
      <div class="sponsor">
        <span class="vert-centerer"></span>
        <a href="https://www.neptunetg.com/home/">
          <img src="http://auburn.edu/career/jobs/assets/images/sponsors/tech-eng/neptune.jpg" class="grayscale grayscale-fade"></img>
        </a>
      </div>
      
    </div>
  </div>
</div>