---
name: oth-about
type: auburn-on-the-hill
title: Auburn on the Hill | Career Center
path-to-root: ../../career
layout: default.hbs
---

<section class="content">
  <h2>What IS Auburn on the Hill?</h2>
</section>

<section class="content extra-content auoth-content">
  <h3>Government.</h3>
  <blockquote>
    <em class="muted">
      "I learned so much more about our government 
      and how it works by being involved than I 
      ever learned in a government class."
    </em>
    <p class="muted"><em>intern, summer 2012</em></p>
  </blockquote>
  <p>
    Auburn on the Hill connects Auburn University 
    students to prestigious congressional 
    internship opportunities in Washington D.C. 
  </p>
  <ul class="attributes">
    <li class="briefcase">Connect with the nation's leaders and their staffs</li>
    <li class="law">Learn about government procedures</li>
    <li class="tie">Get leadership training</li>
  </ul>
</section>
<section class="content extra-content auoth-content">
  <h3>Culture.</h3>
  <p>
    Beyond the amazing professional experience, 
    you will meet people from around the world 
    and enjoy the many opportunities 
    available <br/>in our nation’s capitol.
  </p>
  <ul class="attributes">
    <li class="office">Visit museums and cultural centers</li>
    <li class="audiotrack">Go to a play or concert</li>
    <li class="baseball">See major sporting events</li>
  </ul>
</section>
<section class="content extra-content auoth-content">
  <h3>You.</h3>
  <p>
    Most importantly, the Auburn on the Hill
    program will allow you to become the you 
    you've been aiming to be. Whether you were
    hoping for personal growth or ammo for your
    resume, you'll find what you were after.
  </p>
  <ul class="attributes">
    <li class="compass">Explore career options</li>
    <li class="graduation-cap">Enrich your education</li>
    <li class="star-full">Pursue your dream</li>
  </ul>
</section>
<section class="flex row contact-content">
  <div class="contact flex-half content extra-content">
    <h3>
      Interested? 
      <span class="muted">Contact Meaghan.</span>
    </h3>
    <div class="contact-details">
      <img src="assets/images/staff/meaghan.jpg">
      <div class="contact-info">
        <p class="name">Meaghan Weir</p>
        <p class="phone"><a href="tel:(334) 844-4000">(334) 844-4000</a></p>
        <p class="email"><a href="mailto:meaghan@auburn.edu">meaghan</a></p>
      </div>
    </div>
  </div>
  <a class="flat-btn flat-btn--half" href="../../projects/washington">Back to Overview</a>
</section>