---
title: Alumni | Career Center
hero-img: alumni.png
---

<section class="market row step">
  <div class="links">
    <div class="link-wedges">
      <a class="wedge" href="http://www.auburn.edu/career/students/handbook.pdf" data-tooltip="handbook"></a>
      <a class="wedge" href="http://www.auburn.edu/career/resume/" data-tooltip="resume"></a>
      <a class="wedge" href="http://www.auburn.edu/career/resources/interviewstream.html" data-tooltip="interview-stream"></a>
      <a class="wedge" href="http://auburn.edu/eportfolios" data-tooltip="eportfolios"></a>
    </div>
    <div class="tooltips">
      <div class="tooltip" data-for="handbook">
        <h2>Job Search Guide</h2>
      </div>
      <div class="tooltip" data-for="resume">
        <h2>Resume, CV, and Cover Letter Tips</h2>
      </div>
      <div class="tooltip" data-for="interview-stream">
        <h2>InterviewStream</h2>
      </div>
      <div class="tooltip" data-for="eportfolios">
        <h2>ePortfolios</h2>
      </div>
    </div>
  </div>
  <div class="market-content">
    <h2>Market Yourself</h2>
    <p>
      Stand out in a sea of applicants by effectively marketing your best skills, 
      abilities and experiences that relate to the career you want. Highlighting 
      your skills and experiences through your resume or CV and ePortfolio and your
      interest in and fit with a position through your cover letter are critical 
      steps to landing interviews. The interview is your time to shine by 
      exhibiting your fit with the company and ability to outperform other 
      candidates under consideration. Continually evaluate and update your 
      marketing materials throughout your graduate study to reflect new positions 
      and experiences.
    </p>
  </div>
</section>

<section class="land row step">
  <div class="links">
    <div class="link-wedges">
      <a class="wedge" href="http://jobs.auburn.edu" data-tooltip="trl"></a>
      <a class="wedge" href="http://www.linkedin.com" data-tooltip="linked-in"></a>
      <a class="wedge" href="http://www.jobsearchintelligence.com/salary-calculator-intro-etc" data-tooltip="salary-calculator"></a>
      <a class="wedge" href="http://www.auburn.edu/academic/provost/undergrad_studies/career/webresources/ausalarydata.pdf" data-tooltip="salary-data-for-auburn-grads"></a>
      <a class="wedge" href="http://auburn.edu/career/events" data-tooltip="career-center-events"></a>
      <a class="wedge" href="http://www.issuu.com/aucc/docs/handbook_3.2_color_is" data-tooltip="job-search-guide"></a>
    </div>
    <div class="tooltips">
      <div class="tooltip" data-for="trl">
        <h2>Tiger Recruiting Link (TRL)</h2>
      </div>
      <div class="tooltip" data-for="linked-in">
        <h2>LinkedIn</h2>
      </div>
      <div class="tooltip" data-for="salary-calculator">
        <h2>Salary Calculator</h2>
      </div>
      <div class="tooltip" data-for="salary-data-for-auburn-grads">
        <h2>Salary Data for Auburn Grads</h2>
      </div>
      <div class="tooltip" data-for="career-center-events">
        <h2>Career Fairs and Workshops</h2>
      </div>
      <div class="tooltip" data-for="job-search-guide">
        <h2>Job Search Guide</h2>
      </div>
    </div>
  </div>
  <div class="land-content">
    <h2>Land a Job</h2>
    <p>
      The job search process takes time and a lot of hard work. Fortunately, there are 
      many ways for job seekers to go about locating employment opportunities. To 
      maximize your time and energy, utilize both online and in-person methods and be 
      purposeful in identifying opportunities that mesh with your interests, education 
      and qualifications. You are encouraged to leverage your Auburn University 
      connections through Tiger Recruiting Link (TRL) a job database for Auburn students 
      and alumni as well as LinkedIn, a professional networking site. 
    </p>
  </div>
</section>

<section class="develop row step">
  <div class="links">
    <div class="link-wedges">
      <a class="wedge" data-tooltip="au-alumni-association" href="#"></a>
      <a class="wedge" href="http://money.cnn.com/calculator/pf/cost-of-living/" data-tooltip="col-calculator"></a>
      <a class="wedge" href="http://www.auburn.edu/academic/provost/undergrad_studies/career/tipsheets/Tip%20Sheet%20Hiring%20Benefits.pdf" data-tooltip="benefits-guide"></a>
      <a class="wedge" href="https://www.mint.com/" data-tooltip="money-management"></a>
    </div>
    <div class="tooltips">
      <div class="tooltip" data-for="au-alumni-association"><h2>AU Alumni Association</h2></div>
      <div class="tooltip" data-for="col-calculator"><h2>Cost of Living Calculator</h2></div>
      <div class="tooltip" data-for="benefits-guide"><h2>Benefits Guide</h2></div>
      <div class="tooltip" data-for="money-management"><h2>Money Management</h2></div>
    </div>
  </div>
  <div class="develop-content">
    <h2>Develop Professionally</h2>
    <p>
      You’re living in the real world, but your education need not end with graduation. 
      Participate in networking opportunities and professional development opportunities 
      offered through Auburn University Alumni Association. Make work and living 
      transitions go more smoothly by understanding your pay and benefits and knowing the 
      cost of living in the city in which you’ve chosen to live. Take advantage of 
      technology devoted to money management to help you plan for both expected and 
      unexpected expenses and a stable financial future.
    </p>
  </div>
</section>