---
title: Alumni | Career Center
hero-img: alumni.png
hero-text: Alumni
name: alumni
layout: resources.hbs
---


<section class="card">
  <p>
    Walk-in assistance, appointments, and eResume services 
    are available to current students and alumni within 5 
    years of their graduation date. All alumni are welcome 
    to use online resources, including Tiger Recruiting Link,
    and attend Career Center events. 
  </p>
</section>

<a class="card unpadded hero alumni-help"
   href="http://form.jotformpro.com/form/52045345236955">
  <img src="assets/images/resources/from-work.png"
       alt="Help future Auburn graduates -- share your business card!">
</a>

<section class="market step">
  <div class="step-links">
    <div class="wedges">
      <a class="wedge" href="http://issuu.com/aucc/docs/jsg_f15_color/18" data-tooltip="handbook"></a>
      <a class="wedge" href="resume" data-tooltip="resume"></a>
      <a class="wedge" href="interviews" data-tooltip="interview-stream"></a>
      <a class="wedge" href="http://auburn.edu/eportfolios" data-tooltip="eportfolios"></a>
    </div>
    <div class="tooltips">
      <a class="tooltip hover" data-for="handbook">
        <h2>Job Search Guide</h2>
      </a>
      <a class="tooltip hover" data-for="resume" href="resume">
        <h2>Resume, CV, and Cover Letter Tips</h2>
      </a>
      <a class="tooltip hover" data-for="interview-stream" href="interviews">
        <h2>Interviews</h2>
      </a>
      <a class="tooltip hover" data-for="eportfolios" href="http://auburn.edu/eportfolios">
        <h2>ePortfolios</h2>
      </a>
    </div>
  </div>
  <div class="step-blurb">
    <h2>Market Yourself</h2>
    <p>
      Stand out in a sea of applicants by effectively marketing your best skills, 
      abilities and experiences that relate to the career you want. <span class="full-content">Highlighting 
      your skills and experiences through your resume or CV and ePortfolio and your
      interest in and fit with a position through your cover letter are critical 
      steps to landing interviews. The interview is your time to shine by 
      exhibiting your fit with the company and ability to outperform other 
      candidates under consideration. Continually evaluate and update your 
      marketing materials throughout your graduate study to reflect new positions 
      and experiences.</span>
    </p>
  </div>
</section>

<section class="land step card">
  <div class="step-links">
    <div class="wedges">
      <a class="wedge" href="http://jobs.auburn.edu" data-tooltip="trl"></a>
      <a class="wedge" href="http://www.linkedin.com" data-tooltip="linked-in"></a>
      <a class="wedge" href="http://www.jobsearchintelligence.com/salary-calculator-intro-etc" data-tooltip="salary-calculator"></a>
      <a class="wedge" href="http://www.auburn.edu/career/webresources/salarydatacompiled2013_2014.pdf" data-tooltip="salary-data-for-auburn-grads"></a>
      <a class="wedge" href="http://auburn.edu/career/events" data-tooltip="career-center-events"></a>
      <a class="wedge" href="http://issuu.com/aucc/docs/jsg_f15_color/32" data-tooltip="job-search-guide"></a>
    </div>
    <div class="tooltips">
      <a class="tooltip hover" data-for="trl">
        <h2>Tiger Recruiting Link (TRL)</h2>
      </a>
      <a class="tooltip hover" data-for="linked-in">
        <h2>LinkedIn</h2>
      </a>
      <a class="tooltip hover" data-for="salary-calculator">
        <h2>Salary Calculator</h2>
      </a>
      <a class="tooltip hover" data-for="salary-data-for-auburn-grads">
        <h2>Salary Data for Auburn Grads</h2>
      </a>
      <a class="tooltip hover" data-for="career-center-events">
        <h2>Career Fairs and Workshops</h2>
      </a>
      <a class="tooltip hover" data-for="job-search-guide">
        <h2>Job Search Guide</h2>
      </a>
    </div>
  </div>
  <div class="step-blurb">
    <h2>Land a Job</h2>
    <p>
      The job search process takes time and a lot of hard work. Fortunately, there are 
      many ways for job seekers to go about locating employment opportunities. To 
      maximize your time and energy, utilize both online and in-person methods and be 
      purposeful in identifying opportunities that mesh with your interests, education 
      and qualifications. <span class="full-content">You are encouraged to leverage your Auburn University 
      connections through Tiger Recruiting Link (TRL) a job database for Auburn students 
      and alumni as well as LinkedIn, a professional networking site. </span>
    </p>
  </div>
</section>

<section class="develop step">
  <div class="step-links">
    <div class="wedges">
      <a class="wedge" href="http://alumnicareerservices.org/auburn/Home.aspx" data-tooltip="au-alumni-association"></a>
      <a class="wedge" href="http://money.cnn.com/calculator/pf/cost-of-living/" data-tooltip="col-calculator"></a>
      <a class="wedge" href="http://www.auburn.edu/academic/provost/undergrad_studies/career/tipsheets/Tip%20Sheet%20Hiring%20Benefits.pdf" data-tooltip="benefits-guide"></a>
      <a class="wedge" href="https://www.mint.com/" data-tooltip="money-management"></a>
    </div>
    <div class="tooltips">
      <a class="tooltip hover" href="http://www.aualum.org/career-opportunities" data-for="au-alumni-association"><h2>AU Alumni Association</h2></a>
      <a class="tooltip hover" href="http://money.cnn.com/calculator/pf/cost-of-living/" data-for="col-calculator"><h2>Cost of Living Calculator</h2></a>
      <a class="tooltip hover" href="http://www.auburn.edu/academic/provost/undergrad_studies/career/tipsheets/Tip%20Sheet%20Hiring%20Benefits.pdf" data-for="benefits-guide"><h2>Benefits Guide</h2></a>
      <a class="tooltip hover" href="https://www.mint.com/" data-for="money-management"><h2>Money Management</h2></a>
    </div>
  </div>
  <div class="step-blurb">
    <h2 id="develop-professionally">Develop Professionally</h2>
    <p>
      You’re living in the real world, but your education need not end with graduation. 
      <span class="full-content">Participate in networking opportunities and professional development opportunities 
      offered through the Auburn University Alumni Association. Make a smooth transition 
      from work to adult life by understanding your pay and benefits as well as the cost 
      of living in your city of employment. Take advantage of technology devoted to money 
      management to help you plan for both expected and unexpected expenses and a stable 
      financial future.</span>
    </p>
  </div>
</section>