---
title: Undergraduate Students | Career Center
name: undergrad
hero-img: undergrad-students.png
layout: resources.hbs
---

<section class="explore row step">
  <div class="links">
    <div class="link-wedges">
      <a class="wedge" data-tooltip="your-major-guide" href="http://issuu.com/aucc/docs/ymg-color-issuu/1"></a>
      <a class="wedge" data-tooltip="assessments" href="assessments/"></a>
      <a class="wedge" data-tooltip="what-can-i-do-with-a-major-in" href="http://whatcanidowiththismajor.com/major/majors"></a>
      <a class="wedge" data-tooltip="candid-career" href="https://www.candidcareer.com/do_login.php?u=Auburn&p=92d19e9626e3e23c23bfa1f6dcdc1837"></a>
      <a class="wedge" data-tooltip="pathways" href="pathways/"></a>
    </div>
    <div class="tooltips">
      <a class="tooltip" data-for="your-major-guide" href="http://issuu.com/aucc/docs/ymg-color-issuu/1">
        <h2>Your Major Guide</h2>
      </a>
      <a class="tooltip" data-for="assessments" href="assessments/">
        <h2>Career Assessments</h2>
      </a>
      <a class="tooltip" data-for="what-can-i-do-with-a-major-in" href="http://whatcanidowiththismajor.com/major/majors">
        <h2>What Can I Do with a Major in...?</h2>
      </a>
      <a class="tooltip" data-for="candid-career" href="https://www.candidcareer.com/do_login.php?u=Auburn&p=92d19e9626e3e23c23bfa1f6dcdc1837">
        <h2>Informational Interview Videos</h2>
      </a>
      <a class="tooltip" data-for="pathways" href="pathways">
        <h2>Pathways: Major Guides</h2>
      </a>
    </div>
  </div>
  <div class="explore-content">
    <h2>Explore Majors &amp; Careers</h2>
    <p>
      Choosing a major and subsequent career path is an important decision. 
      <span class="full-content">Take the time to reflect on your values, personality, skills, and interests. 
      Then research possible majors/careers and see how each path compares to your 
      self-assessment. This will enable you to more effectively target potential 
      career fields that interest you and help you make a wise decision as you move 
      forward with your career plan. Explore the resources on the left to guide you 
      through these steps and come to walk-in hours to visit with a career counselor 
        about your options.</span>
    </p>
  </div>
</section>

<section class="gain row step">
  <div class="links">
    <div class="link-wedges">
      <a class="wedge" data-tooltip="experience" href="http://www.auburn.edu/experience"></a>
      <a class="wedge" data-tooltip="pathways-2" href="pathways"></a>
      <a class="wedge" data-tooltip="jobs" href="http://jobs.auburn.edu/"></a>
    </div>
    <div class="tooltips">
      <a class="tooltip" data-for="experience" href="http://www.auburn.edu/experience">
        <h2>How to...</h2>
      </a>
      <a class="tooltip" data-for="pathways-2" href="pathways">
        <h2>Pathways: Major Guides</h2>
      </a>
      <a class="tooltip" data-for="jobs">
        <h2>jobs.auburn.edu</h2>
      </a>
    </div>
  </div>
  <div class="gain-content">
    <h2>Gain Experience</h2>
    <p>
      A strong academic record is no longer the main quality 
      employers look for in a potential employee. Gaining 
      experience outside of the classroom will build the skills 
      needed to be successful in your desired career and will 
      help you position yourself as the top candidate for the 
      positions you pursue. <span class="full-content">Experience comes in many forms 
      including part-time jobs, internship, research, volunteer 
      work, and campus leadership. The types of opportunities 
      you explore will vary depending upon your individual major 
      and personal career goals. Use these resources to aid in 
      your search for opportunities to gain experience.</span>
    </p>
  </div>
</section>

<section class="market row step">
  <div class="links">
    <div class="link-wedges">
      <a class="wedge" href="http://issuu.com/aucc/docs/handbook_3.2_color_is" data-tooltip="handbook"></a>
      <a class="wedge" href="resume" data-tooltip="resume"></a>
      <a class="wedge" href="interviews" data-tooltip="interview-stream"></a>
      <a class="wedge" href="http://auburn.edu/eportfolios" data-tooltip="eportfolios"></a>
    </div>
    <div class="tooltips">
      <a class="tooltip" href="http://issuu.com/aucc/docs/handbook_3.2_color_is" data-for="handbook">
        <h2>Job Search Guide</h2>
      </a>
      <a class="tooltip" href="resume" data-for="resume">
        <h2>Resume, CV, and Cover Letter Tips</h2>
      </a>
      <a class="tooltip" href="interviews" data-for="interview-stream">
        <h2>Interview Practice</h2>
      </a>
      <a class="tooltip" href="http://auburn.edu/eportfolios" data-for="eportfolios">
        <h2>ePortfolios</h2>
      </a>
    </div>
  </div>
  <div class="market-content">
    <h2>Market Yourself</h2>
    <p>
      Before you start searching for a job, it’s important to network with 
      people in your industry, develop confidence in your interview skills, 
      and create a strong resume and cover letter. <span class="full-content">In order to stand out 
      among a sea of applicants, having a strong resume and cover letter are 
      imperative. These documents should specifically cater to the position 
      in which you are applying while also highlighting your skills and 
      experiences. The Career Center offers many resources to help in the 
      creation of your resume and cover letter, as well as the development of 
      the interview skills needed to effectively market yourself to employers.</span>
    </p>
  </div>
</section>

<section class="land row step">
  <div class="links">
    <div class="link-wedges">
      <a class="wedge" href="http://jobs.auburn.edu" data-tooltip="trl"></a>
      <a class="wedge" href="interviews" data-tooltip="interviews"></a>
      <a class="wedge" href="http://www.auburn.edu/career/events" data-tooltip="career-center-events"></a>
      <a class="wedge" href="http://www.linkedin.com" data-tooltip="linked-in"></a>
      <a class="wedge" href="http://www.jobsearchintelligence.com/salary-calculator-intro-etc" data-tooltip="salary-calculator"></a>
      <a class="wedge" href="http://www.auburn.edu/career/webresources/salarydatacompiled2013_2014.pdf" data-tooltip="salary-data-for-auburn-grads"></a>
    </div>
    <div class="tooltips">
      <a class="tooltip" href="http://jobs.auburn.edu" data-for="trl">
        <h2>Tiger Recruiting Link (TRL)</h2>
      </a>
      <a class="tooltip" href="interviews" data-for="interviews">
        <h2>On-Campus Interviews</h2>
      </a>
      <a class="tooltip" href="http://www.auburn.edu/career/events" data-for="career-center-events">
        <h2>Career Center Events</h2>
      </a>
      <a class="tooltip" href="http://www.linkedin.com" data-for="linked-in">
        <h2>LinkedIn</h2>
      </a>
      <a class="tooltip" href="http://www.jobsearchintelligence.com/salary-calculator-intro-etc" data-for="salary-calculator">
        <h2>Salary Calculator</h2>
      </a>
      <a class="tooltip" href="http://www.auburn.edu/career/webresources/salarydatacompiled2013_2014.pdf" data-for="salary-data-for-auburn-grads">
        <h2>Salary Data for Auburn Grads</h2>
      </a>
    </div>
  </div>
  <div class="land-content">
    <h2>Land a Job</h2>
    <p>
      Once you feel confident in your ability to market yourself to 
      potential employers, you should begin searching and applying for 
      jobs. This may seem like a monumental task, fortunately there are 
      many ways for you to go about locating employment opportunities. <span class="full-content">
      Use your Tiger Recruiting Link (TRL) account to search for 
      available positions, attend Career Center hosted events to network 
      with employers, and create a LinkedIn account to connect with 
      professionals in your industry. Be sure to explore as many avenues 
      as possible during your search. You never know which path will 
      lead to your dream job.</span>
    </p>
  </div>
</section>

<section class="graduate row step">
  <div class="links">
    <div class="link-wedges">
      <a class="wedge" href="http://www.petersons.com/graduate-schools/guide-students-graduate-school.aspx" data-tooltip="should-i-go"></a>
      <a class="wedge" href="http://www.auburn.edu/career/tipsheets/Tip%20Sheet%20Graduate%20School.pdf" data-tooltip="application-process-and-timeline"></a>
      <a class="wedge" href="http://www.auburn.edu/career/tipsheets/Tip%20Sheet%20Personal%20Statement.pdf" data-tooltip="personal-statement-writing"></a>
      <a class="wedge" href="http://grad-schools.usnews.rankingsandreviews.com/best-graduate-schools" data-tooltip="program-ranking"></a>
      <a class="wedge" href="http://bulletin.auburn.edu/thegraduateschool/graduatedegreesoffered/" data-tooltip="au-grad-programs"></a>
    </div>
    <div class="tooltips">
      <a class="tooltip" href="http://www.petersons.com/graduate-schools/guide-students-graduate-school.aspx" data-for="should-i-go">
        <h2>"Should I go to graduate school?"</h2>
      </a>
      <a class="tooltip" href="http://www.auburn.edu/career/tipsheets/Tip%20Sheet%20Graduate%20School.pdf" data-for="application-process-and-timeline">
        <h2>Application Process and Timeline</h2>
      </a>
      <a class="tooltip" href="http://www.auburn.edu/career/tipsheets/Tip%20Sheet%20Personal%20Statement.pdf" data-for="personal-statement-writing">
        <h2>Personal Statement Writing</h2>
      </a>
      <a class="tooltip" href="http://grad-schools.usnews.rankingsandreviews.com/best-graduate-schools" data-for="program-ranking">
        <h2>Program Ranking</h2>
      </a>
      <a class="tooltip" href="http://bulletin.auburn.edu/thegraduateschool/graduatedegreesoffered/" data-for="au-grad-programs">
        <h2>Graduate Programs at Auburn University</h2>
      </a>
    </div>
  </div>
  <div class="graduate-content">
    <h2>Graduate &amp; Professional School</h2>
    <p>
      There are many factors to consider before making the decision
      to attend graduate school, including time commitment, cost, and 
      return on investment. <span class="full-content">While many disciplines require advanced 
      education in order to succeed within that field, other career 
      paths only require a bachelor’s degree. Use the resources to the 
      left to gather more information about all of your options as 
      well as the process of applying to graduate school. </span>
    </p>
  </div>
</section>

<section class="launch row step">
  <div class="links">
    <div class="link-wedges">
      <a class="wedge" href="http://money.cnn.com/calculator/pf/cost-of-living/" data-tooltip="col-calculator"></a>
      <a class="wedge" href="http://www.auburn.edu/academic/provost/undergrad_studies/career/tipsheets/Tip%20Sheet%20Hiring%20Benefits.pdf" data-tooltip="benefits-guide"></a>
      <a class="wedge" href="https://www.mint.com/" data-tooltip="money-management"></a>
      <a class="wedge" href="http://www.auburn.edu/academic/provost/undergrad_studies/career/tipsheets/Tip%20Sheet%20Etiquette.pdf" data-tooltip="etiquette"></a>
    </div>
    <div class="tooltips">
      <a class="tooltip" href="http://money.cnn.com/calculator/pf/cost-of-living/" data-for="col-calculator">
        <h2>Cost of Living Calculator</h2>
      </a>
      <a class="tooltip" href="http://www.auburn.edu/academic/provost/undergrad_studies/career/tipsheets/Tip%20Sheet%20Hiring%20Benefits.pdf" data-for="benefits-guide">
        <h2>Benefits Guide</h2>
      </a>
      <a class="tooltip" href="https://www.mint.com/" data-for="money-management">
        <h2>Money Management</h2>
      </a>
      <a class="tooltip" href="http://www.auburn.edu/academic/provost/undergrad_studies/career/tipsheets/Tip%20Sheet%20Etiquette.pdf" data-for="etiquette">
        <h2>Professional Etiquette</h2>
      </a>
    </div>
  </div>
  <div class="launch-content">
    <h2>Launch Your Career</h2>
    <p>
      You’ve arrived! Your countless hours of self-reflection, research,
      networking, resume writing and interviewing have culminated in 
      hearing one simple phrase…”You’re hired!” But now what? You’re 
      certainly not done, and in some ways you’re just beginning.<span class="full-content"> The 
      transition to the work place can be a taxing time. Adjusting to new 
      expectations and norms within the office, while attempting to 
      develop and cultivate a life outside the office can be quite 
      challenging to do successfully. Explore these links to help you 
      through your transition from college to career.</span>
    </p>
  </div>
</section>