---
title: Prospective Students | Career Center
hero-img: prospective-students.png
hero-text: Prospective Students
---

<a class="cam" href="http://www.auburn.edu/career/chooseamajor_infographic.pdf"><img src="assets/images/resources/choosing-a-major-logo.png"></a>

<section class="learn row step">
  <div class="links">
    <div class="link-wedges">
      <a class="wedge" data-tooltip="focus-career-planning-tool" href="https://www.focuscareer2.com/Portal/Login.cfm?SID=395"></a>
      <a class="wedge" data-tooltip="your-major-workshop" href="students/events/your-major.html"></a>
    </div>
    <div class="tooltips">
      <div class="tooltip" data-for="focus-career-planning-tool">
        <h2>Focus Career Planning Tool</h2>
      </div>
      <div class="tooltip" data-for="your-major-workshop">
        <h2>Your Major Workshop</h2>
      </div>
    </div>
  </div>
  <div class="learn-content">
    <h2>Learn More About Yourself</h2>
    <p>
      Use the FOCUS 2 career planning tool to discover how your personality, 
      interests, values and skills relate to career fields and majors of study.
      If you need to create an account, click the "New User" button at the 
      bottom of the page. Just click the link to the left!
    </p>
    <p class="muted">
      When registering for a FOCUS account, use: 
    </p>
    <p class="muted">
      <strong>Access code </strong> auburn
    </p>
    <p class="muted">
      <strong>Group </strong> prospective student
    </p>
  </div>
</section>

<section class="explore row step">
  <div class="links">
    <div class="link-wedges">
      <a class="wedge" data-tooltip="majors-at-auburn" href="http://bulletin.auburn.edu/undergraduate/majors/"></a>
      <a class="wedge" data-tooltip="your-major-guide" href="http://issuu.com/aucc/docs/ymg-color-issuu/1"></a>
      <a class="wedge" data-tooltip="what-can-i-do-with-a-major-in" href="http://whatcanidowiththismajor.com/major/majors"></a>
      <a class="wedge" data-tooltip="occupational-outlook-handbook" href="http://www.bls.gov/ooh/"></a>
      <a class="wedge" data-tooltip="onet-online" href="http://www.onetonline.org/"></a>
    </div>
    <div class="tooltips">
      <div class="tooltip" data-for="majors-at-auburn">
        <h2>Majors at Auburn University</h2>
      </div>
      <div class="tooltip" data-for="your-major-guide">
        <h2>Your Major Guide</h2>
      </div>
      <div class="tooltip" data-for="what-can-i-do-with-a-major-in">
        <h2>What Can I Do With a Major In...?</h2>
      </div>
      <div class="tooltip" data-for="occupational-outlook-handbook">
        <h2>Occupational Outlook Handbook</h2>
      </div>
      <div class="tooltip" data-for="onet-online">
        <h2>O*Net Online</h2>
      </div>
    </div>
  </div>
  <div class="research-content">
    <h2>Explore Majors &amp; Careers</h2>
    <p>
      Auburn offers more than 140 academic majors! Click 
      on resource #1 to the right to see a list of every 
      major and a projected plan of study for each. 
      However, choosing a major is just the start; from 
      there the possible career paths are numerous.
    </p>
    <p class="full-content">
      Check
      out What Can I Do With a Major In...?, a resource 
      highlighting majors and the multiple career paths 
      you can pursue through each. Search by career or 
      area of interest and learn about work activities 
      and environments, required education, salary data 
      and employment projections through O*NET OnLine and 
      Occupational Outlook Handbook.
    </p>
  </div>
</section>