---
title: Specialized Advice | Career Center
hero-text: Specialized Advice
name: specialized-advice
layout: resources.hbs
---

<section class="international row step">
  <div class="step-links">
    <div class="wedges">
      <a class="wedge" href="http://online.goinglobal.com/default.aspx" data-tooltip="going-global"></a>
      <a class="wedge" href="http://www.embassy.org/embassies/" data-tooltip="embassy"></a>
      <a class="wedge" href="http://www.myvisajobs.com/" data-tooltip="visa-jobs"></a>
      <a class="wedge" href="http://www.twolingos.com/" data-tooltip="two-lingos"></a>
      <a class="wedge" href="http://www.auburn.edu/academic/international/" data-tooltip="auburn-international"></a>
    </div>
    <div class="tooltips">
      <a class="tooltip" data-for="going-global">
        <h2>Going Global</h2>
      </a>
      <a class="tooltip" data-for="embassy">
        <h2>The Washington, D.C. List of Embassies</h2>
      </a>
      <a class="tooltip" data-for="visa-jobs">
        <h2>My Visa Jobs</h2>
      </a>
      <a class="tooltip" data-for="two-lingos">
        <h2>Bilingual Job Resources</h2>
      </a>
      <a class="tooltip" data-for="auburn-international">
        <h2>Auburn University International Programs</h2>
      </a>
    </div>
  </div>
  <div class="step-blurb">
    <h2 class="big-header">International Students</h2>
  </div>
</section>

<section class="veterans row step">
  <div class="step-links">
    <div class="wedges">
      <a class="wedge" href="http://www.hireheroesusa.org/" data-tooltip="hire-heroes"></a>
      <a class="wedge" href="http://vetcentral.us.jobs/veteransmembers.asp" data-tooltip="veteran-employers"></a>
      <a class="wedge" href="http://www.auburn.edu/academic/provost/undergrad_studies/veterans/" data-tooltip="veteran-resource-center"></a>
      <a class="wedge" href="http://www.combattocorporate.com/multimedia-resources/" data-tooltip="combat-to-corporate"></a>
      <a class="wedge" href="http://vetjobs.com/" data-tooltip="vet-jobs"></a>
    </div>
    <div class="tooltips">
      <a class="tooltip" data-for="hire-heroes">
        <h2>Hire Heroes USA</h2>
      </a>
      <a class="tooltip" data-for="veteran-employers">
        <h2>Employers who actively hire veterans</h2>
      </a>
      <a class="tooltip" data-for="veteran-resource-center">
        <h2>Auburn University Veteran Resource Center</h2>
      </a>
      <a class="tooltip" data-for="combat-to-corporate">
        <h2>Combat to Corporate</h2>
      </a>
      <a class="tooltip" data-for="vet-jobs">
        <h2>Jobs for Veterans</h2>
      </a>
    </div>
  </div>
  <div class="step-blurb">
    <h2 class="big-header">Veterans</h2>
  </div>
</section>

<section class="lgbt row step">
  <div class="step-links">
    <div class="wedges">
      <a class="wedge" href="http://www.outforwork.com/" data-tooltip="out-for-work"></a>
      <a class="wedge" href="http://www.hrc.org/" data-tooltip="hrc"></a>
      <a class="wedge" href="http://www.lambdalegal.org/" data-tooltip="lambda-legal"></a>
    </div>
    <div class="tooltips">
      <a class="tooltip" data-for="out-for-work">
        <h2>Out for Work</h2>
      </a>
      <a class="tooltip" data-for="hrc">
        <h2>Human Rights Campaign</h2>
      </a>
      <a class="tooltip" data-for="lambda-legal">
        <h2>Lambda Legal</h2>
      </a>
    </div>
  </div>
  <div class="step-blurb">
    <h2 class="big-header">LGBT+ Students</h2>
  </div>
</section>

<section class="accessibility row step">
  <div class="step-links">
    <div class="wedges">
      <a class="wedge" href="https://accessibility.auburn.edu/" data-tooltip="oa"></a>
      <a class="wedge" href="https://www.disability.gov/" data-tooltip="disability"></a>
      <a class="wedge" href="http://www.cosdonline.org/" data-tooltip="cosd"></a>
      <a class="wedge" href="http://nod.org/disability_resources/employment_resources" data-tooltip="accessibility-employment"></a>
    </div>
    <div class="tooltips">
      <a class="tooltip" data-for="oa">
        <h2>Auburn Univesity Office of Accessibility</h2>
      </a>
      <a class="tooltip" data-for="disability">
        <h2>Federal Disability Resources</h2>
      </a>
      <a class="tooltip" data-for="cosd">
        <h2>Career Opportunities for Students with Disabilities</h2>
      </a>
      <a class="tooltip" data-for="accessibility-employment">
        <h2>National Organization for Disability</h2>
      </a>
    </div>
  </div>
  <div class="step-blurb">
    <h2 class="big-header">Accessibility</h2>
  </div>
</section>

<section class="federal row step">
  <div class="step-links">
    <div class="wedges">
      <a class="wedge" href="http://www.usa.gov/Citizen/Topics/Government-Jobs.shtml" data-tooltip="gov-jobs"></a>
      <a class="wedge" href="https://vimeo.com/channels/295494" data-tooltip="call-to-serve"></a>
      <a class="wedge" href="http://www.auburn.edu/projects/washington/" data-tooltip="auburn-hill"></a>
      <a class="wedge" href="http://www.usa.gov/directory/federal/index.shtml" data-tooltip="agencies"></a>
    </div>
    <div class="tooltips">
      <a class="tooltip" data-for="gov-jobs">
        <h2>Federal Job Advice</h2>
      </a>
      <a class="tooltip" data-for="call-to-serve">
        <h2>Call to Serve</h2>
      </a>
      <a class="tooltip" data-for="auburn-hill">
        <h2>Auburn on the Hill</h2>
      </a>
      <a class="tooltip" data-for="agencies">
        <h2>Government Agencies</h2>
      </a>
    </div>
  </div>
  <div class="step-blurb">
    <h2 class="big-header">Federal Resources</h2>
  </div>
</section>

<section class="service row step">
  <div class="step-links">
    <div class="wedges">
      <a class="wedge" href="https://www.teachforamerica.org/" data-tooltip="teach"></a>
      <a class="wedge" href="http://www.peacecorps.gov/" data-tooltip="peace-corps"></a>
      <a class="wedge" href="http://www.nationalservice.gov/" data-tooltip="americorps"></a>
      <a class="wedge" href="http://www.greencorps.org/" data-tooltip="green-corps"></a>
    </div>
    <div class="tooltips">
      <a class="tooltip" data-for="teach">
        <h2>Teach for America</h2>
      </a>
      <a class="tooltip" data-for="peace-corps">
        <h2>Peace Corps</h2>
      </a>
      <a class="tooltip" data-for="americorps">
        <h2>AmeriCorps</h2>
      </a>
      <a class="tooltip" data-for="green-corps">
        <h2>Green Corps</h2>
      </a>
    </div>
  </div>
  <div class="step-blurb">
    <h2 class="big-header">Service Programs</h2>
  </div>
</section>