---
title: Specialized Advice | Career Center
hero-img: specialized-advice.png
hero-text: Specialized Advice
name: specialized-advice
layout: resources.hbs
---

<section class="international row step">
  <div class="links">
    <div class="link-wedges">
      <a class="wedge" href="http://www.goinglobal.com/" data-tooltip="going-global"></a>
      <a class="wedge" href="http://www.embassy.org/embassies/" data-tooltip="embassy"></a>
      <a class="wedge" href="https://auburn.interviewstream.com/Account/Login?ReturnUrl=%2f" data-tooltip="interview-stream"></a>
      <a class="wedge" href="http://auburn.edu/eportfolios" data-tooltip="eportfolios"></a>
    </div>
    <div class="tooltips">
      <div class="tooltip" data-for="going-global">
        <h2>Going Global</h2>
      </div>
      <div class="tooltip" data-for="embassy">
        <h2>The Washington, D.C. List of Embassies</h2>
      </div>
      <div class="tooltip" data-for="interview-stream">
        <h2>Interview Stream Practice Resource</h2>
      </div>
      <div class="tooltip" data-for="eportfolios">
        <h2>ePortfolios</h2>
      </div>
    </div>
  </div>
  <div class="international-content">
    <h2>International Students</h2>
    <p>
      Stand out in a sea of applicants by effectively marketing your best skills, 
      abilities and experiences that relate to the career you want. <span class="full-content">Highlighting 
      your skills and experiences through your resume or CV and ePortfolio and your
      interest in and fit with a position through your cover letter are critical 
      steps to landing interviews. The interview is your time to shine by 
      exhibiting your fit with the company and ability to outperform other 
      candidates under consideration. Continually evaluate and update your 
      marketing materials throughout your graduate study to reflect new positions 
      and experiences.</span>
    </p>
  </div>
</section>

<section class="veterans row step">
  <div class="links">
    <div class="link-wedges">
      <a class="wedge" href="http://issuu.com/aucc/docs/handbook_3.2_color_is" data-tooltip="handbook"></a>
      <a class="wedge" href="resume/" data-tooltip="resume"></a>
      <a class="wedge" href="https://auburn.interviewstream.com/Account/Login?ReturnUrl=%2f" data-tooltip="interview-stream"></a>
      <a class="wedge" href="http://auburn.edu/eportfolios" data-tooltip="eportfolios"></a>
    </div>
    <div class="tooltips">
      <div class="tooltip" data-for="handbook">
        <h2>Job Search Guide</h2>
      </div>
      <div class="tooltip" data-for="resume">
        <h2>Resume, CV, and Cover Letter Tips</h2>
      </div>
      <div class="tooltip" data-for="interview-stream">
        <h2>Interview Stream Practice Resource</h2>
      </div>
      <div class="tooltip" data-for="eportfolios">
        <h2>ePortfolios</h2>
      </div>
    </div>
  </div>
  <div class="veterans-content">
    <h2>Veterans</h2>
    <p>
      Stand out in a sea of applicants by effectively marketing your best skills, 
      abilities and experiences that relate to the career you want. <span class="full-content">Highlighting 
      your skills and experiences through your resume or CV and ePortfolio and your
      interest in and fit with a position through your cover letter are critical 
      steps to landing interviews. The interview is your time to shine by 
      exhibiting your fit with the company and ability to outperform other 
      candidates under consideration. Continually evaluate and update your 
      marketing materials throughout your graduate study to reflect new positions 
      and experiences.</span>
    </p>
  </div>
</section>

<section class="lgbt row step">
  <div class="links">
    <div class="link-wedges">
      <a class="wedge" href="http://issuu.com/aucc/docs/handbook_3.2_color_is" data-tooltip="handbook"></a>
      <a class="wedge" href="resume/" data-tooltip="resume"></a>
      <a class="wedge" href="https://auburn.interviewstream.com/Account/Login?ReturnUrl=%2f" data-tooltip="interview-stream"></a>
      <a class="wedge" href="http://auburn.edu/eportfolios" data-tooltip="eportfolios"></a>
    </div>
    <div class="tooltips">
      <div class="tooltip" data-for="handbook">
        <h2>Job Search Guide</h2>
      </div>
      <div class="tooltip" data-for="resume">
        <h2>Resume, CV, and Cover Letter Tips</h2>
      </div>
      <div class="tooltip" data-for="interview-stream">
        <h2>Interview Stream Practice Resource</h2>
      </div>
      <div class="tooltip" data-for="eportfolios">
        <h2>ePortfolios</h2>
      </div>
    </div>
  </div>
  <div class="lgbt-content">
    <h2>LGBT+ Students</h2>
    <p>
      Stand out in a sea of applicants by effectively marketing your best skills, 
      abilities and experiences that relate to the career you want. <span class="full-content">Highlighting 
      your skills and experiences through your resume or CV and ePortfolio and your
      interest in and fit with a position through your cover letter are critical 
      steps to landing interviews. The interview is your time to shine by 
      exhibiting your fit with the company and ability to outperform other 
      candidates under consideration. Continually evaluate and update your 
      marketing materials throughout your graduate study to reflect new positions 
      and experiences.</span>
    </p>
  </div>
</section>

<section class="accessibility row step">
  <div class="links">
    <div class="link-wedges">
      <a class="wedge" href="http://issuu.com/aucc/docs/handbook_3.2_color_is" data-tooltip="handbook"></a>
      <a class="wedge" href="resume/" data-tooltip="resume"></a>
      <a class="wedge" href="https://auburn.interviewstream.com/Account/Login?ReturnUrl=%2f" data-tooltip="interview-stream"></a>
      <a class="wedge" href="http://auburn.edu/eportfolios" data-tooltip="eportfolios"></a>
    </div>
    <div class="tooltips">
      <div class="tooltip" data-for="handbook">
        <h2>Job Search Guide</h2>
      </div>
      <div class="tooltip" data-for="resume">
        <h2>Resume, CV, and Cover Letter Tips</h2>
      </div>
      <div class="tooltip" data-for="interview-stream">
        <h2>Interview Stream Practice Resource</h2>
      </div>
      <div class="tooltip" data-for="eportfolios">
        <h2>ePortfolios</h2>
      </div>
    </div>
  </div>
  <div class="accessibility-content">
    <h2>Students with Accessibility Concerns</h2>
    <p>
      Stand out in a sea of applicants by effectively marketing your best skills, 
      abilities and experiences that relate to the career you want. <span class="full-content">Highlighting 
      your skills and experiences through your resume or CV and ePortfolio and your
      interest in and fit with a position through your cover letter are critical 
      steps to landing interviews. The interview is your time to shine by 
      exhibiting your fit with the company and ability to outperform other 
      candidates under consideration. Continually evaluate and update your 
      marketing materials throughout your graduate study to reflect new positions 
      and experiences.</span>
    </p>
  </div>
</section>

<section class="federal row step">
  <div class="links">
    <div class="link-wedges">
      <a class="wedge" href="http://issuu.com/aucc/docs/handbook_3.2_color_is" data-tooltip="handbook"></a>
      <a class="wedge" href="resume/" data-tooltip="resume"></a>
      <a class="wedge" href="https://auburn.interviewstream.com/Account/Login?ReturnUrl=%2f" data-tooltip="interview-stream"></a>
      <a class="wedge" href="http://auburn.edu/eportfolios" data-tooltip="eportfolios"></a>
    </div>
    <div class="tooltips">
      <div class="tooltip" data-for="handbook">
        <h2>Job Search Guide</h2>
      </div>
      <div class="tooltip" data-for="resume">
        <h2>Resume, CV, and Cover Letter Tips</h2>
      </div>
      <div class="tooltip" data-for="interview-stream">
        <h2>Interview Stream Practice Resource</h2>
      </div>
      <div class="tooltip" data-for="eportfolios">
        <h2>ePortfolios</h2>
      </div>
    </div>
  </div>
  <div class="federal-content">
    <h2>Federal Resources</h2>
    <p>
      Stand out in a sea of applicants by effectively marketing your best skills, 
      abilities and experiences that relate to the career you want. <span class="full-content">Highlighting 
      your skills and experiences through your resume or CV and ePortfolio and your
      interest in and fit with a position through your cover letter are critical 
      steps to landing interviews. The interview is your time to shine by 
      exhibiting your fit with the company and ability to outperform other 
      candidates under consideration. Continually evaluate and update your 
      marketing materials throughout your graduate study to reflect new positions 
      and experiences.</span>
    </p>
  </div>
</section>

<section class="service row step">
  <div class="links">
    <div class="link-wedges">
      <a class="wedge" href="http://issuu.com/aucc/docs/handbook_3.2_color_is" data-tooltip="handbook"></a>
      <a class="wedge" href="resume/" data-tooltip="resume"></a>
      <a class="wedge" href="https://auburn.interviewstream.com/Account/Login?ReturnUrl=%2f" data-tooltip="interview-stream"></a>
      <a class="wedge" href="http://auburn.edu/eportfolios" data-tooltip="eportfolios"></a>
    </div>
    <div class="tooltips">
      <div class="tooltip" data-for="handbook">
        <h2>Job Search Guide</h2>
      </div>
      <div class="tooltip" data-for="resume">
        <h2>Resume, CV, and Cover Letter Tips</h2>
      </div>
      <div class="tooltip" data-for="interview-stream">
        <h2>Interview Stream Practice Resource</h2>
      </div>
      <div class="tooltip" data-for="eportfolios">
        <h2>ePortfolios</h2>
      </div>
    </div>
  </div>
  <div class="service-content">
    <h2>Service Programs</h2>
    <p>
      Stand out in a sea of applicants by effectively marketing your best skills, 
      abilities and experiences that relate to the career you want. <span class="full-content">Highlighting 
      your skills and experiences through your resume or CV and ePortfolio and your
      interest in and fit with a position through your cover letter are critical 
      steps to landing interviews. The interview is your time to shine by 
      exhibiting your fit with the company and ability to outperform other 
      candidates under consideration. Continually evaluate and update your 
      marketing materials throughout your graduate study to reflect new positions 
      and experiences.</span>
    </p>
  </div>
</section>