.events {
    flex-direction: column;
    width: 100%;
}
.events h2 {
    justify-content: center;
    font-size: 5rem;
    padding-bottom: 1rem;
}

.events ul .event {
    display: inline-flex;  
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-right: 3rem;
    flex-basis: 100%;
    width: 100%;
}

@media (min-width: 768px) {
    .events ul .event {
        flex-basis: 50%;
        width: 50%;
    } 
}

@media (min-width: 992px) {
    .events ul .event {
        flex-basis: 33%;
        width: 33%;
    }
}

