@import '../partials/variables';

.attributes {
  display: none;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 100%;

  padding-top: 3rem;
}
.attribute {
  display: inline-block;
  flex-basis: 100%;
  width: 100%;
  min-width: 200px;
  margin-bottom: 3rem;

  // pdf overwrite
  a[href$='.pdf']::after {
    content: none;
  }
  a[href$='.pdf'] + .details::after {
    content: ' (pdf)';
  }

  & > a.icon:hover {
    background: $thisislightblue;
  }

  & > .icon {
    background: #ccc;
    color: white;
    border-radius: 10rem 10rem;
    font-size: 6rem;
    width: 10rem;
    height: 10rem;

    display: block;

    margin-left: auto;
    margin-right: auto;

    font-family: $icon-font-family;

    padding-left: 2rem;
    padding-top: 2rem;

    &.calendar {
      padding-left: 2.2rem;
    }
    &.post {
      padding-left: 2.1rem;
      padding-top: 1.9rem;
    }
  }
  & > .details {
    padding-top: 3rem;
    text-align: center;
    font-family: $header-font-family;
    font-size: 2rem;
  }
}
@media (min-width: $small-screen-width) {
  .attributes {
    display: flex; 
    .attribute {
      flex-basis: 33%;
      width: 33%;
      & > .details {
        padding-top: 1rem;
        padding-bottom: 3rem;
      }
      &:last-of-type > .details {
         padding-bottom: 0;
      }
    }
  }
}