@import '../partials/variables';

.event-banner-card {
  box-shadow: $box-shadow;
  margin-top: $content-division;
  
  > img {
    display: none;
    margin: 0;
  }
  .card {
    margin-top: -1rem;
  }
}
.blurb {
  padding-bottom: $content-division;
  border-bottom: 1px solid $box-shadow-color;
}
.blurb:last-of-type {
  border-bottom: none;
}
.schedule {
  padding: $content-division 0;
  border-bottom: 1px solid $box-shadow-color;
  h3 {
    padding-bottom: $content-separation;
  }
  p {
    padding-bottom: $content-protection;
  }
}
.attributes {
  padding-top: $content-division;
}
.icon i::before {
  position: relative;
  top: 2rem;
  left: 2rem;
}
.icon i.icon-comments-o::before {
  top: 1.8rem;
}
.icon i.icon-tie::before {
  left: 1.9rem;
}
.icon i.icon-graduation-cap::before {
  top: 2.2rem;
  left: 1.2rem;
}

.img-replace {
  display: block;
  h2 {
    color: $thisislightorange;
  }
}

@media (min-width: $tiny-screen-width) {
  .event-banner-card > img {
    display: block;
  }
  .img-replace {
    display: none;
  }
}