@import '../partials/variables';

// TRL LOGIN
.login {  
  justify-content: center;
  align-self: center;
  position: relative;
  -ms-flex-negative: 1;
  
  h2, h3, p {
    text-align: center; 
  }
  h2, h3 {
    font-size: $header-font-size; 
  }
  p {
    font-size: 16px; 
  }
}
.login-container {
  display: block;
  margin: auto;
  width: 100%;
}
// Ensure the watermark doesn't
// overlap anything.
.login .watermark::before {
  font-size: 20rem;
  top: -3rem;
  right: -6rem;
}
.login-container .buttons {
  z-index: 2;
}
.login + * {
  z-index: 2;
}
@media (min-width: $small-screen-width) {
  .login {
    height: auto;
  }
}

.handshake {
  position: relative;
  z-index: 1;
}
.handshake::before {
  content: 'Handshake';
}