@import 'variables';

// BANNERS
.banner {
  font-family: $header-font-family;
  text-align: center;
  h2 {
    font-size: $title-font-size;
    color: $thisislightorange;
  }
  .subtitle { 
    font-size: $button-font-size;
    color: $thisisdarkblue;
  }
}
@media (min-width: $medium-screen-width) {
  .banner {
    h2 {
      font-size: $title-font-size * 1.5; 
    }
    .subtitle {
      font-size: $button-font-size * 1.5;
    }
  }
}