@import '../partials/variables';

/* *************************************************** **
**                      HEADER                         **
**  (container for all navs, title link, auburn logo)  **
** *************************************************** **/
header {
  background-color: $thisisdarkblue;
  box-shadow: $box-shadow;
}

/* ************************************************ **
**                    TITLE BAR                     **
** (contains auburn logo, Career Center title link) **
*************************************************** **/
.title { 
  @include main;
  h1 {
    padding: $content-separation 0;
    a {
      color: white;
      &:hover {
        color: $thisislightorange; 
      }
    }
  }
}
.logo-ribbon {
  display: block;
  @include hex(82px, white);
  
  background-image: url('../images/AU-emblem.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: $moderate-screen-width) {
  .logo-ribbon {
    @include hex(120px, white); 
  }
}

nav > ul {
  @include main;
}
/* Generally true in all site non-mobile navs: they're horizontal */
nav ul li {
  display: inline-block;
  font-family: $header-font-family;
  font-size: $nav-font-size;
  text-align: center;
  list-style: none !important;
}
nav a {
  color: white;
  &:hover {
    color: $thisislightorange;
  } 
}

/* **************************************************************** **
**                             MAIN NAV                             **
** (contains navigation elements for Career Center pages, submenus) **
** **************************************************************** **/
.nav-controller {
  position: absolute;
  top: 2rem;
  right: 0;
  
  cursor: pointer;
  
  &::before {
    display: block;
    
    font-size: 2rem;
  
    padding: 2rem;
    box-shadow: $box-shadow;
    
    background-color: $thisislightblue;
    color: white;
  }
  
  &:hover::before {
    background-color: white;
    color: $thisislightblue;
  }
}
nav.main {
  display: none;
  
  margin-bottom: 6px;
    
  background-color: $thisislightblue;
  
  ul {
    display: flex;
    flex-wrap: nowrap;
  }
  li {
    min-width: 16%;
    flex: 1;
    
    background-color: $thisislightblue;
    cursor: pointer;
    
    &:hover, &.hover--active {
      background-color: white; 
    }
  }
  a {
    display: inline-block;
    width: 100%;
    padding: ($content-protection / 2) 0;
  }
  a:hover, li:hover a, li.hover--active a {
    color: $thisislightblue; 
  }
  
  // submenus
  ul li {
    position: relative; 
  }
  ul li ul {
    display: none;
    
    background-color: white;
    color: $thisislightblue;
    
    box-shadow: $box-shadow;
    width: 600%;
  }
  ul li ul li { 
    font-size: $nav-font-size * 0.7;
    background-color: white;
    color: $thisislightblue;
    
    a:hover, &:hover a {
      color: $thisislightorange;
    }
  }
  ul li:hover ul,
  ul li.hover--active ul {
    position: absolute;
    
    display: flex;
    list-style: none;
  }
  .about-us ul {
    margin-left: -500%; 
  }
  .part-time-employment ul {
    margin-left: -100%; 
  }
  .hire-about-us ul {
    margin-left: -300%; 
  }
}
.hire-header nav.main ul li ul {
  width: 400%;
}

// if we've scrolled down, we want the main nav
// to follow us.
nav.main.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
}
nav.main.shadowed {
  box-shadow: $box-shadow;
}
// we should also fix the positioning of the post-header
// if we've clicked the nav-controller button,
// we should be at a mobile-ready resolution.
// these are the styles that should be applied
// when the user clicks it and requests the menu.
nav.main--mobile {
  display: block;
  ul {
    width: 100%;
    max-width: none;
    
    flex-wrap: wrap;
  }
  li {
    flex-basis: 100%; 
  }
}

@media (min-width: $small-screen-width) {
  nav.main {
    display: block; 
  }
  nav.main--mobile {
    ul {
      width: 90vw;
      max-width: 1200px;
      
      flex-wrap: nowrap;
    }
    li {
      flex: 1; 
    }
  }
  .nav-controller::before {
    display: none; 
  }
}
@media (min-width: $medium-screen-width) {
  nav.main ul li ul li {
    font-size: $nav-font-size; 
  }
}

/* ********************************************************** **
**                        AUBURN NAV                          **
** (contains navigation elements present on all Auburn pages) **
** ********************************************************** **/
nav.auburn { 
  background: $thisisdarkblue;
  ul {
    display: flex;
    justify-content: flex-end;
    padding: 3px 0;
  }
  li {
    padding: 0 ($content-protection / 4); 
    font-size: $post-nav-font-size;
    font-family: $body-font-family;
  }
  input {
    -webkit-appearance: none;
    border: none;
    margin: 0; padding: 0;
    margin-top: -3px;
    background-color: transparent;
    color: white;
    vertical-align: middle;
    line-height: $line-height;
  }
}
nav.auburn.absolute {
  position: relative;
  top: 52px;
  margin-bottom: 80px;
  box-shadow: $box-shadow;
}