@import 'variables';

header {
  width: 100%;
  margin-bottom: 20px;
  background: $thisisdarkblue;
}

.preheader {
  background: $thisisdarkblue;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  
  height: 13rem;
  
  position: relative;
  
  .hexes {
    height: 125px;
  }
  .hex {
    z-index: 2;
    
    position: relative;
    cursor: pointer;
    img {
      position: absolute;
      left: 27%;
      max-width: 100%;
      top: 5px;
      z-index: 3;
    }
  }
  h1 {
    width: 50%;
    padding-top: 2rem; 
    padding-bottom: 2rem;
    margin-bottom: 0;
    font-family: $header-font-family;
    font-size: 3rem;
    text-align: right;
    position: absolute;
    top: 0;
    right: 15px;
    a {
      color: white;
      &:hover {
        color: $thisislightorange; 
      }
    }
  }
}
nav.header {
  width: 100%; 
  display: block;
  
  position: inherit;
  top: 26rem;
  
  margin-left: auto;
  margin-right: auto;
  
  background: $thisislightblue;
  
  font-family: $header-font-family;
  font-size: 20px;
  
  z-index: 1000000000000000000000;
  
  .nav-home { 
    &:first-of-type:hover {
       background: white;
    }
    
    .nav-home-content--smaller {
      display: inline-block;
    }
    .nav-home-content--bigger {
      display: none; 
    }
  }
  
  .nav-wrapper {
    display: none;
    position: relative; 
    left: 100%;
    background-color: $thisislightblue;
    
    & > ul {
      max-width: 1200px; 
      margin-left: auto;
      margin-right: auto;
      
      background-color: $thisislightblue;
    }
  }
  
  .nav-wrapper.mobile-nav--active {
    display: inline-block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    
    ul {
      display: block;
      width:100%;
      
      li {
        display: block;
        width: 100%; 
        &:hover {
          box-shadow: 0 6px 0 #ccc; 
          z-index: 2;
          ul {
            left: 0 !important;
          }
        }
      }
      
      ul {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        li:hover {
          box-shadow: none; 
        }
      }
    }
  }
  
  .nav-controller {
    display: block;
    position: absolute;
    top: 30%;
    right: 0;
    height: 60px;
    width: 60px;
    padding: 1.5rem;
    padding-left: 22px;
    padding-top: 16px;
    background: white;
    box-shadow: 6px 6px 0 #ccc;
    cursor: pointer;
    background: $thisislightblue;
    color: white;
    z-index: 3;
    
    &:hover {
      background: white;
      color: $thisislightblue;
    }
  }
  
  &.bordered {
    box-shadow: 6px 6px 0 #ccc;
    
    .nav-home:first-of-type:hover {
       background: white;
    }
  }
  
  &.fixed {
    position: fixed;
    top: 0; 
  }
  

  
  ul {
    display: flex;
    justify-content: space-around;
    
    
    position:relative;
    
    height: 60px;
    
    /* Submenus, while hidden */
    ul {
      position: absolute;
      left: -99999rem;
      
      white-space: nowrap;
      
      background: white;
      box-shadow: 6px 6px 0px #ccc;
      
      height: auto;
      z-index: 100000;
      
      margin-top: 1.25rem; /* slightly less than one to cover the box-shadow gap */
      
      list-style: none;  
    }
    
    li {
      width: 100%;
      height: 100%;
      text-align: center;
      padding: 1.3rem 1rem;
      
      position: relative;
      cursor: pointer;
      
      background: $thisislightblue;
      color: white;
      
      a {
        color: white;  
      }
      
      &.nav-home {
        background: $thisisdarkblue;
        color: white;
        
        a {
          color: white;
        }
      }
      
      &:hover {
        background: white;
        color: $thisislightblue;
        
        a {
          color: $thisislightblue; 
        }
      }
      
      &:hover > ul {
        left: 0; 
        width: 600%;
        list-style:none;
        
        
        li {
          color: $thisislightblue;
          background: white;
          a {
            color: $thisislightblue; 
          }
          &:hover { 
            color: $thisislightblue;
            a {
              color: $thisislightorange;
            }
          }
        }
      }
      
      &:hover:last-of-type > ul {
        left: -500%; 
      }

      
      &:hover a:first-child:nth-last-child(2):before {
        content: ""; 
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 12px solid transparent;
        position: absolute;

        left: 45%;
        top: 6rem;

        flex-basis: 0%;
        width: 0%;
        height: 0; 
        z-index: 100000000;
      }
    }
  }
}
nav.postheader {
  width: 100%;
  
  display: block;
  
  top: 0;
  
  background: $thisisdarkblue;
  
  font-family: $body-font-family;
  font-size: 1.3rem;
  height: 3rem;
  
  box-shadow: 6px 6px 0 #ccc;
  
  ul {
    display: inline-block;
    position: absolute;
    right: 0;
    
    li {
      display: inline-block; 
      
      padding-right: 8px;
      
      a {
        color: white;
        &:hover {
          color: $thisislightorange; 
        }
      }

    }
  }
  
  & > ul {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
    display: block;
    position: relative;
    text-align: right;
  }
  
  input[type="search"] {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    border: none;
    padding: 0.25rem 0;
    width: 6rem;
    
    background: $thisisdarkblue;
    color: white;
    
    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-placeholder{
      color: $bg-gray; 
    }
  }
}

.hex {
  @include hex(166px, white);
}


/* Overrides */
ul li  {
  background: none;
}

/* Media queries */
@media (min-width: $tiny-screen-size) {
  .preheader {
    h1 {
      width: auto;
      font-size: 5rem;
    }
  }
  nav.postheader {
    padding: 1px 1rem; 
    ul li {
      padding-right: 2rem;
    }
    input[type="search"] {
      width: 11rem; 
    }
  }
}
@media (min-width: $small-screen-size) {
  .preheader {
    width: 90vw !important; 
  }
  nav.header { 
    .nav-controller {
      display: none; 
    }
    .nav-wrapper,
    .nav-wrapper.mobile-nav--active {
      display: block;
      left: 0;
      ul {
        display: flex;
        width: 90vw;
        padding-left: 15px;
        padding-right: 15px;
        li {
          width: 16.6667%;
        }
      }
    }
    
    ul ul {
      margin-top: 1.55rem; 
    }
    
  }
  nav.postheader {
    &.absolute {
      position: relative;
      top: 60px;
      margin-bottom: 80px;
    }
    ul {
      font-size: 14px;
    }
  }
}
@media (min-width: $moderate-screen-size) {
  nav.header {
    font-size: 22px;
  }
}
@media (min-width: $social-shrink-size) {
  nav.header {
    .nav-home .nav-home-content--bigger {
      display: inline-block; 
    } 
    .nav-home .nav-home-content--smaller {
      display: none; 
    }
    .nav-home img {
      max-width: 21rem;
      height: 52px;
      margin-top: -17px;
      padding-top: 1rem;
    }
    .nav-home:first-of-type:hover {
      background: $thisislightblue;
    }
  }
}