@import 'variables';

header {
  background: #03244d;
  min-height: inherit;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}
.header-logo {
  width: 100%;
  flex-basis: 100%;
  padding: 2rem;
  display: inline-block;

  & > img {
    width: 66%;
    display: block;
    margin: 0 auto;
    height: 66px;
  }
}

.header-menu-icon {
  display: none;
}

.header-right.header-right {
  flex-basis: 100%;
  width: 100%;
  padding-bottom: 0;
  font-family: $header-font-family;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
  display: block;
  text-align: right;
  .header-title {
    text-align: left;
    width: auto;
    flex-basis: auto;
    margin-right: 0.4rem;
    padding-bottom: 1rem;
  }
  .nav-toggle {
    padding-top: 1.5rem; 
  }
}

.header-title,
.header-title a {
  color: white;
  font-family: $header-font-family;
  font-size: 3rem;
  text-align: left;
  padding: 0.5rem;
  margin-bottom: -6px;
  flex-basis: 100%;
  width: 100%;
}

.header-title a:hover {
  color: #f68026;
}

.preheader-navbar {
  height: 3rem;
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  display: none; 
}
.preheader-navbar ul li {
  display: inline-block;
  padding: 0;
  margin-left: 1rem;
}
.preheader-navbar ul li::after {
  content: ' /';
  padding-left: 1rem;
  color: #496e9c;
}
.preheader-navbar ul li:last-of-type::after {
  padding: 0;
  content: none;
}
.preheader-navbar ul li input {
  border: none;
  height: 2.9rem;
  width: 12rem;
  background: #03244d;
  color: white;
}
.preheader-navbar ul li input:focus {
  outline: none;
}


.header-navbar {
  font-size: 3rem;
  text-align: left;
  width: 100%;
}
.header-navbar ul {
  margin: 0;
  padding: 0;
}
.header-navbar ul li {
  margin: 0;
  padding: 1rem .5rem;
  font-family: $header-font-family;
  display: block;
  vertical-align: middle;
  text-align: left;
}

.header-navbar ul li:last-of-type {
  padding-right: 0;
}
.header-navbar ul li:last-of-type:after {
  content: "";
}
.header-navbar ul li a {
  color: white;
}
.header-navbar ul li a:hover {
  color: #f68026;
}
.header-navbar ul li:after {
  color: #6287b6;
  content: "";
  padding-left: 0;
}

@media (min-width: $tiny-screen-size) {

  .header-menu-icon {
    display: inline-block;
    color: white;
    width: 20%;
    flex-basis: 20%;
    font-size: 3rem;
    text-align: center;
    padding: 0.5rem;
    height: 100%;
    cursor: pointer;
    &:hover {
      background: $thisislightblue; 
    }
  }

  .header-navbar ul li,
  .header-navbar ul li:last-of-type {
    text-align: right; 
    padding-right: 1rem;
  }

  .header-logo {
    flex-basis: 100%;
    width: 100%;
    & > img {
      height: 64px; 
    }
  }
  .header-right {
    flex-basis: 100%;
    width: 100%;
  }
}

@media (min-width: $small-screen-size) {

  .preheader-navbar {
    display: inline-block; 
  }
  
  .header-navbar ul li {
    display: inline-block;
    text-align: center;
  }

  .header-navbar ul li::after {
    content: " /";
    padding-left: 0.5rem;
  }
  .header-navbar ul li:last-of-type::after {
    padding: 0;
  }
  .header-navbar {
    font-size: 1.6rem;
  }
  .header-navbar {
    text-align: right;
  }

  .header-title {
    text-align: right;
    padding: 0 !important;
    width: 100%;
  }
  .header-logo {
    flex-basis: 22%;
    width: 22%;
    
    padding: 0 0 2rem 2rem;
    
    & > img {
      height: 64px; 
    }
  }
  .header-right.header-right {
    padding-right: 2rem;
    justify-content: flex-end;
    width: 70%;
    flex-basis: 70%;
    display: flex;
  }
}



@media (min-width: $medium-screen-size) {
  .header-navbar {
    font-size: 1.9rem;
  }

  /*.header-title a {
  font-size: 2.5rem;
}
  */
  .header-navbar {
    text-align: right;
  }

  .header-title {
    text-align: right;
    padding: 0;
  }
  .header-right {
    padding-right: 2rem;
    flex-basis: 75%;
    width: 75%;
  }
}

@media (min-width: $moderate-screen-size) {
  header {
    box-sizing: border-box;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
  }

  .header-navbar {
    text-align: right;
  }

  .header-title {
    text-align: right;
    padding: 0;
  }
  
  .header-right {
    padding-right: 1.9rem;
    flex-basis: 65%;
    width: 65%;
  }
}
@media (max-width: $moderate-screen-size) {
  .header-title {
    display: inline-block; 
    width: 80%;
    flex-basis: 80%;
    text-align: right;
    & a {
      font-size: 2.6rem; 
    }
  }
}
