@import 'variables';

header {
  width: 100%;
  margin-bottom: 8rem;
}

nav.preheader {
  width: 100%;
  
  display: block;
  position: absolute;
  
  top: 5rem;
  
  background: $thisisdarkblue;
  
  font-family: $body-font-family;
  font-size: 1.5rem;
  height: 5rem;
  
  box-shadow: 6px 6px 0 #ccc;
  
  ul {
    display: inline-block;
    position: absolute;
    right: 0;
    
    padding: 1rem;
    
    li {
      display: inline-block; 
      
      padding-right: 2rem;
      
      a {
        color: white;
        &:hover {
          color: $thisislightorange; 
        }
      }

    }
  }
  
  input[type="search"] {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    border: none;
    padding: 0.25rem 0;
    width: 9.3rem;
    
    background: $thisisdarkblue;
    color: white;
    
    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-placeholder{
      color: $bg-gray; 
    }
  }
}

.header {
  width: 100%;
  display: -webkit-flex;
  display:     -ms-flexbox;
  display:         flex;
  -webkit-justify-content: space-between;
      -ms-justify-content: space-between;
          justify-content: space-between;
  
  background: $thisisdarkblue;
  padding: 0 2rem;
  
  .header-logo {
    width: auto;
    flex-basis: auto; 
    
    margin-top: -40px;
    z-index: 100;
    
    img {
      height: 100px; 
      padding-bottom: 1rem;
    }
  }
  
  .header-title {
    font-size: 45px;
    font-family: $header-font-family;
    color: white;
    
    &:hover {
      color: $thisislightorange; 
    }
  }
}

nav.postheader {
  width: 100%; 
  display: block;
  
  position: fixed;
  top: 0;
  
  margin-left: auto;
  margin-right: auto;
  
  background: white;
  
  font-family: $header-font-family;
  font-size: 22px;
  
  z-index: 1000000000000000000000;
  
  .nav-home { 
    &:first-of-type:hover {
       background: $thisislightblue;
    }
    
    img {
      height: 52px;
      margin-top: -17px;
      padding-top: 1rem;
    }
    span {
      display: none;
    }
  }
  
  &.bordered {
    box-shadow: 6px 6px 0 #ccc;
    
    .nav-home:first-of-type:hover {
       background: white;
    }
    
    .nav-home { 
      img {
        display: none;
      }
      span {
        display: inline-block;
      }
    }
  }
  
  .nav-wrapper {
    position: relative; 
  }
  
  ul {
    display: -webkit-flex;
    display:     -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-justify-content: space-around;
            justify-content: space-around;
    
    
    position:relative;
    
    /* Submenus, while hidden */
    ul {
      position: absolute;
      left: -99999rem;
      
      white-space: nowrap;
      
      background: white;
      box-shadow: 6px 6px 0px #ccc;
      
      height: auto;
      z-index: 100000;
      
      margin-top: 0.95rem; /* slightly less than one to cover the box-shadow gap */
      
      list-style: none;   
    }
    
    li {
      width: 100%;
      text-align: center;
      padding: 1rem;
      
      position: relative;
      cursor: pointer;
      
      background: $thisislightblue;
      color: white;
      
      a {
        color: white;  
      }
      
      &.nav-home {
        background: $thisisdarkblue;
        color: white;
        
        a {
          color: white;
        }
      }
      
      &:hover {
        background: white;
        color: $thisislightblue;
        
        a {
          color: $thisislightblue; 
        }
      }
      
      &:hover > ul {
        left: 0; 
        width: 400%;
        list-style:none;
        
        border-top: 6px solid white;
        
        li {
          color: white;
          a {
            color: white; 
          }
          &:hover { 
            color: $thisislightblue;
            a {
              color: $thisislightblue;
            }
          }
        }
      }
      
      &:hover a:first-child:nth-last-child(2):before {
        content: ""; 
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 12px solid white;
        position: absolute;

        left: 45%;
        top: 5.5rem;

        flex-basis: 0%;
        width: 0%;
        height: 0; 
        z-index: 100000000;
      }
    }
  }
}

/* Overrides */
ul li ul li {
  background: none;
}