/* Colors */
$border: #d7d7d7;
$bg-gray: #f4f4f4;
$charcoal: #333;
$thisisdarkblue: #03244d;
$thisislightblue: #496e9c;
$thisisiceblue: #e4eeff;
$thisisburntorange: #dd550c;
$thisislightorange: #f68026;

/* Typefaces */
$header-font-family: "Norwester", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-family: "Source Sans Pro";
$icon-font-family: icomoon;

$tiny-screen-size: 480px;
$small-screen-size: 768px;
$medium-screen-size: 992px;
$moderate-screen-size: 1105px;
$social-shrink-size: 1440px;
