@import 'app';

.content > h2,
.content > p,
.more-guidance-header,
.more-guidance-body {
  text-align: center;
}

.content > h2 {
  margin-bottom: 3rem;
}

.focus-description {
}

.other-assessments {
  display: flex;
}

.assessment {
  flex-basis: 50%;
  width: 50%;
}

.focus-content-flex {
  align-items: center;
}

.focus-description, .flat-btns {
  flex-basis: 40%;
  width: 40%;
}

.more-guidance-body.more-guidance-body {
  text-align: left;
}