@import 'app';
@import 'sponsors';

iframe {
  border: none !important;
}

.video {
  height: 22.92308vw;
  width: 67%;
  margin-top: -1.5rem;
  margin-right: -2rem;
}

.place,
.times, .appointments,
.event {
  @extend .flex;
}

.home .content-division {
  border-left: none;
  margin-left: 0px;
}

.home .container .content-area {
  background: transparent;
  border: none;
}

.place,
.times,
.appointments {
  margin-bottom: 1.6rem;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  height:auto;
}

.place-icon,
.times-icon,
.appointments-icon {
  font-size: 6rem;
  color: #496e9c;
  width: 18%;
  text-align: center;
  margin-right: 1rem;
  display:inline-block;
}

.place-address {
  font-size: 2rem;
  line-height: 170%;
  position: relative;
  z-index: 1000000;
}

.place-address,
.times-address,
.appointments-address {
  width: 82%;
}

.subtle,
.times-address .subtle {
    color: #747474;
}

.tweets {
  flex-basis: 100%;
  width: 100%;
}

.tweets ul {
  display: -webkit-flex;
  display:     -ms-flexbox;
  display:         flex;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.tweet {
  display: inline-flex;
  width: 100%;
  margin-right: 1%;
}
.tweet-text {
  position: relative;
  z-index: 2000;
  font-size: 2rem;
  line-height: 160%;
  padding-bottom: 20px;
}
.tweet-link {
  color: #333;
}
.tweet-date {
  color: #747474;
  font-size: 1.7rem;
  padding: 0;
  display:block;
}
.tweet-date:hover {
  color: #747474;
  text-decoration: underline;
}

.blog-post {
  padding-bottom: 2rem;
}
.post-title {
  font-family: $body-font-family;
}
.post-details {
  color: #747474;
  font-size: 1.7rem;
}
.blog-readmore {
  padding-top: 1rem;
}
.banner {
  min-height: 0;
}
.events {
  width: 100%;
  flex-basis: 100%;
}
.events ul {
  overflow: hidden;
  margin-top: 2rem;
}
.event {
  width: 100%;
  flex-basis: auto;
  height: auto;
  max-height: none;
  min-height: 0;
  padding-bottom: 20px;
  margin: 0;
}

/*
   *************************
   ***** MEDIA QUERIES ***** 
   *************************
*/

@media (min-width: $small-screen-size) {
  .tweets,
  .events ul {
    height: 55rem;
    max-height: 55rem;
  }
}

@media (min-width: $medium-screen-size) {
  .tweets,
  .events {
    width: 66%;
    flex-basis: 66%;
  }
}

@media (min-width: $moderate-screen-size) {
  .tweets ul,
  .events ul {
    height: 45rem;
    max-height: 45rem;
  }
  .tweet {
    width: 50%; 
  }
  .event {
    width: 50%;
    min-height: 14rem;
    max-height: 14rem;
  }
}

@media (min-width: $social-shrink-size) {
  .banner {
    min-height: 36rem;
  }
}

