@import 'app';
@import 'sponsors';

.jobs .inbetween {
  background: #03244d;
  padding: 2rem;
  box-shadow: inset 0px 4px 4px -4px black, inset 0px -4px 4px -4px black;
}

iframe {
  border: none !important;
  width: 100% !important;
  height: 100% !important;
}