@import 'app';

.hero {
  margin-top: 3rem;
  img {
    min-height: 220px; 
  }
}

.colleges {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.college {
  flex-basis: 40%;
  width: 40%;
}

.accordion-header {
  font-size: 3rem;
  padding: 3rem 0;
  
  i:before {
    text-align: center;
    display: block;
    padding: 1rem 0;
    font-size: 4rem;
    @extend .icon;
    @extend .icon-chevron-up;
  }
  &.collapsed {
    i:before {
      text-align: center;
      @extend .icon-chevron-down; 
    }
  }
}

.college-content {
  padding: 0;
  & > h2 {
    margin: 0;
    padding: 3rem; 
  }
}

.pathway {
  display: block;
  
  width: 100%;
  padding: 1.5rem 3rem;
  
  background: $thisislightblue;
  color: white;
  
  &:hover {
    background: $thisisdarkblue;
    color: white;
  }
}

/**********************/
/* COMING SOON STYLES */
/**********************/

.content.coming-soon {
  padding: 0;
  text-align: center;
  & > h2 {
    margin: 0;
    padding: 3rem;
    color: $box-shadow;
    background: repeating-linear-gradient(
      -55deg,
      white,
      white 10px,
      $bg-gray 10px,
      $bg-gray 20px
    );
  }
}

.pathway.coming-soon {
  color: $box-shadow;
  background: repeating-linear-gradient(
    -55deg,
    white,
    white 10px,
    $bg-gray 10px,
    $bg-gray 20px
  );
}

/***************************/
/* COLLEGE-SPECIFIC STYLES */
/***************************/

.agriculture {
  margin-top: -5rem;
}
.education {
  margin-top: -30rem;
}
.human-sciences {
  margin-top: -7rem;
}
.interdepartmental-interdisciplinary {
  margin-top: -5rem;
}