@import 'app';

.topics > h2,
.logistics > h2,
.description > h2,
.contacts > h2 {
  text-align: center;
  font-size: 6rem;
  color: $thisislightorange;
}
.topics > p {
  text-align: center;
}

.topic-groups {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  height: 1300px;
}

.topic-group {
  padding: 3rem;
  width: 50%;
}

.topic-group-name {
  font-family: $header-font-family;
  font-size: 2.7rem;
}

.topic {
  padding: 0.5rem 1rem;
  box-shadow: 6px 6px 0 $box-shadow;
  margin: 1rem 0;
  background-color: white;
  border: 1px solid $box-shadow;
  color: $thisisdarkblue;
}
label {
  font-weight: normal;
  font-family: $header-font-family;
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem;
  display: inline-block;
  margin: 0;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + .icon-check:before {
  display: inline-block;
  content: '\f00c';
  
  position: relative;
  top: 5px;
  
  font-family: $icon-font-family;
  font-size: 3rem;
  color: $thisisdarkblue;
}
input[type="radio"]:checked + .icon-check:before {
  color: #87e571;
}
.form-control,
.input-group-addon {
  border-radius: 0;
}
#time-start {
  border-right: 0;
}
#time-end {
  border-left: 0;
}



.date-logistics-container {
  display: flex;
}
.date-container {
  flex-basis: 33%;
  width: 33%;
  margin-right: 3rem;
}
.logistics-container {
  flex-basis: 66%;
  width: 66%;
  
  display: flex;
}
.for-whom {
  flex-basis: 50%;
  width: 50%;
  margin-right: 3rem;
}
.date, .time {
  width: 20rem;
  margin: 1rem 0;
}
.location-container .input-group {
  margin-bottom: 3rem;
}
.contacts .flex {
  justify-content: flex-start;
}

.primary,
.add-secondary,
.secondary {
  flex-basis: 30%;
  width: 30%;
}

.add-secondary {
  text-align: center;
  height: 100%;
  margin-top: 1rem;
  padding: 8rem 0;
  padding-bottom: 9rem;
  border: 1px dashed $box-shadow;
  cursor: pointer;
  h3 {
    font-family: $header-font-family; 
    margin-bottom: 3rem;
  }
  .icon-plus {
    color: white;
    background: $thisisdarkblue;
    font-size: 4rem;
    padding: 2rem 2.4rem;
    border-radius: 4.5rem;
    margin-top: 8rem;
  }
  &:hover {
    background: $thisisdarkblue;
    h3 {
      color: white;
    }
    border: 1px solid white;
    .icon-plus {
      color:$thisisdarkblue;
      background: white;
    }
  }
}

.secondary {
  display: none;
}
#presentations input[type="submit"] {
  margin-top: -3rem;
}
#presentations input[type="submit"][disabled=""] {
  background: $bg-gray;
  color: $box-shadow;
}