@import 'app';

.note {
  border-left: 3px solid $box-shadow;
  padding-left: 3rem;
  margin: 0;
  margin-top: 1rem;
  color: $box-shadow;
}

.resume-banner {
  text-align: center;
  h2 {
    font-size: 6rem; 
    color: $thisislightorange;
  }
  p {
    font-size: 3rem;
    font-family: $header-font-family;
  }
}

.resume-checklist {
  margin-left: 3rem;
  li {
    list-style: disc;
    padding: 1rem 0;
  }
}

.document-review {
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  margin-top: 3rem;
  
  .content {
    flex-basis: 100%;
    width: 100%;
    
    margin-top: 3rem;
  }
}

.location, .hours {
  display: flex;
  flex-wrap: nowrap;
  
  padding-top: 2rem;
}
.place-address {
  margin: 0;
  padding-left: 5.6rem;
}
.place-icon, .times-icon {
  font-size: 6rem;
}

.hours-content {
  padding-left: 3rem;
}
.hours-content h2 {
  margin-top: 0;
}

.flat-btn {
  margin-top: 3rem;
}

@media (min-width: $medium-screen-size) {
  .document-review {
    .content {
      flex-basis: 45%;
      width: 45%;
      
      margin-top: 0;
    }
  }
}