@import 'app';

.staff-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.contact-card {
  flex-basis: 30%;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  
  background: white;
  box-shadow: 6px 6px 0 $box-shadow;
  
  padding: 3rem;
  margin: 0 1.5rem;
  
  img {
    max-height: 30rem;
  }
}

.muted {
  color: #ccc;
  font-family: $header-font-family;
  font-size: 2rem;
}