@import 'event-pages';

.events,
.blurb {
  flex-basis: 50%;
  width: 50%;
}

.content > h2 {
   margin-bottom: 3rem; 
}

.content > .crow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.event {
  min-height: 0;
  max-height: none;
  width: auto;
  flex-basis: auto;
  
  margin-bottom: 3rem;
}

.event-details {
  width: auto;
  
  .event-details-name {
    font-family: $header-font-family;
    font-size: 3rem;
    color: $thisislightorange;
    margin: 0;
    margin-bottom: 1rem;
  }
}

.muted {
  color: $box-shadow;
}

.topics {
  margin-top: 3rem;
  border-top: 1px solid $box-shadow;
  padding-top: 2rem;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
}

.topic {
  width: 40%;
  flex-basis: 40%;
  margin-right: 3rem;
  h2 {
    margin-bottom: 3rem; 
  }
  ul li {
    list-style: disc; 
    padding: 1rem 0;
  }
}