/**
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any Css/Less files within this directory, lib/assets/javascripts, vendor/assets/javascripts,
 * can be referenced here using a relative path.
 *
 * It's not advisable to add code directly here, but if you do, it'll appear in whatever order it 
 * gets included (e.g. say you have require_tree . then the code will appear after all the directories 
 * but before any files alphabetically greater than 'application.css' 
 *
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@font-face {
  font-family: 'Norwester';
  src: url("../fonts/norwester.eot?9309851");
  src: url("../fonts/norwester.eot?9309851#iefix") format("embedded-opentype"), 
       url("../fonts/norwester.woff?9309851") format("woff"), 
       url("../fonts/norwester.ttf?9309851") format("truetype"), 
       url("../fonts/norwester.svg?9309851#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-e9s38z');
	src:url('../fonts/icomoon.eot?#iefix-e9s38z') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-e9s38z') format('woff'),
		url('../fonts/icomoon.ttf?-e9s38z') format('truetype'),
		url('../fonts/icomoon.svg?-e9s38z#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.flex.start {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
}

.input-group-addon-md {
    min-width: 44px;   
}

.icon-tack:before {
	content: "\e600";
}
.icon-office:before {
	content: "\e601";
}
.icon-ellipsis-glass:before {
	content: "\e602";
}
.icon-interviewer:before {
	content: "\e603";
}
.icon-tie:before {
	content: "\e604";
}
.icon-user:before {
	content: "\f007";
}
.icon-clock-o:before {
	content: "\f017";
}
.icon-lock:before {
	content: "\f023";
}
.icon-bookmark:before {
	content: "\f02e";
}
.icon-edit:before {
	content: "\f040";
}
.icon-map-marker:before {
	content: "\f041";
}
.icon-calendar:before {
	content: "\f073";
}
.icon-twitter-square:before {
	content: "\f081";
}
.icon-facebook-square:before {
	content: "\f082";
}
.icon-linkedin-square:before {
	content: "\f08c";
}
.icon-thumb-tack:before {
	content: "\f08d";
}
.icon-phone:before {
	content: "\f095";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
    margin-left: -3px;
}
.icon-certificate:before {
    content: '\f0a3';   
}
.icon-group:before {
	content: "\f0c0";
}
.icon-chain:before {
	content: "\f0c1";
}
.icon-navicon:before {
	content: "\f0c9";
}
.icon-pinterest:before {
	content: "\f0d2";
    margin-left: 10px;
}
.icon-pinterest-square:before {
	content: "\f0d3";
}
.icon-google-plus-square:before {
	content: "\f0d4";
}
.icon-google-plus:before {
	content: "\f0d5";
}
.icon-linkedin:before {
	content: "\f0e1";
}
.icon-briefcase:before {
	content: "\f0f2";
}
.icon-ellipsis-h:before {
	content: "\f141";
}
.icon-compass:before {
	content: "\f14e";
}
.icon-tumblr:before {
	content: "\f173";
}
.icon-tumblr-square:before {
	content: "\f174";
}
.icon-vimeo-square:before {
    content: '\f194'; 
    margin-left: 8px;
}



.fa-blogger {
  background-image: url("../images/blogger-invert.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 2rem !important;
  height: 2rem;
  vertical-align: bottom;
}

.row {
  margin-left: 0; margin-right: 0;   
}

iframe {
  border: none !important;   
}

.video {
  height: 22.92308vw;
  width: 67%;
  margin-top: -1.5rem;
  margin-right: -2rem;
}

.flex, .centered, .place,
.times, .appointments,
.event, .login {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  align-content: flex-end;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 100%;
}

.flex-item {
  flex-basis: 100%;
  width: 100%;
}

.centered {
  text-align: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

address {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px !important;
  width: 100vw !important;
}

.blog-post {
  padding-bottom: 2rem;
}
.post-title {
  font-family: "Source Sans Pro"; 
}
.post-details {
  color: #747474;
  font-size: 1.7rem;
}
.blog-readmore {
  padding-top: 1rem;
}

@media (min-width: 768px) {
  .container {
    width: 90vw !important;
  }
}
.content-division {
  padding: 15px;
}

.content-area {
  margin-bottom: 0;
}

.footer-wrap {
  background: none;
  margin-top: 0;
  padding: .5em 0 0 0;
}

@media (min-width: 768px) {
  .footer-wrap {
    margin-top: 10px;
  }
}
body {
  background: #f4f4f4;
  font-family: "Source Sans Pro";
  font-size: 16px;
}

ul {
  list-style: none;
}

ul li {
  background: none;
}

a,
a:hover {
  text-decoration: none;
}

a:hover {
  color: #f68026;
}

header {
  background: #03244d;
  min-height: inherit;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  position: relative;
}

.header-logo {
  padding: 0 0 2rem 2rem;
  display: inline-block;
  flex-basis: 100%;
  width: 100%;
}
.header-logo img {
  display: block;
}

.header-right {
  flex-basis: 100%;
  width: 100%;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.header-title,
.header-title a {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3rem;
  text-align: left;
  padding: 0.5rem;
  margin-bottom: -6px;
  flex-basis: 100%;
  width: 100%;
}

.header-title a:hover {
  color: #f68026;
}
.preheader-navbar {
    height: 3rem;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
}
.preheader-navbar ul li {
    display: inline-block;
    padding: 0;
    margin-left: 1rem;
}
.preheader-navbar ul li::after {
    content: ' /';
    padding-left: 1rem;
    color: #496e9c;
}
.preheader-navbar ul li:last-of-type::after {
    padding: 0;
    content: none;
}
.preheader-navbar ul li input {
    border: none;   
    height: 2.9rem;
    width: 12rem;
    background: #03244d;
    color: white;
}
.preheader-navbar ul li input:focus {
    outline: none;
}
.header-navbar {
  font-size: 3rem;
  text-align: left;
  width: 100%;
}
.header-navbar ul {
  margin: 0;
  padding: 0;
}
.header-navbar ul li {
  margin: 0;
  padding: 1rem .5rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  vertical-align: middle;
  text-align: left;
}
@media (min-width: 768px) {
  .header-navbar ul li {
    display: inline-block;
    text-align: center;
  }
}
.header-navbar ul li:after {
  color: #6287b6;
  content: "";
  padding-left: 0;
}
@media (min-width: 768px) {
  .header-navbar ul li::after {
    content: " /";
    padding-left: 0.5rem;
  }
  .header-navbar ul li:last-of-type::after {
    padding: 0;
  }
  .header-navbar {
    font-size: 1.9rem;   
  }
  .header-navbar {
    text-align: right;
  }

  .header-title {
    text-align: right;
    padding: 0;
  }
  .header-logo {
    flex-basis: 22%;
    width: 22%;
  }
  .header-right {
    padding-right: 2rem;
    flex-basis: 70%;
    width: 70%;
  }
}
.header-navbar ul li:last-of-type {
  padding-right: 0;
}
.header-navbar ul li:last-of-type:after {
  content: "";
}
.header-navbar ul li a {
  color: white;
}
.header-navbar ul li a:hover {
  color: #f68026;
}

@media (min-width: 992px) {
  .header-navbar {
    font-size: 1.9rem;   
  }
    
  /*.header-title a {
    font-size: 2.5rem;   
  }
   */ 
  .header-navbar {
    text-align: right;
  }

  .header-title {
    text-align: right;
    padding: 0;
  }
  .header-logo {
    flex-basis: 22%;
    width: 22%;
  }
  .header-right {
    padding-right: 2rem;
    flex-basis: 73%;
    width: 73%;
  }
}

@media (min-width: 1105px) {
  header {
    box-sizing: border-box;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
  }

  .header-logo {
    flex-basis: 25%;
    width: 25%;
  }

  .header-navbar {
    text-align: right;
  }

  .header-title {
    text-align: right;
    padding: 0;
  }

  .header-right {
    padding-right: 1.9rem;
    flex-basis: 65%;
    width: 65%;
  }
}

.social-nav {
    position: fixed;
    left: 0;
    top: 40%;
    
    padding: 0; margin: 0;
    
    width: 13.3rem;
    
    display: -webkit-flex;
    display:     -ms-flexbox;
    display:         flex;
    align-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.social-nav .social-icon {
    flex-basis: 49%;
    width: 49%;
    display: inline-block;
    
    border: none;
    padding: 0; margin: 0;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    height: 6rem;
}

.sponsors {
    width: 100%;
    background: white;
}

.sponsors-header {
    text-align: center;
    margin: 0;
    padding-top: 2.5rem;
    padding-bottom: 2.3rem;
    width: 100%;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}

.sponsors-content {
    justify-content: space-between;
    padding-top: 2.3rem;
}

.sponsor {
    background: white;
    width: 15rem;
    height: 9.29rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 7rem;
    overflow: hidden;
    align-content: center;
    text-align: center;
    vertical-align: bottom;
}

.vert-centerer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.sponsor img {
    max-width: 15rem;
    max-height: 9.29rem;
}

/* Thanks to demosthenes.info! */
img.desaturate {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
img.desaturate:hover {
    -webkit-filter:none;
    filter:none;
}


footer {
  font-size: 1.4rem;
}

.footer-wrap footer section {
  padding-bottom: 0;
  vertical-align: middle;
  min-height: inherit;
}

.footer-wrap footer a {
  vertical-align: middle;
}

.footer-wrap footer a:hover {
  text-decoration: underline;
}

.footer-icon {
  color: #03244d;
  background: white;
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  font-size: 2rem;
  padding-top: 11px;
  margin-right: 1.3rem;
  vertical-align: middle;
  text-align: center;
}

.footer-icon:hover {
  background: #dd550c;
  color: white;
}

.footer-icon.fa-blogger:hover {
  background-image: url("../images/blogger-invert.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 3rem !important;
}

.subfooter {
  font-size: 1.3rem;
}

.subfooter div {
  margin-bottom: .6rem;
}

.subfooter div span {
  margin-left: .6rem;
  margin-right: .6rem;
}

.outforwork {
  width: 160px;
  position: absolute;
  margin-left: -320px;
  margin-top: -80px;
}

@media (min-width: 420px) {
  .outforwork {
    width: 80px;
    margin-left: -240px;
    margin-top: -40px;
  }
}

@media (min-width: 768px) {
    .outforwork {
      width: 160px;
      margin-left: -80px;
    }
}

.footer-wrap {
  padding: 4rem 0;
}

.footer-wrap .subfooter {
  padding-top: 4rem;
}

h2 {
  color: #03244d;
  font-family: "Norwester", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 29px;
}

h3,.h3-a {
  color: #03244d;
  font-size: 2rem;
  line-height: 160%;
  margin-top: 0;
  font-weight: normal;
  margin-bottom: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
}

.banner {
  box-sizing: border-box;
  position: relative;
  z-index: 2000;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  min-height: 36rem;
}

.banner .slider {
  box-sizing: border-box;
  display: none;
  max-height: 360px;
  flex-basis: 100%;
  width: 100%;
}

.banner .slider:nth-of-type(1) {
  display: inline-block;
}

@media (min-width: 768px) {
  .banner {
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    margin-top: 50px;
  }

  .banner .slider {
    flex-basis: 50%;
    width: 50%;
  }

  .banner .slider:nth-of-type(2) {
    display: inline-block;
    border-left: 1px solid #d7d7d7;
  }
}
@media (min-width: 992px) {
  .brow {
    margin-top: 50px;
  }

  .banner {
    margin-top: 0;
  }

  .banner .slider {
    display: inline-block;
  }
}
.blank {
  visibility: hidden;
}

.banner-bottom {
  box-sizing: border-box;
  background: white;
  border-top: 1px solid #d7d7d7;
  overflow: hidden;
}

.banner-bottom .slider {
  border: none;
  flex-basis: 100%;
  width: 100%;
}

.banner-bottom .slider img {
    width: 100%;
    height: 100%;
}

.banner-bottom .slider {
  background-color: #d7d7d7;
}

.banner-bottom .slider:nth-of-type(3n+2) {
  background-color: #777;
}

.banner-bottom .slider:nth-of-type(3n+3) {
  background-color: #aaa;
}

@media (min-width: 768px) {
  .banner-bottom {
    border-top: none;
  }

  .banner-bottom .slider {
    flex-basis: 50%;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .banner-bottom .slider {
    flex-basis: 33.33333%;
    width: 33.33333%;
    height: 100%;
  }

  .banner-bottom .slider:nth-of-type(2) {
    border-left: none;
  }
}

.block {
  flex-basis: 100%;
  width: 100%;
  margin-bottom: 1.8rem;
}

@media (min-width: 768px) {
  .block {
    flex-basis: 48.6%;
    width: 48.6%;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .block {
    flex-basis: 31.93333%;
    width: 31.93333%;
    margin-bottom: 0;
  }
}
.block {
  position: relative;
  padding: 5px;
}

.tweets {
  flex-basis: 66%;
  width: 66%;
  flex-direction: column;
}
.tweet-column {
.tweet-column {
  display: -webkit-inline-flex;
  display:     -ms-inline-flex;
  display:         inline-flex;
  
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  
  flex-basis: 49%;
  width: 49%;
}

.tweets-text {
  position: relative;
  z-index: 2000;
  font-size: 2rem;
  line-height: 160%;
  padding-bottom: 20px;
}
.tweets-link {
  color: #333;
}
.tweets-date {
  color: #747474; 
  font-size: 1.7rem;
  padding: 0;
  display:block;
}
.tweets-date:hover {
  color: #747474;
  text-decoration: underline;
}

.block-bg, .login-wrap::before, .blanker-wrap::before {
  color: #85a2c6;
  font-size: 12rem;
  position: absolute;
  z-index: 100;
  opacity: .1;
  top: 5px;
  right: 2rem;
}

.place,
.times, 
.appointments {
  margin-bottom: 1.6rem;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  height:auto;
}

.place-icon,
.times-icon,
.appointments-icon {
  font-size: 6rem;
  color: #496e9c;
  width: 18%;
  text-align: center;
  margin-right: 1rem;
  display:inline-block;
}

.place-address {
  font-size: 2rem;
  line-height: 170%;
  position: relative;
  z-index: 1000000;
}

.place-address,
.times-address,
.appointments-address {
  width: 82%;
}

.subtle,
.times-address .subtle {
    color: #747474;
}

.social-icon {
  box-sizing: border-box;
  color: white;
  background: #496e9c;
  border: 1px solid #f4f4f4;
  width: 8rem;
  height: 8rem;
  font-size: 4rem;
  padding-top: 11px;
  margin-right: 1.3rem;
  margin-bottom: 1.6rem;
  vertical-align: middle;
  text-align: center;
  z-index: 9999999;
  position: relative;
}

.social-icon:hover {
  background: #f67d21;
  color: white;
}

.social-icon.fa-blogger {
  background-image: url("../images/blogger-invert.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 7rem !important;
}

.events {
  flex-basis: 66%;
  width: 66%;
}

.events ul {
  display: flex;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-height: 45rem;
  height: 45rem;
}

.event {
  min-height: 14rem;
  max-height: 14rem;
  flex-basis: 50%;
  width: 50%;
  margin: 0.4rem 0;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
}

.event-date,
.event-details {
  display: inline-block;
  vertical-align: top;
}

.event-date {
  color: #dd550c;
  text-align: right;
  margin-right: 2.1rem;
  width: 15%;
}

.event-date-day {
  font-size: 6rem;
  margin-top: -1.8rem;
}

.event-details {
  color: #747474;
  width: 82%;
  line-height: 160%;
  font-size: 1.7rem;
}

.event-details-name {
  color: #03244d;
  font-size: 2rem;
}

@media (min-width: 1105px) {
  .event-date { 
    margin-right: 1.8rem;
  }
}

.ad {
  position: relative;
  z-index: 9999;
}

.ad-image {
  box-sizing: border-box;
  border: 1px solid #f4f4f4;
  width: 100%;
}

.slider {
  background: black;
  height: 59.82906vw;
  overflow: visible;
  position: relative;
  width: 100vw;
}

@media (min-width: 768px) {
  .slider {
    height: 26.92308vw;
    width: 45vw;
  }
}
.slider-mask {
  height: 59.82906vw;
  overflow: hidden;
}

@media (min-width: 768px) {
  .slider-mask {
    height: 26.92308vw;
  }
}
/*ul*/
.slider-list {
  margin: 0;
  padding: 0;
  position: relative;
}

/*li*/
.slider-list-item {
  height: 59.82906vw;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100vw;
  -webkit-animation: full-cycle 25s linear infinite;
  -moz-animation: full-cycle 25s linear infinite;
  -ms-animation: full-cycle 25s linear infinite;
  animation: full-cycle 25s linear infinite;
}

@media (min-width: 768px) {
  /*li*/
  .slider-list-item {
    height: 26.92308vw;
    width: 45vw;
    -webkit-animation: half-cycle 25s linear infinite;
    -moz-animation: half-cycle 25s linear infinite;
    -ms-animation: half-cycle 25s linear infinite;
    animation: half-cycle 25s linear infinite;
  }
}
/*li*/
.slider-list-item img {
  width: 100vw;
  height: 59.82906vw;
}

@media (min-width: 768px) {
  /*li*/
  .slider-list-item img {
    width: 45vw;
    height: 26.92308vw;
  }
}
.slider-list-item:nth-of-type(1) {
  -moz-animation-delay: -20s;
  -webkit-animation-delay: -20s;
}

.slider-list-item:nth-of-type(2) {
  -moz-animation-delay: -15s;
  -webkit-animation-delay: -15s;
}

.slider-list-item:nth-of-type(3) {
  -moz-animation-delay: -10s;
  -webkit-animation-delay: -10s;
}

.slider-list-item:nth-of-type(4) {
  -moz-animation-delay: -5s;
  -webkit-animation-delay: -5s;
}

.slider-list-item:nth-of-type(5) {
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

@-webkit-keyframes half-cycle {
  0% {
    top: -26.92308vw;
    z-index: 0;
  }

  56% {
    top: -26.92308vw;
    z-index: 0;
  }

  60% {
    top: 0px;
    z-index: 1;
  }

  64% {
    top: 0px;
    z-index: 1;
  }

  76% {
    top: 0px;
    z-index: 0;
  }

  80% {
    top: 26.92308vw;
    z-index: 0;
  }

  81% {
    top: -26.92308vw;
    z-index: -1;
  }

  100% {
    top: -26.92308vw;
    z-index: -1;
  }
}
@-moz-keyframes half-cycle {
  0% {
    top: -26.92308vw;
    z-index: 0;
  }

  56% {
    top: -26.92308vw;
    z-index: 0;
  }

  60% {
    top: 0px;
    z-index: 1;
  }

  64% {
    top: 0px;
    z-index: 1;
  }

  76% {
    top: 0px;
    z-index: 0;
  }

  80% {
    top: 26.92308vw;
    z-index: 0;
  }

  81% {
    top: -26.92308vw;
    z-index: -1;
  }

  100% {
    top: -26.92308vw;
    z-index: -1;
  }
}
@keyframes half-cycle {
  0% {
    top: -26.92308vw;
    z-index: 0;
  }

  56% {
    top: -26.92308vw;
    z-index: 0;
  }

  60% {
    top: 0px;
    z-index: 1;
  }

  64% {
    top: 0px;
    z-index: 1;
  }

  76% {
    top: 0px;
    z-index: 0;
  }

  80% {
    top: 26.92308vw;
    z-index: 0;
  }

  81% {
    top: -26.92308vw;
    z-index: -1;
  }

  100% {
    top: -26.92308vw;
    z-index: -1;
  }
}
@-webkit-keyframes full-cycle {
  0% {
    top: -59.82906vw;
    z-index: 0;
  }

  56% {
    top: -59.82906vw;
    z-index: 0;
  }

  60% {
    top: 0px;
    z-index: 1;
  }

  64% {
    top: 0px;
    z-index: 1;
  }

  76% {
    top: 0px;
    z-index: 0;
  }

  80% {
    top: 59.82906vw;
    z-index: 0;
  }

  81% {
    top: -59.82906vw;
    z-index: -1;
  }

  100% {
    top: -59.82906vw;
    z-index: -1;
  }
}
@-moz-keyframes full-cycle {
  0% {
    top: -59.82906vw;
    z-index: 0;
  }

  56% {
    top: -59.82906vw;
    z-index: 0;
  }

  60% {
    top: 0px;
    z-index: 1;
  }

  64% {
    top: 0px;
    z-index: 1;
  }

  76% {
    top: 0px;
    z-index: 0;
  }

  80% {
    top: 59.82906vw;
    z-index: 0;
  }

  81% {
    top: -59.82906vw;
    z-index: -1;
  }

  100% {
    top: -59.82906vw;
    z-index: -1;
  }
}
@keyframes full-cycle {
  0% {
    top: -59.82906vw;
    z-index: 0;
  }

  56% {
    top: -59.82906vw;
    z-index: 0;
  }

  60% {
    top: 0px;
    z-index: 1;
  }

  64% {
    top: 0px;
    z-index: 1;
  }

  76% {
    top: 0px;
    z-index: 0;
  }

  80% {
    top: 59.82906vw;
    z-index: 0;
  }

  81% {
    top: -59.82906vw;
    z-index: -1;
  }

  100% {
    top: -59.82906vw;
    z-index: -1;
  }
}
.login {
  background: #f1f1f1;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 280px;
}

@media (min-width: 768px) {
  .login {
    height: auto;
  }
}
.login-wrap {
  position: absolute;
  display: block;
  top: 50%;
  margin-left: -15rem;
  margin-top: -13.5rem;
  height: 20rem;
  left: 50%;
  width: 30rem;
}

@media (min-width: 480px) {
  .login-wrap {
    margin-left: -17rem;
    width: 34rem;
  }
}
@media (min-width: 992px) {
  .login-wrap {
    margin-left: -20rem;
    margin-top: -12rem;
    width: 40rem;
  }
}
.login-wrap::before {
  font-family: 'icomoon';
  content: '\f14e';
  margin-top: -9rem;
  margin-right: -9rem;
  font-size: 20rem;
}

.trl {
  position: relative;
  z-index: 1000000;
}

.trl::before {
  content: 'TRL';
}

@media (min-width: 992px) {
  .trl::before {
    content: 'Tiger Recruiting Link';
  }
}
.login-username,
.login-password {
  margin-bottom: 1.6rem;
  z-index: 1000000;
}

.login-description {
  text-align: center;
}

.btn-md {
  color: #03244d;
  height: 40px;
  font-size: 16px;
}

.input-md {
  height: 40px;
  font-size: 16px;
}

.input-group-addon-md {
  color: #03244d;
  font-size: 24px;
}

.login-button--active {
  color: white;
  background: #03244d;
}

.login-button--active:hover {
  background: #496e9c;
  color: white;
  border: 1px solid white;
}

.flex--login {
  height: auto;
}

.blanker {
  background: #f1f1f1;
  overflow: hidden;
}

.blanker-wrap {
  position: absolute;
  display: block;
  top: 50%;
  margin-left: -15rem;
  margin-top: -13.5rem;
  height: 20rem;
  left: 50%;
  width: 30rem;
}

@media (min-width: 480px) {
  .blanker-wrap {
    margin-left: -17rem;
    width: 34rem;
  }
}
@media (min-width: 992px) {
  .blanker-wrap {
    margin-left: -20rem;
    margin-top: -15.2rem;
    width: 40rem;
  }
}
.blanker-wrap::before {
  font-family: 'icomoon';
  content: '\f073';
  margin-top: -3.8rem;
  margin-right: -6rem;
  font-size: 16rem;
}

.jobs .inbetween {
  background: #03244d;
  padding: 2rem;
  box-shadow: inset 0px 4px 4px -4px black, inset 0px -4px 4px -4px black;
}

.between {
  background: #f1f1f1;
  width: 100%;
  padding: 2rem;
  border-radius: 2px;
  box-shadow: 0 0 3px black;
  margin-bottom: 1em;
}

.between:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .between {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .between {
    width: 22%;
    margin-bottom: 0;
  }
}
.between img {
  display: block;
  margin: 0 auto;
}

.small-text {
  font-size: 1.4rem;
}

.career-block {
  width: 31.5%;
  margin-bottom: 3rem;
  border: 1px solid #d7d7d7;
  border-radius: 2px;
  padding: 1rem;
  box-shadow: 0 0 3px #e4e4e4;
  position: relative;
  min-height: 13rem;
}

.career-block:hover {
  cursor: pointer;
  background: #f8f8f8;
}

.career-block:hover i::before {
  color: white;
  opacity: .7;
}

.career-block i::before {
  color: #85a2c6;
  font-size: 12rem;
  position: absolute;
  z-index: 100;
  opacity: .1;
  top: 0;
  left: 0;
  padding: 5px;
  font-weight: bold;
}

.career-title {
  color: #496e9c;
  font-family: "Norwester", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  z-index: 2000;
  position: relative;
}

.path-title {
  color: #496e9c;
}

.path-title i {
  font-size: 2rem;
}

.path-title i::before {
  margin-bottom: 2rem;
}

.path {
  margin-top: 3rem;
}

.path-block {
  width: 31.5%;
  margin-bottom: 3rem;
  border: 1px solid #d7d7d7;
  border-radius: 2px;
  padding: 2rem;
  box-shadow: 0 0 3px #e4e4e4;
  position: relative;
}

.path-block:nth-of-type(1)::before {
  content: "1";
  color: #85a2c6;
  font-size: 12rem;
  position: absolute;
  z-index: 100;
  opacity: .1;
  top: 0;
  left: 0;
  margin-top: -5rem;
  font-weight: bold;
}

.path-block:nth-of-type(2)::before {
  content: "2";
  color: #85a2c6;
  font-size: 12rem;
  position: absolute;
  z-index: 100;
  opacity: .1;
  top: 0;
  left: 0;
  margin-top: -5rem;
  font-weight: bold;
}

.path-block:nth-of-type(3)::before {
  content: "3";
  color: #85a2c6;
  font-size: 12rem;
  position: absolute;
  z-index: 100;
  opacity: .1;
  top: 0;
  left: 0;
  margin-top: -5rem;
  font-weight: bold;
}

.path-block:nth-of-type(4)::before {
  content: "4";
  color: #85a2c6;
  font-size: 12rem;
  position: absolute;
  z-index: 100;
  opacity: .1;
  top: 0;
  left: 0;
  margin-top: -5rem;
  font-weight: bold;
}

.path-block:nth-of-type(5)::before {
  content: "5";
  color: #85a2c6;
  font-size: 12rem;
  position: absolute;
  z-index: 100;
  opacity: .1;
  top: 0;
  left: 0;
  margin-top: -5rem;
  font-weight: bold;
}

.path-block:nth-of-type(6)::before {
  content: "6";
  color: #85a2c6;
  font-size: 12rem;
  position: absolute;
  z-index: 100;
  opacity: .1;
  top: 0;
  left: 0;
  margin-top: -5rem;
  font-weight: bold;
}

.icon {
  font-family: 'icomoon';   
}
.aw-map-marker {
  content: '/';
}

#cc-carousel.carousel > .carousel-indicators {
  bottom: 10px;
  left: 50%;
  text-align: center;
  top:auto;
}

.carousel-inner > .item > img {
    
}
