<header role="banner" class="hire-header">

  <div class="title flex">
    <a class="logo-ribbon" href="http://auburn.edu"></a>
    <h1><a href="/employers">Career Center</a></h1>
  </div>
  
  <a class="nav-controller icon-navicon"></a>
  <nav class="main">
    <ul>
      <li class="recruiting hover">
        <a href="employers/ocr.html">Recruiting</a>
        <ul>
          <li data-menu="recruiting"><a href="employers/job-postings.html">Job Postings</a></li>
          <li data-menu="recruiting"><a href="employers/events">Career Events</a></li>
          <li data-menu="recruiting"><a href="employers/ocr.html#oci">On-Campus Interviewing</a></li>
        </ul>
      </li>
      <li class="part-time-employment hover">
        <a href="employers/studentemployment/index.html">Part-Time Employment</a>
        <ul>
          <li data-menu="student-employment"><a href="employers/student-employment/on-campus.html">On-Campus</a></li>
          <li data-menu="student-employment"><a href="employers/student-employment/off-campus.html">Off-Campus</a></li>
          <li data-menu="student-employment"><a href="employers/events/seoty.html">Student Employment Awards</a></li>
        </ul>
      </li>
      <li class="events">
        <a href="employers/events/">Events</a>
      </li>
      <li class="hire-about-us hover">
        <a href="employers/aboutus/">About Us</a>
        <ul>
          <li data-menu="about-us"><a href="employers/aboutus/">Office Info</a></li>
          <li data-menu="about-us"><a href="employers/aboutus/staff.html">Staff</a></li>
          <li data-menu="about-us"><a href="employers/aboutus/plan-your-visit.html">Plan Your Visit</a></li>
          <li data-menu="about-us"><a href="employers/aboutus/recruiting-contacts.html">Recruiting Contacts</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  
  <nav class="auburn">
    <ul>
        <li><a href="http://www.auburn.edu/main/sitemap.php">A-Z Index</a></li>
        <li><a href="http://www.auburn.edu/map">Map</a></li>
        <li><a href="http://www.auburn.edu/main/auweb_campus_directory.html">People Finder</a></li>
        <li><a href="http://auaccess.auburn.edu/">AU Access</a></li>
        <li>
            <form action="http://search.auburn.edu" method="get">
                <input type="search" placeholder="Search Auburn" name="q">
            </form>
        </li>
    </ul>
  </nav>
</header>