<header role="banner">

  <div class="title flex">
    <a class="logo-ribbon" href="http://auburn.edu"></a>
    <h1><a href=".">Career Center</a></h1>
  </div>
  
  <a class="nav-controller icon-navicon"></a>
  <nav class="main">
    <ul>
      <li class="students hover">
        <a href="students/">Students</a>
        <ul>
          <li data-menu="students"><a href="students/">Undergraduate</a></li>
          <li data-menu="students"><a href="students/graduate.html">Graduate</a></li>
          <li data-menu="students"><a href="students/alumni.html">Alumni</a></li>
          <li data-menu="students"><a href="students/prospective.html">Prospective</a></li>
          <li data-menu="students"><a href="students/specialized.html">Specialized Advice</a></li>
        </ul>
      </li>
      <li>
        <a href="parents/">Families</a>
      </li>
      <li>
        <a href="faculty/">Faculty</a>
      </li>
      <li>
        <a href="employers/">Employers</a>
      </li>
      <li>
        <a href="events/">Events</a>
      </li>
      <li class="about-us hover">
        <a href="aboutus/">About Us</a>
        <ul>
          <li data-menu="about-us"><a href="aboutus/">Office Info</a></li>
          <li data-menu="about-us"><a href="aboutus/staff.html">Staff</a></li>
          <li data-menu="about-us"><a href="aboutus/plan-your-visit.html">Plan Your Visit</a></li>
          <li data-menu="about-us"><a href="aboutus/campus-partners.html">Campus Partners</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  
  <nav class="auburn">
    <ul>
        <li><a href="http://www.auburn.edu/main/sitemap.php">A-Z Index</a></li>
        <li><a href="http://www.auburn.edu/map">Map</a></li>
        <li><a href="http://www.auburn.edu/main/auweb_campus_directory.html">People Finder</a></li>
        <li><a href="http://auaccess.auburn.edu/">AU Access</a></li>
        <li>
            <form action="http://search.auburn.edu" method="get">
                <input type="search" placeholder="Search Auburn" name="q">
            </form>
        </li>
    </ul>
  </nav>
</header>