---
ng-app: none
name: emp-am
type: employer-event-pages
title: All Majors Career Expo
path-to-root: ../../
layout: employers.hbs
---
<!-- Banner image -->
<div class="hero">
  <img src="assets/images/events/AMCE_Webpage(F15).png"></img>
</div>

<div class="content">
  <div class="row">
    <div class="brief">
      <p class="blurb">Explore Auburn's diverse student body and network with students from all disciplines.</p>
      <div class="contact">
        <h3>Point of Contact</h3>
        <div class="contact-details">
          <img src="assets/images/staff/melvin.jpg">
          <div class="contact-info">
            <p class="name">Melvin K. Smith</p>
            <p class="phone"><a href="tel:(334) 844-4744">(334) 844-4744</a></p>
            <p class="email"><a href="mailto:mks@auburn.edu">mks@auburn.edu</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <a class="flat-btn" href="https://auburn-csm.symplicity.com/events/amcefa15">Register <span class="muted">$600</span></a>
      <div class="tipsheet">
        <div class="tipsheet-wrapper">
          <p>Download the tipsheet for detailed information about:</p>
          <ul>
            <li>Payment</li>
            <li>Shipping</li>
            <li>Space &amp; Equipment</li>
            <li>Display Guidelines</li>
          </ul>
        </div>
        <a class="flat-btn" href="http://www.auburn.edu/academic/provost/undergrad_studies/career/employers/events/Tips_CEAM(F15).pdf">Download Tip Sheet</a>
      </div>
      <a class="flat-btn flat-btn--white" href="https://auburn-csm.symplicity.com/events/index.php?id=fe70cd4cb4d0b5f21c4591e7d76d32c7#/events/b0fb2275e833a598630c606341d91697/employers">View Attending Employers</a>
    </div>
  </div>
  
  <!-- Icons -->
  <div class="attributes">
    
    
    <div class="attribute">
      <a class="icon format" role="button" tabindex="0" data-toggle="popover" data-html="true" data-placement="top" data-trigger="hover" data-title="<h2>Interview Day <span class='muted'>Wed, Oct 21</span></h2>" data-content="<p>When you check in on Tuesday, we'll give you a <strong>scheduling sheet.</strong> Use it to schedule interviews with students for the following day.</p><p>Interviews will occur at the <strong>Hotel at Auburn University and Dixon Conference Center.</strong></p><h2 class='muted'>8am - 4:30pm</h2><p>Lunch will not be provided.</p>">
        <i class="icon-comments-o"></i>
      </a>
      <div class="details">Next-day Interviews</div>
    </div>
    
    
    <div class="attribute">
      <a class="icon dress" role="button" tabindex="0" data-html="true" data-trigger="hover" data-placement="top" data-toggle="popover" title="<h2>Star Sponsorhip</h2><h2 class='muted'>$500</h2>" data-content="<p>This includes:</p><ul style='padding: 1rem'><li style='padding: 0.5rem 0;'>Preferred booth selection</li><li style='padding: 0.5rem 0;'>Featured placement in all event publicity</li><li style='padding: 0.5rem 0;'>Company logo and link listed on the Auburn University Career Center website</li></ul><p>Final deadline to register as a “Star Sponsor” is Friday, September 25, 2015.</p>">
        <i class="icon-star-full"></i>
      </a>
      <div class="details">
        Star Sponsorship Opportunity
      </div>
    </div>
    
    
    
    <div class="attribute">
      <a class="icon population">
        <i class="icon-spoon-knife"></i>
        <span class="tooltip hover"></span>
      </a>
      <div class="details">Dinner Provided</div>
    </div>
    
    
  </div>
</div>

<div class="content extra-content content--no-padding accordion-container">
  <div class="cancellation-accordion accordion">
    <a class="collapsed accordion-header" data-toggle="collapse" id="cancellation-heading" href="#cancellation" role="tab" aria-expanded="false" aria-controls="cancellation">
      Cancellation Policy<i></i>
    </a>
    <div style="height: 0px;" aria-expanded="false" id="cancellation" class="panel-collapse collapse" role="tabpanel" aria-labelledby="cancellation-heading">
      <div class="cancellation-policy">
        <div class="cancellation-policy-brief">
          <p>In brief:</p>
          <ul>
            <li>No refunds for cancellations after Friday, September 25, 2015</li>
            <li>One half of the registration fee ($200 for Early Bird registrants) is charged for all cancellations prior to the deadline date whether the registration fee is paid in advance or not</li>
            <li>If your organization is registered for the event and no one shows up, your organization is expected to pay the balance due</li>
            <li>Registration fees cannot be applied to future events</li>
          </ul>
        </div>
        <div class="contacts">
          <div class="contact">
            <h3>To cancel, contact</h3>
            <div class="contact-details">
              <img src="assets/images/staff/diane.jpg">
              <div class="contact-info">
                <p class="name">Diane Thorne</p>
                <p class="phone"><a href="tel:(334) 844-3862">(334) 844-3862</a></p>
                <p class="email"><a href="mailto:thornde@auburn.edu">thornde@auburn.edu</a></p>
              </div>
            </div>
          </div>
          <div class="contact">
            <h3>Direct all other inquiries to</h3>
            <div class="contact-details">
              <img src="assets/images/staff/melvin.jpg">
              <div class="contact-info">
                <p class="name">Melvin K. Smith</p>
                <p class="phone"><a href="tel:(334) 844-4744">(334) 844-4744</a></p>
                <p class="email"><a href="mailto:mks@auburn.edu">mks@auburn.edu</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="flat-btn" href="http://www.auburn.edu/academic/provost/undergrad_studies/career/employers/events/Tips_CEAM(F15).pdf">View Detailed Cancellation Policy</a>
    </div>
  </div>
</div>

<div class="content extra-content content--no-padding accordion-container">
  <div class="parking-accordion accordion">
    <a class="collapsed accordion-header" data-toggle="collapse" id="parking-heading" href="#parking" role="tab" aria-expanded="false" aria-controls="parking">
      Parking<i></i>
    </a>
    <div style="height: 0px;" aria-expanded="false" id="parking" class="panel-collapse collapse" role="tabpanel" aria-labelledby="parking-heading">
      <div class="parking-information">
        <a href="http://auburn.edu/map?id=75"><img src="assets/images/events/parking/hotel.png"></a>
        <div class="hotel-parking">
          <div class="parking-instruction">
            <h2>Hotel Parking</h2>
            <p>
              Parking for representatives is available at The Hotel at Auburn 
              University and Dixon Conference Center (HAUDCC). It is on a first 
              come first serve basis. It is very limited! Upon your arrival, please 
              inform the parking security attendant that you are participating in 
              the Career Expo.
            </p>
            <p class="muted">
              If required, a parking pass will be emailed one week prior to 
              the event.
            </p>
          </div>
          <div class="parking-instruction">
            <h2>Samford Avenue Parking</h2>
            <p>
              Additional parking spaces are in the parking lot at the intersection 
              of College Street and Samford Avenue. Look for Auburn University 
              Special Events Parking banners displayed in the lot.
            </p>
            <p>
              You may use the 
              <a href="http://auburn.transloc.com/?route=8001752">
                East Parking-AU Hotel Tiger Transit
              </a> 
              to get from the 
              parking lot (College Street and Samford Avenue) to the HAUDCC, or
              you may choose to walk (approximately 2 blocks).
            </p>
          </div>
          <div class="parking-instruction">
            <h2>Don't Park at the Cambridge</h2>
            <p>
              Avoid parking in The Cambridge at Auburn’s parking area adjacent to 
              the Hotel’s parking lot. The area is marked and is on the corner of 
              College Street and Thach Avenue.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a class="flat-btn accommodations" href="aboutus/plan-your-visit.html#Lodging">Accommodations</a>

