---
path-to-root: ../../
ng-app: career-center-employer-events
name: emp-aucf
type: employer-event-pages
title: Auburn University Career Fair
layout: employers.hbs
component: 
- price
---
<!-- Banner image -->
<div class="hero">
  <img src="assets/images/events/aucf-banner.png"
       alt="Auburn University Career Fair. Wednesday, February 17, 2016, 3pm-7pm, at the Auburn Arena."></img>
</div>

<div class="content" ng-controller="price-ctrl">
  <div class="row">
    <div class="brief">
      <p class="blurb">Explore Auburn's diverse student body and network with students from all disciplines.</p>
      <div class="contact">
        <h3>Point of Contact</h3>
        <div class="contact-details">
          <img src="assets/images/staff/melvin.jpg">
          <div class="contact-info">
            <p class="name">Melvin K. Smith</p>
            <p class="phone"><a href="tel:(334) 844-4744">(334) 844-4744</a></p>
            <p class="email"><a href="mailto:mks@auburn.edu">mks@auburn.edu</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <a ng-if="price.now === price.standard" class="flat-btn" href="https://auburn-csm.symplicity.com/events/stemsp16">Register <span ng-if="price.now === '0'">for Free</span><span ng-if="price.now !== '0'">($[[ price.now ]])</span></a>
      <div ng-if="price.now === price.earlyBird" class="flat-btn--with-info">
        <a class="flat-btn" href="https://auburn-csm.symplicity.com/events/stemsp16">
          Register ($[[ price.now ]])
        </a>
        <a class="flat-btn--info"
           data-html="true" 
           data-trigger="hover" 
           data-placement="top" 
           data-toggle="popover" 
           data-title="<h2>Early Bird Pricing</h2>" 
           data-content="<p>Register before [[ price.earlyBirdDeadline ]] to receive our special Early Bird price of $[[ price.earlyBird ]]!</p><p>Regular registration price of $[[ price.standard ]] applies after this date.</p>">
          ?</a>
      </div>
    </div>
  </div>
</div>