---
path-to-root: ../../
ng-app: career-center-employer-events
name: emp-<%= eventName %>
type: employer-event-pages
layout: employers.hbs
component: 
- price

eventName: aucf
title: Auburn University Career Fair
---
<!-- Banner image -->
<div class="hero">
  <img class="img"
       src="assets/images/events/aucf-banner.png"
       alt="Auburn University Career Fair. Wednesday, February 17, 2016, 3pm-7pm, at the Auburn Arena."></img>
  <div class="img-replace">
    <h1>Auburn University Career Fair.</h1>
    <h2>Wednesday, February 17, 2016, 3pm-7pm, at the Auburn Arena.</h2>
  </div>
</div>

<div class="content" ng-controller="price-ctrl">
  <div class="row">
    <div class="brief">
      <p class="blurb">Explore Auburn's diverse student body and network with students from all disciplines.</p>
      <div class="contact">
        <h3>Point of Contact</h3>
        <div class="contact-details">
          <img src="assets/images/staff/melvin.jpg">
          <div class="contact-info">
            <p class="name">Melvin K. Smith</p>
            <p class="phone"><a href="tel:(334) 844-4744">(334) 844-4744</a></p>
            <p class="email"><a href="mailto:mks@auburn.edu">mks@auburn.edu</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <a class="flat-btn flat-btn--disabled">Registration Unavailable</a>
      <div class="tipsheet">
        <div class="tipsheet-wrapper">
          <p>Download the tipsheet for detailed information about:</p>
          <ul>
            <li>Payment</li>
            <li>Shipping</li>
            <li>Space &amp; Equipment</li>
            <li>Display Guidelines</li>
          </ul>
        </div>
        <a class="flat-btn" href="assets/images/events/{{eventName}}.pdf">Download Tip Sheet</a>
      </div>
      <a class="flat-btn flat-btn--white" href="https://auburn-csm.symplicity.com/events/students.php?cf={{ eventName }}sp16">View Attending Employers</a>
    </div>
  </div>
 <!-- Icons -->
  <div class="attributes">
    <div class="attribute">
      <a class="icon format" role="button" tabindex="0" data-toggle="popover" data-html="true" data-placement="top" data-trigger="hover" data-title="<h2>Interview Day <span class='muted'>Thur, Feb 18</span></h2>" data-content="<p>When you check in on Tuesday, we'll give you a <strong>scheduling sheet.</strong> Use it to schedule interviews with students for the following day.</p><p>Interviews will occur at the <strong>Beard-Eaves Memorial Coliseum.</strong></p><h2 class='muted'>8:30am - 4pm</h2><p>Lunch will be provided (11:30am - 1:00pm) - leave time for it on your schedule.</p>">
        <i class="icon-comments-o"></i>
      </a>
      <div class="details">Next-day Interviews</div>
    </div>
    <div class="attribute">
      <a class="icon dress" role="button" tabindex="0" data-html="true" data-trigger="hover" data-placement="top" data-toggle="popover" title="<h2>Star Sponsorhip <span class='muted'>$500</span></h2>" data-content="<p>This includes:</p><ul style='padding: 1rem'><li style='padding: 0.5rem 0;'>Preferred booth selection</li><li style='padding: 0.5rem 0;'>Featured placement in all event publicity</li><li style='padding: 0.5rem 0;'>Company logo and link listed on the Auburn University Career Center website</li></ul><p>Final deadline to register as a Star Sponsor is Friday, January 22, 2016.</p>">
        <i class="icon-star-full"></i>
      </a>
      <div class="details">
        Star Sponsorship Opportunity
      </div>
    </div>
    <div class="attribute">
      <a class="icon population">
        <i class="icon-spoon-knife"></i>
        <span class="tooltip"></span>
      </a>
      <div class="details">Dinner Provided</div>
    </div>
  </div>
</div>

<div class="content extra-content content--no-padding accordion-container">
  <div class="cancellation-accordion accordion">
    <a class="collapsed accordion-header" data-toggle="collapse" id="cancellation-heading" href="#cancellation" role="tab" aria-expanded="false" aria-controls="cancellation">
      Cancellation Policy<i></i>
    </a>
    <div style="height: 0px;" aria-expanded="false" id="cancellation" class="panel-collapse collapse" role="tabpanel" aria-labelledby="cancellation-heading">
      <div class="cancellation-policy">
        <div class="cancellation-policy-brief">
          <p>In brief:</p>
          <ul>
            <li>No refunds for cancellations after Friday, January 22, 2016</li>
            <li>One half of the registration fee ($250.00) is charged for all cancellations prior to the deadline date whether the registration fee is paid in advance or not</li>
            <li>If your organization is registered for the event and no one shows up, your organization is expected to pay the balance due</li>
            <li>Registration fees cannot be applied to future events</li>
          </ul>
        </div>
        <div class="contacts">
          <div class="contact">
            <h3>To cancel, contact</h3>
            <div class="contact-details">
              <img src="assets/images/staff/diane.jpg">
              <div class="contact-info">
                <p class="name">Diane Thorne</p>
                <p class="phone"><a href="tel:(334) 844-3862">(334) 844-3862</a></p>
                <p class="email"><a href="mailto:thornde@auburn.edu">thornde@auburn.edu</a></p>
              </div>
            </div>
          </div>
          <div class="contact">
            <h3>Direct all other inquiries to</h3>
            <div class="contact-details">
              <img src="assets/images/staff/melvin.jpg">
              <div class="contact-info">
                <p class="name">Melvin K. Smith</p>
                <p class="phone"><a href="tel:(334) 844-4744">(334) 844-4744</a></p>
                <p class="email"><a href="mailto:mks@auburn.edu">mks@auburn.edu</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="flat-btn flat-btn--disabled" disabled>View Detailed Cancellation Policy</a>
    </div>
  </div>
</div>
<div class="content extra-content content--no-padding accordion-container">
  <div class="parking-accordion accordion">
    <a class="collapsed accordion-header" data-toggle="collapse" id="parking-heading" href="#parking" role="tab" aria-expanded="false" aria-controls="parking">
      Parking<i></i>
    </a>
    <div style="height: 0px;" aria-expanded="false" id="parking" class="panel-collapse collapse" role="tabpanel" aria-labelledby="parking-heading">
      <div class="parking-information">
        <a href="http://auburn.edu/map?id=211"><img src="assets/images/events/parking/arena.png"></a>
        <div class="hotel-parking">
          <div class="parking-instruction">
            <h2>Arena Parking</h2>
            <p>Park only in (PC 2) spaces, not A and B.</p>
          </div>
          <div class="parking-instruction">
            <h2>Coliseum Parking</h2>
            <p>
              Park in (PC 1) spaces. Do not park along Coliseum Drive marked A and B.
            </p>
          </div>
          <div class="parking-instruction">
            <h2>Stadium Parking Deck</h2>
            <p>
              Park on the 4th level only.
            </p>
          </div>
          <div class="parking-instruction">
            <h2>CDV, (C)</h2>
            <p>Park in any (C) spaces. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a class="flat-btn accommodations" href="https://booking.ihotelier.com/istay/istay.jsp?hotelid=6493&identifier=WEPART">Accommodations</a>