---
ng-app: none
name: emp-eid
type: employer-event-pages
title: Communication and Media Career Day
layout: employers.hbs
---
<!-- Banner image -->
<div class="hero">
  <img src="assets/images/events/cmcd-banner.png"></img>
</div>

<div class="content">
  <div class="row">
    <div class="brief">
      <p class="blurb">
        Interested in recruiting students in Communication, Journalism, Public 
        Relations, Radio, Television and Film, and/or Agricultural Communication? 
        Come to Auburn to meet, network, and interview qualified students all in 
        one day! 
      </p>
      <div class="contact">
        <h3>Point of Contact</h3>
        <div class="contact-details">
          <img src="assets/images/staff/melvin.jpg">
          <div class="contact-info">
            <p class="name">Melvin K. Smith</p>
            <p class="phone"><a href="tel:(334) 844-4744">(334) 844-4744</a></p>
            <p class="email"><a href="mailto:mks@auburn.edu">mks@auburn.edu</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <a class="flat-btn flat-btn--disabled" disabled>Register (Coming Soon)</a>
    </div>
  </div>
</div>