---
path-to-root: ../../
ng-app: career-center-events
name: employer-events
type: events
title: Events | Career Center
layout: employers.hbs
component: 
- calendar
---
<div ng-controller="month-ctrl">
  <div ng-if="events.length > 0" class="content extra-content events">
    <h2>Career Events This Month</h2>
    <ul ng-class="{'flex-row': events.length <= 2}">
      <li class="event" ng-repeat="event in events">
        <div class="event-date">
          <div class="event-date-month">[[ event.date['shortened-month'] ]]</div>
          <div class="event-date-day">[[ event.date.day ]]</div>
        </div>
        <div class="event-details">
          <a ng-if="event.url != ''" href="[[ event.url ]]" class="event-details-name" target="_blank">[[ event.name ]]</a>
          <div ng-if="event.url == ''" class="event-details-name">[[ event.name ]]</div>
          <div class="event-details-location">[[ event.location ]]</div>
          <div ng-if="event.date.time != ''" class="event-details-time">[[ event.date.time.start ]] - [[ event.date.time.end ]]</div>
          <div ng-if="event.date.time == '' && event.date.dates != ''" class="event-details-time">All day, continues until [[ event.date.dates.end ]]</div>
          <div ng-if="event.date.time == '' && event.date.dates == ''" class="event-details-time">All day</div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="content extra-content events">
  <h2>Future Events</h2>
  <div class="flex">
    <ul ng-controller="calendar-ctrl" ng-class="{'flex-row': events.length <= 2}" class="flex-half">
      <li class="event" ng-repeat="event in events">
        <div class="event-date">
          <div class="event-date-month">[[ event.date['shortened-month'] ]]</div>
          <div class="event-date-day">[[ event.date.day ]]</div>
        </div>
        <div class="event-details">
          <a ng-if="event.url != ''" href="[[ event.url ]]" class="event-details-name" target="_blank">[[ event.name ]]</a>
          <div ng-if="event.url == ''" class="event-details-name">[[ event.name ]]</div>
          <div class="event-details-location">[[ event.location ]]</div>
          <div ng-if="event.date.time != ''" class="event-details-time">[[ event.date.time.start ]] - [[ event.date.time.end ]]</div>
          <div ng-if="event.date.time == '' && event.date.dates != ''" class="event-details-time">All day, continues until [[ event.date.dates.end ]]</div>
          <div ng-if="event.date.time == '' && event.date.dates == ''" class="event-details-time">All day</div>
        </div>
      </li>
    </ul>
    <div class="events-note flex-half">
      <h2>Building Science Career Expo Registration Opens</br><span class="muted">December 1</span></h2>
    </div>
  </div>
</div>