---
path-to-root: ../../
ng-app: career-center-events
name: employer-events-page
type: employer-events
title: Events | Career Center
layout: employers.hbs

component: 
- calendar

style:
- employer-calendar
---
<section class="card unpadded events-wrapper" ng-controller="calendar-ctrl">
  <h2 class="events-title">Event Registration</h2>
  <p ng-if="events.length % 2 === 0" class="blurb">Registration will open July 11, 2016.</p>
  <ul class="events flex">
    <li ng-if="events.length % 2 !== 0" class="event event--blurb">Registration will open July 11, 2016.</li>
    <li class="event" ng-repeat="event in events">
      <a class="event-link" href="[[ event.url ]]">
        <h3>[[ event.name ]]</h3>
        <div class="event-details">
          <div class="event-when">
            <div ng-if="event.dates" class="event-date"><span ng-if="event.dates.start">[[ event.dates.start ]] - </span>[[ event.dates.end ]]</div>
            <div ng-if="event.dates === undefined" class="event-date">
              [[ event.date.month ]] [[ event.date.day ]]
            </div>
            <div ng-if="event.date.time === undefined || event.date.time.start === ''" class="event-time">
              All day
            </div>
            <div ng-if="event.date.time.start !== '' && event.date.time.start !== undefined" class="event-time">
              [[ event.date.time.start ]] - [[ event.date.time.end ]]
            </div>
          </div>
          <div class="event-cost" ng-if="event.cost">
            $[[ event.cost ]]
          </div>
        </div>
      </a>
    </li>
  </ul>
</section>