---
path-to-root: ../../
ng-app: career-center-employer-events
name: emp-iptjf
type: employer-event-pages
title: Internship and Part-Time Job Fair
layout: employers.hbs
component:
- price
---
<!-- Banner image -->
<div class="hero">
  <img class="img"
       src="assets/images/events/iptjf-banner.png"
       alt="Internship & Part-Time Job Fair. January 27, 2016, 10am-1pm, in the Student Center Ballroom."></img>
  <div class="img-replace">
    <h1>Internship & Part-Time Job Fair.</h1>
    <h2>January 27, 2016, 10am-1pm, in the Student Center Ballroom.</h2>
  </div>
</div>

<div class="content" ng-controller="price-ctrl">
  <div class="row">
    <div class="brief">
      <p class="blurb">Attract qualified Auburn students and increase your company exposure on campus.</p>
      <p class="blurb">Register by January 22 to be included in publicity.</p>
      <div class="contact">
        <h3>Point of Contact</h3>
        <div class="contact-details">
          <img src="assets/images/staff/melvin.jpg">
          <div class="contact-info">
            <p class="name">Melvin K. Smith</p>
            <p class="phone"><a href="tel:(334) 844-4744">(334) 844-4744</a></p>
            <p class="email"><a href="mailto:mks@auburn.edu">mks@auburn.edu</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <a ng-if="price.now === price.standard" class="flat-btn" href="https://auburn-csm.symplicity.com/events/iptjfsp16">Register <span ng-if="price.now === '0'">for Free</span><span ng-if="price.now !== '0'">($[[ price.now ]])</span></a>
      <div ng-if="price.now === price.earlyBird" class="flat-btn--with-info">
        <a class="flat-btn" href="https://auburn-csm.symplicity.com/events/iptjfsp16">
          Register ($[[ price.now ]])
        </a>
        <a class="flat-btn--info"
           data-html="true" 
           data-trigger="hover" 
           data-placement="top" 
           data-toggle="popover" 
           data-title="<h2>Early Bird Pricing</h2>" 
           data-content="<p>Register before [[ price.earlyBirdDeadline ]] to receive our special Early Bird price of $[[ price.earlyBird ]]!</p><p>Regular registration price of $[[ price.standard ]] applies after this date.</p>">
          ?</a>
      </div>
      <a class="flat-btn flat-btn--white" href="https://auburn-csm.symplicity.com/events/index.php?id=4a0e81fd40626dc0cf9fabd94d3673d0#/events/4a0e81fd40626dc0cf9fabd94d3673d0/employers">
        View Attending Employers
      </a>
    </div>
  </div>
  <!-- Icons -->
  <div class="attributes">
    <div class="attribute">
      <a class="icon format">
        <i class="icon-coin-dollar"></i>
      </a>
      <div class="details">Free Event</div>
    </div>
    <div class="attribute">
      <a class="icon parking" role="button" tabindex="0" data-html="true" data-trigger="hover" data-placement="top" data-toggle="popover" title="<h2>Priority Parking <p class='muted'>Stadium Parking Deck</p></h2>" data-content="<p>The last page of this event's tip sheet is a parking permit for the Stadium Parking Deck, only valid for the day of the event. Parking there is free and convenient, but limited, so plan to arrive early enough to snag a spot.</p>">
        <i class="icon-automobile"></i>
      </a>
      <div class="details">
        Limited Priority Parking
      </div>
    </div>
    <div class="attribute">
      <a class="icon population" role="button" tabindex="0" data-toggle="popover" data-html="true" data-placement="top" data-trigger="hover" data-content="<p>Lunch will be provided for, at most, two representatives.</p>">
        <i class="icon-spoon-knife"></i>
        <span class="tooltip"></span>
      </a>
      <div class="details">Lunch Provided</div>
    </div>
  </div>
</div>
<div class="content extra-content content--no-padding accordion-container">
  <div class="cancellation-accordion accordion">
    <a class="collapsed accordion-header" data-toggle="collapse" id="cancellation-heading" href="#cancellation" role="tab" aria-expanded="false" aria-controls="cancellation">
      Cancellation Policy<i></i>
    </a>
    <div style="height: 0px;" aria-expanded="false" id="cancellation" class="panel-collapse collapse" role="tabpanel" aria-labelledby="cancellation-heading">
      <div class="cancellation-policy">
        <div class="cancellation-policy-brief">
          <p>In brief:</p>
          <ul>
            <li>Please call us as soon as possible if you need to cancel!
          </ul>
        </div>
        <div class="contacts">
          <div class="contact">
            <h3>To cancel, contact</h3>
            <div class="contact-details">
              <img src="assets/images/staff/diane.jpg">
              <div class="contact-info">
                <p class="name">Diane Thorne</p>
                <p class="phone"><a href="tel:(334) 844-3862">(334) 844-3862</a></p>
                <p class="email"><a href="mailto:thornde@auburn.edu">thornde@auburn.edu</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="flat-btn flat-btn--disabled" disabled>View Detailed Cancellation Policy</a>
    </div>
  </div>
</div>
<div class="content extra-content content--no-padding accordion-container">
  <div class="parking-accordion accordion">
    <a class="collapsed accordion-header" data-toggle="collapse" id="parking-heading" href="#parking" role="tab" aria-expanded="false" aria-controls="parking">
      Parking<i></i>
    </a>
    <div style="height: 0px;" aria-expanded="false" id="parking" class="panel-collapse collapse" role="tabpanel" aria-labelledby="parking-heading">
      <div class="parking-information">
        <a href="http://auburn.edu/map?id=304"><img src="assets/images/events/parking/student-center.png"></a>
        <div class="hotel-parking">
          <div class="parking-instruction">
            <h2>Stadium Parking Deck</h2>
            <p>
              Space atop the Stadium Parking Deck has been reserved for representatives to park in. 
              It is on a first come first serve basis. It is fairly limited! Upon your arrival, 
              please remember to place your parking pass atop your dashboard in a manner visible from
              the outside of the vehicle. 
            </p>
            <p>
              A parking pass will be emailed one week prior to 
              the event, and is also available by printing the
              last page of the tip sheet.
<!--              last page of the <a href="employers/events/Tips_IPTJF(F15).pdf">tip sheet</a>.-->
            </p>
          </div>
          <div class="parking-instruction">
            <h2>Event Location: Student Center</h2>
            <p>
              The Student Center is the location of the event. Its proximity to the Stadium Parking Deck
              is just another reason why you'll want to arrive early. 
            </p>
            <p>
              Note: there is <strong>no</strong> parking at the Student Center.
            </p>
          </div>
          <div class="parking-instruction">
            <h2>Questions? Ask Parking Services</h2>
            <p>
              The Auburn University Parking Services office is located in the South Quad Parking Deck.
              If you have any questions or concerns concerning your ability to park, don't hesitate to
              <a href="tel:334.844.4143">call them at (334) 844 4143</a> or visit the office directly.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a class="flat-btn accommodations" href="https://booking.ihotelier.com/istay/istay.jsp?hotelid=6493&identifier=WEPART">Accommodations</a>

