---
ng-app: none
name: emp-iptjf
type: employer-event-pages
title: Internship and Part-Time Job Fair
layout: employers.hbs
---
<!-- Banner image -->
<div class="hero">
  <img src="assets/images/events/iptjf-banner.png"></img>
</div>

<div class="content">
  <div class="row">
    <div class="brief">
      <p class="blurb">Attract qualified Auburn students and increase your company exposure on campus.</p>
      <div class="contact">
        <h3>Point of Contact</h3>
        <div class="contact-details">
          <img src="assets/images/staff/melvin.jpg">
          <div class="contact-info">
            <p class="name">Melvin K. Smith</p>
            <p class="phone"><a href="tel:(334) 844-4744">(334) 844-4744</a></p>
            <p class="email"><a href="mailto:mks@auburn.edu">mks@auburn.edu</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <a class="flat-btn flat-btn--disabled" disabled>Register (Coming Nov 15)</a>
    </div>
  </div>
</div>

