---
ng-app: none
name: emp-seoty
type: employer-event-pages
title: Student Employment Awards | Career Center
path-to-root: ../../
layout: employers.hbs
---

<!-- Banner image -->
<div class="hero">
  <img src="assets/images/events/SEOTY_Homepage-01.svg">
</div>

<section class="content">
  <div class="row">
    <div class="brief">
      <p class="blurb">
        Want to show your pride in the student workers you've hired? Off-campus or on-campus,
        it doesn't matter -- nominate your student employees if you think they're a 
        particularly excellent worker. They'll be doing the same of their supervisors.
      </p>
      <p class="blurb">
        All nominees will receive gifts of some sort, and the winners will get a little extra
        to show them how much they mean to their employers. Let them know by nominating!
      </p>
    </div>
    <div class="actions">
      <a class="flat-btn" href="">Nominate a Student Worker</a>
    </div>
  </div>
  
  <div class="dates flex row">
    <h2 class="awards-ceremony-header">Awards Ceremony <span class="awards-ceremony">Apr 12</span></h2>
    <h2 class="deadline-header">Nomination Deadline <span class="deadline">Feb 12</span></h2>
  </div>
</section>


<div class="hero">
  <img src="assets/images/events/SEOTY_Homepage-01.svg">
</div>
<section class="content">
  <div class="row">
    <div class="brief">
      <p>
        Decorate your office to show your appreciation for your
        student workers during National Student Employment Week!
        Better yet, compete against other on-campus offices doing
        the same, and see if best the other participants in
        celebrating your student workers!
      </p>
    </div>
    <div class="actions">
      <a class="flat-btn" href="">Register</a>
    </div>
  </div>
</section>
