---
ng-app: none
name: emp-seoty
type: employer-event-pages
title: Student Employment Awards | Career Center
path-to-root: ../../
layout: employers.hbs
---

<!-- Banner image -->
<div class="hero">
  <img src="assets/images/events/SEOTY_Webpage(F15).png">
  <h1 class="img-replace">Student Employee of the Year Awards</h1>
</div>

<section class="content">
  <div class="row row--no-padding">
    <div class="brief">
      <p class="blurb">
        Want to show your pride in the student workers you've hired? Off-campus or on-campus,
        it doesn't matter -- nominate your student employees if you think they're a 
        particularly excellent worker. They'll be doing the same of their supervisors.
      </p>
      <p class="blurb">
        All nominees will receive gifts of some sort, and the winners will get a little extra
        to show them how much they mean to their employers. Let them know by nominating!
      </p>
    </div>
    <div class="actions">
      <a class="flat-btn" href="">Nominate a Student Worker</a>
      <h2 class="checklist-header">
        Eligibility
      </h2>
      <ul class="checklist">
        <li>Must be a current Auburn University student in good academic standing enrolled for the Spring 2015 semester</li>
        <li>Must have worked 3 months full-time or 6 months part-time between June 2014 and May 2015 (anticipated)</li>
        <li>Must <strong>not</strong> be a graduate, research, or teaching assistant</li>
      </ul>
    </div>
  </div>
  <div class="dates flex flex--space-between row">
    <h2 class="awards-ceremony-header flex-third">Awards Ceremony <span class="awards-ceremony">Apr 12</span></h2>
    <h2 class="deadline-header flex-third">Nomination Deadline <span class="deadline">Feb 12</span></h2>
  </div>
</section>


<div class="hero">
  <img src="assets/images/events/SEOTY_officeDecorating.png">
  <h1 class="img-replace">Office Decorating Contest</h1>
</div>
<section class="content">
  <div class="row">
    <div class="brief">
      <p>
        Decorate your office to show your appreciation for your
        student workers during National Student Employment Week!
        Better yet, compete against other on-campus offices doing
        the same, and see if best the other participants in
        celebrating your student workers!
      </p>
    </div>
    <div class="actions">
      <a class="flat-btn" href="">Register</a>
    </div>
  </div>
</section>
