---
ng-app: none
name: emp-seoty
type: employer-event-pages
title: Student Employment Awards | Career Center
path-to-root: ../../
layout: employers.hbs
---

<!-- Banner image -->
<div class="hero">
  <img src="assets/images/events/SEOTY_Webpage(F15).png"></img>
</div>

<div class="content">
  <div class="row">
    <div class="brief">
      <p class="blurb">
        We celebrate National Student Employment Week! Yay! Nominate your student employees 
        if you think they're a particularly excellent worker -- they'll be doing the same 
        of their supervisors!
      </p>
    </div>
    <div class="actions">
      <a class="flat-btn" href="">Nominate Student Worker</a>
    </div>
  </div>
  
  <div class="dates flex row">
    <h2 class="awards-ceremony-header">Awards Ceremony <span class="awards-ceremony">Apr 12</span></h2>
    <h2 class="deadline-header">Nomination Deadline <span class="deadline">Feb 12</span></h2>
  </div>
  
  <!-- Icons -->
  <div class="attributes">
    <div class="attribute">
      <a class="icon format" role="button" tabindex="0" data-toggle="popover" data-html="true" data-placement="top" data-trigger="hover" data-title="<h2>Interview Day <span class='muted'>Wed, Sept 30</span></h2>" data-content="<p>When you check in on Tuesday, we'll give you a <strong>scheduling sheet.</strong> Use it to schedule interviews with students for the following day.</p><p>Interviews will occur at the <strong>Hotel at Auburn University and Dixon Conference Center.</strong></p><h2 class='muted'>8am - 4:30pm</h2><p>Lunch will not be provided.</p>">
        <i class="icon-comments-o"></i>
      </a>
      <div class="details">Next-day Interviews</div>
    </div>
    <div class="attribute">
      <a class="icon dress" role="button" tabindex="0" data-html="true" data-trigger="hover" data-placement="top" data-toggle="popover" title="<h2>Star Sponsorhip</h2><h2 class='muted'>$500</h2>" data-content="<p>This includes:</p><ul style='padding: 1rem'><li style='padding: 0.5rem 0;'>Preferred booth selection</li><li style='padding: 0.5rem 0;'>Featured placement in all event publicity</li><li style='padding: 0.5rem 0;'>Company logo and link listed on the Auburn University Career Center website</li></ul><p>Final deadline to register as a “Star Sponsor” is Friday, August 28, 2015.</p>">
        <i class="icon-star-full"></i>
      </a>
      <div class="details">
        Star Sponsorship Opportunity
      </div>
    </div>
    <div class="attribute">
      <a class="icon population">
        <i class="icon-spoon-knife"></i>
        <span class="tooltip"></span>
      </a>
      <div class="details">Dinner Provided</div>
    </div>
  </div>
</div>
