---
ng-app: none
name: emp-tech
type: employer-event-pages
title: Engineering and Technical Career Expo
layout: employers.hbs
---
<!-- Banner image -->
<div class="hero">
  <img src="assets/images/events/stem-banner.png"></img>
</div>

<div class="content">
  <div class="row">
    <div class="brief">
      <p class="blurb">Connect with students enrolled in one of the top engineering programs in the country.</p>
      <div class="contact">
        <h3>Point of Contact</h3>
        <div class="contact-details">
          <img src="assets/images/staff/melvin.jpg">
          <div class="contact-info">
            <p class="name">Melvin K. Smith</p>
            <p class="phone"><a href="tel:(334) 844-4744">(334) 844-4744</a></p>
            <p class="email"><a href="mailto:mks@auburn.edu">mks@auburn.edu</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <a class="flat-btn" href="https://auburn-csm.symplicity.com/events/stemsp16">Register</a>
    </div>
  </div>
</div>