---
ng-app: none
name: emp-tech
type: employer-event-pages
title: Engineering and Technical Career Expo
path-to-root: ../../
layout: employers.hbs
---
<!-- Banner image -->
<div class="hero">
  <img src="assets/images/events/ETCE_Webpage(F15).jpg"></img>
</div>

<div class="content">
  <div class="row">
    <div class="brief">
      <p class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in faucibus nisi, vitae vestibulum nisi.</p>
      <div class="contact">
        <h3>Point of Contact</h3>
        <div class="contact-details">
          <img src="assets/images/staff/melvin.jpg">
          <div class="contact-info">
            <p class="name">Melvin K. Smith</p>
            <p class="phone"><a href="tel:(334) 444-5358">(334) 444-5358</a></p>
            <p class="email"><a href="mailto:mks@auburn.edu">mks@auburn.edu</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <a class="flat-btn" href="https://auburn-csm.symplicity.com/events/index.php?id=5d618a9242bfd939f39bdc5d22cd1af7&PHPSESSID=dc1c0f1a4d904a3a44e4e3ae30089689#/events/5d618a9242bfd939f39bdc5d22cd1af7/overview">Register <span class="muted">$600</span></a>
      <div class="tipsheet">
        <div class="tipsheet-wrapper">
          <p>Download the tipsheet for detailed inforation about:</p>
          <ul>
            <li>Payment</li>
            <li>Shipping</li>
            <li>Space &amp; Equipment</li>
            <li>Display Guidelines</li>
          </ul>
        </div>
        <a class="flat-btn" href="http://www.auburn.edu/academic/provost/undergrad_studies/career/employers/events/Tips_CEET(F15).pdf">Download Tipsheet</a>
      </div>
    </div>
  </div>
  
  <!-- Icons -->
  <div class="attributes">
    <div class="attribute">
      <a class="icon format">
        <i class="icon-comments-o"></i>
      </a>
      <div class="details">Next-day Interviews</div>
    </div>
    <div class="attribute">
      <a class="icon dress">
        <i class="icon-tie"></i>
      </a>
      <div class="details">
        Star Sponsorship Opportunity
      </div>
    </div>
    <div class="attribute">
      <a class="icon population">
        <i class="icon-group"></i>
      </a>
      <div class="details">Dinner Provided</div>
    </div>
  </div>
</div>

<div class="content extra-content content--no-padding cancellation-container">
  <div class="cancellation-accordion">
    <a class="collapsed accordion-header" data-toggle="collapse" id="cancellation-heading" href="#cancellation" role="tab" aria-expanded="false" aria-controls="cancellation">
      Cancellation Policy<i></i>
    </a>
    <div style="height: 0px;" aria-expanded="false" id="cancellation" class="panel-collapse collapse" role="tabpanel" aria-labelledby="cancellation-heading">
      <div class="cancellation-policy">
        <div class="cancellation-policy-brief">
          <p>In brief:</p>
          <ul>
            <li>No refunds for cancellations after Friday, August 28, 2015</li>
            <li>One half of the registration fee ($300.00) is charged for all cancellations prior to the deadline date whether the registration fee is paid in advance or not</li>
            <li>If your organization is registered for the event and no one shows up, your organization is expected to pay the balance due</li>
            <li>Registration fees cannot be applied to future events</li>
          </ul>
        </div>
        <div class="contacts">
          <div class="contact">
            <h3>To cancel, contact</h3>
            <div class="contact-details">
              <img src="assets/images/staff/diane.jpg">
              <div class="contact-info">
                <p class="name">Diane Thorne</p>
                <p class="email"><a href="mailto:thornde@auburn.edu">thornde@auburn.edu</a></p>
              </div>
            </div>
          </div>
          <div class="contact">
            <h3>Direct all other inquiries to</h3>
            <div class="contact-details">
              <img src="assets/images/staff/melvin.jpg">
              <div class="contact-info">
                <p class="name">Melvin K. Smith</p>
                <p class="phone"><a href="tel:(334) 444-5358">(334) 444-5358</a></p>
                <p class="email"><a href="mailto:mks@auburn.edu">mks@auburn.edu</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="flat-btn" href="http://www.auburn.edu/academic/provost/undergrad_studies/career/employers/events/Tips_CEET(F15).pdf">View Detailed Cancellation Policy</a>
    </div>
  </div>
</div>
